a {
    color: #7e7f83;
}

@media screen and (min-width: 768px) {
    .ed #pagecontent {
        overflow: visible;
    }
}

@media (max-width: 767px) {
    .ed#body_edit .ed-footer {
        height: 90px !important;
    }
}
