@import url('components/accordion.css');
@import url('components/address-list.css');
@import url('components/base.css');
@import url('components/box.css');
@import url('components/breadcrumb.css');
@import url('components/button-block.css');
@import url('components/button.css');
@import url('components/card-block.css');
@import url('components/carousel.css');
@import url('components/checkbox.css');
@import url('components/editor.css');
@import url('components/field.css');
@import url('components/foldmenu.css');
@import url('components/grid.css');
@import url('components/icons.css');
@import url('components/list.css');
@import url('components/desktop-filter.css');
@import url('components/mobile-filter.css');
@import url('components/navbar.css');
@import url('components/order-flow.css');
@import url('components/pills.css');
@import url('components/table.css');
@import url('components/thumbnail-card.css');
@import url('components/thumbnail-people.css');
@import url('components/thumbnail-scroller.css');
@import url('components/thumbnail-slider.css');
@import url('components/thumbnail.css');
@import url('components/visual.css');

@import url('https://fonts.googleapis.com/css?family=Lato');

/* FONTS ------------------------------------------------------------------------------------------------------------ */

body {
    font-family: Lato;
}

.mf * {
    font-family: Lato, sans-serif;
}

input, textarea, keygen, select, button {
    font: 13px Lato, sans-serif;
}

.floatAdmin {
    top: 100px !important;
}

/* KLEUREN RESET CMS ------------------------------------------------------------------------------------------------ */

/* KLEUR 1 */

.navbar .middlebar {
    background-color: #70CC95; /*[[kleur1]]*/
}
.navbar .collapse {
  background: #70CC95; /*[[kleur1]]*/
}

@media only screen and (min-width: 768px) {
    .navbar .topbar {
        background: #70CC95; /*[[kleur1]]*/
    }

    .navbar .middlebar {
        background: #70CC95; /*[[kleur1]]*/
    }
}

@media only screen and (min-width: 992px) {
    .navbar .collapse {
        background: #70CC95; /*[[kleur1]]*/
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .middlebar .open-navbar-search {
        background: #70CC95; /*[[kleur1]];*/
    }
}

/* KLEUR 2 */

body {
  background: #F3FCFF; /*[[kleur2]];*/
}
.navbar {
    background: #F3FCFF; /*[[kleur2]];*/
}
.navbar .topbar .topbar-basket-menu-mob {
    background-color: #F3FCFF; /*[[kleur2]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .topbar {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
        background: #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li a:hover {
        color: #EDFCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar ul.middlebar-menu-right li {
        border-right: 1px solid #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar ul.middlebar-menu-right li:first-child {
        border-left: 1px solid #F3FCFF; /*[[kleur2]];*/
    }
    .navbar .middlebar .dropdown ul.dropdown-content {
      background-color: #F3FCFF; /*[[kleur2]];*/
  }
}

/* KLEUR 3 */
.button-success {
  color: #fff;
  background-color: #FFB740;
  border-color: #FFB740;
}
.button-success:hover {
  color: #FFB740;
  background-color: #fff;
}
.mf__main ul.mob-tag-group-ul h3.active {
    color:  #FFB740; /*[[kleur8]]*/
}

.mf__main ul.mob-tag-group-ul h3.active:after {
    border-bottom: 7px solid #FFB740; /*[[kleur8]]*/
}

.mf__main ul.mob-tag-group-ul ul label.active:before {
    background: #FFB740; /* [[kleur8]]*/
}

.open_mobile_filter {
    background: #FFB740; /*[[kleur8]]*/
}

.open_mobile_filter.floater {
    background: #FFB740; /*[[kleur8]]*/
}

@media screen and (min-width: 768px) {
    .ed .ui-accordion .ui-accordion-header a:hover {
        background: #FFB740;
    }

    .ed button {
        color: #FFB740;
        border: 1px solid #FFB740;
    }

    .ed button:hover {
        color: #fff;
        border: 1px solid #FFB740;
        background-color: #ffb740;
    }

    .ed select:hover {
        border: 1px solid #FFB740;
        color: #FFB740;
    }

    .ed .sp-replacer:hover {
        border: 1px solid #FFB740;
        color: #FFB740;
    }

    .ed .ui-slider-handle {
        background-color: #ffB740;
    }

    .ed button#choose_font {
        color: #ffB740 !important;
    }

    .ed #txt_align_left_label:hover,
    .ed #txt_align_center_label:hover,
    .ed #txt_align_right_label:hover,
    .ed #txt_align_justify_label:hover,
    .ed #txt_align_top_label:hover,
    .ed #txt_align_middle_label:hover,
    .ed #txt_align_bottom_label:hover {
        border: 1px solid #ffB740;
    }

    .ed #text_turn_left:hover,
    .ed #text_turn_right:hover {
        border: 1px solid #ffb740;
    }

    .ed button#position_txt_tofront:hover span,
    .ed button#position_txt_toback:hover span {
        border: 1px solid #ffb740;
    }

    .ed .head .prev:hover,
    .ed .head .next:hover {
        color: #ffb740;
    }

    .ed #imageaddformclose:hover {
        color: #ffb740;
    }

    .ed #photo_arrange button:hover,
    .ed .ed-cols-right #photo_turn_left:hover,
    .ed .ed-cols-right #photo_turn_right:hover {
        border: 1px solid #ffb740;
    }

    .ed #background_type_color_label.ui-state-active,
    .ed #background_type_pattern_label.ui-state-active {
        border: 1px solid #ffb740;
        color: #ffb740 !important;
    }

    .ed #background_type_color_label.ui-state-hover,
    .ed #background_type_pattern_label.ui-state-hover {
        border: 1px solid #ffb740;
        background-color: #ffb740;
        color: #fff !important;
    }

    .ed .sp-palette .sp-thumb-el.sp-thumb-active {
        border-color: #ffb740;
    }

    .ed #save_design_form #add_tags:hover,
    .ed #save_design_form #delete_design:hover {
        color: #ffb740;
    }

    .ed .convert_cardtype {
        border: 1px solid #ffb740;
        color: #ffb740;
    }

    .ed .convert_cardtype:hover {
        background-color: #ffb740;
    }

    .ed .ui-dialog #fontselect img:hover {
        border: 1px solid #ffb740;
    }

    .ed #chooseside label .side_selected:before {
        color: #ffb740;
    }

    .ed #nav_buttons #order_card {
        background: #ffb740;
        border: 1px solid #ffb740;
    }

    .ed #nav_buttons #order_card:hover {
        background-color: #fff;
        color: #ffb740;
    }

    .ed #nav_buttons #step_back:hover,
    .ed #nav_buttons #step_forward:hover,
    .ed #nav_buttons #step_forward_alternate:hover {
        color: #ffb740;
    }

    .ed .import-design-button:hover {
        color: #ffb740;
    }

    #body_keuze .proefdruk .button:hover,
    #body_keuze .kaartenVoor .button:hover,
    #body_keuze .envVooraf .button:hover,
    #body_keuze .direct_shipment .button:hover {
        background-color: #fff;
    }

    #body_voorbeeld #nav_buttons #step_forward,
    #body_bestel_details #nav_buttons #step_forward,
    #body_address_n #nav_buttons #step_forward {
        border: 1px solid #ffb740;
        background-color: #ffb740;
    }

    #body_voorbeeld #nav_buttons #step_forward:hover,
    #body_bestel_details #nav_buttons #step_forward:hover,
    #body_address_n #nav_buttons #step_forward:hover {
        color: #ffb740;
    }

    #body_basket #basket_n .button {
        color: #ffb740;
    }

    #body_basket #basket_n input[type="submit"] {
        border: 1px solid #ffb740;
    }

    #body_basket #nav_buttons .back-button,
    #body_basket #nav_buttons .forward-button {
        background-color: #ffb740;
        border: 1px solid #ffb740;
    }

    #body_basket #nav_buttons .back-button:hover,
    #body_basket #nav_buttons .forward-button:hover,
    #body_basket #basket_n input[type="submit"]:hover {
        color: #ffb740;
    }

    #body_address_n .button {
        border: 1px solid #ffb740;
        color: #ffb740;
    }

    #body_address_n .button:hover {
        background-color: #ffb740;
        color: #fff;
    }

    #body_addresses_ng .button#new,
    #body_addresses_ng .button#adres_book,
    #body_addresses_ng .button#upload,
    #body_addresses_ng .button#annuleren,
    #body_addresses_ng .button#save {
        border-color: #ffb740;
    }

    #body_addresses_ng .button#new:hover,
    #body_addresses_ng .button#adres_book:hover,
    #body_addresses_ng .button#upload:hover,
    #body_addresses_ng .button#annuleren:hover,
    #body_addresses_ng .button#save:hover {
        background-color: #ffb740 !important;
    }

    #body_addresses_ng #nav_buttons #done {
        background-color: #fff;
        color: #ffb740;
        border: 1px solid #ffb740;
    }

    #body_addresses_ng #nav_buttons #done:hover {
        background-color: #ffb740;
    }

    .ed .ui-datepicker .ui-datepicker-header {
        background-color: #ffb740;
    }

    .ui-state-default.ui-state-highlight.ui-state-active {
        background: #ffb740;
    }
}


/* KLEUR 4 */

.navbar .topbar.topbar-border {
    border-bottom: 1px solid #0049D4; /*[[kleur4]]*/
}
.navbar a.logo {
    color: #0049D4; /*[[kleur4]]*/
}
.navbar .navbar-hamburger .icon-bar {
  background-color: #0049D4; /*[[kleur4]];*/
}
.navbar  .topbar .topbar-basket-mob i {
    color: #0049D4; /*[[kleur4]]*/
}
.navbar .topbar .topbar-menu-left a:hover,
.navbar .topbar .topbar-menu-left a:active,
.navbar .topbar .topbar-menu-left a:focus {
    color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a {
    color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a:active,
.navbar .topbar .topbar-menu-right > ul > li a:focus {
     color: #0049D4; /*[[kleur4]];*/
}
.navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
.navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
    color: #0049D4; /* [[kleur4]]; */
}
.navbar .middlebar ul.middlebar-menu-right li a:hover,
  .navbar .middlebar ul.middlebar-menu-right li a:active,
  .navbar .middlebar ul.middlebar-menu-right li a:focus,
  .navbar .middlebar ul.middlebar-menu-left li a:hover,
  .navbar .middlebar ul.middlebar-menu-left li a:active,
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: #0049D4; /*[[kleur4]];*/
  }
.navbar .middlebar .navbar-search-field .search-button-field i:after {
    color: #0049D4; /*[[kleur4]];*/
}

.list-vertical li a {
    color: #0049D4; /*[[kleur4]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
    .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
        color: #0049D4; /*[[kleur4]];*/
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li a:hover {
        background-color: #0049D4; /*[[kleur4]];*/
    }
}


/* KLEUR 5 */

.navbar .topbar .topbar-menu-left a {
    color: #830094; /*[[kleur5]];*/
}
.navbar .topbar .topbar-menu-right > ul > li a:hover {
    color: #830094; /* [[kleur5]] */
}

/* KLEUR 6 */

.navbar .middlebar ul.middlebar-menu-right li a:hover {
    background-color: #FFB740; /*[[kleur6]];*/
}

/* if search-fileld is not visible
@media only screen and (min-width: 1200px) {
    .navbar .middlebar .navbar-search-field {
        background: #FFB740; */ /*[[kleur6]];*/
    /*}
}*/

/* KLEUR 7 */

.navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover,
.navbar .middlebar .dropdown ul li a:hover {
   background: #14CCA2; /* [[kleur7]];*/
}

@media only screen and (min-width: 992px) {
    .navbar .middlebar .dropdown ul li a:hover {
        background-color: #14CCA2;  /*[[kleur7 ]]*/
    }
}
