h1 {
    line-height: 1.1em;
}

.uitn-page .main-banner .service-block h2 {
    color: inherit;
}

a.zoek:after {
    content:'s';
    font-family:'kcicons';
    text-transform: none !important;
}

.container{
    height: auto;
}

a.activeS:after {
    font-family:'Lato', sans-serif;
    content:'X';
    font-size:20px;
    width:16px;
    display:inline-block;
}

a.zoek.active {
    background:#dbecee !important;
    height: auto!important;
    padding: 23px 8px!important;
}

.sForm {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.sForm form input {
    position: absolute;
    top: 0px;
    display: none;
    left: -418px;
    border: solid 3px #dbecee;
    border-right: none;
    outline: none;
    width: 420px;
    height: 75px;
    box-sizing: border-box;
    padding: 6px 10px;
    font-size: 15px;
}

#body_zoeken #pagecontent {
    float: none;
    width: 100%;
}

body.trouwkaarten-page h2,
body.trouwkaarten-page h3,
body.trouwkaarten-page h4,
body.trouwkaarten-page h5,
body.trouwkaarten-page h6 {
    color: #e1a09a;
}

body.trouwkaarten-page h2.cursive,
body.trouwkaarten-page h3.cursive,
body.trouwkaarten-page h4.cursive,
body.trouwkaarten-page h5.cursive,
body.trouwkaarten-page h6.cursive {
    font-family: Rochester,cursive;
    color: #5e5a56;
}

/*New Homepage*/
.btn-default {
    color: #fff;
    background: #4fcaae;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 17px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff;
}

.btn-default:after {
    content: "\f105";
    font-family: FontAwesome;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.btn-default:hover {
    background-color: rgba(79, 202, 174, 0.7);
}

.btn-orange {
    background-color: #ffa600;
}

.btn-orange:hover {
    background-color: rgba(255, 166, 0, 0.7);
}

.btn-pink-light {
    background-color: #ff9a96;
}

.btn-pink-light:hover {
    background-color: rgba(255, 154, 150, 0.7);
}

.btn-pink-dark {
    background-color: #ff7082;
}

.btn-pink-dark:hover {
    background-color: rgba(255, 112, 130, 0.7);
}

.btn-trouwen-pag,
body.trouwkaarten-page a.btn-trouwen-pag {
    background-color: #f3b0a4;
    color: #fff;
}

.btn-trouwen-pag:hover,
body.trouwkaarten-page a.btn-trouwen-pag:hover {
    background-color: #e1a09a;
}

h1.heading {
    text-align: center;
    color: #13a38a;
    padding: 0 15px;
    margin: 5px 0 20px;
    font-family: Lobster;
    font-size: 34px;
    line-height: 1.4;
}

#body_home-test.page-home #mid, #body_home.page-home #mid {
    width: 100%;
    padding: 0 !important;
}

#body_home-test.page-home #mid > div, #body_home.page-home #mid > div {
    margin: 0;
}

#body_home-test.page-home .line-top {
    display: none;
}

.page-home #crumbs,
.page-home #categories {
    display: none;
}

.page-home #pagecontent {
    float: none;
    width: 100%;
    padding: 0;
}

.top-block {
    background: #f5f1f1;
    margin: 0 0 40px;
}

.bottomline:after,
.topline:before {
    content: "";
    background: url(/img/bg-line.png) repeat-x;
    height: 26px;
    margin: 0 auto;
    display: block;
}

.cat-item {
    background: #fff;
    border: 1px solid #e7e1e1;
    padding: 18px 9px 13px;
    margin-bottom: 30px;
    cursor: pointer;
}

.ups-block .ups-item:hover figure img,
.cat-item:hover figure img {
    opacity: 0.5;
}

#cookie_message {
    height: auto!important;
}

.cat-item:hover .btn-default {
    background-color: rgba(79, 202, 174, 0.7);
}

.cat-item:hover .btn-orange {
    background-color: rgba(255, 166, 0, 0.7);
}

.cat-item:hover .btn-pink-light {
    background-color: rgba(255, 154, 150, 0.7);
}

.cat-item:hover .btn-pink-dark {
    background-color: rgba(255, 112, 130, 0.7);
}

.cat-item:hover .btn-trouwen-pag {
    background-color: #e1a09a;
}

.cat-item h2 {
    margin: 0 0 12px;
    color: #3950ad;
}

.cat-item h2 + p {
    margin: -6px 0 15px;
    font-size: 15px;
    font-weight: 400;
}

.cat-item figure {
    margin-bottom: 20px;
}

.ups-block .ups-item figure img,
.cat-item figure img {
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    width: 100%;
}

.cat-item .caption {
    text-align: justify;
    margin-top: 19px;
    padding: 0 10px;
}

.cat-item p {
    color: #555;
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 300;
}

.cat-item .btn-default {
    width: calc(100% - 30px);
}

.cont-nav {
    display: none;
}

.ups-block {
    margin: 0 0 50px;
}

.ups-block .ups-item {
    border: 1px solid #e7e1e1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    padding: 17px 10px 16px 19px;
    cursor: pointer;
    margin-bottom: 10px;
}

.ups-block .ups-item p {
    color: #333;
    line-height: 1.3;
    font-size: 14px;
    margin: 0;
}

.ups-block .ups-item h3 {
    padding-right: 90px;
    font-family: BebasNeueRegular;
    font-size: 19px;
    line-height: 1.2;
    min-height: 44px;
}

.ups-block .ups-item figure {
    position: absolute;
    right: 13px;
    top: 14px;
}

.ups-block .ups-item figure img {
    width: 78px;
    height: auto;
}

.fees-block {
    text-align: center;
}

.fees-block p {
    color: #333;
    line-height: 1.5;
}

.fees-block h2 {
    font-family: Lobster;
    color: #6b2d52;
    font-size: 36px;
    line-height: 1.4;
}

.fees-block h2 span {
    display: block;
    font-family: Lato,sans-serif;
    font-style: italic;
    font-size: 32px;
}

.fees-block.topline:before {
    margin-bottom: 38px;
}

.fees-block.bottomline:after {
    margin-top: 40px;
}

.fees-block .button-default {
    border-bottom: none;
    width: 100%;
    max-width: 290px;
    text-align: center;
}

.fees-block .button-default:after {
    display: none;
}

.team-block {
    padding: 52px 0 0;
}

.team-block .container {
    padding-left: 15px;
    padding-right: 15px;
}

.team-block h2 {
    text-align: center;
    color: #14a48b;
    font-family: Lobster;
}

.team-block h2 + p {
    margin-bottom: 0;
}

.team-block h2 + p a {
    color: #000;
    font-weight: 600;
}

.team-block {
    text-align: center;
    color: #333;
}

.team-inner {
    padding: 0 80px;
}

.team-block .thumbnail-people .thumbnail-people-img a {
    padding: 35px 0 0 0;
}

.team-block .thumbnail-people {
    padding: 0 20px;
    margin-bottom: 0;
}

.slider-mobile {
    display: none;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    height: 90px;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 7px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #ffab23;
    outline: none;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.slick-dots li.slick-active button {
    background: #ffab23;
}

@media only screen and (max-width: 1300px) {
    .bottomline:after,
    .topline:before {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    /* prevent middlebar from overflowing to 2nd row */
    .navbar .middlebar ul.middlebar-menu-right > li > a {
        font-size: 11px;
    }

    /* prevent collapsing menu-left and menu-right */
    .navbar .topbar .topbar-menu-left {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #filter_cards {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .navbar .topbar .dropdown:hover {
        border-color: transparent;
        background-color: none;
    }

    .navbar .topbar .topbar-menu-right .dropdown,
    .navbar .topbar .topbar-menu-right .dropdown > a,
    .navbar .topbar .topbar-menu-right .dropdown:hover > a {
        background: none;
    }

    .navbar .topbar .dropdown.parent-open {
        border-color: #E0E0E0;
        background: #fff;
    }

    .navbar .topbar .dropdown > ul {
        display: none;
    }

    .sForm,a.zoek{display: none !important;}

    .team-inner {
        padding: 0 15px;
    }

    .team-block .thumbnail-people {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 767px) {
    .top-block {
        margin-bottom: 20px;
    }


    .cont-nav {
        display: block;
        padding: 0 15px;
        clear: both;
    }

    .cont-nav ul {
        border: 1px solid #e7e1e1;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #fff;
        margin-bottom: 15px;
    }

    .cont-nav ul li a {
        display: block;
        border-bottom: 1px solid #e7e1e1;
        padding: 10px 25px 10px 13px;
        color: #e49222;
        position: relative;
    }

    .cont-nav ul li a:after {
        content: "\f105";
        font-family: FontAwesome;
        color: #e49222;
        position: absolute;
        right: 13px;
        top: 10px;
    }

    .cont-nav ul li:last-child a {
        border: none;
    }

    h1.heading {
        font-size: 25px;
        line-height: 1.2 !important;
    }

    .fees-block p,
    .fees-block h2 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fees-block h2 {
        font-size: 25px;
    }

    .fees-block h2 span {
        font-size: 22px;
    }

    .team-block h2 {
        font-size: 24px;
    }

    .team-block h2 + p {
        font-size: 14px;
    }

    .team-block .thumbnail-people {
        padding: 0 8px;
        margin-bottom: 20px;
    }

    .slider-mobile {
        display: block;
        padding: 0 15px 36px;
    }

    .slick-silder .slick-item {
        background-color: #fff;
        border: 1px solid #e7e1e1;
        height: 90px;
        overflow: hidden;
        float: left;
    }

    .slick-silder .slick-item figure {
        float: left;
        border-right: 1px solid #e7e1e1;
        width: 90px;
        overflow: hidden;
    }

    .slick-silder .slick-item div {
        float: right;
        width: calc(100% - 100px);
        padding: 5px 0 0 0;
        font-size: 14px;
    }

    .slick-silder .slick-item div h2 {
        color: #3950ad;
        font-size: 24px;
        margin: 0;
        min-height: 54px;
    }
}

@media only screen and (max-width: 480px) {
    .logo-mobile a.logo {
        width: 60px;
    }
}

/* nieuwe designpage - aug 2016 */

#body_design .proefDrukPrijs {
    margin-left: 0px !important;
}

#body_design.uitnodiging-verjaardag-page .open_calculator i,
#body_design.uitnodiging-feest-page .open_calculator i,
#body_design.jubileumkaarten-page .open_calculator i {
    color: #951b64;
}

#body_design.uitnodiging-verjaardag-page #enlarge-card .modal-body .mod-edit-button,
#body_design.uitnodiging-feest-page #enlarge-card .modal-body .mod-edit-button,
#body_design.jubileumkaarten-page  #enlarge-card .modal-body .mod-edit-button {
    background-color: #951b64;
    border-bottom: solid 2px #47263a;
}

#body_design .enlarge-card-modal-title {
    font-family: Lato,sans-serif;
    line-height: 42px;
    font-size: 26px;
    text-align: center;
}


#body_design.save-the-date-page .enlarge-card-modal-title, #body_design.trouwkaarten-page .enlarge-card-modal-title {
    font-family: Rochester,cursive;
    font-size: 36px;
    text-align: center;
}

#body_design.uitnodiging-verjaardag-page #enlarge-card .modal-body .next-preview,
#body_design.uitnodiging-feest-page #enlarge-card .modal-body .next-preview,
#body_design.jubileumkaarten-page #enlarge-card .modal-body .next-preview {
    background-color: #951b64;
    border-bottom: solid 2px #47263a;
}

#body_design.uitnodiging-verjaardag-page .add_to_collection,
#body_design.uitnodiging-feest-page .add_to_collection,
#body_design.jubileumkaarten-page .add_to_collection,
#body_design.uitnodiging-verjaardag-page .open_calculator,
#body_design.uitnodiging-feest-page .add_to_collection,
#body_design.jubileumkaarten-page .add_to_collection {
    border-color: #6b2d52;
}

#body_design.uitnodiging-verjaardag-page .open_calculator:hover,
#body_design.uitnodiging-feest-page .open_calculator:hover,
#body_design.jubileumkaarten-page .open_calculator:hover,
#body_design.uitnodiging-verjaardag-page .add_to_collection:hover,
#body_design.uitnodiging-feest-page .add_to_collection:hover,
#body_design.jubileumkaarten-page .add_to_collection:hover {
    border-color: #951b64;
}

#body_design.uitnodiging-verjaardag-page .open_calculator .openPrijsCalculator,
#body_design.uitnodiging-feest-page .open_calculator .openPrijsCalculator,
#body_design.jubileumkaarten-page .open_calculator .openPrijsCalculator {
    color: #6b2d52;
}

#body_design.uitnodiging-verjaardag-page .price-info a,
#body_design.uitnodiging-feest-page .price-info a,
#body_design.jubileumkaarten-page .price-info a {
    color: #6b2d52;
}

#body_design.trouwkaarten-page .open_calculator i,
#body_design.save-the-date-page .open_calculator i {
    color: #e1a09a;
}

#body_design.trouwkaarten-page #enlarge-card .modal-body .mod-edit-button,
#body_design.save-the-date-page #enlarge-card .modal-body .mod-edit-button {
    background-color: #f3b0a4;
    border-bottom: solid 2px #e1a09a;
}

#body_design.trouwkaarten-page #enlarge-card .modal-body .next-preview,
#body_design.save-the-date-page #enlarge-card .modal-body .next-preview {
    background-color: #f3b0a4;
    border-bottom: solid 2px #e1a09a;
}

#body_design.trouwkaarten-page #enlarge-card .modal-body .prev-preview,
#body_design.save-the-date-page #enlarge-card .modal-body .prev-preview {
    background-color: #f3b0a4;
    border-bottom: solid 2px #e1a09a;
}

#body_design.trouwkaarten-page .add_to_collection,
#body_design.save-the-date-page .add_to_collection,
#body_design.trouwkaarten-page .open_calculator,
#body_design.save-the-date-page .open_calculator {
    border-color: #6b2d52;
}

#body_design.trouwkaarten-page .open_calculator:hover,
#body_design.save-the-date-page .open_calculator:hover,
#body_design.trouwkaarten-page .add_to_collection:hover,
#body_design.save-the-date-page .add_to_collection:hover {
    border-color: #e1a09a;
}

#body_design.trouwkaarten-page .open_calculator .openPrijsCalculator,
#body_design.save-the-date-page .open_calculator .openPrijsCalculator {
    color: #6b2d52;
}

#body_design.trouwkaarten-page .price-info a:hover,
#body_design.save-the-date-page .price-info a:hover {
    color: #6b2d52;
}

/* Search field change - August 2016 - changes made by Carina */

.srchForm {
    position: relative;
}

.srchForm input {
    border-radius: 5px;
    padding: 5px 8px;
    border: solid 1px #c7c7c7;
    margin-bottom: 20px;
    font-family: Lato,sans-serif;
    width: 200px;
    outline: none;
}

.srchForm form button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 26px;
    cursor: pointer;
    outline: none;
}

.srchForm form button:after {
    font-family: kcicons;
    content: 's';
    margin-right: -2px;
    margin-top: 2px;
    z-index: 1;
    padding: 5px 0px;
    color: #6b2d52;
}

.trouwkaarten-page .srchForm #headersearch span button:after,
.save-the-date-page .srchForm #headersearch span button:after {
    color: #e1a09a;
}

@media screen and (max-width: 767px){
    .srchForm input {
        width: 100%;
        padding: 7px 8px;
        margin-top: 5px;
        font-size: 1em;
    }

    .srchForm form button {
        height: 42px;
    }

    .srchForm form button:after {
        margin-top: 10px;
        margin-right: 4px;
    }

    .navbar {
        height: 95px;
    }

    .navbar .topbar .topbar-menu-right {
        padding-right: 0px;
    }

    .topbar .srchForm {
        display: none;
    }

    .middlebar {
        padding: 0 13px !important;
    }

    #body_design .design-content {
        padding-top: 100px;
    }

    .logo-mobile {
        padding-top: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    .middlebar-menu-right li a {
        padding-top: 20px;
    }

    .middlebar .srchForm {
        display: none;
    }

    .middlebar .searchbutton {
        display: none !important;
    }

    .srchForm input {
        margin-bottom: 0px;
        width: 180px;
    }
}

@media screen and (max-width: 767px) {
    .navbar .collapse {
        top: 95px;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 140px;
    }

    #mid {
        padding-top: 20px;
    }

    #body_zoeken #mid {
        padding-top: 20px !important;
    }
}

@media screen and (min-width: 1141px) {
    .searchbutton {
        display: none !important;
    }

    .srchForm {
        position: absolute;
        top: 38px;
        right: 0;
    }

    #body_home #pagebody {
        padding-top: 20px !important;
    }

    .topbar .srchForm {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .filCTA {
        display: none !important;
    }

    .open_mobile_filter:before {
        color: #fff;
    }
}

body.kerstkaarten-page .line {
    background-image: url(/img/kerst_nw.png);
}

body.jubileumkaarten-page .thumbnail h2 {
    font: 30px BebasNeueRegular;
}

body.jubileumkaarten-page .thumbnail h2 a {
    color: #3e54a5;
}

/* chevron-down has been changed to chevron-up */
#sidebar .accordion-button .icon-chevron-down:after {
    content: "\f106" !important;

}

/* chevron-right has been changed to chevron-down */
#sidebar .accordion-button .icon-chevron-right:after {
    content: "\f107" !important;
}

.felicitatiekaarten #env-select-button {
    display: none!important;
}

.open_mobile_filter {
    color: #fff!important;
}

.top-block-ani h1 {
    font-family: Lobster;
    margin-bottom: 20px;
    color: #5eceb4;
    display: block!important;
}

@media only screen and (min-width: 768px) {
    .top-block-ani h1 {
        font-size: 41px;
    }
}

body#body_jubileumkaarten_B h1 {
    line-height: 32px;
}

@media screen and (max-width: 480px) {
    #body_design #mid {
        top: 50px;
    }
}

/*title jumps to below card*/
@media only screen and (min-width: 494px) and (max-width: 768px) {
    body#body_design .box-body h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 494px) and (max-width: 768px) {
    body#body_design.save-the-date-page .box-body h1, body#body_design.trouwkaarten-page .box-body h1 {
        font-size: 34px;
    }
}

/*title jumps to card description*/
body#body_design #card-info-left h1 {
    font-family: Lato, sans-serif !important;
    line-height: 27px;
    color: #333;
    font-weight: bold;
}

.flogo .hierbenik {
    background: url(/img/logo-HB.png) -20px -5px no-repeat;
    background-size: 70px;
    padding-left: 40px;
    margin-right: 15px;
}

.flogo .hierbenik:hover {
    background: url(/img/logo-HB.png) -20px -47px no-repeat;
    background-size: 70px;
}

.flogo .hipdesign {
    background: url(/img/logo-HD.png) -1px -2px no-repeat;
    padding-left: 65px;
    margin-right: 15px;
}

.flogo .hipdesign:hover {
    background: url(/img/logo-HD.png) -1px -38px no-repeat;
}

.flogo .salut {
    background: url(/img/logo-salut.png) -20px -6px  no-repeat;
    background-size: 75px;
    padding-left: 35px;
    margin-right: 15px;
}

.flogo .salut:hover {
    background: url(/img/logo-salut.png) -20px -53px  no-repeat;
    background-size: 75px;
}

.flogo .condoleance {
    margin-right: 15px;
}

/* Blog styling */
.blog_item .featured_image_wrapper {
    -webkit-box-shadow: 0 0 5px -2px #525252;
    box-shadow: 0 0 5px -2px #525252;
    margin: 5px 5px 15px 5px;
    height: 185px !important;
}

.blog_item {
    height: auto !important;
    width: 48% !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
}

.addthis_inline_share_toolbox_8cz0 {
    display: none;
}

.blog_detail_footer .addthis_inline_share_toolbox_8cz0 {
    display: block;
}

.blog_item:nth-child(even) {
    margin-right: 0px !important;
}

.featured_image_wrapper_detail {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.featured_image_wrapper_detail img {
    max-width: 100%;
    height: auto;
}

.blog_detail_content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog_item .blog_item_title {
    margin-bottom: 0px;
}

.blog_item .blog_item_date {
    display: block;
}

#blog .pageLinks {
    display: block;
    text-align: center;
    clear: both;
    padding-top: 25px;
}

#blog .pageLinks span,
#blog .pageLinks a {
    background: #4fcaae;
    padding: 5px 12px 7px 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

#blog .pageLinks a:hover {
    background: #6b2d52;
}

#blog .pageLinks .current {
    background: #6b2d52;
}

#blog .pageLinks .dis {
    display: none;
}



/** MOBILE FILTER FONT REPAIR -----------------------------------------------------------**/

.mf *, .mf__main ul.mob-tag-group-ul h3 {
    font-family: Lato,sans-serif !important;
    font-weight: 500 !important;
}   

/** SEARCH NEXT TO MENU  -----------------------------------------------------------**/


@media only screen and (min-width: 992px) {
    .navbar .middlebar ul.middlebar-menu-right {
        right: 210px;
    }
}


/** COLORS FOR COLOR TAG MENU  -----------------------------------------------------------**/

.kleur ul {
    text-align: center;
    column-count: initial;
}
.kleur ul li {
    overflow: visible;
    position: relative;
    margin: 6px;
    border: 2px solid lightgrey;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    -webkit-box-shadow: 1px 1px 5px 1px lightgrey;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.kleur ul li:after {
    white-space: nowrap;    
    position: absolute;
    top: -20px;
    right: 20px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;

    background: #fff;
    display: block;
    opacity: 0;
    transition: opacity 0.3s;
    content: attr(data-title);
    z-index: 10;
    border: 1px solid rgba(1,1,1,0.2);
    color: rgba(1,1,1,0.8);
}
.kleur ul li.show-title:after {
    display: block;
    opacity: 0.9;
}

.kleur ul li label {
    border-radius: 15px;
}


.kleur ul li#tagli-mintgroen label {
    background: #bafae0!important;
}
.kleur ul li#tagli-groen label {
    background: #50b440!important;
}
.kleur ul li#tagli-roze label {
    background: #f22c87!important;
}
.kleur ul li#tagli-paars label {
    background: #c71fd3!important;
}
.kleur ul li#tagli-bruin label {
    background: #734023!important;
}
.kleur ul li#tagli-grijs label {
    background: #a8a8a8!important;
}
.kleur ul li#tagli-goud label {
    background-image: url('/img/colors/goud.png') !important;
    background-size: cover;
}
.kleur ul li#tagli-zilver label {
    background-image: url('/img/colors/zilver.png') !important;
    background-size: cover;
}
.kleur ul li#tagli-brons label {
    background-color: #804D20 !important;
    background-image: url('/img/colors/brons.png') !important;
    background-size: cover;
}
.kleur ul li#tagli-kleurrijk label {
    background-image: url('/img/colors/multicolor.png') !important;
    background-size: cover;
}

/** DESIGN ------------------------------------------------------------------- **/

#body_design #choose_preview {
    margin: 15px 0 5px 0;
}

#body_uitnodiging-themafeest #menu-uitnodiging-themafeest {
    display: block;
}

#body_uitnodiging-themafeest #menu-general {
    display: none !important;
}