 #chooseside {
	margin: 0 auto;
	padding-bottom: 3px;
	padding-left: 119px;
}

.double_square {
	top: 14px;
}

.double_landscape {
	top: 19px;
}

.single_landscape {
	top: 17px;
}

.single_square {
	top: 15px;
}

#canvasbackground {
	top: -12px;
	margin-bottom: -3px;
	left: -10px;
}

#chooseside label {
	border: none;
}

#accordion {
	width: 340px;
}

#accordion .ui-accordion-content {
	background: #fafafa;
	border: 1px solid #d9b2b7;
	border-top: none;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Droid Sans', sans-serif;
}

#accordion .ui-accordion-content ul {
	list-style: none;
	padding: 15px 0 0 0;
	margin: 0;
	width: auto;
}

a[href="/login?redirecturl=/edit"] {
	display: inline !important;
}

#accordion .ui-accordion-content ul li {
	background: url(/img/bg-square.gif) no-repeat 0 8px;
	padding-left: 15px;
	padding-bottom: 15px;
}

#accordion .ui-accordion-content br {
	display: none;
}

.ui-accordion .ui-accordion-header {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background: #d9b2b7 url(/img/bg-accordion.gif) no-repeat left bottom;
}

.ui-accordion .ui-accordion-header a {
	background: url(/img/icons.png) no-repeat right -507px;
	font-size: 18px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	padding: 0 0 0 10px !important;
	height: 25px;
	line-height: 23px;
}

.ui-accordion-header.ui-state-active a {
	background: url(/img/icons.png) no-repeat right -584px;
}

.ui-accordion-header.ui-state-hover,
.ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header:hover {
	background: #d28fa3 url(/img/bg-accordion-o.gif) no-repeat left bottom;
}

.ui-header-end {
	background-image: none !important;
}

.edit_big_button {
	background: #d28fa3 !important;
	border: 1px solid #dfaebd;
	-moz-box-shadow: 2px 2px 0 #bf6c82;
	-webkit-box-shadow: 2px 2px 0 #bf6c82;
	box-shadow: 2px 2px 0 #bf6c82;
	line-height: 41px;
	width: 180px;
	padding: 0 25px 0 15px;
	color: #fff !important;
	font-size: 15px;
	height: 40px;
	border-radius: 0;
	margin: 0 auto;
	float: none;
	text-align: center;
}

.edit_big_button:hover {
	background-color: #c97d93 !important;
}

#imagelist .head, #patternlist .head, #clipartlist .head {
	margin-top: 0;
	padding-top: 5px;
}

#clipartlist .head {
	padding-top: 0;
}

#imagelist .head span,
#patternlist .head span,
#clipartlist .head span {
	display: block;
	width: 100% !important;
}

#imagelist .head span.pages,
#clipartlist .head span.pages,
#patternlist .head span.pages {
	width: 185px !important;
	color: #262626 !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline-block !important;
}

#imagelist .head span.pages span,
#clipartlist .head span.pages span,
#patternlist .head span.pages span {
	width: auto !important;
	display: inline !important;
}

.head .next,
.head .prev {
	background: none;
	color: #6a6a6a !important;
	display: inline-block !important;
	font-family: 'Droid Sans', sans-serif;
	font-size: 11px;
	text-align: left;
}

.head .next {
	text-align: right;
}

.head .next:hover,
.head .prev:hover {
	text-decoration: underline;
}

.edittable {
	color: #878686;
}

.arrow_allign {
	display: none;
}

#patternselect,
#clipartselect,
#imageselect {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #333;
	border: 1px solid #c0c0c0;
	background: #f4f4f4;
	padding: 4px;
	font-size: 12px;
}

#imageselect {
	width: 163px !important;
}

#phototabs {
	background: #fafafa;
}

#pt-upload input[type="file"] {
	width: 285px;
}

#cl-bib {
	font-size: 14px;
	color: #878686;
	font-family: 'Droid Sans', sans-serif;
}

#cl-bib select {
	width: 200px;
	margin-left: 20px;
}

#clipartlist {
	padding-top: 6px;
}

#txt_align {
	height: 28px;
}

.ui-buttonset .ui-button {
	margin-right: 5px;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0;
	height: 31px;
	width: 31px;
}

.edittable td {
	font-size: 14px;
	height: 31px;
	padding: 1px 0;
}

#text_turn_left {
	margin-right: 6px;
}

#position_photo_tofront,
position_photo_toback,
#position_txt_tofront,
position_txt_toback {
	border: none !important;
}

position_photo_toback {
	margin-right: 10px;
}

#position_photo_tofront,
#position_txt_tofront {
	margin-right: 4px;
}

#bt-pattern,
#bt-color {
	padding-bottom: 10px;
}

#patternselect_div {
	clear: both;
}

#patternselect_div,
#bt-pattern .description,
#bt-color .description {
	color: #878686;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

.centeredImage,
#patternselect_div img,
#bt-pattern img,
#bt-color .description img {
	display: none;
}

#background_type {
	margin-bottom: 15px;
	border-bottom: 1px solid #cf7898;
	margin-right: 0;
}

.combolist,
#bg_color,
#fg_color, 
#patternselect {
	width: 200px !important;
}

#background_type_pattern_label,
#background_type_color_label {
	background: #dab2b7;
	border: 1px solid #dab2b7;
	font-size: 13px;
	color: #262626;
	font-family: 'Droid Sans', sans-serif;
	margin-bottom: -1px;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active {
	background: #fff;
	border-color: #cf7898;
	border-bottom-color: #fff;
}

#bg_color {
	background: #ead3d6 url(/img/icons.png) no-repeat right -630px;
	border: 1px solid #f1e2e4;
	border-bottom-color: #c37e8d;
	border-right-color: #c37e8d;
	padding: 3px 0;
}

#fg_color {
	background: #ead3d6 url(/img/icons.png) no-repeat right -630px;
	border: 1px solid #f1e2e4;
	border-bottom-color: #c37e8d;
	border-right-color: #c37e8d;
	padding: 3px 0;
}

#patternselect_div,
#bt-pattern,
#bt-color {
	zoom: 1;
}

#patternselect_div:after,
#bt-pattern:after,
#bt-color:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
	width: 288px !important;
	height: 65px !important;
	padding-bottom: 0;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
	background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
	background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
	background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
	visibility: hidden;
}

#imgtransparency {
	float: right;
	margin-left: 0;
}

#imgtransparency,
#textsize,
#texttransparency {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0 !important;
	border: none !important;
}

#textsize {
	margin-left: 0;
	float: right;
	width: 150px;
}

#imgtransparency a,
#texttransparency a,
#textsize a {
	background: url(/img/gfx/bg_circle.png) no-repeat 0 0;
	height: 16px;
	width: 16px;
	border: none;
	display: block;
	margin-left: 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -4px !important;
}

#texttransparencylabel {
	width: 100px;
	padding-top: 7px;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#txt_align_left_label:hover {
	background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -467px;
}

#txt_align_center_label:hover {
	background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -276px;
}

#txt_align_top_label:hover {
   background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align_justify_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -564px;
	height: 22px;
	width: 39px;
}

#txt_align_justify_label:hover {
    background-position: 0 -596px;
}

#txt_align_justify_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -628px;
}

#text_turn_right,
#text_turn_left {
	cursor: pointer;
}

.edit_div br {
	display: none;
}

.edit_div #bt-pattern,
.edit_div #bt-color {
	width: 49%;
	float: left;
}

.edit_div #bt-color {
	margin-right: 2%;
}

.edit_div #bt-pattern .sp-replacer,
.edit_div #bt-color .sp-replacer {
	float: none;
	width: auto;
}

.edit_div #bg_select .sp-preview,
.edit_div #bt-pattern .sp-preview {
	width: 117px !important;
}

#patternselect_div .title {
	margin-top: 4px;
	display: inline-block;
}
#chooseside label.selected .side_selected {
	background: url(/img/arrow_slide.png) no-repeat 0 0;
	width: 18px;
	height: 18px;
	left: -2px;
} 