@import url(https://fonts.googleapis.com/css?family=Pompiere:400normal|Open+Sans:400normal|Rouge+Script|The+Girl+Next+Door|Shadows+Into+Light|Neucha);
@font-face {
    font-family: 'GillSansMT';
    src: url('/css/fonts/gillsansmt.eot');
    src: url('/css/fonts/gillsansmt.eot') format('embedded-opentype'),
         url('/css/fonts/gillsansmt.woff') format('woff'),
         url('/css/fonts/gillsansmt.ttf') format('truetype'),
         url('/css/fonts/gillsansmt.svg#GillSansMT') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(https://themes.googleusercontent.com/static/fonts/comingsoon/v4/myblyOycMnPMGjfPG-DzP4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'), url(https://themes.googleusercontent.com/static/fonts/dawningofanewday/v5/JiDsRhiKZt8uz3NJ5xA06sI8uESXD0Pyby-WfK8NSPc.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://themes.googleusercontent.com/static/fonts/josefinsans/v5/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/josefinsans/v5/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://themes.googleusercontent.com/static/fonts/amaticsc/v4/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(https://themes.googleusercontent.com/static/fonts/amaticsc/v4/IDnkRTPGcrSVo50UyYNK73hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
	color: #403c3d;
	font-size: 13px;
	font-family: "Trebuchet MS",Verdana;
}

.CenterColumn {
	width: 221px !important;
}

.ui-selectmenu-menu .ui-menu {
margin-top:75px;
}

a {
	color: #ed1c24;
	outline: none;
	text-decoration:underline!important;
}
a:hover{text-decoration:none!important;}

input, select, textarea{margin:0}
input[type="radio"], input[type="checkbox"]{border:0 !important;margin:auto !important;box-shadow:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important}
.errormsg{color:#f30!important;text-decoration:none!important}

#headermenu {
	display: none;
}

#wrapper {
	background: #fff;
	margin: 0 auto;
	padding: 0;
	width: auto;
}

#mid {
	width:960px;
	background: none;
	clear: both;
	padding-top: 140px;
	padding-bottom: 50px;
	margin:auto;
}

body.blockbanner #mid,
#body_main_category.wenskaarten #mid,
#body_main_category.rouwkaarten #mid,
#body_main_category.uitnodiging-maken #mid,
#body_main_category.trouwkaarten #mid,
#body_main_category.geboortekaartjes #mid,
#body_trouwkaarten #mid{
	padding-top:238px;
}

.fnav-block {
	display: none;
}

#body_home #mid {
	padding: 0 !important;
}

a.crdEdi {
display:none !important;
}

a.crdDel  span{
opacity:0.7;
width:15px !important;
height:15px !important;
background-size:15px 15px !important;
}

#footer{padding:20px 0 0}
#footer .block01{width:960px;min-height:100px;margin:auto;padding-bottom:20px}
#footer .block02{background:#e8f2f5;height:47px;text-align:center}

#fnav{float:left;width:700px}
#fnav ul{float:left;margin:2px 10px 0 0;padding:0}
#fnav ul.b01{width:195px}
#fnav ul.b02{width:275px}
#fnav ul.b03{width:200px}
#fnav ul li{list-style:none;margin:0;padding:0}
#fnav ul li a{line-height:24px;color:#262626;font-size:13px;font-family:"Trebuchet MS",Verdana;text-decoration:none !important}
#fnav ul li a:hover{text-decoration:underline !important}
#social-block{float:right;width:207px;}
#social-block .label{display:block;background:url(/img/social-ico.png) no-repeat;height:39px}
#social-block .social{height:38px;margin:8px 0 0;padding:0}
#social-block .social li{list-style:none;float:left;margin:0;padding:0}
#social-block .social a{background:url(/img/social-ico.png) no-repeat;float:left;width:38px;height:38px;margin-right:9px;text-indent:-9999px}
#social-block .social .fb a{background-position:0 -47px}
#social-block .social .fb a:hover{background-position:0 -95px}
#social-block .social .pt a{background-position:-47px -47px}
#social-block .social .pt a:hover{background-position:-47px -95px}
#social-block .social .tt a{background-position:-93px -47px}
#social-block .social .tt a:hover{background-position:-93px -95px}

.copyright{display:inline-block;line-height:18px;margin-top:14px;color:#8ac0cf;font-size:12px;font-family:'Trebuchet MS',Verdana;}
.copyright a{background:url(/img/line-topmenu.png) right top no-repeat;float:left;height:18px;padding:0 19px;color:#8ac0cf;text-decoration:none !important}
.copyright .rating{background:url(/img/line-topmenu.png) right top no-repeat;}
.copyright a:hover{text-decoration:underline !important}
.copyright .rating,.copyright .txt-copyright{float:left;padding:0 19px}

#header {
	background: none;
	position: relative;
	width:auto;
	height: auto;
	padding-top: 118px;
	margin:auto
}

#home {
	background: url(/img/logo.png) no-repeat;
	width: 215px;
	height: 62px;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 100;
	-webkit-transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
#logo{position:absolute;width:215px;height:62px;top:50px;left:0;z-index:100;margin:0;}
#logo a{display:block;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s;}
#logo a:hover,#home:hover{filter:progid:DXImageTransform.Microsoft.alpha(opacity=60);-moz-opacity:60;opacity:0.60}
#wrapper #home{display:none !important;}
#header #home {display:block !important;}
#body_edit #home { display: none !important; }

#menu {
	position:absolute;
	top:57px;
	right:0;
	background: none;
	float:left;
	height: 41px;
	padding: 0;
}

.megamenu {
	list-style: none;
	margin: 0;
}

.megamenu li {
	float: left;
	margin-left:4px;
	font-size: 16px;
	font-family: 'Trebuchet MS',Verdana;
	position: relative;
}

.megamenu li a {
	background:#f8f9f9;
	color: #262626;
	text-decoration:none !important;
	display: block;
	height: 38px;
	padding: 0 13px;
	line-height: 38px;
	float: left;
	position: relative;
	z-index: 160;
	border-bottom:3px solid #e5e9e9
}

.megamenu li img {
	float: left;
}

.megamenu li.sfHover a,
.megamenu li a:hover {
	text-decoration: none;
	border-bottom:3px solid #8bccc6
}
.megamenu li#geboortekaartjes a:hover{border-bottom-color:#419186;}
.megamenu li#trouwkaarten a:hover{border-bottom-color:#f9bdb2}
.megamenu li#uitnodiging-maken a:hover{border-bottom-color:#87b0cc}
.megamenu li#rouwkaarten a:hover{border-bottom-color:#c8c5b5}
.megamenu li#wenskaarten a:hover{border-bottom-color:#fee09b}

.megamenu li a.active{background:#87b0cc;color:#fff;border-bottom:3px solid #6090b5}

.megamenu li#geboortekaartjes a.active{background:#65b9ae;border-bottom-color:#419186;}
.megamenu li#trouwkaarten a.active{background:#f9bdb2;color:#262626;border-bottom-color:#ec9283}
.megamenu li#uitnodiging-maken a.active{background:#87b0cc;border-bottom-color:#6090b5}
.megamenu li#rouwkaarten a.active{background:#c8c5b5;border-bottom-color:#afab96}
.megamenu li#wenskaarten a.active{background:#fee09b;color:#262626;border-bottom-color:#f1c55f}

.megamenu li ul {
	background: #de8b99;
	position: absolute;
	left: 0;
	top: 41px;
	list-style: none;
	z-index: 1200;
	padding: 0;
	margin: 0;
	width: 213px;
}

.megamenu li ul li {
	float: none;
}

.megamenu li ul li a {
	background: none !important;
	float: none;
	line-height: 30px;
	height: 30px;
	padding: 0 14px 0 14px;
	text-transform: none;
	min-width: 142px;
}

.megamenu li ul li a:hover {
	background: #c77d89 !important;
}

.h-contact {
	position: absolute;
	right: 10px;
	top: 61px;
}

.h-contact p {
	font-family: 'CenturyGothicRegular';
	margin: 0;
	float: left;
	font-size: 14px;
	padding-right: 20px;
}

.h-contact p span {
	font-weight: bold;
}

.h-contact ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

.h-contact ul li {
	float: left;
	padding-left: 8px;
}

.h-contact ul li a {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999em;
}

.h-contact ul li.twitter a {
	background-position: 0 0;
}

.h-contact ul li.twitter a:hover {
	background-position: -57px 0;
}

.h-contact ul li.facebook a {
	background-position: 0 -41px;
}

.h-contact ul li.facebook a:hover {
	background-position: -56px -41px;
}

.h-contact ul li.pinterest a {
	background-position: 0 -82px;
}

.h-contact ul li.pinterest a:hover {
	background-position: -56px -82px;
}

#footer .banner {
	margin: 0 auto;
	width: 849px;
}

#footer .banner a {
	background: url(/img/banner-winactie.png) no-repeat 0 0;
	display: block;
	width: 849px;
	height: 199px;
	text-indent: -9999em;
}

#footer .banner a:hover {
	background-position: 0 -209px;
}

#footer .banner a:active {
	background-position: 0 -418px;
}

#footer-inner {
	overflow: hidden;
	padding: 28px 0 0 0;
}

#footer-inner p {
	float: left;
	margin: 0;
}

.thuiswinkel {
	font-size: 0;
	padding-bottom: 20px;
}

#footer-inner .f-left {
	width: 590px;
	float: left;
}

#footer-inner .f-left .feedback {
	background: url(/img/feedback.png) no-repeat 0 5px;
	padding-left: 35px;
	font-size: 14px;
	color: #797979;
	font-style: italic;
	line-height: 1.4;
	margin-top: 15px;
}

#footer-inner .f-left .feedback span {
	display: block;
	padding-top: 8px;
	color: #c5879a;
	font-size: 12px;
	font-style: normal;
}

#footer-inner ul {
	float: left;
	list-style: none;
	padding: 14px 0 0 0;
	margin: 0;
	width: 670px;
}

#footer-inner ul li {
	float: left;
	width: 156px;
	padding-right: 10px;
	padding-bottom: 6px;
}

.facebook-like {
	float: left;
}

.rich-snippets {
	font-family: 'OpenSansCondensedLight';
	color: #262626;
	font-size: 18px;
	float: left;
	margin: 0;
}

.rich-snippets img {
	padding: 0 5px;
}

.f-block {
	padding-top: 10px;
}

#body_home #categories {
	display: none;
}

#body_home #pagecontent {
	margin: 0 auto;
	float: none !important;
	width: 960px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-bottom: -20px !important;
}

#slides {
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.slide-title {
	font-family: 'CenturyItalic';
	font-size: 20px;
	color: #403c3d;
	text-align: center;
	margin: 0;
	padding: 16px 0 20px;
}

.slide-title span {
	color: #da7e8e;
}

#slides ul {
	margin: 0;
}

.bxslider li {
	height: 367px !important;
}

.bxslider li a {
	display: block;
}

.bxslider li a img {
	width: 100%;
}

.bx-wrapper {
	position: relative;
	height: 367px;
}

.bx-controls {
	width: 960px;
	height: 367px;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
}

.bx-pager {
	position: absolute;
	right: 26px;
	bottom: 26px;
}

.bx-pager-item {
	float: left;
}

.bx-controls-direction {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -33px;
	width: 960px;
}

.bx-pager-item .bx-pager-link {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	background-position: -57px -129px;
	display: block;
	text-indent: -9999em;
	width: 13px;
	height: 13px;
	margin-left: 10px;
}

.bx-pager-item .active {
	background-position: 0 -129px;
}

.bx-next,
.bx-prev {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	display: block;
	text-indent: -999em;
	width: 28px;
	height: 66px;
}

.bx-prev {
	background-position: 0 -934px;
	float: left;
}

.bx-next {
	background-position: -472px -934px;
	float: right;
}

.tophead {
	position: fixed;
	left: 0;
	top: 0;
	background:#fff;
	width: 100%;
	height: 35px;
	z-index: 9999;
	border-bottom:1px solid #efefef
}

.topheadinner {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
	height: 36px;
}

.topheadinner #navHulp,
.topheadinner #navInfo {
	float: right;
	position: relative;
}

.topheadinner a {
	font-family: 'Trebuchet MS',Verdana;
	background:url(/img/line-topmenu-edit.png) right no-repeat!important;
	font-size: 12px;
	display: block;
	color:#e10219;
	line-height: 35px;
	height: 36px;
	float: right !important;
	width: auto !important;
	padding: 0 12px;
	text-decoration:none !important
}
.topheadinner a:hover{text-decoration:underline !important}
.trouwkaarten .topheadinner a {color:#f9bdb2;}
.kraamborrelkaartje .topheadinner a,.geboortekaartjes .topheadinner a {color:#65b9ae !important;}
.uitnodiging-maken .topheadinner a {color:#87b0cc;}
.rouwkaarten .topheadinner a {color:#c8c5b5;}
.wenskaarten .topheadinner a {color:#e2aa26;}

.topheadinner #navHulp ul li a,
.topheadinner #navInfo ul li a {
	float: none !important;
	background:none !important;
	line-height:16px;
	text-align: left;
	margin-bottom:6px
}

.topheadinner ul.nav-content {
	border-bottom:1px solid #e10219;
	background: #fff;
	list-style: none;
	padding: 16px 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 35px;
	width: 135px;
	display: none;
}

.topheadinner ul.nav-content li a {
	line-height: 22px;
	height: auto !important;
	padding: 0 10px 0 15px;
	text-transform: none;
}
#headerbasket {
	position:relative;
	z-index:9;
	background: #8ac0cf !important;
	padding:0 42px 0 12px;
	color:#fff !important
}
#headerbasket:after{content:"";position:absolute;top:6px;right:13px;background:url(/img/cart-ico.png) no-repeat;float:left;width:17px;height:22px}
.geboortekaartjes #headerbasket{background:#65b9ae !important;}
#basket_text {
	display: inline !important;
	text-align: center;
	width: auto!important;
	padding: 0;
}

#nav-contact {
	text-align: left !important;
}

#headerhelp {
	background: none !important;
	text-align: left !important;
}

#headerlogout,
#headerlogin {
	background:none !important;
	text-align: left;
}
#headerlogout span{width:auto}

.save-date {
	font-family: 'Trebuchet MS',Verdana;
	position: absolute;
	left: 0;
	top: 8px;
	color: #262626;
	font-size: 12px;
	margin: 0;
	line-height: 19px;
}
.save-date .tel-num{background:url(/img/tel-ico.png) no-repeat;padding-left:15px;margin-left:6px}

#account {
	background: none;
}

#nav-info {
	text-align: left !important;
}

#basket_count {
	display: inline !important;
	padding:0;
	color:#fff
}

#crumbs {
	position: absolute;
	left: -250px;
	top: -56px;
	width:960px;
	padding:0 0 7px;
	color: #686973;
	font-size: 10px;
	font-weight:bold;
	border-bottom:1px solid #f0f2f2
}

#crumbs a {
	color: #8ac0cf;
	font-size: 10px;
	font-weight:normal;
	font-family:'Trebuchet MS',Verdana;
	text-decoration:underline
}

.subpage #crumbs a {color:#e10219;}

#crumbs span {
	padding: 0 2px;
	font-weight:normal
}

#categories {
	width: 220px;
	margin: 0;
	padding: 0;
}

#pagecontent {
	position: relative;
	float: right;
	width: 710px;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	color: #262626;
	font-size: 13px;
	line-height: 22px;
	font-family: "Trebuchet MS",Verdana;
}
#pagecontent p{line-height:22px;margin:0 0 25px;color:#262626;font-size:13px;font-family: "Trebuchet MS",Verdana;}
#pagecontent .imageleft{0}
#pagecontent .imageleft img{float:left;margin:6px 20px 0 0}
#pagecontent .imageright{margin:0}
#pagecontent .imageright img{float:right;margin:5px 0 0 20px}
#pagecontent .style-table{margin:7px 0 29px;border:1px solid #eae9e9;border-left:none}
#pagecontent .style-table td, #pagecontent .style-table th{padding:5px 12px 9px;text-align:left;font-weight:normal;border-left:1px solid #eae9e9}
#pagecontent .style-table th{background:#ed1c24;color:#fff}
#pagecontent .style-table td{background:none;color:#262626;border-top:1px solid #eae9e9}
#pagecontent hr{background:none;border:none;border-bottom:1px solid #dbefed;height:1px;margin:0 0 29px}
#pagecontent ul{margin:0;padding:0 0 20px;list-style:none}
#pagecontent ul li{position:relative;background:url(/img/arrow-list-s1.png) 0 10px no-repeat;float:none;padding:0 0 0 20px}
#pagecontent ol{margin:0;padding:0 0 20px 19px}
#pagecontent .contactfrm ul{list-style:none;margin:0;padding:0}
#pagecontent .contactfrm ul li:before{width:0}
#pagecontent .contactfrm ul li p{padding:0}
#pagecontent h1 {
	color: #5c5c5c;
	font-size: 26px;
	font-weight:normal;
	font-family: 'GillSansMT';
	padding: 0 0 12px;
	margin: 0
}

#body_address_n #pagecontent h1{padding-bottom:50px;}

#pagecontent h2 {
	line-height:22px;
	margin:0 0 7px;
	color: #5c5b5b;
	font-size: 22px;
	font-weight:normal;
	font-family: 'GillSansMT'
}
#pagecontent h3{line-height:22px;margin:0 0 8px;color:#262626;font-size:20px;font-weight:normal;font-family: 'GillSansMT'}
#pagecontent h4,
#pagecontent h5,
#pagecontent h6{
	line-height:22px;
	margin:0 0 7px;
	color: #262626;
	font-size: 18px;
	font-weight:normal;
	font-family: 'GillSansMT'
}
.kraamborrelkaartje #pagecontent h6,
.kraamborrelkaartje #pagecontent h5,
.kraamborrelkaartje #pagecontent h4,
.kraamborrelkaartje #pagecontent h3,
.kraamborrelkaartje #pagecontent h2,
.kraamborrelkaartje #pagecontent h1{font-family:'Coming Soon';color:#686973;}

.geboortekaartjes #pagecontent h6,
.geboortekaartjes #pagecontent h5,
.geboortekaartjes #pagecontent h4,
.geboortekaartjes #pagecontent h3,
.geboortekaartjes #pagecontent h2,
.geboortekaartjes #pagecontent h1{font-family: 'Neucha', cursive !important;color:#919191;}
.geboortekaartjes #pagecontent h1{font-size:20px;}
.geboortekaartjes #pagecontent h2{font-size:20px;margin-bottom:10px;}
.geboortekaartjes #pagecontent h3{font-size:17px;}
.geboortekaartjes #pagecontent h6,.geboortekaartjes #pagecontent h4,.geboortekaartjes #pagecontent h5{font-size:16px;}
.kraamborrelkaartje #pagecontent a,.geboortekaartjes #pagecontent a{color:#65b9ae;}

.trouwkaarten #pagecontent h6,
.trouwkaarten #pagecontent h5,
.trouwkaarten #pagecontent h4,
.trouwkaarten #pagecontent h3,
.trouwkaarten #pagecontent h2,
.trouwkaarten #pagecontent h1{font-family:'Rouge Script';color:#df8070;}
.trouwkaarten #pagecontent h1{font-size:40px;}
.trouwkaarten #pagecontent h2{font-size:36px;margin-bottom:10px;}
.trouwkaarten #pagecontent h3{font-size:32px;}
.trouwkaarten #pagecontent h6,.trouwkaarten #pagecontent h4,.trouwkaarten #pagecontent h5{font-size:28px;}
.trouwkaarten #pagecontent a{color:#f9bdb2;}

.uitnodiging-maken #pagecontent h6,
.uitnodiging-maken #pagecontent h5,
.uitnodiging-maken #pagecontent h4,
.uitnodiging-maken #pagecontent h3,
.uitnodiging-maken #pagecontent h2,
.uitnodiging-maken #pagecontent h1{font-family:'The Girl Next Door';color:#87b1cd;}
.uitnodiging-maken #pagecontent h1{font-size:23px;}
.uitnodiging-maken #pagecontent h2{font-size:21px;margin-bottom:10px;}
.uitnodiging-maken #pagecontent h3{font-size:20px;}
.uitnodiging-maken #pagecontent h6,.uitnodiging-maken #pagecontent h4,.uitnodiging-maken #pagecontent h5{font-size:18px;}
.uitnodiging-maken #pagecontent a{color:#87b0cc;}

.rouwkaarten #pagecontent h6,
.rouwkaarten #pagecontent h5,
.rouwkaarten #pagecontent h4,
.rouwkaarten #pagecontent h3,
.rouwkaarten #pagecontent h2,
.rouwkaarten #pagecontent h1{font-family:'Amatic SC';color:#404040;}
.rouwkaarten #pagecontent h1{font-size:32px;}
.rouwkaarten #pagecontent h2{font-size:30px;margin-bottom:10px;}
.rouwkaarten #pagecontent h3{font-size:25px;}
.rouwkaarten #pagecontent h6,.rouwkaarten #pagecontent h4,.rouwkaarten #pagecontent h5{font-size:20px;}
.rouwkaarten #pagecontent a{color:#b7ab9c;}

.wenskaarten #pagecontent h6,
.wenskaarten #pagecontent h5,
.wenskaarten #pagecontent h4,
.wenskaarten #pagecontent h3,
.wenskaarten #pagecontent h2,
.wenskaarten #pagecontent h1{font-family:'Shadows Into Light';color:#e2aa26;}
.wenskaarten #pagecontent h1{font-size:27px;}
.wenskaarten #pagecontent h2{font-size:24px;margin-bottom:10px;}
.wenskaarten #pagecontent h3{font-size:20px;}
.wenskaarten #pagecontent h6,.wenskaarten #pagecontent h4,.wenskaarten #pagecontent h5{font-size:18px;}
.wenskaarten #pagecontent a{color:#e2aa26;}

#knav {
	background: none;
	margin: 0 !important;
}

#next_page {
	background-image: url(/img/arrow_right.png) !important;
}

#next_page:hover {
	background-image: url(/img/arrow_right.png) !important;
}

#prev_page {
	background-image: url(/img/arrow_left.png) !important;
}

#prev_page:hover {
	background-image: url(/img/arrow_left.png) !important;
}

#card_previews_horizontal {
	height: 210px !important;
	padding-top: 14px;
	font-size: 0;
	width: 720px;
}

#card_previews_horizontal #inner {
	margin-left: -40px;
}

#card_previews_horizontal a {
	width: 150px !important;
	text-align:center
}

#prev_page, #next_page {
	height: 210px !important;
}

#binnen_preview, #voor_preview{display:block!important;position:static!important;float:left;width:auto!important;text-align:left!important;cursor:default}
#binnen_preview{margin-left:-30px}
#voor_preview{background: url(/img/bg-voor_preview.png) no-repeat left bottom !important}

#choose_preview:visited, #choose_preview:link{position:absolute;bottom:132px;right:2px;background:url("/img/bg_step_forward.png") 100% 0 no-repeat!important;width:auto;height:45px!important;line-height:41px;padding:0 52px 0 29px;margin:13px 22px 0 18px;color:#fff!important;font-size:21px;font-family:'GillSansMT';text-align:right;text-transform:none!important;text-decoration:none!important;border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;-webkit-border-radius:8px 0 0 0;border:0}
#choose_preview:hover{background-position:100% -52px!important;text-decoration:none}
#choose_preview:active{background-position:100% -104px!important;line-height:45px}

#design{height:350px !important;margin-top:-13px}
#design .description{right:0!important;bottom:70px!important;background:#f8f9f9;width:233px !important;height:auto;line-height:19px;padding:11px 18px 130px 18px}
#design .save_user_design{position:absolute;bottom:5px;right:0;background:#ecf0f0;float:left;width:269px;height:34px;padding-top:6px;font-size:12px;font-family:'Trebuchet MS',Verdana;text-transform:lowercase}
#design .save_user_design::first-letter{text-transform:uppercase}

#knav{background:#f8f9f9;height:180px;border-top:3px solid #f0f2f2}
#knav #card_previews_horizontal{float:left;width:960px;height:183px;padding:0;mask:none}
/** #knav #card_previews_horizontal img{height:183px} **/
#knav #prev_page, #knav #next_page{background:#f8f9f9 url("/img/bg_next_prev.png") no-repeat!important;width:50px;height:180px!important}
#knav #prev_page{background-position:0 70px!important}
#knav #next_page{background-position:-41px 70px!important}
#knav #prev_page:hover{background-position:-114px 70px!important}
#knav #next_page:hover{background-position:-155px 70px!important}

.contactfrm input[type="submit"], .button, input[type="submit"], button{
	background: #8ac0cf!important;
	line-height: 30px;
	width: auto;
	padding: 0 15px;
	color: #fff !important;
	font-size: 17px;
	font-family: 'GillSansMT';
	text-decoration:none!important;
	height: 33px !important;
	text-align: center;
	border:0;
	border-bottom:2px solid #759ba6;
	cursor:pointer
}

.contactfrm input[type="submit"]:hover, .contactfrm input[type="submit"]:active,
input[type="submit"]:hover, input[type="submit"]:active,
.button:active, .button:hover,
button:active, button:hover {
	background-color: #74adbd !important;
	text-decoration: none;
}
.contactfrm input[type="submit"]:active, input[type="submit"]:active, .button:active, button:active{padding-top:2px;border-bottom:0}

.geboortekaartjes button{background:#65b9ae !important;border-bottom-color:#419186;}
.geboortekaartjes button:hover{background:#4ea196 !important;}
#body_login #mid{padding-top:30px}
#body_login #pagecontent input[type="password"],
#body_login #pagecontent input[type="text"] {
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	padding: 8px 5px;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
	width: 177px;
}

#pw_recovery,
#registreer,
#login {
	background: #fff;
	width: 343px;
	padding: 0;
	border: 1px solid #dbefed;
	margin: 0;
	height: auto;
	font-size: 14px;
	padding-bottom: 15px;
}

#login {
	margin-bottom: 20px;
}

#registreer {
	float: right;
}

#pw_recovery {
	clear: inherit !important;
	float: left !important;
}

#body_login .align_bottom {
	position: inherit !important;
}

#body_login #registreer .align_bottom,
#body_login #login .align_bottom {
	margin-top: 8px;
}

#body_login #pw_recovery .align_bottom {
	margin-top: 12px;
}

#body_login #pagecontent h2 {
	margin: 0;
	margin-bottom: 15px;
	padding:10px 0 0 10px;
	color: #8ac0cf !important;
	font-size: 18px;
	font-family: 'GillSansMT';
}

#body_login #pagecontent form {
	margin: 0 10px;
}

#body_login #pagecontent form table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

#body_login #pagecontent form table td {
	padding: 4px 0;
}

#body_login #pagecontent form table td.label {
	width: 137px;
}

#body_login .errormsg{margin:0;padding-left:12px;color:#f30;text-decoration:none}

#pw_recovery p {
	margin: 0;
	padding: 0 10px 16px;
}

input#nieuwsbrief{margin-top: 15px!important;margin-right:3px!important}

#login_nieuwbrief {
	font-size: 12px;
	margin-top: 9px;
	width: 295px !important;
}

.paginator {
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	margin-top: 18px;
	margin-bottom: 12px;
	padding: 10px 0;
	position: relative;
}

.paginator a {
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	color: #262626;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	margin: 0 6px 0 0;
}

.paginator a:hover {
	background: #f8c8d7;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	text-decoration: none;
}

.paginator a.paginatorinactive {
	background: #d28fa3;
	color: #fff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.paginator .vorigeactive,
.paginator .volgendeinactive,
.paginator .vorigeactive,
.paginator .volgendeactive,
.paginator .vorigeinactive {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background: #d28fa3;
	color: #fff;
	width: 110px;
	height: 26px;
	position: absolute;
	top: 10px;
}

.paginator .vorigeactive:hover,
.paginator .volgendeinactive:hover,
.paginator .vorigeactive:hover,
.paginator .volgendeactive:hover,
.paginator .vorigeinactive:hover {
	background-color: #c97d93;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-decoration: none;
}

.paginator .vorigeactive:active,
.paginator .volgendeinactive:active,
.paginator .vorigeactive:active,
.paginator .volgendeactive:active,
.paginator .vorigeinactive:active {
	background-color: #c97d93;
	-moz-box-shadow: inset 2px 2px #a94d65;
	-webkit-box-shadow: inset 2px 2px #a94d65;
	box-shadow: inset 2px 2px #a94d65;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.paginator .volgendeinactive,
.paginator .volgendeactive {
	right: 0;
}

.paginator .vorigeactive,
.paginator .vorigeinactive {
	right: 120px;
}

.paginator span {
	font-family: 'droidsans';
	font-size: 12px;
	float: right;
	padding-right: 206px;
}

.paginator span select {
	font-size: 12px;
	border: 1px solid #e3e3e3;
	height: 26px;
	width: 56px;
	padding: 3px;
	vertical-align: middle;
}

#body_account .button{
	font-size: 20px !important;
	height: 32px !important;
	line-height: 32px !important;
	margin-bottom: 10px !important;
	background-position: right -439px !important;
	text-decoration:none!important
}

#babywrapperleft {
	margin-right: 0 !important;
}

#babywrapperright {
	float: right !important;
	width: 358px !important;
}

#tab-list {
	list-style: none;
	margin: 0;
	padding: 10px 0 10px 4px;
}

#tab-list li {
	float: left;
}

#tab-list li a {
	font-family: 'Pompiere';
	color: #262626;
	display: block;
	padding: 3px 10px;
}

#tab-list li a:hover {
	color: #c47b8f;
	text-decoration: none;
}

#tab-list .active a:hover,
#tab-list .active a {
	border: 1px solid #ddbec3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ddbec3;
	-moz-box-shadow: -2px -2px 0 2px #cfaea7;
	-webkit-box-shadow: -2px -2px 0 2px #cfaea7;
	box-shadow: -2px -2px 0 2px #cfaea7;
	color: #fff;
}

#lnav {
	background: url("/img/bg-line.png") repeat-y scroll 172px top transparent;
	width: 180px;
}

#lnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#lnav ul li a {
	color: #262626;
	font-size: 18px;
	display: block;
	padding: 0 0 0 34px;
	height: 38px;
	line-height: 34px;
	text-transform: uppercase;
	font-family: 'Pompiere';
}

#lnav ul li .lnav-active:hover,
#lnav ul li .lnav-active {
	background: url(/img/bg-cat-hover.png) no-repeat 0 0 !important;
	color: #fff !important;
}

#lnav ul li a:hover {
	background: url(/img/icons.png) no-repeat 16px -237px;
	color: #c17e93;
	text-decoration: none;
}

#lnav ul li ul {
	display: none;
	padding-bottom: 15px;
}

#lnav ul li ul li {
	padding: 0 0 0 47px;
	line-height: 1.5;
	font-size: 16px !important;
}

#lnav ul li ul li a {
	font-family: 'OpenSansCondensedLight' !important;
	font-size: 16px;
	text-transform: none;
	padding: 0;
	height: auto;
	line-height: normal;
}

#lnav ul li ul li a:hover {
	background: none;
	color: #c17e93;
}

#sidebar {
	float: left;
	width: 181px;
	padding-top: 40px;
}

#content {
	float: right;
	width: 720px;
	padding-top: 23px;
}
.block{width:auto}
.block:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.block .b01{position:relative;float:left;width:960px}
.block .b01 img{float:left;max-width:960px}
.block .b01 .bt{position:absolute;top:156px;left:485px;background:url(/img/bt-banner-01.png) no-repeat;float:left;width:180px;height:45px;color:#fff;text-decoration:none !important;padding: 0 40px 0 13px; line-height:45px;font-size:15px;}
.block .b01 .bt:hover{background-position:0 -55px}
.block .b01 .bt:active{background-position:0 -110px; line-height:49px;}

.block .b02, .block .b03{float:left;width:960px;overflow:hidden}
.block .b02 ul, .block .b03 ul{width:976px;margin:0;padding:0}
.block .b02 ul li{list-style:none;position:relative;float:left;width:310px;height:240px;margin:12px 15px 0 0;overflow:hidden}
.block .b02 ul li a{float:left}
.block .b02 ul li img{max-width:310px;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s}
.block .b02 ul li a:hover img{filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);-moz-opacity:50;opacity:0.50}
.block .b02 ul li .bt01, .block .b02 ul li .bt02, .block .b02 ul li .bt03, .block .b03 ul li .bt01, .block .b03 ul li .bt02{position:absolute;right:0;bottom:0;z-index:1;float:left;height:45px;line-height:46px;padding:0 15px 0 20px;color:#fff;font-family: 'GillSansMT';font-size:21px}
.block .b02 ul li .bt01 .arrow, .block .b02 ul li .bt02 .arrow, .block .b02 ul li .bt03 .arrow, .block .b03 ul li .bt01 .arrow, .block .b03 ul li .bt02 .arrow{position:relative;top:2px}
.block .b02 ul li .bt01{background:url(/img/bg-button/01.png) no-repeat}
.block .b02 ul li .bt02{background:url(/img/bg-button/03.png) no-repeat;color:#262626}
.block .b02 ul li .bt03{background:url(/img/bg-button/04.png) no-repeat}

.block .b03 ul li{list-style:none;position:relative;float:left;width:472px;height:240px;margin:12px 16px 0 0;overflow:hidden}
.block .b03 ul li a{float:left}
.block .b03 ul li img{max-width:472px;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s}
.block .b03 ul li a:hover img{filter:progid:DXImageTransform.Microsoft.alpha(opacity=50);-moz-opacity:50;opacity:0.50}
.block .b03 ul li .bt01{background:url(/img/bg-button/02.png) no-repeat}
.block .b03 ul li .bt02{background:url(/img/bg-button/05.png) no-repeat;color:#262626}

#sidebar .order {
	background: #fff1f6;
	padding: 4px;
	margin-bottom: 34px;
}

#sidebar .order p {
	border: 1px solid #f8dae1;
	margin: 0;
	padding: 11px 10px 13px;
	color: #da7e8e;
	text-align: center;
	font-size: 14px;
	font-family: 'CenturyRegular';
}

.cat-item h3 {
	font-family: 'CenturyRegular';
	font-size: 14px;
	color: #da7e8e;
	font-weight: normal;
	border-bottom: 1px solid #d9d8d8;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 5px;
}

.cat-item {
	padding-bottom: 26px;
}

.cat-item ul {
	list-style: none;
	margin: 0;
	padding: 11px 0 0 0;
}

.cat-item ul li {
	padding: 0 0 7px 0;
}

.cat-item ul li a {
	color: #403c3d;
	font-size: 14px;
}

.cat-item ul li a:hover {
	color: #de8b99;
	text-decoration: none;
}

.card-list {
	list-style: none;
	padding: 0;
	margin: -20px 0 20px 0;
}

.card-list li {
	float: left;
	font-size: 0;
	padding: 0 14px 0 14px;
}

.card-list li img {
	width: 152px !important;
	height: auto !important;
}

.block-list {
	list-style: none;
	margin: 6px 0 0 0;
	padding: 0;
}

.block-list li {
	float: left;
	width: 339px;
}

.block-list .right {
	padding-left: 42px;
}

.block-list li {
	cursor: pointer;
	padding-bottom: 24px;
}

.block-list li h2 {
	font-size: 14px !important;
	font-weight: normal;
	color: #da7e8e !important;
	font-family: 'CenturyRegular';
	text-transform: uppercase;
	margin: 0 !important;
	padding-bottom: 5px !important;
}

.block-list li .thumb {
	margin: 0;
	height: 147px;
	overflow: hidden;
}

.block-list li img {
	display: block;
	width: 339px;
}

.block-list li p {
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	color: #403c3d;
	min-height: 42px;
}

.block-list li a {
	font-size: 13px;
}

.block-list li div {
	background: #fff1f6;
	padding: 13px 17px 15px;
}

.section h2 {
	font-family: 'CenturyRegular';
	font-size: 14px !important;
	text-transform: uppercase;
	color: #da7e8e !important;
	border-bottom: 1px solid #d9d8d8;
	padding: 0 0 4px 0 !important;
	margin-bottom: 20px !important;
}

.section .section-inner {
	cursor: pointer;
}

.section .section-inner .thumb {
	float: left;
	margin: 0;
	height: 125px;
	overflow: hidden;
}

.section .section-inner .thumb img {
	width: 185px !important;
}

.section .section-inner div {
	float: right;
	padding-right: 20px;
	width: 494px;
}

.section .section-inner div h3 {
	font-size: 16px !important;
	font-weight: normal;
	margin: -4px 0 11px 0 !important;
	text-transform: none !important;
}

.section .section-inner div h3 a {
	color: #C17E93;
	font-family: 'CenturyRegular';
}

.section .section-inner div p {
	margin: 0;
	font-size: 13px;
}

.blockquote {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: url(/img/blockquote.png) no-repeat 10px 21px;
	padding: 14px 20px 15px 54px;
	font-size: 18px;
	font-family: 'CenturyItalic';
	color: #a19d9d;
	line-height: 25px;
	margin: 35px 0 0 0;
}

.blockquote p {
	margin: 0;
}

.blockquote span {
	display: block;
	font-family: 'CenturyGothicRegular';
	font-size: 14px;
	padding-top: 5px;
}
/*left menu categories - no edit*/
#categories h3{padding:10px 10px 6px 12px;margin: 0 0 13px;font-size:20px;font-weight:normal;font-family:'Coming Soon';border:none;}
#categories h3.active{position:relative;background:#fff;margin:0 0 -1px;border-bottom:0}
#categories h3 a{color:#686973;text-transform:uppercase;text-decoration:none!important}
#categories .category{padding-top:3px;padding-bottom:4px;margin:0 0 13px;border:1px solid #dbefed}
#categories .category li{background:none;padding:0 0 14px 12px;margin:0}
#categories .category li a{text-decoration:none!important;color:#8ac0cf;font-size:12px}
#categories .category li a:hover{text-decoration:underline!important}
.geboortekaartjes #categories h3{font-family:"Neucha",cursive;color:#65b9ae;}
/*trouwkaarten*/
.trouwkaarten #categories h3{line-height:24px;padding:6px 10px 16px 12px;font-size:23px;font-family:'Josefin Sans'}
.trouwkaarten #categories h3 a{color:#df8070;text-transform:none}
.trouwkaarten #categories .category li a{color:#70b9af}
/*uitnodiging-maken*/
.uitnodiging-maken #categories h3{padding:5px 10px 8px 12px;font-size:29px;font-family:'Amatic SC'}
.uitnodiging-maken #categories h3 a{color:#87b1cd;text-transform:none}
.uitnodiging-maken .mainmenu li ul li a:hover,.uitnodiging-maken .mainmenu li ul li a{color:#404040;}
.uitnodiging-maken #categories .category{padding-top:3px}
.uitnodiging-maken #categories .category li a{color:#6090b5}
/*rouwkaarten*/
.rouwkaarten #categories h3{padding:10px 10px 12px 12px;font-size:19px;font-family:'Open Sans';font-weight:100}
.rouwkaarten #categories h3 a{color:#404040;text-transform:none}
.rouwkaarten #categories .category{margin-top:-4px}
.rouwkaarten #categories .category li a{color:#6c6c6c}
/*wenskaarten*/
.wenskaarten #categories h3{padding:3px 10px 3px 12px;font-size:25px;font-family:'Dawning of a New Day'}
.wenskaarten #categories h3 a{color:#e2aa26;text-transform:none}
.wenskaarten #categories .category li a{color:#4ca986}
/**/
.mainmenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mainmenu li{padding:6px 10px 1px 17px;margin:0 0 13px;border:1px solid #dbefed}
.mainmenu li h3 {
	text-transform:uppercase;
	font-weight: normal;
	font-size: 20px;
	font-family: 'Coming Soon';
	margin: 0;
	padding:0!important;
	border:0
}

.mainmenu li h3 a {
	color: #686973;
	display: block;
	line-height: 40px;
	text-decoration: none !important;
}

.mainmenu li h3 a:hover {
	color: #686973;
	text-decoration: none;
}

.mainmenu li h3.open {
	background: url(/img/ico-arrow-menu-a.gif) no-repeat right center;
}

.mainmenu li ul {
	list-style: none;
	padding: 2px 0 2px 0;
	margin: 0;
}

.mainmenu li ul li {
	padding: 0 0 12px 0;
	margin:0;
	border:0
}

.mainmenu li ul li a {
	color: #419186;
	font-family: 'Trebuchet MS',Verdana;
	text-decoration:none !important;
}

.mainmenu li ul .active a,
.mainmenu li ul li a:hover {
	color: #8ac0cf;
	text-decoration:underline !important;
}

.geboortekaartjes .mainmenu li ul li a{
	color:#65b9ae;
}

#image-menu,#photo{margin:0px 0 0}
#image-menu a,#photo a{display:block;width:220px;height:166px;margin-bottom:14px;text-align:center;position:relative;}
#image-menu a .wrap,#photo a .wrap{display:block !important;height:40px;position:absolute;right:0;bottom:0;}
#image-menu a .wrap span,#photo a .wrap span{font-family: 'GillSansMT';font-size:20px;color:#fff;background:url("/img/bg-button/01.png") no-repeat  0 0;padding: 0 15px 0 20px;line-height:40px;display:block !important}
#image-menu a .wrap span em,#photo a .wrap span em{position:relative;top:2px;font-style:normal;}
#photo a .trouw span{background-image:url("/img/bg-button/03.png");color:#262626;}
#photo a .wens span{background-image:url("/img/bg-button/05.png");color:#262626;}
#photo a .rouw span{background-image:url("/img/bg-button/02.png");}
#photo a .uitno span{background-image:url("/img/bg-button/04.png");}
#image-menu a .other span{background-image:url("/img/bg-button/07.png");color:#8ac0cf;}
.geboortekaartjes #image-menu a .other span{color:#65b9ae;}
#image-menu img,#photo img{width:100%;height:166px;}

.main-img {
	display: none;
}

#main-img {
	margin-bottom: 20px;
	display: block;
}

#card_previews img {
	width: 177px !important;
	height:auto !important;
}
#card_previews_horizontal a img{
	height:auto !important;
}

#card_previews a:hover {
	text-decoration: none;
}

textarea {
    border: 1px solid #D3D3D3;
    height: 92px;
    overflow: auto;
    padding: 8px 10px;
    resize: none;
}

.contactfrm {
    padding:0
}

.contactfrm ul li {
    background:none!important;
    clear: both;
	min-height:44px;
    padding:0!important;
}

.contactfrm input[type="text"], .contactfrm textarea{width:394px;padding:8px 9px 7px;color:#262626;font-size:14px;font-family:'Trebuchet MS',Verdana;border:1px solid #dbdbdb;box-shadow:inset 0 0 1px #dbdbdb;-moz-box-shadow:inset 0 0 1px #dbdbdb;-webkit-box-shadow:inset 0 0 1px #dbdbdb;}
.contactfrm textarea{
	float:left;
    height: 92px;
    overflow: auto;
    resize: none;
}

.contactfrm .error input[type="text"], .contactfrm .error textarea {
    border-color: #ff0f0f;
	box-shadow:inset 0 0 1px #fd9a9a;-moz-box-shadow:inset 0 0 1px #fd9a9a;-webkit-box-shadow:inset 0 0 1px #fd9a9a;
}

.contactfrm .error span {
	position:relative;
	top:-2px;
    background: url("/img/bg-error-2.png") no-repeat;
    color: #fff;
	font-family:'Trebuchet MS',Verdana;
    display: inline-block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin-left: 10px;
    padding: 0 10px 0 14px;
}

.contactfrm ul li label {
    display: block;
    float: left;
    line-height: 32px;
    padding: 0 10px 0 0;
    width: 128px;
}

.contactfrm ul {
	list-style: none !important;
    padding: 0;
	margin: 0 !important;
}

.contactfrm ul li label em {
    font-style: normal;
}

.contactfrm ul li p {
    float: left;
    margin: 0;
    padding: 0;
}

.contactfrm .submit {
    clear: both;
    margin: 0;
    padding: 15px 0 0 447px;
	overflow: hidden;
}

.contactfrm input[type="submit"] {
	height:35px !important;
	border-width:0 0 2px;
	cursor: pointer;
	float: left;
}

.top-content {
	margin-bottom: 20px;
}


/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
.contactfrm ul li,
.section .section-inner,
.block-list,
.card-list,
#tab-list,
.mm-item-content,
.megamenu li,
.megamenu,
#slides ul,
#body_home .item ul,
#footer-inner,
#footer-inner ul,
.clearfix {
	zoom: 1;
}

.contactfrm ul li:after,
.section .section-inner:after,
.block-list:after,
.card-list:after,
.clearfix:after,
#tab-list:after,
.mm-item-content:after,
.megamenu li:after,
.megamenu:after,
#slides ul:after,
#body_home .item ul:after,
#footer-inner:after,
#footer-inner ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/*body_home*/
#body_home .topheadinner a{background:url(/img/line-topmenu.png) right no-repeat!important;color:#8ac0cf;}
#body_home .topheadinner ul.nav-content{border-bottom:1px solid #8ac0cf;}
#body_home #headerbasket{background:#8ac0cf !important;}
#body_home #headerlogout, #body_home #headerlogin{background:none !important}
/**/
#body_home .b02 ul, #body_home .b03 ul{margin:0;padding:0}
#body_home .b02 ul li, #body_home .b03 ul li{background:none;float:left;padding:0}

.kraamborrelkaartje #pagecontent h1.top-title-block{
	position:absolute;
	top: -140px;
	left: -250px;
	background: #f8f9f9 url(/img/bg_top_title.png) no-repeat !important;
	width: 943px;
	line-height: normal;
    padding: 36px 0 4px 17px;
    color: #686973 !important;
	text-transform: uppercase !important;
	font-size: 24px !important;
	font-family: 'Coming Soon' !important;
}
#pagecontent h1.top-title-block {
position:absolute;
	top: -140px;
	left: -250px;
	background: #f8f9f9 url(/img/bg_top_title.png) no-repeat;
	width: 960px;
	font-weight:normal;
	line-height: normal;
	height:77px;
	box-sizing:border-box;
    padding: 30px 0 4px 17px;
    color: #919191;
	font-size: 32px;
	font-family: 'Neucha', cursive;
}


#body_category #pagecontent .firt-desc{margin:-6px 0 0}
/*body_main_category*/
#body_main_category .topheadinner a{background:url(/img/line-topmenu-edit.png) right no-repeat!important;color:#8ac0cf;}
#body_main_category .topheadinner a#bestel-enveloppen{color:#ed1c24}
#body_main_category .topheadinner ul.nav-content{border-bottom:1px solid #8bccc6}
#body_main_category #headerbasket{background:#8ac0cf !important}
#body_main_category #headerlogout, #body_main_category #headerlogin{background:none !important}
.trouwkaarten .topheadinner a,#body_main_category.trouwkaarten .topheadinner a{background-image:url(/img/line-topmenu-edit2.png) !important;}
#body_main_category.kraamborrelkaartje #headerbasket,.kraamborrelkaartje #headerbasket,#body_main_category.geboortekaartjes #headerbasket,.geboortekaartjes #headerbasket{background:#65b9ae !important;}
/**/
#body_main_category #pagecontent,
#body_trouwkaarten #pagecontent
{width:724px}


#body_trouwkaarten #pagecontent #crumbs,
#body_trouwkaarten #pagecontent h1.top-title-block,
#body_main_category #pagecontent #crumbs,
#body_main_category #pagecontent h1.top-title-block {
	left: -236px !important;
}



#body_category  #card_previews a,
#body_main_category #card_previews a{display:inline-block;margin-right:-3px;text-decoration:none !important}
#body_category #categories #photo, #body_category #categories .mainmenu .subpage,
#body_category #categories #photo, #body_category #categories .mainmenu .subpage,
#body_main_category #categories #photo, #body_main_category #categories .mainmenu .subpage{display:none}
.wenskaarten #categories #photo,.geboortekaartjes #categories #photo,.rouwkaarten #categories #photo,.uitnodiging-maken #categories #photo,.trouwkaarten #categories #photo{display:none;}
#body_main_category #categories .mainmenu .num{display:inline;margin-left:9px;color:#898888}
/*categories - cate kleur*/
#categories .cate-kleur .color{display:inline-block;width:11px;height:11px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}
#categories .cate-kleur label{display:inline-block;width:110px;color:#262626}
#categories .cate-kleur label input[type="checkbox"]{position:relative;top:3px}
#categories .cate-kleur .disabled label{color:#9d9d9d}
#categories .cate-kleur .seemore{display:inline-block;margin:-2px 0 16px 21px;color:#db8471;text-decoration:none!important}
#categories .cate-kleur .seemore:hover{text-decoration:underline!important}
/**/
#main-cate{margin:0 0 10px}
#main-cate #topbanner{position:absolute;top:-238px;left:-236px;width:925px;height:224px;padding-left:35px}
body.blockbanner #main-cate #topbanner{left:-251px;}
#main-cate #topbanner h2{line-height:normal;margin:39px 0 0;color:#686973;font-size:28px;font-family:'Coming Soon';font-weight:normal}
#main-cate #topbanner h2 span{color:#8ac0cf;}
.geboortekaartjes #main-cate #topbanner h2 span{color:#65b9ae;}
#main-cate #topbanner p{width:620px;line-height:19px;color:#262626;font-size:13px;font-family: "Trebuchet MS",Verdana;}
#main-cate .block01{width:738px;margin:0;padding:0}
#main-cate .block01 li{list-style:none;position:relative;background:none;float:left;padding:0;width:232px;height:198px;margin:0 14px 13px 0;overflow:hidden}
#main-cate .block01 li.banner{width:478px}
#main-cate .block01 li a{float:left;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s;}
#main-cate .block01 li a:hover{filter:progid:DXImageTransform.Microsoft.alpha(opacity=70);-moz-opacity:70;opacity:0.70}
#main-cate .block01 li img{max-width:232px}
#main-cate .block01 li.banner img{max-width:478px}
#main-cate .block01 li .bt{position:absolute;right:0;bottom:0;float:left;background:url(/img/bg-button/06.png) no-repeat;height:45px;line-height:46px;padding:0 15px 0 20px;color:#8ac0cf;font-family: "Trebuchet MS",Verdana;font-size:15px}
.geboortekaartjes #main-cate .block01 li .bt{color:#65b9ae;}
#main-cate .block01 li .bt .arrow{position:relative;top:2px}
#main-cate .cpbtn, #card_previews .cpbtn{height:41px;margin-top:10px;text-align:center}
#main-cate .cpbtn a, #card_previews .cpbtn a{display:inline-block;background:url(/img/bg_bt_s1.png) no-repeat;height:41px;line-height:38px;padding:0 28px;color:#5c5b5b;font-size:18px;font-family:'GillSansMT';text-decoration:none!important}
#main-cate .cpbtn a:hover, #card_previews .cpbtn a:hover{background-position:0 -60px}
#main-cate .cpbtn a:active, #card_previews .cpbtn a:active{line-height:41px}
/*wenskaarten*/
.wenskaarten #main-cate #topbanner{background:#fff url(/img/wenskaarten/home_wens_01.png) no-repeat}
.wenskaarten #main-cate #topbanner h2{margin:36px 0 0;color:#fff;font-size:42px;font-family:'Dawning of a New Day'}
.wenskaarten #main-cate #topbanner h2 span{color:#437e92}
.wenskaarten #main-cate #topbanner p{color:#fff}
.wenskaarten .cate-wat-krijg-je{display:none}
.wenskaarten .mainmenu li{padding-top:1px}
.wenskaarten .mainmenu li h3 a{color:#e2aa26;font-size:24px;font-family:'Shadows Into Light';text-transform:none}
.wenskaarten .mainmenu li ul li a, .wenskaarten #main-cate .block01 li .bt{color:#404040}
.wenskaarten #categories .cate-kleur .seemore{color:#4ca986}
#body_main_category.wenskaarten .topheadinner a,body.wenskaarten .topheadinner a{background:url(/img/line-topmenu-edit5.png) right no-repeat!important}
.wenskaarten .topheadinner a{color:#e2aa26 !important;}
#body_main_category.wenskaarten .topheadinner ul.nav-content{border-bottom-color:#4daa88}
#body_main_category.wenskaarten .topheadinner ul.nav-content a{background:none!important}
#body_main_category.wenskaarten #headerbasket, .wenskaarten #headerbasket{background:#e2aa26 !important}
#body_category.wenskaarten #pagecontent h1, #body_design.wenskaarten #pagecontent h1{padding:25px 0 0 17px;color:#4ca986;font-size:32px;font-family:'Dawning of a New Day';font-weight:100;text-transform:none}
#body_category.wenskaarten #crumbs a, #body_design.wenskaarten #crumbs a{color:#4ca986}
/*geboortekaartjes*/
.geboortekaartjes #main-cate #topbanner{background:#fff url(/img/geboortekaartjes/home_geboorte_01.jpg) no-repeat}
.geboortekaartjes #main-cate #topbanner h2{font-size:25px;font-family:"Neucha",cursive;}
/*trouwkaarten*/
.trouwkaarten #main-cate #topbanner{background:#fff url(/img/trouwkaarten/home_trouwen_01.jpg) no-repeat}
.blockbanner #main-cate #topbanner{background:#fff url(/img/banners/home_savethedate_01.png) no-repeat}
.trouwkaarten #main-cate #topbanner h2{font-size:40px;font-family:'Rouge Script';color:#262626;}
.trouwkaarten #main-cate #topbanner h2 span{color:#f0848d}
.trouwkaarten #main-cate #topbanner p span{font-family: "Trebuchet MS",Verdana;font-weight:700;}
.trouwkaarten .cate-wat-krijg-je{display:none}
.trouwkaarten .mainmenu li{padding-top:1px}
.trouwkaarten .mainmenu li h3 a{color:#f28b90;font-size:36px;font-family:'Rouge Script';text-transform:none}
.trouwkaarten #main-cate .block01 li .bt{color:#262626;font-family: 'Josefin Sans';font-size:18px;}
.trouwkaarten #categories .cate-kleur .seemore{color:#70b9af}
#body_main_category.trouwkaarten .topheadinner a{color:#f9bdb2}
#body_main_category.trouwkaarten .topheadinner ul.nav-content{border-bottom-color:#70b9af}
#body_main_category.trouwkaarten .topheadinner ul.nav-content a{background:none!important}
#body_main_category.trouwkaarten #headerbasket, .trouwkaarten #headerbasket{background:#f9bdb2 !important}
body.trouwkaarten #pagecontent h1,#body_category.trouwkaarten #pagecontent h1, #body_design.trouwkaarten #pagecontent h1{color:#df8070;font-size:32px;font-family:'Josefin Sans';text-transform:none}
#body_design.trouwkaarten #pagecontent h1{font-size:28px !important;}
#body_category.trouwkaarten #crumbs a, #body_design.trouwkaarten #crumbs a{color:#70b9af}
/*uitnodiging-maken*/
.uitnodiging-maken #main-cate #topbanner{background:#fff url(/img/uitnodigingskaarten/home_uitnodiging_01.png) no-repeat}
.jubileumkaarten #main-cate #topbanner{background:#fff url(/img/uitnodigingskaarten/home_jubileum_01.png) no-repeat !important;}
.uitnodiging-maken #main-cate #topbanner h2{color:#777777;font-size:30px;font-family: 'The Girl Next Door', cursive;}
.uitnodiging-maken #main-cate #topbanner h2 span{color:#87b1cd}
.uitnodiging-maken .cate-wat-krijg-je{display:none}
.uitnodiging-maken .mainmenu li h3 a{color:#808385;font-size:23px;font-family:'The Girl Next Door';text-transform:none}
.uitnodiging-maken #main-cate .block01 li .bt{color:#000}
.uitnodiging-maken #categories .cate-kleur .seemore{color:#6090b5}
#body_main_category.uitnodiging-maken .topheadinner a{background:url(/img/line-topmenu-edit.png) right no-repeat!important;color:#87b0cc}
#body_main_category.uitnodiging-maken .topheadinner ul.nav-content{border-bottom-color:#6090b5}
#body_main_category.uitnodiging-maken .topheadinner ul.nav-content a{background:none!important}
#body_main_category.uitnodiging-maken #headerbasket, .uitnodiging-maken #headerbasket{background:#87b0cc !important}
#body_category.uitnodiging-maken #card_previews{display:block}
#body_category.uitnodiging-maken #pagecontent h1, #body_design.uitnodiging-maken #pagecontent h1{padding:23px 0 6px 17px;color:#808385;font-size:38px;font-family:'Amatic SC';text-transform:none}
#body_category.uitnodiging-maken #crumbs a, #body_design.uitnodiging-maken #crumbs a{color:#6090b5}
/*rouwkaarten*/
.rouwkaarten #main-cate #topbanner{background:#fff url(/img/rouwkaarten/home_rouw_01.png) no-repeat}
.rouwkaarten #main-cate #topbanner h2{margin:59px 0 12px;color:#b3b09f;font-size:26px;font-family:'Open Sans';font-weight:300}
#body_main_category.rouwkaarten #main-cate #topbanner h2{font-family: 'Amatic SC';font-size:50px;color:#404040;margin-bottom:-5px;margin-top:35px;}
.rouwkaarten #main-cate #topbanner h2 span{color:#6090b5}
#body_main_category.rouwkaarten #main-cate #topbanner h2 span{color:#b7ab9c}
.rouwkaarten .cate-wat-krijg-je{display:none}
.rouwkaarten .mainmenu li h3 a{color:#b3b09f;font-size:30px;font-family:'Amatic SC';text-transform:none;font-weight:100}
.rouwkaarten #main-cate .block01 li .bt{color:#6c6c6c}
.rouwkaarten .mainmenu li ul li a{color:#b7ab9c;}
.rouwkaarten #categories .cate-kleur .seemore{color:#6c6c6c}
body.rouwkaarten .topheadinner a,#body_main_category.rouwkaarten .topheadinner a{background:url(/img/line-topmenu-edit4.png) right no-repeat!important;color:#b7ab9c;}
#body_main_category.rouwkaarten .topheadinner ul.nav-content{border-bottom-color:#6c6c6c}
#body_main_category.rouwkaarten .topheadinner ul.nav-content a{background:none!important}
#body_main_category.rouwkaarten #headerbasket, .rouwkaarten #headerbasket{background:#c8c5b5 !important}

.rouwkaarten #main-cate #card_previews{display:block}
#body_category.rouwkaarten #pagecontent h1, #body_design.rouwkaarten #pagecontent h1{padding:31px 0 10px 17px;color:#b3b09f;font-size:26px;font-family:'Open Sans';font-weight:100;text-transform:none}
#body_category.rouwkaarten #crumbs a, #body_design.rouwkaarten #crumbs a{color:#6c6c6c}
/*subpage*/
.subpage .cate-service a {color: #999999 !important;}
.subpage .cate-service h3 a {color: #ed1c24 !important; font-family: Dawning of a New Day !important; text-transform: initial !important; font-size: 28px !important;}
.subpage .cate-wat-krijg-je, .subpage .cate-stijl, .subpage .cate-patroon, .subpage .cate-collecties, .subpage .cate-extra, .subpage .cate-kleur{display:none}
/*body_design*/
#body_design #card-detail-link{display:block!important;position:absolute;top:-2px;left:0}
#body_design #card-detail-link a, #body_design #card-detail-link .arrow{text-decoration:none!important}
#body_design #card-detail-link a .txt{text-decoration:underline!important}
#body_design #card-detail-link a:hover .txt{text-decoration:none!important}
#body_design #categories{display:none}
#body_design #pagecontent{width:960px}
#body_design #pagecontent h1, #body_design #crumbs{left:0}
#body_design #pagecontent #voor_preview img, #body_design #pagecontent #binnen_preview img{height:320px}
#body_design #pagecontent .edit{position:absolute;bottom:190px;right:0;z-index:1}
/*body_contact*/
/*body_account -- body_account_settings -- body_account_address -- body_account_password -- body_account_nieuwsbrief -- body_account_orders -- body_account_adresboek -- body_account_adres_import*/
#body_account #mid, #body_account_settings #mid, #body_account_address #mid, #body_account_password #mid, #body_account_nieuwsbrief #mid, #body_account_orders #mid, #body_account_adresboek #mid, #body_account_adres_import #mid{padding-top:70px}
#body_account p, #body_account_settings p, #body_account_address p, #body_account_password p, #body_account_nieuwsbrief p, #body_account_orders p, #body_account_adresboek p, #body_account_adres_import p{margin:0}
#body_account p span, #body_account_settings p span, #body_account_address p span, #body_account_password p span, #body_account_nieuwsbrief p, #body_account_orders p span, #body_account_adresboek p span, #body_account_adres_import p span{position:absolute;left:-250px;top:-56px;width:960px;padding:0 0 7px;color:#686973;font-size:10px;font-weight:bold;border-bottom:1px solid #f0f2f2}
#body_account p span a, #body_account_settings p span a, #body_account_address p span a, #body_account_password p span a, #body_account_nieuwsbrief p a, #body_account_orders p a, #body_account_adresboek p a, #body_account_adres_import p a{color:#8ac0cf;font-weight:normal}
/*step_back btn*/
#step_back{background:url("/img/bg_bt.png") no-repeat;float:left;width:auto;height:37px;line-height:32px;padding:0 14px 0 35px;margin:15px 0 0;color:#ed1c24;text-decoration:none!important;border-radius:0 0 5px 0;-moz-border-radius:0 0 5px 0;-webkit-border-radius:0 0 5px 0}
#step_back:hover{background-position:0 -45px;color:#fff;text-decoration:none}
/*body_account_address -- body_account_password -- body_account_nieuwsbrief -- body_account_adresboek*/
#body_account_address table, #body_account_password table, #body_account_password table, #body_account_adresboek table{width:100%;margin:0;position:inherit !important;color:#282828;font-size:13px;font-family:"Trebuchet MS",Verdana;}
#body_account_address table td, #body_account_password table td, #body_account_nieuwsbrief table td, #body_account_adresboek table td{padding:5px 2px}
#body_account_address table input[type="text"], #body_account_password table input[type="text"], #body_account_password table input[type="password"], #body_account_nieuwsbrief table input[type="text"], #body_account_adresboek input[type="text"]{border:1px solid #d3d3d3;border-top-color:#b4b4b4;border-right-color:#b4b4b4;padding:7px 5px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-moz-box-shadow:inset -1px 1px #d9d9d9;-webkit-box-shadow:inset -1px 1px #d9d9d9;box-shadow:inset -1px 1px #d9d9d9;color:#282828;font-size:14px;font-family:'Trebuchet MS',Verdana;}
#body_account_address table select, #body_account_password table select, #body_account_nieuwsbrief table select, #body_account_adresboek table select{background:#fff;height:31px;padding:2px 5px;width:100%;color:#262626;font-size:13px;font-family: "Trebuchet MS",Verdana;border:1px solid #d3d3d3}
/*body_account_password*/
#body_account_password table{width:450px}
#body_account_password input[type="submit"]{margin:5px 0 0 242px}
/*body_account_nieuwsbrief*/
#body_account_nieuwsbrief #nieuwsbrief{position:relative;top:5px;margin-top:0!important}
#body_account_nieuwsbrief label{margin-left:3px}
#body_account_nieuwsbrief input[type="submit"]{margin:7px 0 0}
/*body_account_orders*/
#body_account_orders #order{padding:0 30px}
#body_account_orders #order tr{border-bottom-color:#aaffe2}
#body_account_orders #order th{padding-bottom:7px;color:#262626;font-weight:normal}
#body_account_orders #order .price{display:inline-block;float:none !important;margin-top:-11px}
#body_account_orders #order td{padding:6px 0!important;color:#262626;font-size:13px;font-weight:normal!important;font-family: "Trebuchet MS",Verdana;vertical-align:top}
#body_account_orders #order .row-title td{padding-bottom:15px!important;font-size:17px}
#body_account_orders #order b{font-weight:normal}
#body_account_orders #order .row-title b{font-weight:bold}
#body_account_orders #order .line{padding:3px 0 6px!important}
/*body_account_adresboek*/
#body_account_adresboek #pagecontent{padding-bottom:60px}
#body_account_adresboek #leftdiv{width:220px}
#body_account_adresboek #search{width:220px;margin:10px 0}
#body_account_adresboek #new{margin-top:29px}
#body_account_adresboek #rightdiv{background:none;width:460px;height:auto;padding-top:25px}
#body_account_adresboek #step_back{position:absolute;bottom:0;left:0}
#body_account_adresboek #ok{margin-right:10px}
#body_account_adresboek #list{background:#fff;width:100%;height:359px;padding:5px;color:#262626;font-size:13px;font-family: "Trebuchet MS",Verdana;border:1px solid #d3d3d3;box-sizing:border-box;-moz-box-sizing:border-box}
#body_account_adresboek #list li{background:none;padding:0;margin:0}
#body_account_adresboek #list li img{max-width:183px}
#body_account_adresboek #list .delbtn{background:url(../img/delete.png) left center no-repeat !important;color:#262626 !important;padding:0 0 0 23px;text-align:left;height:20px !important;line-height:20px;display:block;text-transform:none;border:0}
/*body_account_adres_import*/
#body_account_adres_import #excel_tips{float:left;width:100%;margin-top:10px}
#body_account_adres_import form p{margin-bottom:10px}
/*body_eigen_collectie*/
#body_eigen_collectie h1{padding:0 0 12px;color:#8ac0cf}
#body_eigen_collectie #pagecontent{padding:26px 0 118px}
#body_eigen_collectie p span{display:none}
#body_eigen_collectie form a{text-decoration:none!important}
#body_eigen_collectie #step_back{padding-right:14px}
.home-block h2 {
	height: 31px;
	line-height: 31px !important;
	padding: 0 10px;
	color: #262626 !important;
}

.home-block p {
	margin-bottom: 21px !important;
}

.home-block .color1 {
	background: #8bccc6;
	color: #fff !important;
}

.home-block .color2 {
	background: #f9bdb2
}

.home-block .color3 {
	background: #c8c5b5;
	color: #fff !important;
}

.home-block .color4 {
	background: #fde09b;
}

.home-block .color5 {
	background: #87b1cd;
	color: #fff !important;
}

.home-block .welkom {
	background: #8ac0cf;
	color: #fff;
	padding: 8px 15px 0 250px;
	position: relative;
	min-height: 160px;
	margin: 12px 0;
}

.home-block .welkom p {
	color: #fff !important;
	line-height: 21px !important;
}

.home-block .welkom a {
	color: #fff;
	font-weight: bold;
	text-decoration: none !important;
}

.home-block .welkom a:hover {
	text-decoration: underline !important;
}

.home-block .welkom h1 {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(/img/bg-welkom.png) no-repeat 0 0;
	height: 55px;
	line-height: 57px;
	font-size: 22px !important;
	color: #fff !important;
	padding: 0 15px !important;
}

.topheadinner .logosmall {
	background: none !important;
	padding: 0!important;
	float: left !important;
	margin-top: -6px;
	margin-right: 15px !important;
}

#body_home .topheadinner .logosmall {background: none !important; }

#tabs {
	list-style: none;
	border-bottom: 1px solid #a5a5a5;
	padding: 12px 0 0 0 !important;
}

.ttl-prijzen {
	font-size: 26px;
	color: #777777;
}

#tabs li {
	background: none !important;
	float: left !important;
	padding: 0 15px 0 0 !important;
}

#tabs li:last-child {
	padding-right: 0 !important;
}

#tabs li span {
	padding: 5px 12px 4px 12px !important;
	height: 27px;
	display: block;
}

#tabs li a {
	text-decoration: none !important;
	border-bottom: 3px solid #a5a5a5;
	display: block;
	color: #000;
}

#tabs li a:hover {
	border-bottom-color: #ed1c24;
}

#tabs li.active span {
	border-top: 1px solid #a5a5a5;
	border-left: 1px solid #a5a5a5;
	border-right: 1px solid #a5a5a5;
	border-bottom: 1px solid #fff;
	position: relative;
	top: 1px;
}

#tabs li.active a {
	border-bottom-color: #ed1c24;
}

.tabitem {
	color: #404040 !important;
}

.subtabs {
	padding: 10px 0 8px 0 !important;
	font-weight: bold;
	color: #ed1c24 !important;
}

#tabcontent .tabitem {
	display: none;
}

.list-color {
	list-style: none;
	margin: 0 -20px 21px -5px !important;
	padding: 5px 0 0 0 !important;
}

.list-color li {
	background: none !important;
	float: left !important;
	width: 100px;
	padding: 0 0 8px 0!important;
	text-align: center;
	margin-right: 20px;
}

.list-color li span {
	display: block;
	text-align: center;
}

#body_enveloppen-info #tabs {
	margin-bottom: 17px;
}

#body_enveloppen-info .tabitem p {
	clear: both;
}

#body_enveloppen-info .tabitem p .button {
	float: none !important;
	display: block;
	width: 230px;
	background:url("/img/bg_button.png") 100% 0 no-repeat!important;
	height:45px!important;line-height:41px;
	padding:0 32px 0 10px;
	margin:0 0 5px;color:#fff!important;font-size:21px;font-family:'GillSansMT';text-align:left;text-transform:none!important;text-decoration:none!important;border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;-webkit-border-radius:8px 0 0 0;border:0
}

#body_enveloppen-info .tabitem p .button:hover{
	background-position:100% -52px!important;
	text-decoration: none;
}
#body_enveloppen-info .tabitem p .button:active{
	background-position:100% -104px!important;
	line-height:45px
}

.tabitem table {
	color: #000;
	font-family: Trebuchet MS, Geneva, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.tabitem table strong {
	font-weight: bold;
	color: #666766;
}

.tabitem table th,
.tabitem table td {
	border-right: 1px solid #f5f5f5;
	padding: 0 10px 0 10px;
}

.tabitem table td {
	vertical-align: top;
	height: 20px;
}

.tabitem table tr td.none-padleft,
.tabitem table tr th:first-child {
	padding: 0 10px 0 0;
}

.tabitem table tr td.none-padleft {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f5f5f5;
}

.tabitem table tr td.none-borbot {
	border-bottom: none !important;
}

.tabitem table th.col1 {
	width: 170px;
}

.tabitem table th.col2 {
	width: 167px;
}

.tabitem table th.col3 {
	width: 100px;
}

.tabitem table th {
	height: 33px;
	border-bottom: 1px solid #f5f5f5;
}

.tabitem table tr th:last-child,
.tabitem table tr td.none-borright {
	border-right: none;
}

.tabitem table tr.bor-bottom td {
	padding-bottom: 20px;
	border-bottom: 1px solid #f5f5f5;
}

.padd-top {
	padding-top: 15px !important;
}

.tabitem table tr td.bor-bottom {
	border-bottom: 1px solid #f5f5f5;
}

#body_over-ons .menu-trouwkaarten,
#body_over-ons .menu-geboortekaartjes,
#body_over-ons .menu-uitnodigingskaarten,
#body_over-ons .menu-wenskaarten,
#body_over-ons .menu-rouwkaarten {
	display: none;
}

.subpage .menu-trouwkaarten,
.subpage .menu-geboortekaartjes,
.subpage .menu-uitnodigingskaarten,
.subpage .menu-wenskaarten,
.subpage .menu-rouwkaarten {
	display: none;
}

body.kraamborrelkaartje .menu-geboortekaartjes{display:block !important;}
body.kraamborrelkaartje #navgeboor{display:block !important;}
.kraamborrelkaartje .cate-wat-krijg-je, .kraamborrelkaartje .cate-stijl,.kraamborrelkaartje .cate-extra{display:block !important;}

.onze h2 {
	margin: 0 !important;
	padding: 12px 0 16px 0 !important;
}

.onze p {
	font-size: 13px !important;
	font-family: "Trebuchet MS",Verdana !important;
	margin-bottom: 23px !important;
}

.onze p a {
	text-decoration: none !important;
}

.onze p a:hover {
	text-decoration: underline !important;
}

.onze .left {
	float: left;
	padding-right: 20px;
	width: 310px;
}

.onze .right {
	float: right;
	width: 330px;
}

#body_home .left {
	float: left;
	width: 310px;
}

#body_home .center {
	float: left;
	width: 310px;
	margin: 0 14px;
	text-align: left !important;
}

#body_home .right {
	float: right;
	width: 310px;
}

.homeblock .item {
	border-top: 5px solid #e8f2f5;
	padding: 0 10px;
}

.homeblock .item p {
	line-height: 20px !important;
	margin-bottom: 20px !important;
}

.homeblock .item p.image {
	line-height: 1 !important;
	font-size: 0;
	margin-bottom: 16px !important;
}

.homeblock .item h3 {
	color: #262626;
	font-size: 21px;
	font-family: 'GillSansMT';
	padding: 12px 0 10px 0 !important;
}

.homeblock .welkom {
	padding-top: 40px;
}

.homeblock .welkom h3 {
	font-family: 'Dawning of a New Day' !important;
	color: #262626;
	font-size: 38px !important;
	margin: 0 0 7px 0 !important;
	line-height: 45px !important;
}

.homeblock .welkom .cont-left {
	float: left;
	width: 770px;
}

.homeblock .welkom .cont-left p {
	line-height: 20px !important;
	padding-bottom: 5px;
}

.homeblock .welkom .image {
	float: right;
	line-height: 1 !important;
}

.namelist li {
	float: left !important;
	width: 25%;
	padding: 0 !important;
	background: none !important;
}

.namelist li span {
	display: block;
	line-height: 19px;
}

.namelist li span.kop {
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 10px 0;
}

#design .extra{position:absolute;right:0;top:239px;background-color:#ecf0f0;width:239px;padding:9px 10px 12px 20px;text-align:left;line-height:20px;font-family:Verdana, Geneva, sans-serif;}
#design .extra span{display:block;color:#898989;font-size:12px;}
#filter_menu ul{list-style:none;padding:0;margin:0;}
#filter_menu ul li{padding:0;}
.menu-prijzen{border:1px solid #dbefed;margin-bottom:13px;}
.menu-prijzen h3{margin:0 !important;padding:0 !important;}
.menu-prijzen h3 a{color:#e2aa26;height:41px;line-height:39px;font-family:Shadows Into Light;font-size:25px;padding:0 30px 0 17px;background:url(/img/arrow.png) no-repeat right 14px;display:block;}
.menu-prijzen h3 a.open{background:url(/img/arrow.png) no-repeat right -46px;}
.menu-prijzen h3 a:hover{background-color:#f8f9f9;}
.menu-prijzen ul{list-style:none;padding:13px 10px 0 17px;margin:0;display:none;}
.menu-prijzen ul li{padding:1px 0 12px 0;}
.menu-prijzen ul li a{color:#404040;text-decoration:none !important;}
.menu-prijzen ul li a:hover{text-decoration:underline !important;}
.meer a.open{background:url(/img/arrow.png) no-repeat right -46px;}

.kraamborrelkaartje .menu-prijzen ul li a,.geboortekaartjes .menu-prijzen ul li a{color:#65b9ae;}
.kraamborrelkaartje .menu-prijzen h3 a,.geboortekaartjes .menu-prijzen h3 a{color:#686973 !important;font-family: 'Neucha', cursive;font-size:20px;line-height:40px;}

.trouwkaarten .menu-prijzen ul li a{color:#f28b90;}
.trouwkaarten .menu-prijzen h3 a{color:#f28b90;font-family:'Rouge Script';font-size:36px;line-height:36px;}
.trouwkaarten .menu-prijzen ul li a,.trouwkaarten .mainmenu li ul li a{color:#404040 !important;}

.uitnodiging-maken .menu-prijzen ul li a{color:#404040;}
.uitnodiging-maken .menu-prijzen h3 a{color:#87b1cd;font-family:'The Girl Next Door';font-size:23px;line-height:36px;}

.subpage .menu-prijzen ul li a{color:#999;font-size:12px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.subpage .menu-prijzen h3 a{color:#ed1c24 !important;font-family:'Dawning of a New Day';font-size:18px;line-height:36px;}

.rouwkaarten .menu-prijzen ul li a{color:#b7ab9c;}
.rouwkaarten .menu-prijzen h3 a{color:#b3b09f;font-family:'Amatic SC';font-size:30px;line-height:36px;}

#body_main_category.trouwkaarten .top-title-block,
#body_main_category.geboortekaartjes .top-title-block,
#body_main_category.uitnodiging-maken .top-title-block,
#body_main_category.wenskaarten .top-title-block,
#body_main_category.rouwkaarten  .top-title-block{
	display: none;
}

#body_verzendservice #categories,#body_fotoboek-maken #categories,#body_adreslabels #categories,#body_slinger #categories,#body_canvas #categories,#body_prijzen-info #categories{display:none;}
#body_verzendservice #pagecontent,#body_fotoboek-maken #pagecontent,#body_adreslabels #pagecontent,#body_slinger #pagecontent,#body_canvas #pagecontent,#body_prijzen-info #pagecontent{float:none;width:100%;}
#body_verzendservice #pagecontent h1,#body_verzendservice #pagecontent #crumbs,#body_fotoboek-maken #pagecontent #crumbs,#body_fotoboek-maken #pagecontent h1,#body_adreslabels #pagecontent #crumbs,#body_adreslabels #pagecontent h1,#body_slinger #pagecontent #crumbs,#body_slinger #pagecontent h1,#body_canvas #pagecontent #crumbs,#body_canvas #pagecontent h1,#body_prijzen-info #pagecontent #crumbs,#body_prijzen-info #pagecontent h1{left:0;}
.itemlist{margin-top:24px;}
.itemlist .item {float:left;width:175px;margin-right:20px;}
.itemlist .item h2{padding: 0 0 0 13px;margin:0 !important;font-family:"Trebuchet MS";font-size:18px !important;height:37px;line-height:37px !important;color:#fff !important;background-repeat:no-repeat;background-image:url(/img/bg-cat.png);}
.itemlist .wens{margin:0;}
.itemlist .item ul{border:1px dashed #dbdbdb; border-top:none;padding:10px 12px 13px !important;min-height:190px;}
.itemlist .item ul li{background:none !important;padding:0 0 5px !important;}
.itemlist .gebo h2{background-position:0 0;}
.itemlist .trou h2{background-position:0 -38px;}
.itemlist .uitn h2{background-position:0 -76px;}
.itemlist .rouw h2{background-position:0 -116px;}
.itemlist .wens h2{background-position:0 -154px;}
#body_prijzen-info #pagecontent h1.top-title-block {font-family:'GillSansMT',"Trebuchet MS", Verdana;font-size:24px;color:#7dadba;text-transform:none;}

.item-prijzen{border-bottom:1px solid #dbefed;margin-bottom:15px;padding-bottom:7px;}
.item-prijzen h2 {font-family:'Coming Soon' !important;font-size:20px !important;}
.item-prijzen h2 a{text-decoration:none !important;color:#8ac0cf;display:block;background:url(/img/arrow.png) no-repeat 3px -102px;padding: 0 0 0 24px;}
.item-prijzen h2 a.open{background-position: 3px -148px;color:#686973;}
.item-prijzen h3 {font-family:'Coming Soon' !important;font-size:18px !important;color:#686973;margin-bottom:14px !important;}
.itemcontent{display:none;}
.item-prijzen:first-child .itemcontent{display:block;}
.w420{width:420px;}
.w245{width:245px;}
.w180{width:180px;}
.w520{width:520px;}
.pleft10{padding-left:10px;}
.mbottom13{margin-bottom:13px;}
.style-tbl01{border-color:#ebebeb;border-collapse:collapse;}
.style-tbl01 th{background:#8bccc6;color:#fff;height:36px;padding: 0 10px 0 13px;}
.style-tbl01 th,.style-tbl01 td{border-color:#ebebeb;}
.style-tbl01 td{padding:0 10px 0 13px;height:36px;}
.fleft{float:left;margin-bottom:0 !important;}
.fright{float:right;margin-bottom:0 !important;}
.access li{background:none !important;padding:0 0 25px 0!important;clear:both;}
.style-tbl02{line-height:18px;width:100%;}
.style-tbl02 th{text-align:left;width:50%;}
.access li h3{margin-bottom:4px !important;}
.access li p{margin-bottom:13px !important;}
.access .fleft{padding-top:3px;}
.access{padding-top:13px !important;}

#body_samen_thank #categories{display:none;}
#body_samen_thank #pagecontent{float:none !important;width:100%;}
#body_samen_thank #pagecontent h1.top-title-block,#body_samen_thank #pagecontent #crumbs{left:0}
.center{text-align:center;margin: 0 0 13px 0 !important;}
#body_samen_thank h2 {font-size:26px;font-family:"Trebuchet MS", Verdana;color:#5c5c5c;padding-bottom:10px;}
.subpage #pagecontent h1.top-title-block{color:#8ac0cf;font-family:"Trebuchet MS", Verdana;text-transform:none;}

.subpage #navgeboor,
.subpage #navtrouw,
.subpage #navuitno,
.subpage #navrouw,
.subpage #navwens {display:none;}
.ttlsamen{font-size:22px !important;color:#ed1c24 !important;font-family:"Trebuchet MS", Verdana !important;height:35px;line-height:30px !important;margin-bottom:28px !important;clear:both;}
.ttlsamen img{vertical-align:middle;margin-right:3px;}
li#id_12{padding-top:5px !important;}
#img-preview{float:right;width:247px;}
#img-preview img{width:100%;}
.kraamborrelkaartje .menu-prijzen ul li a{color:#8ac0cf;}
.kraamborrelkaartje .menu-prijzen h3 a{color:#686973 !important;font-family:'Coming Soon';font-size:20px;line-height:42px;}
body.geboortekaartjes #categories #navgeboor ul li.active a,
body.geboortekaartjes #categories #navgeboor ul li a.subactive,
body.kraamborrelkaartje #categories .mainmenu li ul li a.active,
body.geboortekaartjes #categories .mainmenu li ul li a.active{color: #686973 !important;}
body.trouwkaarten #categories #navtrouw ul li a.subactive,
body.trouwkaarten #categories #navtrouw ul li.active a,
body.trouwkaarten #categories .mainmenu li ul li a.active{color: #df8070 !important;}
body.uitnodiging-maken #categories #navuitno ul li a.subactive,
body.uitnodiging-maken #categories #navuitno ul li.active a,
body.uitnodiging-maken #categories .mainmenu li ul li a.active{color: #87b1cd !important;}
body.rouwkaarten #categories #navrouw ul li.active a,
body.rouwkaarten #categories #navrouw ul li a.subactive,
body.rouwkaarten #categories .mainmenu li ul li a.active{color: #404040 !important;}
body.wenskaarten #categories #navwens ul li a.subactive,
body.wenskaarten #categories #navwens ul li.active a,
body.wenskaarten #categories .mainmenu li ul li a.active{color: #e2aa26 !important;}

body.trouwkaarten #categories #navtrouw ul li a.subactive:hover,
body.geboortekaartjes #categories #navgeboor ul li a.subactive:hover,
body.uitnodiging-maken #categories #navuitno ul li a.subactive:hover,
body.rouwkaarten #categories #navrouw ul li a.subactive:hover,
body.wenskaarten #categories #navwens ul li a.subactive:hover,
body.rouwkaarten #categories #navrouw ul li.active a:hover,
body.wenskaarten #categories #navwens ul li.active a:hover,
body.trouwkaarten #categories #navtrouw ul li.active a:hover,
body.geboortekaartjes #categories #navgeboor ul li.active a:hover,
body.uitnodiging-maken #categories #navuitno ul li.active a:hover,
body.geboortekaartjes #categories .mainmenu li ul li a.active:hover,
body.trouwkaarten #categories .mainmenu li ul li a.active:hover,
body.uitnodiging-maken #categories .mainmenu li ul li a.active:hover,
body.rouwkaarten #categories .mainmenu li ul li a.active:hover,
body.wenskaarten #categories .mainmenu li ul li a.active:hover{text-decoration:none !important;}

.meer-resultaten {
    color: #65b9ae!important;
}

#body_voorbeeld #home, #body_keuze #home, #body_bestel_details #home, #body_basket #home, #body_address_n #home, #body_ok #home, #body_enveloppen #home, #body_address #home, #body_verzend #home, #body_addresses #home, #body_size #home, #body_check #home, #body_eigen_collectie #home {
	display: none !important;
}
.usps{
	display:none;
	position:absolute;
	right:0;
	top:206px;
	text-transform:uppercase;
	color:#8ac0cf;
	font-size:10px;
}
body.kraamborrelkaartje .usps,
body.geboortekaartjes .usps,
#body_category .usps{
	display:block;
}
#body_category.wenskaarten .usps{
	display:none;
}
body.kraamborrelkaartje .usps,
body.geboortekaartjes .usps,
#body_category.geboortekaartjes .usps{color:#65b9ae;}
#body_category.uitnodiging-maken .usps{color:#6090b5;}
#body_category.trouwkaarten .usps{color:#ec9283;}
#body_category.rouwkaarten .usps{color:#afab96;}

/* Samen Page */
#design{
	height:415px !important;
}
#design .description{
	bottom:135px !important;
}
#choose_preview:visited, #choose_preview:link{
	bottom:197px;
}
#design .extra .ico-list{
	padding-top:15px;
	position:relative;
}
#design .extra .ico-list .tooltip{
	width:310px;
}
#design .extra .ico-list .tooltip span{
	padding: 0 13px;
	background:#d72a31;
	height:34px;
	line-height:34px;
	color:#fff !important;
	font-size:12px;
	display:inline-block;
}
#design .extra .ico-list i{
	background:url(/img/card-detail/ico-up.png) no-repeat 0 0;
	position:absolute;
	top:49px;
	width:16px;
	height:15px;
}
#design .extra .ico-list a{
	margin-right:10px;
}
#body_samen-ontwerpen.samen-page #mid {
	padding-top:238px;
}
#body_samen-ontwerpen.samen-page #main-cate #topbanner{
	left:-250px;
	background-image:url(/img/samen/home-samen-01.png);
}
#body_samen-ontwerpen.samen-page #main-cate #topbanner h2 {
	font-family: 'Dawning of a New Day';
	font-size:50px;
}
#body_samen-ontwerpen.samen-page #main-cate #topbanner h2,
#body_samen-ontwerpen.samen-page #main-cate #topbanner p{
	color:#fff;
}
#body_samen-ontwerpen.samen-page #main-cate .block01 li:nth-child(4),
#body_samen-ontwerpen.samen-page #main-cate .block01 li:nth-child(2){
	margin-right:0;
}
#body_samen-ontwerpen.samen-page #main-cate .block01 li{
	width:348px;
}
#body_samen-ontwerpen.samen-page #main-cate .block01{
	margin-bottom:33px;
}
#body_samen-ontwerpen.samen-page .img-designer {
	padding-top:24px;
	line-height:1;
}
#body_samen-ontwerpen.samen-page #main-cate .block01 li img{
	width:348px !important;
	height:198px !important;
	max-width:348px !important;
}
#body_samen-ontwerpen.samen-page #pagecontent h2{
	color:#ed1c24;
	font-family: 'Dawning of a New Day';
	font-size:36px;
	margin-bottom:25px;
}
.voorstel-block{
	background:url(/img/samen/voorstel-bg.png) no-repeat 0 0;
	height:151px;
	color:#fff !important;
	padding: 20px 20px 27px 20px;
	margin-bottom:31px;
}
.voorstel-block p{color:#fff !important;margin-bottom:16px !important;}
.voorstel-block .link{
	text-align:center;
	margin-bottom:0 !important;
}
.voorstel-block .bt{display:inline-block; color:#fff !important;background:url(/img/bt-banner-01.png) no-repeat;width:180px;height:45px;text-decoration:none !important;padding: 0 40px 0 13px; line-height:45px;font-size:19px;}
.voorstel-block .bt:hover{background-position:0 -55px}
.voorstel-block .bt:active{background-position:0 -110px; line-height:49px;}
#body_samen-voorstel #pagecontent h1.top-title-block,
body.samen #pagecontent h1.top-title-block{
	background:url(/img/samen/bg-top-title.png) no-repeat 0 0 !important;
}
body.samen #pagecontent h2,
#body_samen/geboortekaartjes-inspiratie #pagecontent h2{
	margin-bottom:19px !important;
}
#container {
	margin-right:0;
}
#container .item {
	float:left;
	width:215px;
	height:300px;/*+92px + 208*/
	margin-right:19px;
}
#container .item.height211{height: 303px;}
#container .item.height161{height: 253px;}
#container .item.height193{height: 285px;}
#container .item.height215{height: 307px;}
#container .item.height287{height: 379px;}
#container .item.height391{height: 483px;}
#container .item.height349{height: 441px;}
#container .item.height202{height: 294px;}
#container .item.height278{height: 370px;}
#container .item.height276{height: 368px;}
#container .item.height352{height: 444px;}
#container .item.height235{height: 327px;}
#container .item.height228{height: 320px;}
#container .item p{
	margin-bottom:0;
	line-height:1;
	font-size:0;
}
#container .item .except{
	background:#f8f9f9;
	height: 64px;
	line-height:22px;
	font-size:13px;
	padding: 6px 15px 0;
}
#container .item.right {
	margin-right:0;
}
.col-left{float:left;}
.col-right{float:right;}
.w233{width:233px;padding-top:12px;}
.w450{width:450px;}
.col-left h2{
	line-height:30px !important;
	margin-bottom:13px !important;
}
.col-right p{
	margin-bottom:0 !important;
}
.col-right a{
	background:url(/img/samen/ico-link.png) no-repeat right center;
	padding-right:21px;
	text-decoration:none !important;
}
.col-right a:hover{
	text-decoration:underline !important;
}
#samen-form{
	background:#ebf4f6;
	padding: 32px 22px 0;
}
#samen-form form{
	float:none !important;
}
#samen-form form ul{
	padding-bottom:0 !important;
}
#samen-form h3{
	color:#7dadba;
	font-size:22px;
}
#samen-form #img-preview{
	float:none !important;
	text-align:center;
	width:auto !important;
}
#samen-form #img-preview img:nth-child(1){
	width: 139px !important;
	height:auto !important;
}
#samen-form #img-preview img:nth-child(2){
	height: 162px !important;
	width:auto !important;
}
#samen-form #img-preview span {
	display:block;
	text-align:center;
	padding-bottom:10px;
}
#samen-form #img-preview span a{
	background:url(/img/samen/ico-zoom.png) no-repeat 0 center;
	padding-left:17px;
	text-decoration:none !important;
}
#samen-form #img-preview span a:hover{
	text-decoration:underline !important;
}
#bg-lightbox{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000;
	left:0;
	top:0;
	z-index:1000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); opacity:0.1;
}

#lightbox{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:fixed;
	width:800px;
	height:378px;
	left:50%;
	top:50%;
	margin:-189px 0 0 -400px;
	background-color:#fff;
	z-index:1001;
	padding:19px 28px 0 28px;
	overflow:hidden;
}

#lightbox iframe{
	height:378px;
	width:403px;
	border:none;
	overflow:hidden;
}

#lightbox .close{
	cursor:pointer;
	text-indent:-9999em;
	height:10px;
	width:10px;
	background:url(/img/samen/close-popup.png) no-repeat 0 0;
	position:absolute;
	right:20px;
	top:24px;
}
body.samen-page #categories .menu-service,
body.samen-page #categories .menu-wenskaarten,
body.samen-page #categories .menu-rouwkaarten,
body.samen-page #categories .menu-uitnodigingskaarten,
body.samen-page #categories .menu-trouwkaarten,
body.samen-page #categories .menu-geboortekaartjes,
body.samen-page #categories .menu-cadeau,
body.samen-page #categories .menu-prijzen,
body.samen #categories #photo,
body.samen #categories .menu-service{
	display:none !important;
}

body.samen-page #categories .menu-samen h3 a,
body.samen #categories .menu-samen h3 a{
	color:#ed1c24;
	font-size:19px;
	text-transform:none !important;
	font-family:"Trebuchet MS" !important;
}
body.samen-page #categories .menu-samen ul li ul li a,
body.samen #categories .menu-samen ul li ul li a{
	color:#559fb4 !important;
}
body.samen-page #categories .menu-samen li ul li a.active,
body.samen #categories .menu-samen li ul li a.active{
	color:#ed1c24 !important;
}
.menu-samen{
	display:none;
}

div#filter_menu ul li {
	padding: 4px 0 4px 0 !important;
}
div#filter_menu .tag-group-ul{padding-bottom:5px;}
div#filter_menu h3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#8ac0cf;
	padding: 0 !important;
	margin: 5px 0 6px 0 !important;
}

body.show-tagged .lnav{display:none;}
#drop-geboor,#drop-filter{display:none;}
body.show-tagged #drop-geboor,body.show-tagged #drop-filter{display:block;}
#body_ok #pagecontent a[title="home"]{display:none;}
.page #card_previews div{height:auto;width:177px;}
.page #card_previews div a img{width:100% !important;height:auto !important;}
li.tag-li input{display:none;}
li.tag-li label{}
li.tag-li label span{background:#e4e4e4;display:inline-block !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:12px;width:12px;vertical-align:middle;margin:-3px 4px 0 0;}
li.tag-li label:hover span{background:#64b8ae;}
div#filter_menu .kleur ul{overflow:hidden;padding-right:25px;}
div#filter_menu .kleur ul li{float:left;width:18px;padding: 0 5px 5px 0 !important;}
.kleur ul li input{display:none;}
.kleur ul li em{display:none;}
.kleur ul li label{display:block;height:18px;width:18px;font-size:0 !important;}
.kleur ul li label .custom_checkbox{display:block !important;height:18px !important;width:18px !important;background:none !important;margin:0;}
#filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox{background:#e4e4e4 url("/img/ftcheck.png") no-repeat scroll center center / 12px 12px;}
#tagli-geel label{background:#fff100 !important;}
#tagli-goud label{background:#d6b571 !important;}
#tagli-oranje label{background:#f8712d !important;}
#tagli-wit label{background:#fff url(/img/colorful.png) no-repeat 0 -47px !important;}
#tagli-rood label{background:#f12f2b !important;}
#tagli-kleurrijk label{background:url(/img/colorful.png) no-repeat 0 0 !important;}
#tagli-blauw label{background:#009ad4 !important;}
#tagli-roze label{background:#f22c87 !important;}
#tagli-grijs label{background:#c9cfd1 !important;}
#tagli-groen label{background:#009c47 !important;}
#tagli-paars label{background:#87337c !important;}
#tagli-zwart label{background:#000 !important;}
#tagli-bruin label{background:#714427 !important;}
#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox{background:url(/img/colorful.png) no-repeat 0 -22px !important;height:18px !important;width:18px !important;}
#categories .return{margin-bottom:13px;display:none;}
body#body_geboortekaartjes #categories .return,body.show-tagged.geboortekaartjes #categories .return{display:block;}
#categories .return a{display:block;color:#686973;font-family: 'Neucha', cursive;text-transform:uppercase;font-size:20px;line-height:40px;text-decoration:none !important;background:rgba(0, 0, 0, 0) url("/img/arrow.png") no-repeat scroll left -186px;padding:0 15px 0 35px;height:41px;border:1px solid #dbefed;}
#categories .return a:hover{background-color:#f8f9f9;}

#categories #sidebar-footer span{display:inline-block !important;}
#sidebar-footer {
  background: #e8f6f7;
  padding: 15px;
  clear:both;
  box-sizing: border-box;
  font-family:"Trebuchet MS",Verdana;
}
.rich-snippets{color:#403c3d;padding-bottom:10px;}
.feedback p {
  margin: 0px;
}
.feedback {
	clear:both;
  font-size: 13px;
  font-style: italic;
  box-sizing: border-box;
  padding: 5px 5px 5px 0px;
  border-top: dashed 1px #e0e0e0;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: dashed 1px #e0e0e0;
}
.revTitle{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#8ac0cf;font-size:20px;margin:0 0 10px 0 !important;}
#categories #sidebar-footer .revCon{display:block !important;}
#categories #sidebar-footer .revCon img{padding:0 0 10px !important;}
#filter_cards #filter_menu{width:100%;}
.meer{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;border:1px solid #dbefed;margin-bottom:13px;}
.meer a{color:#686973;display:block;padding:10px 30px 10px 17px;font-size:20px;text-decoration:none !important;background:rgba(0, 0, 0, 0) url("/img/arrow.png") no-repeat scroll right 14px;}

/* # clearfix
---------------------------------------------------------------------------- */
.namelist,
.clearfix,
.list-color,
#tabs {
	zoom: 1;
}

.namelist:after,
.clearfix:after,
.list-color:after,
#tabs:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#body_trouwkaarten .lnav {
    display: block;
}

#body_trouwkaarten #drop-geboor {
    display: none;
}