.stylesheet-body {
    padding: 0 50px;
}

.stylesheet-menu {
    position: fixed;
    left: 15px;
    top: 15px;
}

.stylesheet-content {
    border-left: 1px solid #ddd;
    padding-left: 15px;
}

.stylesheet-content-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    clear: both;
    float: left;
    width: 100%;
}

/* Colors */

.colors {
    margin-top: 20px;
}

.color-chips {
    float: left;
    clear: both;
}

.color-chip {
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 0;
    border: 1px solid #f0f0f0;
    display: inline-block;
    position: relative;
}
.color-chip:hover .color-info {
    display: block;
}
.color-info {
    width: 160px;
    height: auto;
    display: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 10;
}

.bg-darkgrey {
    background-color: #414141;
}

.bg-grey {
    background-color: #7e7f83;
}

.bg-lightgrey {
    background-color: #dddddd;
}

.bg-greywhite {
    background-color: #f0f0f0;
}

.bg-filter-rood {
    background: #db1704;
}

.bg-filter-paars {
    background: #7a4dac;
}

.bg-filter-bruin {
    background: #7b6a4f;
}

.bg-filter-grijs {
    background: #92959f;
}

.bg-filter-roze {
    background: #d53276;
}

.bg-filter-geel {
    background: yellow;
}

.bg-filter-zwart {
    background: #000000;
}

.bg-filter-wit {
    background: #ffffff;
}

.bg-filter-oranje {
    background: orange;
}

.bg-filter-kleurrijk {
    background: #db1704;
    background: -webkit-linear-gradient(left, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -o-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -moz-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
}

.bg-filter-blauw {
    background: #2286dd;
}

.bg-filter-groen {
    background: #9bd576;
}


.text {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.icons {
    column-count: 2;
}

.icons table {
   border-collapse: collapse;
}

.icons table td {
    border: 1px solid #ccc;
    padding: 3px;

}

