@font-face {
    font-family: 'droidsans';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#droidsans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidsans_bold';
    src: url('fonts/droidsans-bold-webfont.eot');
    src: url('fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-bold-webfont.woff') format('woff'),
         url('fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('fonts/droidsans-bold-webfont.svg#droidsans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif_italic';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: url('fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-italic-webfont.woff') format('woff'),
         url('fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-italic-webfont.svg#droidserif_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('fonts/droidserif-bolditalic.eot');
    src: url('fonts/droidserif-bolditalic.eot') format('embedded-opentype'),
         url('fonts/droidserif-bolditalic.woff') format('woff'),
         url('fonts/droidserif-bolditalic.ttf') format('truetype'),
         url('fonts/droidserif-bolditalic.svg#DroidSerifBoldItalic') format('svg');
}
a{
	text-decoration: none !important;
}

a:hover {
	text-decoration: none;
}

.button {
	font-size: 18px !important;
	font-family: 'droidserif_italic' !important;
	background: #d19e33 !important;
	height: 45px !important;
	width: 198px;
	padding: 0 !important;
	text-align: center;
	line-height: 45px !important;
	border-radius: 0 !important;
}

.button:hover {
	background: #b2862b !important;
}

input[type="file"],
input[type="password"],
input[type="text"] {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 5px  !important;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#body_bestel_details input[type="text"]{height: 43px;}
#body_bestel_details td{vertical-align: middle;}

#pt-upload input[type="file"] {
	width: 285px;
}
body {
	background: #f5f7f2 url("/img/bg.jpg") no-repeat scroll center top;
	color: #6b2d52;
	font: 14px/23px Arial,Helvetica,sans-serif;
}
#wrapper{
	width: 960px;
	background: none !important;
}

#header {
	height: 55px;
	z-index:999999;
	margin-top:0;
	margin-bottom: 6px;
	width:980px;
	padding-top: 0 !important;
}

#header #home {
	display:block !important;
	background:url(../img/small-logo.png) no-repeat scroll 0 0;
	width:106px; height:74px;top:7px;
}

.choice_center {margin-top:0;padding-top: 35px;}
#editor_top_border,
#editor_bottom_border {
	display: none;
}

#pagecontent {
	float: none;
	background: #fff;
	width: 1000px;
	border: none;
	min-height:645px;
	padding: 0 20px 100px;
	color: #6b2d52;
	font: 14px/23px Arial,Helvetica,sans-serif;
}

#body_edit #pagecontent {
	padding-bottom:0;
	min-height:645px;
}

.leftdiv {
	padding-top: 15px;
}

#body_edit .leftdiv {
	position: relative;
}

.rightdiv {
	padding-top: 22px;
	width: 340px;
}

#headernavigation {
	margin: 0;
	height: 50px;
	display:none
}

#headernavigation a {
	height: 50px;
}

#accordion {
	width: 340px !important;
}

#accordion h3 {
	padding: 0;
	margin: 0;

}

#accordion h3 a {
	background:url(../img/tab-editor.png) 0 -26px no-repeat;
	font-family: 'droidsans';
	font-size: 13px;
	color: #fff;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 10px !important;
}

#accordion h3 a:hover {
	background-position:top left;
}

#accordion .ui-state-active a, #accordion .ui-state-active a:hover {
	background-position:bottom left
}

#accordion .ui-accordion-content {
	color: #6b2d52;
	background: #f7fcfb;
	border-top: none;
	margin-top: -3px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#body_enveloppen #accordion .ui-accordion-content {
	background: none;
}

#headermenu {
	padding: 0;
	margin: 0;
}

#headermenu {
	padding: 0 !important;
}

#headernavigation {
	padding: 0;
	left: 0;
	width: 445px;
}

#choose_card {
	display: none !important;
}

#headernavigation_buttons a {
	background: url(../img/arrow-step-editor.png) no-repeat right center;
	text-transform: uppercase;
	color: #878686;
	font-size: 16px;
	font-family: 'droidsans';
	text-indent: -9999em;
	line-height: 1.1;
	padding-right: 25px;
	margin-right: 10px;
	width: auto;
}

#headernavigation_buttons a img {
	display: none !important;
}

#headernavigation_buttons a:hover {
	color: #878686;
}

#headernavigation_buttons a div {
	padding: 0 0 0 36px;
	height: 50px;
	text-align: left;
}

.headernavigation_buttons_active {
	color: #262626 !important;
}

#edit_card div {
	background: url(../img/step01.png) no-repeat left center;
}

#edit_card.headernavigation_buttons_active div {
	background: url(../img/step01-active.png) no-repeat left center;
}

#address_card div {
	background: url(../img/step02.png) no-repeat left center;
}

#address_card.headernavigation_buttons_active div {
	background: url(../img/step02-active.png) no-repeat left center;
}

#pay_card div {
	background: url(../img/step03.png) no-repeat left center;
}

#pay_card.headernavigation_buttons_active div {
	background: url(../img/step03-active.png) no-repeat left center;
}

#headernavigation_buttons #pay_card {
	background: none;
	padding-right: 0;
	margin-right: 0;
}

#header #headermenu {
	display: block !important;
	height: auto;
	padding-top: 0 !important;
	width: auto;
}

#header #headermenu a{
	color: #6b2d52;
	padding: 0 0 0 17px;
	font-size: 12px;
	font-family: Arial;
	height: auto;
	width: auto;
}

#header #headermenu a span{top:0;}

#header #headermenu a:after{
	content: "|";
	padding-left: 17px;
	color: #6b2d52 !important;
}

#header #headermenu #headerlogout span{display: inline;}
#basket_count,#headerbasket{
	background: none !important;
	color: rgb(130, 38, 38) !important;
}
#header #headermenu a:hover #basket_count,#header #headermenu a:hover{color: #d19e33 !important;}
#basket_count{padding-left: 4px;}
#headerbasket{background: url(/img/cart.png) no-repeat right 4px !important;padding-right: 24px !important;}
#header #headermenu #headerbasket:after{
	content: "";
	display: none;
	padding-left: 0;
}
#nav_buttons {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	width: 960px !important;
	left: 20px !important;
	bottom: 20px !important;
	height: 63px;
	padding-top: 10px;
}
 #nav_buttons {
	background-color:#effaf7;
	height:70px;
	padding-top:13px;
	border:none;
}

#accept_conditions {
    right: 200px;
    top: 10px;
    font-size: 16px;
}

#accept_terms_validation_message {
    right: 1px;
    background-color: white;
    margin-top: -50px;
}

#body_edit #nav_buttons {
	left: 0 !important;
	background-color:#effaf7;
	height:70px;
	padding-top:13px;
	border:none;
}

#step_forward,
#order_card, #nav_buttons .button, #body_basket .button-block button.button {
	letter-spacing:1px;
	background: url(../img/ico-arrow05.png) no-repeat 94% center #fdaa2d !important;
	font-size: 24px !important;
	height: 42px !important;
	line-height: 44px !important;
	padding: 0 35px 0 15px !important;
	color:#fff;
	box-shadow:1px 1px 0 #99dfcd;
	width:auto;
	border-radius:6px !important;
	-webkit-border-radius:6px !important;
	margin-right:12px;
	float:right;
	border: none;
	font-family: ProximaNova-Regular,Lato,sans-serif !important;
}

#step_forward:hover,
#order_card:hover, #nav_buttons .button:hover, #body_basket .button-block button.button:hover {
	background-color: #e59429 !important;
	text-decoration: none;
}



#skip_design {
	display: none!important;
}

#step_back,
#step_forward_alternate {
	color: #4ca18d;
	font-size: 18px;

	width: auto;
	line-height: 16px;

}

#step_forward_alternate {
	background: url(../img/arr-blue.png) no-repeat right center;
	padding-right: 22px;
	margin-right: 163px;
	margin-top: 14px;
	position: relative;
	z-index: 3;
}

#step_back {
	margin-top: 14px;
	background: url(../img/arrow-step-back.png) no-repeat left center !important;
	padding-left: 22px;
	margin-left:11px;
	position: relative;
	z-index: 3;
	height: auto;
}

#step_back:hover,
#step_forward_alternate:hover {
	color: #4ca18d;
	text-decoration: underline !important;
}

#body_address_n #accept_conditions {
    margin-top: 0;
}

#chooseside {
	top: -22px;
}

#nav_remark_div {
	bottom: 100px;
	font-family: 'droidsans';
	color: #5eceb4;
	left: 20px;
	width: 960px;
	font-size: 14px;
}

#nav_remark_div b {
	display:block;
	font-weight:bold
}

#pagecontent h1 {
	font-family: "Lobster",cursive;
	font-size: 36px;
	line-height: 40px;
	margin-left: 0 !important;
	color:#5eceb4;
}

#pagecontent h2{
	color: #5eceb4;
	font-family: "Lobster",cursive;
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 10px;
}

.line{font-size: inherit !important;height: inherit !important;}
#body_address_n label{font-weight: 300 !important;}

#pagecontent h3{
	color: #e59429;
	font-family: Arial;
	font-size: 18px;
}

#body_keuze .button {
	font-size: 16px !important;
	font-family: 'arial' !important;
	background: #fdaa2d !important;
	height: 45px !important;
	width: 198px;
	padding: 0;
	text-align: center;
	line-height: 45px !important;
	border-radius: 0;
}

#body_keuze .button:hover {
	background: #b2862b !important;
}

#body_keuze .choice_div {
	padding: 0 10px;
	width: 217px;
}

#body_keuze .choice_center {
	width: 665px;
}

#body_keuze .choice_center h1 {
	padding-bottom: 57px;
}

#body_keuze .choice_div_content {
	background: url(../img/keuze_bg_small.gif) no-repeat 0 73px;
	width: 198px;
}

#body_keuze .choice_div a:hover .choice_div_content {
	background-image: url(../img/keuze_bg_small_o.gif);
}

#body_keuze .choice_div a:hover .button {
	background: #b2862b;
}

.address input.short {
	width: 185px;
}

select[name="papiersoort"],
select[name="enveloppen"] {
	width: 197px;
}

.col2, .col3, .col4 {
	width: auto;
}

#bezorgdatum {
	font-weight: bold;
	color:#fdaa2d;
	font-size:18px;
	display:block;
	font-style:normal;
	margin:20px 0
}

#body_basket #basket {
	width: 960px;
}

#body_basket #basket tr:first-child td {

	color: #fdaa2d;
	font-size: 18px;
	font-weight:bold;
	height: 45px;
	padding: 0;
}

#body_address_n .line{background: none;}

#body_basket .line {
	background: none;
	border-color: #aaffde;
}

#body_basket .style {
	display: inline;
	float: none !important;
}

#body_basket #rebate {
	background: none;
	border: none;
	clear: both;
	padding: 0;
	margin: -73px 0 58px 0;
	width: auto;
	height: auto;
	float: none !important;
	overflow: hidden;
}

#body_basket div#rebate span {
	display: none;
}

#body_basket div#rebate .tit-rebate {
	padding: 0;
	float: left;
	font-weight: bold;
	width: 120px;
	padding-top: 5px;
}

#body_basket div#rebate .cont-rebate {
	float: left;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"] {
	width: 160px;
	margin-right: 10px;
	vertical-align: middle;
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 5px  !important;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#body_basket #basket_n input[type="submit"],
#body_basket div#rebate .cont-rebate input[type="submit"] {
	background: #5ECEB4;
	margin: 0 !important;
	text-transform: none !important;
	vertical-align: middle;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 38px !important;
	width: auto !important;
	border: none;
	padding: 0 15px;
	line-height: 38px;
	padding-bottom: 3px;
	color: #fff;
	font-family: 'BebasNeueRegular' !important;
	font-size: 22px;
}

#body_basket #basket_n input[type="submit"]:hover,
#body_basket div#rebate .cont-rebate input[type="submit"]:hover {
	background: #4ca18d !important;
}

#pay .oneline {
	display: none !important;
}

#pay .twoline strong {
	font-size: 18px;
}

#pay {
	text-align: left;
	line-height: 26px !important;
	float: none !important;
	margin-top: 20px;
	height: 44px;
	width: 250px !important;
}

.address table td {
	height: 38px;
}

.address input[type="text"],
.address select {
	width: 96%;
	font-size: 14px;
	padding: 8px 2% !important;
}

.address select {
	width: 100%;
	background: #E2F4ED;
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#body_address #pagecontent {
	min-height: 800px;
}

#body_address h1 {
	text-align: center;
	margin-right: -250px;
	margin-top: 30px;
}

#body_enveloppen #pagecontent {
	min-height: 655px;
	position: absolute;
}

#body_enveloppen #step_forward {
	background-position: 238px center;
	width: 260px;
}

#save_user_design,
#save_design,
#imageaddformclose,
#pt-upload input[type="submit"],
#choose_font,
#add_photo,
#add_text, #position_photo_full {
	border: 1px solid #d3d3d3;
	background: #e2f4ed !important;
	height: 29px !important;
	line-height: 17px !important;
	padding:4px 6px 5px;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #fff;
	-webkit-box-shadow: inset 1px -1px 0 0 #fff;
	box-shadow: inset 1px -1px 0 0 #fff;
	font-size:13px; color:#6b2d52 !important; font-family:Arial !important;
}

#pt-upload input[type="submit"] {
	margin-top: 10px;
}

#save_user_design:hover,
#save_design:hover,
#imageaddformclose:hover,
#pt-upload input[type="submit"]:hover,
#choose_font:hover,
#add_photo:hover,
#add_text:hover, #position_photo_full:hover {
	background: #dfdfdf !important;
}

.combolist a {
	display: block !important;
}

#save_design {
	clear: both;
	margin: 0 0 7px 0;
}

#body_edit .ui-accordion-content p{
	padding-bottom:0;
	margin-bottom: 0;
}

#pagecontent hr{
	margin: 5px 0;
	border-color: black;
}

#save_design_to_other_user{padding: 0 3px;font-size: 12px;}

.ui-accordion-content input#name,
.ui-accordion-content input#id,
.ui-accordion-content input#title,
.ui-accordion-content input#description,
.ui-accordion-content input#sort_order {
	padding: 3px 5px !important;
	margin: 0 0 7px 0;
	width: 282px !important;
}

#body_edit #description_text_field{
	height:70px;
}

#body_edit .ui-dialog{
	z-index:30000000 !important;
}

.ui-accordion-content select#designer_code,
.ui-accordion-content select#category {
	padding: 3px 5px !important;
	width: 294px;
	margin: 0 0 7px 0;
}

#body_check #accordion .ui-accordion-content {
	height: auto !important;
	background:none; padding:0 !important;
	font:14px/22px 'droidsans',Arial,Helvetica,sans-serif
}


/* # clearfix
---------------------------------------------------------------------------- */

#body_addresses #order_address_preview div,
#bt-pattern,
#bt-color,
#nav_buttons,
#pagecontent {
	zoom: 1;
}

#body_addresses #order_address_preview div:after,
#bt-pattern:after,
#bt-color:after,
#nav_buttons:after,
#pagecontent:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.bg_select, .rightdiv select {padding:3px 3px 3px 5px; margin:-1px 0 0; height:29px; box-shadow:1px -1px 0 0 #FFFFFF inset; -webkit-box-shadow:1px -1px 0 0 #FFFFFF inset; border:1px solid #D3D3D3; font-family:'droidsans'; font-size:13px; color:#6B2D52; background-color:#e2f4ed}

#body_enveloppen .address #form select {background:none; box-shadow:none; -webkit-box-shadow:none;}

#chooseside .double_portrait_p1, #chooseside .double_square_p1 {
	background-image: url(../img/gfx/icon_double_portrait_p1.png);
    height: 50px;
    width: 41px;
}
#chooseside .double_portrait_p2, #chooseside .double_square_p2 {
	background-image: url(../img/gfx/icon_double_portrait_p2.png);
    height: 50px;
    width: 54px;
}
#chooseside .double_portrait_p3, #chooseside .double_square_p3 {
	background-image: url(../img/gfx/icon_double_portrait_p3.png);
    height: 50px;
    width: 55px;
}
#chooseside .double_portrait_p4, #chooseside .double_square_p4 {
	background-image: url(../img/gfx/icon_double_portrait_p4.png);
    height: 50px;
    width: 45px;
}

#body_addresses #pagecontent, #body_enveloppen #pagecontent, #body_addresses #pagecontent, #body_check #pagecontent, #body_enveloppen  #pagecontent {padding-top:85px;}
	#body_addresses #pagecontent #leftdiv h1, #body_enveloppen #pagecontent #leftdiv h1, #body_addresses #leftdiv h1, #body_check .choice_center h1, #body_enveloppen .leftdiv h1 {position:absolute; top:35px; left:0; text-align:center; width:100%}

.list-01 {text-align:center; margin-top:20px;}
.list-01 li {display:inline-block; width:215px; text-align:center; list-style:none}
	.list-01 li a {display:block; text-align:center}
	.list-01 li a i {background:url(../img/bepaal.png) top left no-repeat; width:178px; height:178px; display:inline-block; margin-bottom:4px;}
	.list-01 li a span {display:block; font-family:'Lobster',cursive; font-size:24px; color:#5eceb4}
	.list-01 li a:hover i {background-position:left -177px}
	.list-01 li.item-02 a i {background-position:-217px 0}
	.list-01 li.item-02 a:hover i {background-position:-217px -177px}
	.list-01 li.item-03 a i {background-position:top right}
	.list-01 li.item-03 a:hover i {background-position: right -177px}

#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {font-family: 'droidsans',Arial,Helvetica,sans-serif; color:#6B2D52}

#body_enveloppen #leftdiv {float:left; width:560px; margin-right:40px;}
#body_enveloppen #rightdiv {overflow:hidden; padding-top:20px;}

#body_addresses #leftdiv {float:left; width:690px; margin-right:0;}
#body_addresses #rightdiv {padding-top:20px;}

.list-pat {overflow:hidden; list-style:none; max-width:280px; margin-left:-10px; margin-bottom:10px;}
	.list-pat li {float:left; margin-right:22px; text-align:center; width:65px; margin-bottom:15px;}
	.list-pat li span {display:block; font-size:11px; line-height:normal}
	.text-pat, .enveloppen_beschrijving {font-size:12px; line-height:18px; font-family:'droidsans',Arial,Helvetica,sans-serif}
	.text-pat a, .enveloppen_beschrijving a {color:#5ECEB4}
p:empty {display:none}
#enveloppen01, #papiersoort {width:158px !important;}
.enveloppen-wrap {clear:both; padding-top:25px; margin-top:20px;}
.head-t {font-size:14px; font-weight:bold; color:#5eceb4; margin-bottom:17px; margin-left:-30px;}
.enveloppen-wrap .head-t {border-top:#c4eadd 1px solid;  padding-top:25px; margin-bottom:25px; }
.enveloppen-wrap .list-pat {max-width:687px;}

#body_addresses .address {height:auto; background:none; width:auto; margin-top:5px; padding-right:0;}

#body_addresses .address .col2 input[type="text"] {width:90%}
#body_addresses .address table {width:100%}
#body_addresses #enveloppen01, #body_addresses #papiersoort {width: 95% !important}
#body_addresses .col04 #papiersoort {width:105% !important}

#body_addresses #pagecontent {min-height:850px;}
.papiersoorten-wrap {font-size:12px; line-height:18px}
	.papiersoorten-wrap p {margin-bottom:15px; }

#body_check #accordion h3 a {background:none; font-size:24px; color:#5eceb4; font-family:'Lobster',cursive; margin-bottom:20px; padding-left:0 !important}

#body_check #pagecontent { min-height: 550px;}
.button.delbtn {width:auto; height:auto; background:url(../img/del.png) left center no-repeat; display:block;  color:#ff0000; font:  12px  'droidsans',Arial,Helvetica,sans-serif; padding-left:23px; height:19px; line-height:19px;}
#basket td b {font-weight:normal}
#body_basket #pagecontent {padding-top:35px;}
.email_block .line, .optiondisplay, .reference_block br, .reference_block  .line {display:none}
table#basket {margin-bottom:40px !important;}
.email_block  {margin-bottom:10px;}
.email_block label, .reference_block label {float:left; width:255px; line-height:31px; text-align:right; font-size:12px; margin-right:10px;}

#body_basket .button-block {float: right !important;
    margin-top: -78px;
    width: auto !important;}
#body_basket .button-block a.button {background:url(../img/arr-blue.png) right center no-repeat; color:#4ca18d; font-family:'BebasNeueRegular'; font-size:18px; width:auto; height:auto; padding:0 20px 0 0; margin-top:-8px; line-height:normal; float:right; letter-spacing:1px;}

	#body_basket .button-block a.button:hover {text-decoration:underline}
	#body_basket .button-block button.button {height:57px; float:right; margin:2px 0 0 }
	#body_basket .button-block button.button span {display:block; font:13px 'droidsans',Arial,Helvetica,sans-serif; color:#fefefe}
	#body_basket .button-block button.button strong {font-weight:normal}

.email_block label {line-height:17px;}

.type-page-list {list-style:none; margin-left:155px; margin-top:40px; margin-bottom:37px; overflow:hidden}
.type-page-list li {float:left; text-align:center}
	.type-page-list li img {}
	.type-page-list li span {display:block; text-align:center}
	.type-page-list li.item01 {margin-right:53px;}
	.type-page-list li.item02 {margin-right:87px;}
	.type-page-list li.item03 {margin-right:72px;}
	.type-page-list li a {font-size:16px; color:#4ca18d}

#total-sum {background-color:#effaf7; margin-bottom:42px;}
	#total-sum td {padding:10px 10px 10px 25px; font:14px/24px Arial, Helvetica, sans-serif; color:#262626}
	#total-sum .col-left {background-color:#e2f4ed; padding-left:55px; width:245px; line-height:28px}
	#total-sum td p {margin-top:12px;}

.nav-footer {overflow:hidden; clear:both; border-top:#d3d3d3 1px solid; padding-top:10px;}
.nav-footer a.llink {background:url(../img/left-arr.png) left center no-repeat; font-size:14px; color:#4ca18d; padding-left:15px; font-size:14px; float:left; margin-top:17px;}
.nav-footer a.rlink {background:url(../img/right-arr.png) 90% center no-repeat #5eceb4; color:#fff; float:right; height:56px; line-height:56px; padding:0 57px 0 17px; font-size:20px;}
	.nav-footer a.rlink:hover {background-color:#4ca18d}
.nav-footer p {float:left; margin-left:255px; font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#262626; margin-top:17px;}

.ui-dialog {background-color:#fff; border-radius:5px; -webkit-border-radius:5px; padding:0; border:none}
.ui-draggable .ui-dialog-titlebar {background-color:#5eceb4; height:40px; line-height:40px; font-family:'Lobster',cursive; font-size:24px; color:#5eceb4; text-align:center; padding:0; border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
.ui-dialog .ui-dialog-title {float:none; margin:0;}
.ui-dialog .ui-dialog-titlebar-close {background:url(../img/close-btn.png) top left no-repeat !important; width:24px !important; height:25px !important; margin:-12px 0 0 !important; right:10px !important;border: none !important;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {right:12px !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {border:none}
.ui-widget-content {font:normal 14px/22px 'droidsans',Arial,Helvetica,sans-serif; color:#6b2d52}
.ui-widget-content #uploadForm p, .ui-widget-content #uploadForm table  {margin-bottom:15px;}
#body_bestel_details .ui-button-icon-primary{background: none;}

#uploadSubmit.button {width:130px; height:35px; color:#fff; background-color:#5eceb4;  border-radius: 5px; -webkit-border-radius: 5px; margin:0 auto; display:block; margin-bottom:15px; font:normal 14px/35px 'droidsans',Arial,Helvetica,sans-serif; }
input[type="file"] {border:none !important; padding: 0 !important; box-shadow:none; margin-left:5px;}

#uploadForm table tr:first-child td {text-align:left}
#uploadForm table td a {color:#6b2d52}

#body_kaarttype .info_div_content {
	display: none;
}

#body_kaarttype .choice_div {
	width: 185px;
	padding: 0 5px;
	margin-bottom: 10px;
	height: 300px;
}

#body_kaarttype .choice_div .button {
	width: 175px !important;
	background: #5ECEB4 !important;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	font-family: 'BebasNeueRegular';
	height: 38px !important;
	line-height: 38px !important;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	padding: 0 6px !important;
}

#body_kaarttype .choice_div .button:hover {
	background: #4CA18D !important;
}

#body_kaarttype .info_div {
	background: #EFFAF7;
	height: 69px;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

#body_kaarttype .info_div img {
	bottom: 80px;
}

#body_kaarttype #pagecontent h1 {
	margin-bottom: 230px;
}

.double_landscape {
	top: -28px !important;
}

.double_portrait {
	top: -24px !important;
}

.single_landscape {
	top: -12px !important;
}

.single_square {
	top: -23px !important;
}

#body_ok #pagecontent h1 {
	margin-top: 50px !important;
}

#body_eigen_collectie #pagecontent {
	padding-bottom: 120px;
	min-height: 525px;
}
#body_address_n #pagecontent,#body_bestel_details #pagecontent{padding-bottom:110px;}
#body_bestel_details #pagecontent{min-height:615px;}
#body_bestel_details h1{margin: 30px 0;width:auto;}
#body_bestel_details select{padding: 8px 1%;width:100%;}
#body_bestel_details #enveloppen_table{width:100%;}
#body_bestel_details #price_table td{padding-bottom:3px;padding-top:3px;}
#body_bestel_details #enveloppen_table td{padding-bottom:3px;padding-top:3px;}
#body_bestel_details #column3 h3{padding-bottom:17px;}
#body_bestel_details #column2{border-color:#6b2d52;}
#body_address_n h1{padding-top:30px;}
#body_address_n #pagecontent table{width:100%;}
#body_address_n #pagecontent table td input[type="text"]{padding: 8px 1% !important;width:98% !important;}
#body_address_n #pagecontent table td select{width:100%;padding:8px 1%;border: 1px solid #b4b4b4;color:#262626;}
#body_address_n #left_div{width:682px;}
#body_address_n #right_div{float:right;width:260px;}
#body_address_n #right_div table{padding:0;}
#body_address_n #left_div table{border-color:#6b2d52;padding-right:20px;}
#body_address_n .line hr{background-color:#6b2d52;}
#body_address_n #left_div table td{padding:3px 0 3px 5px;}
#body_address_n #left_div .line hr{margin:5px 0;}
#body_address_n #left_div .promise{line-height:17px;display:block;padding-top:3px;}
#body_address_n #ref{margin-top:6px;}
#body_basket #pagecontent{min-height:482px;padding-bottom:30px !important;}
#body_basket #pagecontent #basket_n{margin-top:40px;width:100%;margin-bottom:80px;}
#body_basket #pagecontent #basket_n input[type="text"]{padding:10px 5px !important;}
#body_basket #basket_n input[type="submit"]{margin-left:10px !important;margin-bottom:10px !important;}
#body_basket #basket_n .line{padding-top:5px;}
#body_basket #basket_n td{vertical-align:top;padding-top:10px;}
#body_voorbeeld #pagecontent h1 + br{display:none;}
#body_enveloppen .rightdiv{display:none;}
#body_keuze .choice_center{text-align:center;}
#body_keuze .choice_div{float:none;display:inline-block;}
#body_keuze .choice_div + .choice_div{display:none;}
#body_keuze .choice_div + .choice_div + .choice_div{display:inline-block;}
#chooseside .double_landscape_p2{background-image:url("/common/gfx/icon_double_landscape_p3.png");}
#chooseside .double_landscape_p3{background-image:url("/common/gfx/icon_double_landscape_p2.png");}
#pagecontent-footer p{margin-bottom: 0;}
#body_bestel_details .ui-selectmenu-text, #body_bestel_details .ui-menu-item{height: 39px;}
#body_bestel_details #column1{width: 600px;}
#body_voorbeeld{
	position: relative;
}

.button-group .button {
	width: 140px;
}

.button-group .button:first-child {
	margin-right: 5px!important;
}

@media only screen and (max-width: 640px) {
	#body_voorbeeld .ui-resizable {
		right: inherit !important;
		bottom: inherit !important;
		left: 50% !important;
		top: 50% !important;
		margin: -75px 0 0 0 !important;
	}
}

@media only screen and (max-width: 480px) {
	#body_voorbeeld .ui-resizable {
		left: 60% !important;
		margin: -75px 0 0 100px !important;
	}
}

#body_edit #canvas * {
    box-sizing:initial !important;
}

#page_edit_nav_new {
	top:-15px;
}

#send_date_picker table {
	margin-top: 38px;
}

#voorbeeld_admin_nav_buttons #save_and_overwrite {
    right: -40px;
    bottom: 0px;
}

modal-content #input_save_design_title {
    margin: 20px 25px;
}
