@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html{background:#eeeeee;}
body {background:#eeeeee;}
table td,table th,table{border:none !important;}
.logo-editor {float: left;margin: 0;}
input[type="password"], input[type="text"]{-moz-box-shadow: inset -1px 1px #d9d9d9;-webkit-box-shadow: inset -1px 1px #d9d9d9;box-shadow: inset -1px 1px #d9d9d9;border-top-color:#b4b4b4 !important;border-right-color:#b4b4b4 !important;}
.logo-editor a {padding: 0;}
#wrapper {width:1000px; margin:0 auto;}
.button, #categories .button, #body_bestel_login div.choice_block form .button, #body_bestel_login div.choice_block span.button {
	background: url(/img/background.png) no-repeat 0 -214px;
	font-size:14px;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 33px;
    line-height: 33px;
    padding: 0;
    text-align: center;
}
#body_kaarttype .choice_div:hover .button,.button:hover, #categories .button:hover, #body_bestel_login div.choice_block form .button:hover, #body_bestel_login div.choice_block span.button:hover {background:#724f98;}
#body_kaarttype .choice_div:active .button,.button:active, #categories .button:active, #body_bestel_login div.choice_block form .button:active, #body_bestel_login div.choice_block span.button:active {background-position:0 -253px;}
#headermenu {padding-top:0; margin-top:6px;background:#fff;margin-bottom:7px;}
#pagecontent h1 {font-size: 35px;border-bottom: none;text-align: center;line-height:50px;}
#canvasbackground {left: -42px!important;margin-bottom:-15px !important;}
#pagecontent {background-color: #FFFFFF;border: none;padding: 40px 20px 100px;width: 960px;border-radius:5px;overflow:hidden;-moz-box-shadow: 0 0 8px #ddd;-webkit-box-shadow: 0 0 8px #ddd;box-shadow: 0 0 8px #ddd;min-height:485px;}
#body_edit #pagecontent{padding-bottom:20px;padding-top:20px;}
#papier_preview {
	height: auto!important;
	margin-bottom: 50px;
}
#header {height: 54px;margin-left:0;margin-right:0;background: none!important;padding: 0;}
#chooseside {margin-left: 156px!important;margin-bottom:0 !important;}
.double_portrait {top:26px;}
.double_belgiansquare{top:23px;}
.double_landscape{top:27px;}
.double_panorama{top:28px;}
.double_square{top:22px;}
.single_landscape{top:27px;}
.single_panorama{top:27px;}
.single_portrait{top:26px;}
.leftdiv {margin: 0;width: 563px;}
.rightdiv {width: 340px;}
form .leftdiv {margin-left: 0;}
#rightdiv {float: right!important;}
#editor_top_border {display: none;margin-top: 0!important;}
#headernavigation_buttons > a.headernavigation_buttons_active {color: #000000;font-weight: bold;}
#headernavigation_buttons a:hover {color: #000000;font-weight: bold;}
#headernavigation_buttons a {color: #000000;}
a#edit_card {color: none;}
#send_date_picker { background: none;}
#send_date_picker table {margin: 20px auto 0;}
#send_date_picker .ui-datepicker-header {background: #a9398b;padding: 0;height: 48px;line-height: 48px;position: relative;border-radius:5px 5px 0 0;}
.ui-datepicker {padding: 0 0 25px 0!important;background: #FAF9FC !important;}
#body_check #pagecontent {min-height: 445px;}
#body_check .ui-datepicker-calendar th{background:none;color:#000;font-weight:bold;padding:0;text-align:center;}
#body_check .ui-datepicker-calendar td{padding:0;}
#step_back, #step_forward_alternate, .button-block a.button {background: url(/img/arrow-step-back.png) no-repeat scroll 0 0;
	color: #a63287;
	font-weight:normal;
	cursor: pointer;
	display: block;
	float: left;
	line-height: 28px;
	font-size: 14px;
	margin: 22px 0 0 20px;
	padding-left: 33px;
	text-align: left;
	height: 28px;
	width: auto;
}

#step_forward_alternate, .button-block a.button {
	background: url(../img/arrow-step-next.png) no-repeat right 0 !important;
	padding-left:0;
	padding-right:33px;
	float:right;
	margin-right:170px;
}
body.basket_n #pagecontent{padding-bottom:100px !important;background-image:none !important;}
#nav_buttons .button[href="/"]{margin: 22px 0 0 20px;background: url(/img/arrow-step-back.png) no-repeat scroll 0 0;color: #a63287;padding-left: 33px;line-height: 28px;height: 28px;width:auto;}
#nav_buttons .button[href="/"]:hover{text-decoration:underline;}
#nav_buttons .button[href="/address_n"]{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;display: block;width: auto;height: 39px;margin-top: 18px;display:block;background:url(/img/background.png) right -170px no-repeat;color:#fff;line-height:39px;margin:17px 20px 0 0;padding: 0 50px 0 15px;text-align: left !important;font-size:18px;}
#nav_buttons .button[href="/address_n"]:hover{background-position:right -124px;text-decoration:none;}
#step_back:hover, #step_forward_alternate:hover, .button-block a.button:hover {background-position:left -40px;}
#step_forward_alternate:hover, .button-block a.button:hover {background-position:right -40px !important; }
#send_date_picker .ui-state-active {
		background-image:none;
		background-color:#C6AF99;
		font-weight:bold;
}

#basket_item td {
		color: #000000;
}

.ui-widget-content a {
		color: #CC6699;
	font-weight:normal;
}

#send_date_picker .ui-widget-content a {
		color: #000000;
	font-weight:normal;
}

.ui-dialog-titlebar-close {
	background-image: url(/common/gfx/delete.png) !important;
	background-repeat:  no-repeat;
	background-position: 0 0;
}

.ui-icon-closethick {
	background: transparent;
}

.ui-dialog-titlebar-close:hover .ui-icon-closethick {
	background: transparent;
	border: 0;
}

.ui-dialog-titlebar-close.ui-state-hover {
	border: 0 !important;
	background-image: none;
	background: transparent;
}

#headernavigation {
	display: none;
}

#home {background:url(/img/logo-editor.png) left top no-repeat !important;position: absolute;width:216px;height: 38px;left:0;top:0;z-index:2;margin:9px 0 9px 0;display: block !important;}
#editor_bottom_border {
	display: none;
}

#nav_buttons {border-top: 1px solid #f9f9f9;bottom: 0;height: 73px;left: 0;width: 1000px !important;background-color:#f0f0f0;}

.choice_center img#voorbeeld {
	margin-top: 0!important;
}

.choice_center h1
{
	color:#DA7D8E;
}

#nav_remark_div {
	left: 0;
	width:960px;
	margin: 0;
	color:#575757;
	font-family: 'Open Sans';
	font-size: 14px;
	bottom: 87px;
	padding:0 20px;
}

#nav_remark_div b {
	display: block;
	font-weight: normal;
}

#body_basket #basket {
	float: none !important;
	width: 960px;
	margin-bottom: 50px;
	font-size: 14px;
}

#body_basket #basket .price {
	float: none !important;
	display: inline;
}

.optiondisplay {
	display: none;
}
#basket_n{width:100% !important;}
#basket td,#basket_n td{padding:2px 5px 2px !important;}
#basket_n td div.price{display:inline;float:none !important;}
#basket_n td .button{background:none;color: #a9398b;margin-left:20px;line-height:inherit;height:auto;font-size:12px;}
#basket_n td #delbtn{background: url(/img/del-icon.png) left top no-repeat !important;padding: 0 0 0 23px;}
#basket_n td .button[type="submit"]{height:33px;text-transform:capitalize;font-size:14px;background:url(/img/background.png) no-repeat 0 -214px;color:#fff;padding:0 18px;}
#basket_n td .button:hover{text-decoration:underline;}
#basket_n td .button[type="submit"]:hover{background:#724f98;text-decoration:none;}
#basket_n td .button[type="submit"]:active{background-position:0 -253px;}
#body_basket #pagecontent{background:url(/img/bg-pagecontent.gif) repeat-x left bottom #fff;padding-bottom:20px;}
#body_basket h1 {margin-bottom: 18px;}
#body_basket.basket_n h1{margin-bottom:40px;}
#body_basket .row-title td {
	text-align: center;
	background: #de8b99;
	text-transform: uppercase;
	font-size: 15px;
	height: 35px;
	padding: 0;
	color: #fff;
	font-family: 'Open Sans';
}
#body_basket #rebate{background:none;}
#body_basket #rebate span{display:none;}
.line {border-top: 1px solid #e2e2e2 !important;}
.button.delbtn {background: url(/img/del-icon.png) left top no-repeat !important;font-size: 12px; color: #a9398b !important; padding: 0 0 0 23px; text-align: left; height: 19px !important;line-height: 19px;display: block;text-transform: none;	 }
.button.delbtn:hover{text-decoration:underline;}
.reference_block,.email_block {clear: both;overflow: hidden;}
.reference_block br {display: none;}
.email_block {padding-bottom: 10px;}
.reference_block label,.email_block label {
	float: left;
	width: 335px;
	padding-right: 10px;
	text-align: right;
	color: #262626;
	line-height: 16px;
}

.reference_block label {padding-top: 6px;}
#body_basket div#rebate .cont-rebate input[name="actiecode"],
.reference_block input,
.email_block input {
	float: left;
	padding: 8px 5px;
	width: 229px;
	border: 1px solid #d3d3d3;
	border-top-color: #b4b4b4;
	border-right-color: #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.reference_block .line,
.email_block .line {
	display: none;
}

.button-block {
	float: right !important;
	width: 286px !important;
	margin-top: -94px;
}

.button-block a.button {
	 	float: right;
	 margin: 0 0 5px 0
}

.button-block a.button:hover {
	text-decoration: underline;
}

.button-block #pay {background: url(/img/background.png) no-repeat left -341px !important;height: 59px !important;line-height: 20px !important;width: 214px;padding-left: 18px;color: #fff;float: right;position:relative;padding-right:35px;}
.button-block #pay:after{content:"";background:url(/img/background.png) no-repeat -45px -301px;position:absolute;right:15px;top:50%;margin-top:-7px;height:14px;width:8px;}
.button-block #pay:hover {background: #724f98 !important;}
.button-block #pay:active {background-position: left -407px !important;}
.button-block #pay .oneline {display: none;}
.button-block #pay .twoline {display: block;text-align: left;width: 151px}
.button-block #pay .twoline strong {color: #fff;font-size: 16px;display: block;font-weight: 500;}
.button-block #pay .twoline span {text-transform: none;font-size: 12px;}
#pt-upload input[type="submit"],#accordion button, #background_type_color_label, #background_type_pattern_label {font-family:"Ubuntu",serif;background: #fff;border: 1px solid #a63287;border-radius:4px;color: #a63287;cursor: pointer;height: 28px;padding:0 10px 2px;font-size:14px;margin-left:0;margin-bottom:3px;}
#pt-upload input[type="submit"]:hover,#accordion button:hover, #background_type_color_label:hover, #background_type_pattern_label:hover {border-color:#af97c6;color:#af97c6;}
#position_photo_tofront, #position_photo_toback {
	height: auto !important;
	padding: 0 3px !important;
}

#position_photo_full {
	padding: 0 10px 2px !important;
	width: auto !important;
}

.centeredImage {
	display: none;
}

#fg_img_select .sp-replacer {
	float: left;
}

#position_photo_full span {
	display: inline !important;
	padding: 0 !important; 
}

#accordion button:hover, #background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-active {
	background: #f8fbfd;
	box-shadow: none;
}

#background_type_color_label.ui-state-active:hover,#background_type_pattern_label.ui-state-active:hover,#background_type_color_label.ui-state-active,#background_type_pattern_label.ui-state-active {color: #fff;background: url(/img/background.png) no-repeat 0 -217px;border:1px solid #a63287;}
#accordion button#choose_font {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #a63287;border-radius: 4px;color: #a63287 !important;cursor: pointer;font-size: 14px;height: 28px;padding: 0 7px 2px !important;margin-left: 0;margin-bottom: 0;}
#accordion button#choose_font:hover {border-color:#af97c6;color:#af97c6;box-shadow: none;}
#accordion select,#accordion input[type="text"],#accordion input[type="password"] {background: none repeat scroll 0 0 #F4F3F0;border: 1px solid #E0DBD4;box-shadow: 1px -1px 0 0 #FFFFFF inset;height: 29px;line-height: 29px;padding:0 1%;}
#accordion select {padding:3px; border-radius: 4px; border: #c0c0c0 1px solid;background-color: #f4f4f4;padding-left: 9px;box-shadow: -1px -1px 0 0 #e3e3e3 inset;width:100%;}
#accordion p{padding:0;}
#accordion hr{margin-bottom:5px;}
#accordion #name,#accordion #description_text_field,#accordion #title,#accordion #id,#accordion #designer_code,#accordion #category,#accordion #save_user_design{margin-bottom:5px;}
#accordion #id{margin-top:4px;}
#pt-upload input[type="file"] {margin-bottom: 10px;width: 90%;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #000;}
#background_type {overflow: hidden;margin-bottom: -10px;}
#background_type_color_label, #background_type_pattern_label {width: 77px; text-align: center; margin-right: 10px; margin-left: 0; padding-left: 0; padding-right: 0; float: left; margin-bottom: 0;}
#body_addresses .address table,#body_address .address table {width: 100%;margin: 0;position: inherit !important;}
.ui-slider {background-color:#E2D7CC;}
.ui-slider-handle {background-color:#C6AF99 !important;}
.ui-dialog{background-color:#FACFE2;}
.ui-dialog-titlebar{background-color:#DA7D8E !important;}
.ui-dialog-titlebar-close{	background-image:url(/img/custom/delete.png) !important;}
#body_enveloppen p {margin: 0;}
#body_enveloppen #pagecontent form h1 {position: absolute;left: 0;top: 40px;width: 1000px;}
#body_enveloppen .address table td{padding-left:0;}
#body_enveloppen .address {background: none;height: auto;margin: 22px 0 0 0;width: auto;}
#body_enveloppen .leftdiv{width:640px;}
#body_enveloppen .rightdiv {width: 308px;padding-top:78px;}
#body_enveloppen .address table {margin: 0;position: inherit !important;width: 100%;}
#chooseside label.selected .side_selected {background: url(/img/background.png) no-repeat 0 -300px !important;height: 17px !important;width: 17px !important;}
#body_enveloppen .ui-accordion .ui-accordion-header {display: none;}
#body_enveloppen .ui-accordion .ui-accordion-content {border: none;padding-top: 0;height: auto !important;background: none;}
 active side 
#switch_card{position:absolute;margin-top:-54px;margin-left:160px;display:none;}
.address input[type="text"] {border: 1px solid #d3d3d3;border-top-color: #b4b4b4;border-right-color: #b4b4b4;padding: 8px 2%;width: 96%;	-moz-box-shadow: inset -1px 1px #d9d9d9;-webkit-box-shadow: inset -1px 1px #d9d9d9;box-shadow: inset -1px 1px #d9d9d9;}
.address td {padding: 5px 2px;border:none;}
.address select {background: #f4f3f0;padding: 8px 2%;width: 100%;border: 1px solid #e0dbd4;}
 Envelopen onder adresblok zetten 
#rightdiv > #enveloppen_preview {position: absolute;left: 20px;top: 460px;width: 618px !important;background: none;border: 1px solid #e8e8e8;border-radius: 10px;height: auto !important;}
#rightdiv > #enveloppen_preview .title {height: 39px;line-height: 39px;font-size: 16px;padding-left: 18px !important;color:#787878;border-bottom:1px solid #e8e8e8;}
#rightdiv > #enveloppen_preview #enveloppen_thumbs {overflow:hidden;padding-top:18px;}
#body_address .enveloppen_beschrijving{padding:0 18px 18px;}
#body_addresses #leftdiv,#body_address .leftdiv {width: 620px;position: relative;padding-top: 54px;}
#body_addresses #leftdiv {padding-top: 78px;}
#body_addresses #pagecontent h1,#body_address #pagecontent h1 {position: absolute;left: 0;top: 64px;width: 960px;}
#body_addresses #rightdiv,#body_address #rightdiv {float: right;width:320px;padding-left:0;}
#body_addresses #rightdiv {padding: 0;}
#body_addresses #order_address_preview,
#body_addresses #order_present_preview,
#body_address #order_present_preview {width: auto;border: 1px solid #e8e8e8;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background: none;padding: 0;position: relative;text-align: center;height: 160px;}
#body_address #papier_preview {background: none;height: auto;width: auto;border: 1px solid #e8e8e8;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position: relative;}
#body_address #papier_content {width: auto;border: none;margin-top: 0;padding: 15px 18px 0;}
#body_address #papier_content ul li{background:none;padding:0;}
#body_addresses #order_address_preview .title,#body_addresses #order_present_preview .title,#body_address #order_present_preview .title,#body_address #papier_preview .title {border-bottom: 1px solid #e8e8e8;background: none;height: 39px;line-height: 39px;font-size: 16px;padding-left:18px !important;text-align: left !important;color:#787878;}
#body_address #order_present_preview br{display:none;}
#body_addresses #order_address_preview {padding-top: 25px;height: auto !important;}
#body_addresses .addr_list {margin: 0;width: 230px;}
#body_address #order_present_preview {margin-top: 69px;}
#body_addresses #order_present_preview {margin-top: 79px;}
#enveloppenveel .enveloppen_beschrijving {font-size: 12px;padding: 15px 10px 10px;}
#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {font-size: 12px;color: #a63287;}
#body_addresses #addr_total {width: 170px;}
#papier_content ul li,#papier_content p {font-size: 11px!important;}
.choice_center {margin-top:0;width: 588px;}
#body_voorbeeld .choice_center h1 {margin-left: 0;}
#body_size .info_div {
	background:none;
	height: auto;
}

#body_size .info_div .img_div {
	height: 152px;
}

#body_address #pagecontent {
	min-height: inherit !important;
	padding-bottom: 100px;
}

#body_addresses #pagecontent {
	padding-bottom: 100px;
}

#body_addresses .row-last br {
	display: none;
}

#body_addresses .row-last span {
	float: left;
	margin-top: 13px;
}

#body_addresses .row-last span#new {
	float: right;
	margin-top: 0;
}

#body_addresses #nav_buttons,
#body_address #nav_buttons {
	width: 920px;
}

#body_addresses .button_wide {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);color: #a63287;width: auto;}
#body_bestel_login .choice_center {width: 726px;}
#body_bestel_login .choice_center div.choice_block {background-image: none;border: 1px solid #e8e8e8;height: 236px !important;margin-right: 20px;min-height: inherit;padding: 12px 20px;width: 180px;background-color:#fafafa;border-radius:7px;}
#body_bestel_login .choice_block ul, #body_bestel_login .choice_block form {padding-top: 0;}
#body_bestel_login .color {color: #585858;font-size: 14px;font-weight: normal;display:block;margin-bottom:17px;}
#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {border-color: #D3D3D3;font-family: 'Ubuntu';font-size: 14px;height: 30px;text-indent: 5px;width: 97%;padding-bottom:0;padding-top:0;margin-bottom:5px;}
#body_bestel_login .choice_block li {background: url(/img/bullet.png) no-repeat scroll 1px 8px; padding-left: 12px; color:#585858; font-size:14px;}
#body_bestel_login .choice_center div.choice_block table {width: 100%; margin:0; border:none}
#body_bestel_login td, #body_bestel_login th {border: medium none;padding: 0 !important;}
#body_bestel_login .choice_center div.choice_block table b {font-weight: normal; font-size: 13px;}
#body_size .info_div_content {display: none;}
#body_bestel_login div.choice_block .button {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);bottom: -46px !important;left: -1px;margin-left: 0;position: absolute;width: 222px;}
#body_bestel_login div.choice_block span.button {bottom: 17px !important;left: 22px;width: 177px;}
#body_enveloppen #pagecontent form,#wrapper {zoom: 1;}
#body_enveloppen #pagecontent form:after,#wrapper:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}

Moi Theme
.ui-accordion .ui-accordion-header {background: #e0dbd4;}
.ui-accordion-header.ui-state-active {background: #464648}
.ui-accordion .ui-accordion-content {background: #fff;  border: none; font: normal 13px/20px 'Ubuntu';}
#accordion div.ui-accordion-content > br {display: none}
.choice_div {width: 175px;margin-right: 20px; float: none; display: inline-block;}
#body_cadeau .choice_div {
	padding-right: 0;
	padding-left: 0;
	margin-right: 29px;
}
#send_date_picker a .ui-icon {font-size: 11px; color: #fff}

#send_date_picker .ui-datepicker-prev,
#send_date_picker .ui-datepicker-next {
	position: inherit !important;
	top: 0;
	left: 0;
	float: right;
	margin-right: 20px;
	width: auto;
}

#send_date_picker .ui-datepicker-prev:hover,
#send_date_picker .ui-datepicker-next:hover {
	text-decoration: none;
}

#send_date_picker .ui-datepicker-prev {
	float: left;
	margin-left: 20px;
}

#send_date_picker .ui-datepicker-next span {background: url(../img/arr-next.png) right center no-repeat; position: inherit !important; left:0; top:0; width: auto!important;}
#send_date_picker .ui-datepicker-prev span {background: url(../img/arr-prev.png) left center no-repeat; position: inherit !important; left:0; top:0; width: auto!important;}

#send_date_picker .ui-datepicker-next span {
	padding: 0 10px 0 0 !important;
}

#send_date_picker .ui-datepicker-prev span {
	padding: 0 0 0 10px !important;
}

.ui-datepicker .ui-datepicker-title {font-size: 18px;font-weight: normal;line-height: 1.8em;margin: 0 0 0 -88px;text-align: center;position: absolute;left: 50%;top: 0;width: 175px;height: 47px;line-height: 47px;}
#send_date_picker .ui-state-default {font-size: 13px; color: #000; width:27px; height:27px; line-height:27px; margin:0 auto;padding:0;}
#send_date_picker .ui-state-active {background-color: #a9398b;background-image: none;color: #FFFFFF !important;font-weight: bold;padding: 0;border-radius:50%;}
#body_check .ui-widget{font-family:"Ubuntu";}
#body_check .ui-accordion-header.ui-state-active {
    background: none;
    color: #878787 !important;
    text-align: left;
	font-size:20px;
	margin-bottom:0;
}
#body_check .ui-accordion-header.ui-state-active a {padding: 0; color: #878787;}
#body_check .leftdiv {width: 485px;}
#body_check .rightdiv {width: 470px; margin-top: 114px;}
#body_check #accordion {width: auto}
#send_date_picker {margin-top: 114px;}
#bezorgdatum {font-family:"Open Sans";font-weight: bold;font-style: normal;font-size: 20px;color:#a9398b;display:block;margin-top:13px;}
#body_check #accordion p{padding-bottom:18px;}
#body_check .ui-accordion .ui-accordion-content{font-family:"Open Sans";font-size:14px;color:#585858;line-height:24px;height:auto !important;}
#body_check .choice_center > h1 {position: absolute;text-align: center;top: 40px;width: 100%;}
#body_check #accordion div.ui-accordion-content {
   height: auto; 
   font-size: 14px;
   padding-left: 0;
   padding-right: 0;
    padding-bottom: 15px;
   
}
#sizes_div {
	text-align: center;
}

#body_size .choice_div {
	
	padding: 0 5px;
	float: none;
	display: inline-block;
}

#body_size .choice_div .button {
	clear: both;
    display: block;
    float: none;
    margin: 0 auto;
    width: 160px;
}
#body_size .choice_div .button:hover, .button:hover, #categories .button:hover, #body_bestel_login div.choice_block form .button:hover, #body_bestel_login div.choice_block span.button:hover {background-color:#724f98; text-decoration:none;}
#body_size .choice_div .button:active, .button:active, #categories .button:active, #body_bestel_login div.choice_block form .button:active, #body_bestel_login div.choice_block span.button:active {box-shadow:2px 2px 1px #402564 inset}


#body_size .info_div .img_div {
	background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 7px;
    height: 175px;
    width: 175px;
}

#body_size .info_div {
	height: auto;
}


#body_size #pagecontent {
	min-height: 600px;
}

#body_size .choice_div {
	padding: 0 15px;
	float: none;
	display: inline-block;
	margin: 50px 0 0;
}
#body_size .choice_div a:hover {text-decoration:none;}
#body_size #pagecontent .choice_div h1, #body_size #pagecontent .choice_div h2 {
    color: #585858 !important;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

#body_size .choice_center {
	width: 740px !important;
}
#body_size #pagecontent .choice_div h2 {
	margin-bottom:10px;
}
#body_size .choice_div h1,
#body_size .choice_div h2 {
	text-transform: none;
	font-weight: 700;
	font-size: 26px;
}

#body_size .choice_div h1 {
	margin-top: 15px !important;
	padding-bottom: 0 !important;
}

#body_size .choice_div h2 {
	font-size: 23px;
	color: #DA7E8E !important; 
}



#body_cadeau .choice_div > a div  {border: 1px solid #E8E8E8;
    border-radius: 7px;
    height: 175px !important;
	background-color:#FAFAFA !important;
	margin-bottom:10px;
}
#body_cadeau .choice_div > a div img {display:none;}
#body_cadeau #cadeau_div {margin-top:0;}
#body_cadeau .bold {font-weight:normal; color:#585858; display:block; margin-bottom:10px;}
#body_cadeau #cadeau_div a br {display:none;}

#body_kaarttype .info_div, #body_kaarttype .choice_div_content {
	background: none;
	height: 255px;
}

#body_kaarttype .choice_div img {
	bottom: 80px;
}

#body_kaarttype .choice_div {
	margin: 0;
	margin-bottom: 30px;
	padding: 0 5px;
	width: 175px;
}

#body_kaarttype .info_div_content {
	width: 175px;
	margin: 0;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f4eced;
	color: #199EBA;
	font-family: 'Rokkitt',serif;
	font-weight: 700;
	height: 45px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	line-height: 35px;
	padding-top: 28px;
	font-size: 0;
	overflow: hidden;
}

#body_kaarttype .bold {
	color: #199EBA;
	font-size: 0;
}

#body_kaarttype .choice_div .button {
	width: 175px !important;
	padding: 0;
}

#body_kaarttype #pagecontent {
	min-height: 850px;
	padding-bottom:100px;
}

#body_basket #rebate {
	background: none;
	border: none;
	padding: 0;
	margin: -48px 0 100px 0;
	width: auto;
	height: auto;
	float: none !important;
	overflow: hidden;
}

#body_basket div#rebate span {
	display: none;
}

#body_basket div#rebate .tit-rebate {
	padding: 0;
	float: left;
	font-weight: bold;
	width: 120px;
	padding-top: 5px;
}

#body_basket div#rebate .cont-rebate {
	float: left;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"] {
	width: 160px;
	margin-right: 10px;
	vertical-align: middle;
}

#body_basket div#rebate .cont-rebate input[type="submit"] {
	margin: 0 !important;
	text-transform: none !important;
	vertical-align: middle;
	height: 32px !important;
	width: auto !important;
	border: 1px solid #9e757d;
	-moz-box-shadow: inset 1px -1px #e8bfc5;
	-webkit-box-shadow: inset 1px -1px #e8bfc5;
	box-shadow: inset 1px -1px #e8bfc5;
	line-height: 30px;
	padding-bottom: 3px;
}
#skip_design {display:none}
#order_card, #nav_buttons #step_forward , #body_addresses #done {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	width: auto;
	height: 39px;
	margin-top: 18px;
	display:block; 
	background:url(/img/background.png) right -170px no-repeat;
	color:#fff;
	line-height:39px;
	margin:17px 20px 0 0;
	padding: 0 50px 0 15px;
	text-align: left !important;
	font-size:18px;
}
#order_card:active, #nav_buttons #step_forward:active, #body_addresses #done:active,#order_card:hover, #nav_buttons #step_forward:hover , #body_addresses #done:hover{background-position:right -124px;text-decoration:none;}
#body_cadeau #cadeau_div {margin-top:0;}
#body_verzend #pagecontent{min-height:425px;}
#body_verzend .info_div .img_div span {position:relative; display:block}
#body_verzend #outer_een .img_div span, #body_verzend #outer_meer .img_div span, #body_verzend #outer_thuis .img_div span {left:inherit; top:inherit; width:auto; color:#787878; padding:4px 19px 13px; font: normal 18px 'Ubuntu'; text-align:left;}
#body_verzend #outer_een .img_div span {display: block;left: inherit;top: inherit;width: auto;}
#body_verzend .choice_div {width:220px; margin:30px 8px 0}
#body_verzend .choice_center {width:720px;}
#body_verzend .info_div .img_div {display:block; text-align:center; width:auto; height:auto}
#body_verzend .img_div img {margin-top:-25px;}
#body_verzend .info_div, #body_verzend .choice_div_content {background: none;background-color: #FAFAFA;border: 1px solid #E8E8E8;border-radius: 7px;float: left;height: 265px;position: relative;width: 218px;}
#body_verzend .info_div .info_div_content div {color: #585858;display: block;font-size: 14px;height: auto;size: 10px;vertical-align: top;}
#body_verzend .choice_div .button {display: block;margin: -54px auto 0;position: relative;width: 178px;z-index: 2;margin-left:20px;}
#body_verzend .info_div_content {bottom: inherit;margin-left: 0;padding: 0 20px;text-align: left;width: auto;}
#body_bestel_login div.choice_block form .button {bottom: 17px !important;font-family: 'Ubuntu',​sans-serif;font-size: 14px;font-weight: 300;left: 22px;width: 177px;line-height:30px;padding-bottom:3px;}
#body_bestel_login #pagecontent {min-height:428px;}
#body_addresses .address, #body_address .address {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;height: auto;padding: 0;width: auto;}
#body_addresses .address table, #body_address .address table {margin: 0;position: inherit !important;width: 100%;}
.address input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B4B4B4 #B4B4B4 #D3D3D3 #D3D3D3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: -1px 1px #D9D9D9 inset;
    padding: 8px 2%;
    width: 96%;
}
.address td {padding: 5px 2px;}
.address select {background: none repeat scroll 0 0;border: 1px solid #D3D3D3;padding: 7px 2%;width: 100%;box-shadow: -1px 1px #D9D9D9 inset;border-right-color:#b4b4b4;border-top-color:#b4b4b4;}
#body_addresses #delete, #body_addresses #delete2{color:#a63287;text-align:left;}
#body_addresses #delete:hover, #body_addresses #delete2:hover{text-decoration:underline;}
#body_addresses .button_wide {border-radius:0;}
#body_addresses #abook.button_wide,#body_addresses #upload.button_wide{float:right;line-height:inherit;height:auto;}
#body_addresses #new.button_wide {color: #FFFFFF;font-size: 14px;font-weight: normal;width: auto;padding-left: 45px;padding-right: 15px;border-radius: 4px;height: 33px;line-height: 32px;float: right;background:url(/img/plus-white.png) 14px center no-repeat #a9398b;}
#body_addresses #new.button_wide:hover {background-color:#724f98;}
#body_addresses #new.button_wide:active {box-shadow:2px 2px 1px #402564 inset}
#body_addresses #order_present_preview, #body_addresses #order_address_preview {border-radius:10px !important}
#body_addresses a:hover .img_address, #body_addresses .active img {border:none}
#body_addresses #order_address_preview {padding-top:0 !important;padding-bottom:15px;}
#body_addresses #order_address_preview div {margin-left: 0 !important;}
#body_addresses #addr_prev {margin-left:18px;}
#body_addresses #addr_next {margin-right: 18px;}
#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {color:#a9398b !important}
#body_addresses .addr_list {height: auto !important;margin: 10px 0 0;width: auto;}
#body_addresses .addr_list li{background:none;padding:0;}
#body_addresses a:hover .img_address, #body_addresses .active img {
    border: medium none;
    min-height: inherit !important;
    width: 100% !important;
}
#body_addresses #pagecontent h1, #body_address #pagecontent h1 {top:0 !important;}
#body_address td,#body_addresses td {padding-left:0 !important;}
#basket tbody tr:first-child td b {
	color: #878787;
	font-size: 20px;
	font-weight: 300
}
#body_basket .line {
	 border-top: 1px solid #aaffde !important;
}
#body_basket div#rebate input {padding: 5px;}
#body_basket div#rebate input.button {height: 30px; font-size: 14px; margin: 0 !important; padding: 0 18px; width: auto; }

.ui-dialog {
    background-color: #fff;
    border: medium none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
  
}
.ui-dialog .ui-dialog-content {
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
	background: url(../img/close-pop.png) left top no-repeat !important;
	width: 23px !important;
	height: 23px !important;
	padding: 0;
	margin: -12px 2px 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	background-position: left bottom !important;
}
.ui-dialog-titlebar {
	background-color: #a69acb !important;
	border: none;
}

#body_addresses #AB {
	padding: 0 15px 15px;
}

#body_addresses #AB input#search {
	width: 270px;
}

#body_basket #rebate {
	display: none;
}
#patternselect{width:210px !important;}
#body_keuze .choice_center{width:585px;}
#body_keuze .choice_div{width:160px;margin:0 15px;}
#body_keuze .choice_div:nth-child(3){display:none !important;}
#body_keuze .button{width:160px;}
#body_keuze .choice_div_content{width:160px !important;height:147px;text-align:center;background:#fafafa;border:1px solid #e8e8e8;padding:22px 0 0 0;margin-bottom:13px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#body_keuze #pagecontent h1{margin-bottom:70px !important;}
#body_keuze #pagecontent{min-height:418px !important;}
#body_addresses #order_address_preview div {zoom: 1;}
#body_addresses #order_address_preview div:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}
#body_basket #basket td{color:#585858;font-weight:normal !important;}
#body_basket table input[type="text"]{padding:6px 1%;width:190px;}