/** GLOBAL - BASE -----------------------------------------**/


body {
	font-family: 'Yantramanav', sans-serif;
	font-size: 16px;
	color: #404040;
	font-weight: 400;
}

#wrapper {
	overflow-y: hidden;
}

.bg-default {
	background: #5EC50C;
}

.button-default {
	border-color: #5EC50C;
	background: #5EC50C;
	color: #fff;
}

.button-default:hover {
	background: #fff;
	color: #5EC50C;
}

h1 {
	font-size: 38px;
	line-height: 46px;
	font-weight: 500;
}
h2 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
}

h3 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}


p {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}

div {
	box-sizing: border-box;
}

a {
	color: #29C1C4;
	transition: color 0.1s;
	&:hover{
		color: #404040;
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		// font-size: 54px;
		// line-height: 60px;
		font-weight: 700;
	}


}
