#canvasbackground {
	margin-bottom: 14px !important;
}

#chooseside {
	margin-bottom: 0 !important;
}

#accordion .ui-accordion-content br {
	display: none;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
	width: 288px !important;
	height: 52px !important;
	padding-bottom: 0;
}

.edittable {
	color: #6b2d52;
	font-family: 'droidsans';
	font-size: 12px;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
	background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
	background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
	background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
	visibility: hidden;
}

#imgtransparency,
#textsize {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
	width: 157px;
	float: right;
	margin-left: 0;
	height:7px;
	border:none
}

#imgtransparency a,
#texttransparency a,
#textsize a {
	background: url(/img/gfx/bg_circle.png) no-repeat 0 0;
	height: 16px;
	width: 16px;
	border: none;
	display: block;
	height:7px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -5px !important;
}

#texttransparencylabel {
	width: 100px;
	padding-top: 7px;
}

#texttransparency {
	background: url(/img/gfx/bg_slider02.png) no-repeat 0 0;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#txt_align_left_label:hover {
	background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -467px;
}

#txt_align_center_label:hover {
	background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -276px;
}

#txt_align_top_label:hover {
   background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align {
	height: 28px;
}

.ui-buttonset .ui-button {
	margin-right: 10px;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0;
	height: 31px;
	width: 31px;
}

.edittable td {
	height: 31px;
	padding: 3px 0;
}

#text_turn_left {
	margin-right: 6px;
}

#position_photo_tofront,
position_photo_toback,
#position_txt_tofront,
position_txt_toback {
	border: none !important;
}

position_photo_toback {
	margin-right: 10px;
}

#position_photo_tofront,
#position_txt_tofront {
	margin-right: 4px;
}

#patternselect_div {
	clear: both;
	padding-bottom: 10px;
}

#bt-pattern,
#bt-color  {float:left; width:49%; margin-bottom:10px; padding-top:5px;}
#bt-color  {margin-right:6px;}

#patternselect_div,
#bt-pattern .description,
#bt-color .description {
	color: #6b2d52;
	font-family: 'droidsans';
	font-size: 13px;
	margin-bottom:5px;
}

#patternselect_div img,
#bt-pattern img,
#bt-color .description img {
	display: none;
}

#accordion .ui-accordion-content span p {
	margin: 0;
	
	padding-bottom: 20px;
}

#accordion .ui-accordion-content span p a {
	color: #D19E33;
	display: inline;
}

#accordion .ui-accordion-content span p a:hover {
	text-decoration: underline;
}

#accordion .ui-accordion-content span ul {
	list-style: none;
	padding: 20px 0 0 0;
	margin: 0;
}

#accordion .ui-accordion-content span ul li {
	background: url(/img/ico-square.gif) no-repeat 0 7px;
	padding-left: 15px;
	font-size: 14px;
	padding-bottom: 15px;
}
#accordion div.ui-accordion-content {font-family: 'droidsans';}
.edit_big_button {border:none; background-color:#5eceb4; padding:8px 20px 7px; border-radius:7px; -webkit-border-radius:7px; font-family:'Conv_american-captain'; font-size:20px; color:#fff; cursor:pointer}
.edit_big_button:hover {background-color:#4ca18d}

#accordion .ui-accordion-content a[href="/login?redirecturl=/edit"] {
	display: block !important;
}

#background_type {
	border-bottom:#d3d3d3 1px solid;
	margin-right:0;
}

.combolist,
#bg_select,
#fg_select,
#bg_color,
#fg_color, 
#patternselect {
	width: 200px !important;
}

div#bg_select, #fg_select {width:auto !important}
#bg_color {
}

#background_type_pattern_label,
#background_type_color_label {
	background: #e2f4ed;
	border: 1px solid #d3d3d3;
	font-size: 13px;
	color: #6b2d52;
	font-family: 'droidsans';
	margin-bottom:-1px;
	margin-right:3px;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-hover,
#background_type_color_label.ui-state-hover {
	background: #f7fcfb;
	border-bottom:#f7fcfb 1px solid;
}

.head .next,
.head .prev {
	background: #aaffde;
	color: #6b2d52 !important;
	display: inline-block;
	width: 80px;
	height: 25px !important;
	font-family: 'droidsans';
	font-size: 12px;
	text-align: center;
	line-height: 25px !important;
	border-radius:5px;
	-webkit-border-radius:5px;
}

.head .next:hover,
.head .prev:hover {
	background: #a1f2d3;
}

#patternlist, #clipartlist {
	height: 180px;
}

#imagelist {
	height: 140px;
}

#text_turn_left,
text_turn_right {
	cursor: pointer;
}

#imagelist .pages,
#clipartlist .pages,
#patternlist .pages {
	width: 44% !important;
	color: #4ca18d !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#cl-bib {
	font-size: 12px;
	color: #6b2d52;
	font-family: 'droidsans';
}
#cl-bib .pages {width: 44.4% !important;}
#cl-bib select {
	width: 200px;
	float: right;
}

#clipartlist {
	padding-top: 7px;
}

#add_photo {
	margin-bottom: 0;
	cursor: pointer;
}

.centeredImage,
.arrow_allign {
	display: none !important;
}

#imagelist .head span, #patternlist .head span, #clipartlist .head span {
	width: 100%;
}

#accordion .ui-accordion-content a {
	display: inline-block;
}

#phototabs {
	background: #fafafa;
}

#position_photo_full {
	color: #404040 !important;
	border: 1px solid #d3d3d3 !important;
	background: #efefef;
	height: 29px !important;
	line-height: 15px;
	padding-bottom: 2px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #eeeeee;
	-webkit-box-shadow: inset 1px -1px 0 0 #eeeeee;
	box-shadow: inset 1px -1px 0 0 #eeeeee;
	width: auto !important;
}

#position_photo_full span {
	height: auto !important;
	width: auto !important;
}

#position_photo_full:hover {
	background: #dfdfdf !important;
}
#photolist img, #imagelist img, #patternlist img, #clipartlist img {border:#e2f4ed 1px solid; margin:4px;}
#photolist, #imagelist .content, #patternlist .content, #clipartlist .content {padding-left:0}
.sp-replacer {float:left; width:136px;}
.sp-preview {width:117px;}
#txt_select .sp-replacer {float:right}

#chooseside label {border:none; min-width:inherit; min-height:inherit; margin-right:20px;}
#chooseside label.selected {min-height:inherit}
#chooseside label.selected .side_selected {
    background: url(../img/gfx/icon_current_active.png) repeat scroll 0 0;
    height: 17px;
    left: inherit;
	right:-5px;
    width: 17px;
}
#patternselect_div span.title {
display: inline-block;
padding-top: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#background_type_pattern_label,
#background_type_color_label {
	
	margin-bottom:0px;
}
}