@import url(http://fonts.googleapis.com/css?family=Lobster);
@font-face {
    font-family: 'droidsans';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#droidsans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidsans_bold';
    src: url('fonts/droidsans-bold-webfont.eot');
    src: url('fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-bold-webfont.woff') format('woff'),
         url('fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('fonts/droidsans-bold-webfont.svg#droidsans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif_italic';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: url('fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-italic-webfont.woff') format('woff'),
         url('fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-italic-webfont.svg#droidserif_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('fonts/droidserif-bolditalic.eot');
    src: url('fonts/droidserif-bolditalic.eot') format('embedded-opentype'),
         url('fonts/droidserif-bolditalic.woff') format('woff'),
         url('fonts/droidserif-bolditalic.ttf') format('truetype'),
         url('fonts/droidserif-bolditalic.svg#DroidSerifBoldItalic') format('svg');
}

@font-face {
	font-family: 'Conv_american-captain';
	src: url('fonts/american-captain/american-captain.eot');
	src: url('fonts/american-captain/american-captain.eot') format('embedded-opentype'),
		 url('fonts/american-captain/american-captain.woff') format('woff'), 
		 url('fonts/american-captain/american-captain.ttf') format('truetype'), 
		 url('fonts/american-captain/american-captain.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {margin:0; padding:0}


body {
	font:normal 14px/22px 'droidsans', Arial, Helvetica, sans-serif;
	color: #6b2d52;
	background:url(../img/bg.jpg) top center no-repeat #f5f8f2;
	
	
}

#wrapper, .wrap-fix {
	width: 960px;
	margin:0 auto
}
/* header
---------------------------------------------------------------*/
#header {
	background:none;
	position: relative;
	height: 186px;
	margin-bottom:6px;
	margin-top:30px;
}
.quote-head {background:url(../img/quote.png) top left no-repeat; display:block; width:243px; height:16px; position:absolute; top:17px; left:0}
#top-head {
	font-family: 'droidsans';
	color: #fff;
	font-size: 13px;
	height: 30px;
	position: fixed;
	background-color:#d0bea5;
	top:0; left:0; width:100%;
	z-index:999
}

#top-head p {
	margin: 0;
	line-height: 48px;
}

#top-head p span {
	font-family: 'droidsans_bold';
	color: #262626;
}

.sociallist {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 35px;
	top: 12px;
}

.sociallist li {
	float: left;
	font-size: 0;
	padding-left: 8px;
}

.sociallist li a {
	display: block;
	height: 21px;
	width: 22px;
	background:url(../img/social.png) top left no-repeat
}
.sociallist li a:hover {background-position:0 -21px;}
.sociallist li.facebook a {
	background-position: -29px 0;
}
.sociallist li.facebook a:hover {
	background-position: -29px -21px;
}
.sociallist li.pinterest a {
	background-position: top right;
}

.sociallist li.pinterest a:hover {
	background-position: bottom right;
}

#header #top-head {
	display: none;
}

#home {
	background: url(../img/logo.png) no-repeat 0 0;
	width: 178px;
	height: 123px;
	display: block;
	top: 10px;
	left: 394px;
}

#headermenu {
	width: auto;
	
	margin:13px 0 0 0;
	padding:0
}

#headermenu a {
	background: url(../img/bg-line.gif) no-repeat right center;
	color: #6b2d52;
	font-size: 14px;
	font-family: 'droidsans';
	width: auto;
	padding: 0 20px;
	display: inline;
	height: auto;
}

#headermenu a:hover, #headermenu a:hover #basket_count {
	color: #d19e33;
	text-decoration:underline
}

#headermenu span {
	top: 0;
}

#basket_text {
	display: inline;
	text-align: left;
	width: auto;
	padding: 0;
}

#basket_count {
	display: inline;
	padding: 0 6px 0 4px;
	width: auto;
	margin: 0;
	color:#6B2D52
}

#headerbasket {
	background: url(../img/cart.png) no-repeat right center !important;
}

#menu {
	clear: both;
	background: url(../img/bg-menu.png) top left no-repeat;
	width:990px; height:48px;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	position:absolute; 
	bottom:0;
	left:-15px;
}

.mega-menu > li {
	display: inline-block;
	position:relative;
	height:44px;
	margin-left:-4px;
}
.sub-container {left:0 !important}
.mega-menu > li > a {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	display: block;
	text-shadow:1px 1px 0 #ca8824;
	font-family: 'Conv_american-captain';
	padding: 0 15px;
	line-height:45px;
	position: relative;
}

.mega-menu > li > a:hover, .mega-menu > li:hover > a {
	color: #e59429;
	background-color:#fff;
	text-shadow:none;
}
.mega-menu li.home a {background:url(../img/home.png) center no-repeat; text-indent:-99999px;}

.mega-menu {
	padding: 0;
	margin:0;
	position: relative;
}

.mega-menu li .submenu {
	display: none;
	background: #fff;
	position: absolute;
	left: 0;
	top: 44px !important;
	z-index: 7000;
	border-right:#a9e3d3 1px solid;
	border-bottom:#a9e3d3 1px solid
}

.tab-content {
	border-left: 1px solid #d3d3d3;
	float: right;
	padding-left: 30px;
	width: 700px;
	height: 180px;
	overflow: hidden;
}

.tab-item {
	position: relative;
	font-size: 13px;
	color: #262626;
	text-align: left;
	height: 180px;
}

.tab-item h2 {
	color: #262626;
	margin: 0;
	font-size: 13px;
}

.tab-item .read-more a {
	color: #597092 !important;
	font-size: 13px !important;
	font-family: Arial, Helvetica, sans-serifl;
	text-transform: none !important;
	display: inline !important;
	padding: 0 !important;
	line-height: normal !important;
}

.tab-item .read-more a:hover {
	text-decoration: underline;
}

.tab-item div.left {
	width: 490px;
}

.tab-item p.image {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	margin: 0;
}

/*.dc-mega-icon {
	background: url(../img/ico-mega-hover.png) no-repeat center bottom;
	display: block;
	width: 20px;
	height: 16px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -6px;
	display: none !important;
}*/

.sub-container {
	margin: 0 !important;
}

/*.dc-mega-li.mega-hover .dc-mega-icon {
	display: block !important;
}*/


/* mid
---------------------------------------------------------------*/
#mid {
	background: #fff;
	/*padding: 20px 50px 50px;*/
	position:relative;
	padding-top:70px;
}

#body_home #mid {
	padding:0;
	background:#fff;
}
#body_account_address #mid, #body_account  #mid, #body_account_password  #mid, #body_account_settings #mid, #body_account_nieuwsbrief #mid {padding-top:26px}


#body_home #categories {
	display: none;
}

#body_home #pagecontent {
	width: auto;
	margin: 0;
	float: none;
}

.block-head {
	text-align: center;
	padding-bottom: 23px;
	padding-top: 46px;
}

.block-head h1 {
	background: url(../img/bg-line-h.gif) repeat-x left center;
	font-family: 'droidserif_italic';
	color: #262626;
	font-size: 18px;
	margin: 0 auto 16px auto !important;
	width: 385px !important;
}

.block-head h1 span {
	background: #fff;
	padding: 0 10px;
}

.block-head ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.block-head ol li {
	font-family: 'droidsans';
	font-size: 16px;
	color: #262626;
	padding-bottom: 6px;
}

.featured-block {
	padding-bottom: 30px;
}

.featured-block ul {list-style:none; margin:0; padding:0}
.featured-block li {float:left; width:260px; margin-left:47px;}
.featured-block li:hover {cursor:pointer}
.featured-block ul li:first-child {margin-left:0;}
.featured-block a {display:block; width:260px; height:133px; position:relative; margin-bottom:13px;}
	.featured-block a span {display:block; background:url(../img/bg1.png) top left no-repeat; width:279px; height:38px; position:absolute; bottom:4px; left:-10px; font-family:'Lobster',cursive; font-size:22px; color:#fff; text-align:center; line-height:30px;}
	.featured-block li.item-02 a span {background:url(../img/bg2.png) top left no-repeat;}
	.featured-block li.item-03 a span {background:url(../img/bg3.png) top left no-repeat;}
	.featured-block a .opa-hover { position:absolute; top:0; left:-10px; width:280px; height:133px; background-color:#fff; display:none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: alpha(opacity=20); opacity:0.2;}
	.featured-block a:hover .opa-hover {display:block}
	.featured-block p {font-size:14px; line-height:20px;}
/*.featured-block p {
	float: left;
	height: 135px;
	margin: 0;
}

.featured-block p span {
	display: table-cell;
	vertical-align: middle;
	height: 135px;
}

.featured-block p a {
	background: url(../img/ico-arrow02.png) no-repeat right center;
	font-family: 'droidserif_italic';
	color: #d19e33;
	font-size: 16px;
	padding-right: 18px;
}

.featured-block p a:hover {
	text-decoration: underline;
}

.featured-block ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.featured-block ul li {
	float: left;
	padding-right: 30px;
}

.featured-block ul li a {
	font-family: 'droidserif_italic';
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -310px;
	display: block;
	width: 105px;
	height: 135px;
	font-size: 15px;
	color: #262626;
	text-align: center;
	padding: 0 15px;
}

.featured-block ul li a:hover {
	background-position: -165px -310px;
}

.featured-block ul li a span {
	display: table-cell;
	width: 105px;
	height: 135px;
	vertical-align: middle;
}*/

.kaar-list {
	list-style: none;
	margin: 0 -27px 0 0;
	padding: 0 0 10px 0;
}

.kaar-list li {
	float: left;
	cursor: pointer;
	padding-right: 27px;
	min-height: 233px;
}

.kaar-list li p {
	margin: 0;
	position: relative;
	width: 170px;
	height: 182px;
}

.kaar-list li p span {
	background: #fff;
	opacity: 0.2;
	filter: alpha(opacity=20);
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 170px;
	height: 182px;
}

.kaar-list li h2 {
	margin: 0;
}

.kaar-list li h2 a {
	color: #262626;
	font-size: 16px;
	font-family: 'droidsans';
}

.kaar-list li h2 a:hover {
	color: #d19e33;
}

#bxsliders {
	position: relative;
}

ul.bxslider {
	margin: 0;
	padding: 0;
	list-style: none;
}
.opacidiv {width:320px; height:307px; background-color:#fff; position:absolute; top:0; right:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity:0.8;}
.bx-viewport {
    height: 307px !important;
}
.bx-pager {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 900;
	width:320px; height:307px;
}

.bx-pager a {height:60px; border-top:#c9ede2 1px solid; padding:16px 20px 0 29px; display:block; color:#4da28e; font-size:18px;}
	.bx-pager a:first-child {border-top:none}
	.bx-pager a:hover {color:#45786c}
	.bx-pager a.active {background-color:#5eceb4; color:#fff}
	.bx-pager a span {display:block; font-size:14px;}

.bxslider .caption {position:absolute; left:20px; top:6px; max-width:290px;}
.bxslider .caption h2 {margin:0; padding-bottom:7px}
.bxslider .caption h2, .bxslider .caption h2 small {font-family:'Conv_american-captain'; font-size:36px; color:#6b2d52; line-height:40px;}
	.bxslider .caption h2 small {display:block; color:#e59429}
	.caption a.more-link {display:block; background:url(../img/btn-more.png) top left no-repeat; width:130px; height:39px; color:#fff; font-family:'Conv_american-captain'; line-height:38px; font-size:22px; text-indent:11px; letter-spacing:1px;}
	
/*.bx-pager-item {
	padding-left: 8px;
	width: 20px;
	height: 20px;
	float: left;
}

.bx-pager-link {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: 0 -107px;
	text-indent: -9999em;
	display: block;
	width: 20px;
	height: 20px;
	outline: none;
}

.bx-pager-item .active {
	background-position: 0 -133px;
}*/

ul.bxslider li h2,
ul.bxslider li p {
	margin: 0;
}

ul.bxslider li .card-img {
	position: absolute;
	right: 30px;
	bottom: 45px;
}

ul.bxslider li div {
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: 30px;
}

ul.bxslider li div span {
	background: url(../img/black-transparent.png);
	padding-left: 15px;
	padding-right: 15px;
}

ul.bxslider li div h2 {
	font-size: 36px;
	font-family: 'DroidSerifBoldItalic';
	color: #fff;
	padding-top: 7px;
	padding-bottom: 23px;
}

ul.bxslider li div h2 span {
	line-height: 47px;
	padding: 2px 15px;
}

*:first-child + html ul.bxslider li div h2 span {
	background: none !important;
}

ul.bxslider li div h2 span:first-child {
	padding-top: 7px;
}

ul.bxslider li div h2 span:last-child {
	padding-bottom: 10px;
}

ul.bxslider li div p {
	font-family: 'droidsans';
	font-size: 18px;
}

ul.bxslider li div p span {
	line-height: 26px;
	padding: 2px 15px;
}

ul.bxslider li div p span:first-child {
	padding-top: 7px;
}

ul.bxslider li div p span:last-child {
	padding-bottom: 7px;
}

#bxsliders {
	position: relative;
	
}
#pager1 {clear:both; background-color:#999}
.btn-kaart {
	position: absolute;
	right: -11px;
	bottom: -41px;
}

.btn-kaart a {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: 'droidserif_italic';
	font-size: 22px;
	color: #fff;
	display: block;
	padding-right: 56px;
	line-height: 86px;
	padding-left: 30px;
	height: 76px;
}

.btn-kaart a:hover {
	background-position: right -100px;
}

#categories {
	float: left;
	width: 170px;
}

#pagecontent {
	float: right;
	margin: 0 40px 0 0;
	width: 670px;
}

textarea,
input[type="text"] {
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	padding: 8px 5px;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

/* Login Page */
#body_login #pagecontent input[type="password"],
#body_login #pagecontent input[type="text"] {
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	padding: 8px 5px;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
	width: 177px;
}

#pw_recovery,
#registreer,
#login {
	width: 366px;
	padding: 0;
	border: none;
	margin: 0;
	height: auto;
	font-size: 14px;
	padding-bottom: 20px;
	background:none repeat scroll 0 0 #EFFAF7;
}

#login {
	margin-bottom: 26px;
}

#registreer {
	float: right;
}

#pw_recovery {
	clear: inherit !important;
	float: left !important;
	
}
#body_login #pw_recovery {margin-bottom:50px;}
#body_login .align_bottom {
	background: none repeat scroll 0 0 #5ECEB4;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Conv_american-captain';
    font-size: 22px;
    height: 38px;
     
    line-height: 38px;
    margin: 0;
    padding: 0 18px;
    text-align: center;
	position:relative;
	width:auto;
	margin-left:137px; font-weight:normal;
	letter-spacing:1px;
     
}
/*#body_login .align_bottom {
	position: inherit !important;
	margin: 0 auto;
	padding: 0;
	display: block;
	width: 198px;
	height: 36px;
	border: 1px solid #9c8e70;
	font-size: 15px;
	color: #fff;
	font-family: 'droidsans';
	text-align: center;
	-moz-box-shadow: inset 1px -1px 0 0 #e8cf99;
	-webkit-box-shadow: inset 1px -1px 0 0 #e8cf99;
	box-shadow: inset 1px -1px 0 0 #e8cf99;
	float: none !important;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -202px;
}
*/
#body_login .align_bottom:hover {
	background: none repeat scroll 0 0 #4CA18D ;
}

#body_login #registreer .align_bottom,
#body_login #login .align_bottom {
	margin-top: 8px;
}

#body_login #pw_recovery .align_bottom {
	margin-top: 12px;
	padding:0 10px
}
#body_login #mid {padding-top:35px;}
#body_login #pagecontent h2 {
	text-align: center;
	background: #5ECEB4;
	margin: 0;
	margin-bottom: 15px;
	height: 44px;
	color: #fff;
	font-size: 20px;
	font-family: 'droidsans';
	line-height: 44px;
}

#body_login #pagecontent form {
	margin: 0 20px;
}

#body_login #pagecontent form table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

#body_login #pagecontent form table td {
	padding: 4px 0;
}

#body_login #pagecontent form table td.label {
	width: 137px;
}

#body_login .errormsg {
	margin: 0;
}

#body_login #pagecontent {margin: 0 20px 0 0;
    width: 750px;}
	#body_login #categories h3 {line-height:normal; margin-bottom:12px;}
	#body_login #categories h3 a {width:auto; background:none; color: #6B2D52; margin-left:0; padding-left:15px; font-size:13px; text-transform:uppercase; line-height:normal; height:auto}

#pw_recovery p {
	margin: 0;
	padding: 0 20px 16px;
}

input#nieuwsbrief {
	margin-top: 5px;
}

#login_nieuwbrief {
	font-size: 12px;
	margin-top: 9px;
}

/* Category */
#categories h3 {
	margin: 0;
}

#categories h3 a {
	background: url(../img/head-bg-box.png) no-repeat 0 0;
	color: #fff;
	display: block;
	height: 45px;
	width:179px;
	line-height: 39px;
	font-size: 16px;
	margin-left:-11px;
	font-weight: normal;
	color:#fff;
	padding-left:51px;
}

/*#categories h3 a:hover {
	background-color: #b2862b;
}

#categories h3.active {
	margin: 0;
}

#categories h3.active a {
	background: #d19e33 url(../img/ico-arrow04.png) no-repeat 151px center;
}

#categories h3:last-child {
	margin: 0;
}*/

#categories .category {
	margin: -6px 0 19px 0;
	background-color:#fbfcfa;
	width:202px;
	padding:10px 0;
}

#categories .category li {
	padding: 0;
}

#categories .category li a {
	display: block;
	font-size: 14px;
	color: #4ca18d;
	font-family: 'droidsans';
	line-height:21px;
	padding: 2px 10px 3px 40px;
}

#categories .category li a:hover {
	
	background-color:#f0f9f6;
}
#categories .category li a.active, #categories .category li.active a {color:#e59429;}



/* Page Content */
#crumbs {
	font-family: 'droidsans';
	font-size: 12px;
	text-transform: capitalize;
	padding:27px 0 29px 40px;
	position:absolute; top:0; left:0
}

#crumbs a {
	font-size: 12px;
	color: #4ca18d;
}
#crumbs span {display:inline-block; margin:0 3px;}

#crumbs a:hover {
	text-decoration: underline;
}

#pagecontent h1 {
	
	font-size: 36px;
	color: #6b2d52;
	font-family: 'Lobster',cursive;
	width: auto;
	line-height:40px;
	margin-top:-5px;
	margin-bottom:14px;
}

#pagecontent h1 .bg-line {
	background: url(../img/bg-line-h.gif) repeat-x left center;
	padding: 0 30px;
}
.banner-page {margin-bottom:15px;}
.banner-page img {display:block}
.desc-page {font-size:14px; line-height:22px; margin-bottom:24px;}


#pagecontent h1 .bg-line span {
	background: #fff;
	padding: 0 10px;
}

#card_previews {
	margin-left: -30px;
	margin-bottom: 25px;
	width:740px;
}

#card_previews a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0;
}
#card_previews a:hover {background-color:#effaf7}
#voor_preview {
	top: -34px !important;
}

#body_home #card_previews a {
	width: 170px;
	height: 182px;
}

.paginator {
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	margin-top: 18px;
	margin-bottom: 12px;
	padding: 10px 0;
	position: relative;
}
.paginator:empty {display:none}
.paginator a {
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	color: #262626;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	margin: 0 6px 0 0;
}

.paginator a:hover {
	background: #eee;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.paginator a.paginatorinactive {
	background: #525252;
	color: #fff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.paginator .vorigeactive,
.paginator .volgendeinactive,
.paginator .vorigeactive,
.paginator .volgendeactive,
.paginator .vorigeinactive {
	font-family: 'droidsans';
	font-size: 12px;
	background: #525252;
	color: #fff;
	width: 110px;
	height: 26px;
	position: absolute;
	top: 10px;
}

.paginator .vorigeactive:hover,
.paginator .volgendeinactive:hover,
.paginator .vorigeactive:hover,
.paginator .volgendeactive:hover,
.paginator .vorigeinactive:hover {
	background: #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.paginator .volgendeinactive,
.paginator .volgendeactive {
	right: 0;
}

.paginator .vorigeactive,
.paginator .vorigeinactive {
	right: 120px;
}

.paginator span {
	font-family: 'droidsans';
	font-size: 12px;
	float: right;
	padding-right: 206px;
}

.paginator span select {
	font-size: 12px;
	border: 1px solid #e3e3e3;
	height: 26px;
	width: 56px;
	padding: 3px;
	vertical-align: middle;
}

.head-text {
	font-size: 14px;
	font-family: "Myriad Pro", "Century Gothic";
	margin: 0;
	padding-bottom: 11px;
	text-align: center;
}

#direct_basket,
#choose_preview {
	background: #d19e33 url(../img/ico-arrow05.png) no-repeat 198px center;
	display: block;
	color: #fff;
	font-size: 20px;
	font-family: 'droidserif_italic';
	padding: 0 30px 0 23px;
	width: 170px;
	line-height: 54px;
	height: 54px;
	right: 0 !important;
	bottom: 11px !important;
}

#choose_preview {
	bottom: 75px !important;
}

#design {
	
}

#knav {
	clear:both;
	position:relative
}

#direct_basket:hover,
#choose_preview:hover {
	background-color: #b2862b;
}

#design .description {
	bottom: 7px !important;
}

#kaart-editor {
	font-family: 'droidsans';
	font-size: 14px;
}

#kaart-editor a {
	color: #d19e33;
}

#kaart-editor a:hover {
	text-decoration: underline;
}

#kaart-editor .intro-text {
	color: #878686;
	font-size: 16px;
}

#kaart-editor h2 {
	color: #262626;
	margin: 0;
	font-size: 18px;
}

#kaart-editor h3 {
	color: #262626;
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}

#kaart-editor ul {
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
}

#kaart-editor ul li {
	background: url(../img/ico-square.gif) no-repeat 0 7px;
	padding-left: 13px;
	padding-bottom: 6px;
}

#kaart-editor ol {
	margin: 0;
	padding: 0 0 20px 20px;
}

#kaart-editor ol li {
	padding-bottom: 6px;
}

#kaart-editor table {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

#kaart-editor table td,
#kaart-editor table th {
	border: 1px solid #eee;
	padding: 10px;
}

#kaart-editor table th {
	background: #d19e33;
	font-weight: normal;
	color: #d19e33;
	color: #fff;
	text-align: left;
}

#kaart-editor hr {
	border: none;
	margin: 0 0 30px;
	background: #eee;
}

.imageright {
	float: right;
	width: 640px;
}

.imageleft {
	float: left;
	padding-right: 28px;
	width: 640px;
}

#kaart-editor .block {
	clear: both;
}

#form-style ul {
	padding: 0;
	list-style: none;
}

#form-style ul li {
	background: none;
	padding: 0 0 10px 0;
	clear: both;
}

#form-style ul li input {
	width: 464px;
}

#form-style ul li textarea {
	width: 464px;
	height: 86px;
	vertical-align: middle;
	font-family: 'droidsans';
}

#form-style ul li label {
	float: left;
	padding-top: 7px;
	width: 130px;
}

#form-style ul li label em {
	font-style: normal;
	font-size: 12px;
}

#form-style ul li div {
	float: right;
	width: 625px;
}

#form-style ul li div span {
	background: url(../img/bg-message-error.gif) no-repeat 0 0;
	color: #fff;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 7px 0 12px;
	display: inline-block;
	min-width: 77px;
	height: 22px;
	line-height: 22px;
	margin-left: 3px;
}

#form-style p {
	margin: 0;
}

#form-style .btn-submit {
	position: inherit !important;
	padding: 0;
	margin-left: 416px;
	display: block;
	width: 198px;
	height: 36px;
	border: 1px solid #9c8e70;
	font-size: 15px;
	color: #fff;
	font-family: 'droidsans';
	text-align: center;
	-moz-box-shadow: inset 1px -1px 0 0 #e8cf99;
	-webkit-box-shadow: inset 1px -1px 0 0 #e8cf99;
	box-shadow: inset 1px -1px 0 0 #e8cf99;
	float: none !important;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -202px;
	cursor: pointer;
}

#form-style .btn-submit:hover {
	background-position: 0 -265px;
}

#form-style .error {
	border-color: red;	
}

#knav #prev_page {
	background-image: url(../img/nav.png) !important;
	background-repeat: no-repeat !important;
	background-position: 0 -101px !important;
	left:-1px !important
}

#knav #prev_page:hover {
	background-position: 0 -152px !important;
}

#knav #next_page {
	background-image: url(../img/nav.png) !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	right:-50px !important
}

#knav #next_page:hover {
	background-position: 0 -51px !important;
}
#prev_page, #next_page {width:51px !important; height:50px !important; top:60px !important}

/* footer
---------------------------------------------------------------*/
#footer {
	clear: both;
	background: #fbfcfa;
	overflow:hidden;
	margin-bottom: 40px;
	padding: 28px 40px;
	position: relative;
	color:#565656
}
#footer .col {float:left}

#footer .col1 {width:270px; padding-right:35px;}
#footer .col2 {width:260px; padding-right:55px;}
#footer .col3 {width:260px; }
	#footer .col3 img {margin-top:8px;}
#footer h3 {font-family: 'Lobster',cursive;
    font-size: 22px; color:#ed9b2a; margin-bottom:12px;}
	
#footer .via {display:block; font-size:11px; color:#5eceb4; font-family:Arial, Helvetica, sans-serif}
#footer .via a {color:#5eceb4;}
#footer .via a:hover {text-decoration:underline}

#fnav {
	
	list-style: none;
	margin: 0;
	padding: 0;
}

#fnav li {
	
}

#fnav li a {
	color: #5eceb4;
}

#fnav li a:hover {
	text-decoration: underline;
}


/* # clearfix
---------------------------------------------------------------------------- */

#kaart-editor .block,
#form-style ul li,
.kaar-list,
.featured-block,
.featured-block ul,
#footer ul,
#footer-inner {
	zoom: 1;
}

#kaart-editor .block:after,
#form-style ul li:after,
.kaar-list:after,
.featured-block:after,
.featured-block ul:after,
#footer ul:after,
#footer-inner:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix:after {
	content:" "; 
	display:block; 
	height:0;
	font-size:0; 
	clear:both; 
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* mac hide \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}

/*CUSTOm*/
.fleft {float:left}
.fright {float:right}
#top-head .fleft {line-height:30px; font-weight:bold; font-size:12px;}
	#top-head .fright {line-height:29px;}
	#top-head span {color:#fae3b9; font-weight:normal !important; display:inline-block; margin:0 4px;}
	#top-head a {color:#fff}
	#top-head a:hover {text-decoration:underline}

.col-sub-menu {float:left}
.sub-wrap {width:487px;}
	.sub-wrap .col-sub-menu {padding:15px; border-right:#c9ede2 1px solid; margin-right:-1px;}
	.sub-wrap .col-sub-menu:last-child {border-right:none}
	.sub-wrap .col-sub-menu h3 {border-bottom:#c9ede2 1px solid; padding-bottom:6px; margin-bottom:2px;}
	.sub-wrap .col-sub-menu h3 a {font-size:16px; color:#4ca18d; display:block;}
	.sub-wrap .col-sub-menu ul {list-style:none; text-align:left}
	.sub-wrap .col-sub-menu ul a {color:#4ca18d; font-size:14px; line-height:30px;}
	.sub-wrap .col-sub-menu ul a:hover,.sub-wrap .col-sub-menu h3 a:hover {color:#45786c !important}

#bxsliders {margin-bottom:23px;}
.block-center {width:880px; margin:0 auto}
.block-wel {font-size:16px; margin-bottom:27px; clear:both}
	.block-wel h2 {font-family: 'Lobster', cursive; font-size:36px; color:#5eceb4; line-height:normal; padding-top:15px; margin-bottom:10px;}
	.block-wel h2 a {color:#5eceb4;}
	.block-wel h2 a:hover {text-decoration:underline}
	.block-wel img {float:right; margin-left:35px;}

.img-left h2 {padding-top:0}

.hide{display:none;}
.tabs {list-style:none; padding:0; margin:0 0 -1px 0; overflow:hidden; position:relative; z-index:2}
.tabs li {float:left; margin-right:10px;}
	.tabs li a {background-color:#f6fcfa; border:#e2f4ed 1px solid; font-family:'Conv_american-captain'; color:#f2cfa7; padding:0 15px; display:block; font-size:24px; height:40px; line-height:40px;}
	.tabs li a:hover {background-color:#f0f9f6; color:#eeba7d;}
	.tabs li a.on {color:#ed9b2a; background-color:#fff; border-bottom:#fff 1px solid}
	.tabs li a:active {outline:none}
	.tab_content {float:left; width:100%; position:relative; border-top:#e2f4ed 1px solid; border-bottom:#e2f4ed 1px solid; margin-bottom:35px;}
	.tab_content .nav .prev, .tab_content .nav .next {position:absolute; top:57px; background:url(../img/nav.png) top left no-repeat; width:51px; height:50px; cursor:pointer; text-indent:-9999px;}
	.tab_content .nav .prev {left:-50px; background-position:0 -101px}
	.tab_content .nav .prev:hover {background-position:0 -152px}
	.tab_content .nav .next {right:-50px;}
	.tab_content .nav .next:hover {background-position:0 -51px}
	.body-tab {margin-left:18px; }
	.body-tab ul {list-style:none}
	.body-tab li {float:left; width:168px; height:158px; padding-top:18px; text-align:center;}
	.body-tab li h2 {margin-top:-6px;}
	.body-tab li h2 a {color:#4ca18d; font-size:14px;}
	.body-tab li:hover {background-color:#effaf7}
	.body-tab li p a {display:block; height:125px;}

.img-left img {float:left; margin:0 25px 0 0;}
.paging {text-align:center; margin-bottom:50px;}
.paging a {display:inline-block; background-color:#effaf7; border-radius:6px; -webkit-border-radius:6px; font-size:14px; color:#4ca18d; height:38px; line-height:38px; padding:0 20px;}
	.paging a:hover {background-color:#e1f3ee}


.wp-editor {}
	.wp-editor .desc-text {font-size:16px; margin-bottom:20px;}
	.wp-editor p, .wp-editor ul, .wp-editor ol, .wp-editor table, .wp-editor img {margin-bottom:20px;} 
	.wp-editor ul, .wp-editor ol, .wp-editor table {clear:both}
	.wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {margin:0 0 5px 0}
	.wp-editor h2 {font-family: 'Lobster',cursive;
    font-size: 26px; color:#5eceb4}
	.wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {font-size:18px; color:#e59429; font-weight:bold}
	.wp-editor h4, .wp-editor h5, .wp-editor h6 {font-size:16px;}
	.wp-editor img.alignright {float:right; margin-left:25px; clear:right}
	.wp-editor img.alignleft {float:left; margin-right:25px; clear:left}
	.wp-editor a {color:#4ca18d;}
	.wp-editor a:hover {text-decoration:underline}
	.wp-editor ul {list-style:none}
	.wp-editor ul li {background:url(../img/bullet.gif) 0 9px no-repeat; padding-left:19px;}
	.wp-editor ol {margin-left:19px;}
	.wp-editor table {border-collapse:collapse}
	.wp-editor table th {background-color:#5eceb4; font-weight:normal; color:#fff}
	.wp-editor table th, .wp-editor table td {border:#e2f4ed 1px solid; padding:8px 12px}

#commentform {margin-bottom:30px; margin-top:30px; border-top:#c5eadc 1px solid; padding-top:30px;}
#commentform .input-half {
    margin-bottom: 10px;
}
#commentform .input-half label {
   
    float: left;
    width: 135px;
	font:14px/22px 'droidsans',Arial,Helvetica,sans-serif
}
#commentform .input-half input, #commentform .input-half textarea {
    border:#d3d3d3 1px solid;
    color: #6b2d52;
    font: 14px/22px 'droidsans',Arial,Helvetica,sans-serif;
    min-width: 375px;
    padding: 6px 8px;
	box-shadow:none;
	float:left
}
.error-text {background:url(../img/error-label.png) top left no-repeat; width:104px; height:33px; float:left; text-align:center; color:#fff; font:normal 13px/33px Arial, Helvetica, sans-serif; margin-left:10px; display:none}
#commentform  .error .error-text {display:block}
#commentform .error input, #commentform .error textarea {border:#ff0000 1px solid}
#commentform .input-half textarea {height:90px;}
.btn, a#choose_preview {border:none; background-color:#5eceb4; padding:8px 22px 7px; border-radius:7px; -webkit-border-radius:7px; font-family:'Conv_american-captain'; font-size:20px; color:#fff; cursor:pointer; letter-spacing:1px;}
.btn:hover, a#choose_preview:hover {background-color:#4ca18d}
.btn:active, a#choose_preview:active, .btn:focus, a#choose_preview:focus, :focus {outline:none;}
a#choose_preview {background:url(../img/white-arr.png) 94% 16px no-repeat #5eceb4; height:42px; line-height:43px; padding:0 32px 0 15px; width:auto; bottom:37px !important}
#commentform .form-submit {text-align:right; padding-right:142px;}
#voor_preview, #binnen_preview {top:0 !important}
#knav {margin-top:0 !important; border-top:#e2f4ed 1px solid; border-bottom:#e2f4ed 1px solid; margin-bottom:50px;}

#design {height:auto !important; min-height:350px;}
.description {bottom:0 !important;
    position: relative !important;
    width: auto !important;}

#card_previews_horizontal {height:176px !important}
#card_previews_horizontal a {width:168px !important; text-align:center; /*padding-top:17px; padding-bottom:11px*/}
#card_previews_horizontal a img {max-width:168px; max-height:176px;}
#card_previews_horizontal a:hover {background-color:#effaf7}
#card_previews_horizontal a span {display:block; text-align:center; color:#4ca18d; line-height:normal}
#knav #prev_page, #knav #next_page {text-indent:-9999px;}

#accordion div.ui-accordion-content {overflow-y:inherit; overflow:inherit}

#body_account .button, #body_account_settings  .button {
background: url(../img/right-arr.png) no-repeat scroll 90% center #FDAA2D;
    color: #FFFFFF;
    display:block;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    padding: 0 57px 0 17px;
	float:none;
	width:160px;
	margin-top:10px;
}
#body_account .button:hover, #body_account_settings  .button:hover, 
#body_account_password #pagecontent input[type="submit"]:hover, #body_account_address #pagecontent input[type="submit"]:hover {background-color:#E59429; text-decoration:none}
#body_account_settings #pagecontent br, #body_account #pagecontent br {display:none}

#body_account_password #pagecontent table td, #body_account_address #pagecontent table td {
    padding: 3px 10px 3px 0;
}
#body_account_password #pagecontent input[type="password"], #body_account_address #pagecontent input[type="text"] {
    padding: 8px 1% !important;
    width: 98%;
}
#body_account_password #pagecontent input[type="submit"], #body_account_address #pagecontent input[type="submit"] {
    background: none repeat scroll 0 0 #FDAA2D;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#body_account_address #pagecontent select {
    padding: 8px 1% !important;
    width: 100%;
}

#pagecontent {padding-bottom:20px;}
/*#pagecontent a {color: #4CA18D;}
#pagecontent a:hover {text-decoration:underline}*/
#pagecontent table {margin-top:15px;}
#body_account_nieuwsbrief #pagecontent div {margin-top:15px; clear:both}
	#body_account_nieuwsbrief #pagecontent div input[type="checkbox"] {margin-top:5px;}

#step_back {background:url(../img/left-arr.png) left center no-repeat; margin-top:15px;}

#voor_preview  {min-height:370px; background:url(../img/confetti-bg.png) bottom center no-repeat; position:relative !important}
#voor_preview img {
    float: left;
    width: 375px;
}
#voor_preview img:first-child {
 
    width: 260px;
}
