@font-face {
    font-family: 'droidsans';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#droidsans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidsans_bold';
    src: url('fonts/droidsans-bold-webfont.eot');
    src: url('fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-bold-webfont.woff') format('woff'),
         url('fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('fonts/droidsans-bold-webfont.svg#droidsans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif_italic';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: url('fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-italic-webfont.woff') format('woff'),
         url('fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-italic-webfont.svg#droidserif_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('fonts/droidserif-bolditalic.eot');
    src: url('fonts/droidserif-bolditalic.eot') format('embedded-opentype'),
         url('fonts/droidserif-bolditalic.woff') format('woff'),
         url('fonts/droidserif-bolditalic.ttf') format('truetype'),
         url('fonts/droidserif-bolditalic.svg#DroidSerifBoldItalic') format('svg');
}

.button {
	font-size: 18px;
	font-family: 'droidserif_italic';
	background: #d19e33;
	height: 45px;
	width: 198px;
	padding: 0;
	text-align: center;
	line-height: 45px;
}

.button:hover {
	background: #b2862b;
}

input[type="file"],
input[type="password"],
input[type="text"] {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 5px  !important;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#pt-upload input[type="file"] {
	width: 285px;
}

#header {
	height: 50px;
	z-index:999999;
	margin-top:0;
	width:980px;
}

#home {
	display:block;
	background:url(../img/small-logo.png) no-repeat scroll 0 0;
	width:106px; height:74px; left:20px; top:7px;
}

#editor_top_border,
#editor_bottom_border,
#switch_card {
	display: none;
}

#pagecontent {
	float: left;
	background: #fff;
	width: 960px;
	padding: 0 20px;
	border: none;
	min-height:645px;
}

.leftdiv {
	padding-top: 15px;
}

#body_edit .leftdiv {
	position: relative;
}

.rightdiv {
	padding-top: 22px;
	width: 340px;
}

#headernavigation {
	margin: 0;
	height: 50px;
	display:none
}

#headernavigation a {
	height: 50px;
}

#accordion {
	width: 340px !important;
}

#accordion h3 {
	padding: 0;
	margin: 0;
	
}

#accordion h3 a {
	background:url(../img/tab-editor.png) 0 -26px no-repeat;
	font-family: 'droidsans';
	font-size: 13px;
	color: #fff;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 10px !important;
}

#accordion h3 a:hover {
	background-position:top left;
}

#accordion .ui-state-active a, #accordion .ui-state-active a:hover {
	background-position:bottom left
}

#accordion .ui-accordion-content {
	color: #6b2d52;
	background: #f7fcfb;
	border-top: none;
	margin-top: -3px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#body_enveloppen #accordion .ui-accordion-content {
	background: none;
}

#headermenu {
	padding: 0;
	margin: 0;
}

#headermenu {
	padding: 0 !important;
}

#headernavigation {
	padding: 0;
	left: 0;
	width: 445px;
}

#choose_card {
	display: none !important;
}

#headernavigation_buttons a {
	background: url(../img/arrow-step-editor.png) no-repeat right center;
	text-transform: uppercase;
	color: #878686;
	font-size: 16px;
	font-family: 'droidsans';
	text-indent: -9999em;
	line-height: 1.1;
	padding-right: 25px;
	margin-right: 10px;
	width: auto;
}

#headernavigation_buttons a img {
	display: none !important;
}

#headernavigation_buttons a:hover {
	color: #878686;
}

#headernavigation_buttons a div {
	padding: 0 0 0 36px;
	height: 50px;
	text-align: left;
}

.headernavigation_buttons_active {
	color: #262626 !important;
}

#edit_card div {
	background: url(../img/step01.png) no-repeat left center;
}

#edit_card.headernavigation_buttons_active div {
	background: url(../img/step01-active.png) no-repeat left center;
}

#address_card div {
	background: url(../img/step02.png) no-repeat left center;
}

#address_card.headernavigation_buttons_active div {
	background: url(../img/step02-active.png) no-repeat left center;
}

#pay_card div {
	background: url(../img/step03.png) no-repeat left center;
}

#pay_card.headernavigation_buttons_active div {
	background: url(../img/step03-active.png) no-repeat left center;
}

#headernavigation_buttons #pay_card {
	background: none;
	padding-right: 0;
	margin-right: 0;
}

#headermenu {
	height: auto;
}

#headermenu {
	height: auto;
	padding-top: 15px !important;
}

#nav_buttons {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	width: 960px !important;
	left: 20px !important;
	bottom: 20px !important;
	height: 63px;
	padding-top: 10px;
}
 #nav_buttons {
	
	background-color:#effaf7;
	height:57px;
	padding-top:13px;
	border:none;
}
#body_edit #nav_buttons {
	left: 0 !important;
	background-color:#effaf7;
	height:57px;
	padding-top:13px;
	border:none;
}

#step_forward,
#order_card, #nav_buttons .button, #body_basket .button-block button.button {
	letter-spacing:1px;
	background: url(../img/ico-arrow05.png) no-repeat 94% center #fdaa2d;
	font-family: 'Conv_american-captain';
	font-size: 24px;
	height: 42px;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 35px;
	color:#fff;
	box-shadow:1px 1px 0 #99dfcd;
	width:auto;
	border-radius:6px;
	-webkit-border-radius:6px;
	margin-right:12px;
	float:right
}

#step_forward:hover,
#order_card:hover, #nav_buttons .button:hover, #body_basket .button-block button.button:hover {
	background-color: #e59429;
}



#skip_design {
	display: none;
}

#step_back,
#step_forward_alternate {
	color: #4ca18d;
	font-size: 18px;
	font-family:'Conv_american-captain';
	width: auto;
	line-height: 16px;
	
}

#step_forward_alternate {
	background: url(../img/arr-blue.png) no-repeat right center;
	padding-right: 22px;
	margin-right: 163px;
	margin-top: 14px;
}

#step_back {
	margin-top: 14px;
	background: url(../img/arrow-step-back.png) no-repeat left center;
	padding-left: 22px;
	
	margin-left:11px;
	
}

#step_back:hover,
#step_forward_alternate:hover {
	text-decoration: underline;
}

#chooseside {
	top: -22px;
}

#nav_remark_div {
	bottom: 104px;
	font-family: 'droidsans';
	color: #5eceb4;
	left: 20px;
	width: 960px;
	font-size: 14px;
}

#nav_remark_div b {
	display:block;
	font-weight:bold
}

#pagecontent h1 {
	margin-left: 0 !important;
	color:#5eceb4
}

#body_addresses .button_wide,
#body_keuze .button {
	font-size: 18px;
	font-family: 'droidserif_italic';
	background: #d19e33;
	height: 45px;
	width: 198px;
	padding: 0;
	text-align: center;
	line-height: 45px;
}

#body_addresses .button_wide:hover,
#body_keuze .button:hover {
	background: #b2862b;
}

#body_keuze .choice_div {
	padding: 0 10px;
	width: 198px;
}

#body_keuze .choice_center {
	width: 654px;
}

#body_keuze .choice_center h1 {
	padding-bottom: 57px;
}

#body_keuze .choice_div_content {
	background: url(../img/keuze_bg_small.gif) no-repeat 0 73px;
	width: 198px;
}

#body_keuze .choice_div a:hover .choice_div_content {
	background-image: url(../img/keuze_bg_small_o.gif);
}

#body_keuze .choice_div a:hover .button {
	background: #b2862b;
}

#body_bestel_login .choice_center div.choice_block {
	background: #effaf7;
	border: none;
	width: 178px;
	padding: 20px;
	margin: 0 10px;
	min-height: inherit !important;
	height: 244px;
	color:#6b2d52
}

#body_bestel_login div.choice_block .button {
	font-size: 22px;
	font-family: 'Conv_american-captain';
	color:#fff;
	background: #5eceb4;
	height: 38px;
	width: 200px;
	padding: 0;
	text-align: center;
	line-height: 38px;
	margin: 0;
	bottom: 10px !important;
	left: 9px;
	border-radius:6px;
	-webkit-border-radius:6px;
	letter-spacing:1px;
}

#body_bestel_login div.choice_block .button:hover {
	background: #4ca18d !important;
}

#body_bestel_login table {
	border-spacing: 0;
	border: 0;
}

#body_bestel_login input[type="text"],
#body_bestel_login input[type="password"] {
	width: 167px !important;
}

#body_bestel_login .color {
	font-size: 16px;
	color: #6b2d52;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#body_bestel_login .choice_block ul,
#body_bestel_login .choice_block form {
	padding-top: 16px;
}

#body_bestel_login table td {
	padding-bottom: 6px;
}

#body_bestel_login table b {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#body_bestel_login table input {
	margin-top: 4px;
}

#body_bestel_login .choice_block li {
	background: url(../img/ico-square.gif) no-repeat 0 7px;
	padding: 0 0 0 10px;
	font-size: 14px;
	color: #6b2d52;
}

#body_bestel_login .choice_center a:hover .button {
	background: #4ca18d !important;
}

#body_bestel_login .choice_center h1 {
	padding-bottom: 50px;
}

#body_addresses .leftdiv,
#body_address .leftdiv {
	width: 710px;
}

#body_addresses .address,
#body_address .address {
	background: none;
	
	padding: 0 20px 20px 0;
	width: 668px;
	height: auto;
}

#body_addresses #rightdiv,
#body_address #rightdiv {
	float: right;
	width: 230px;
	padding: 0;
}

#body_addresses .address table,
#body_address .address table {
	margin: 0;
	width: 668px;
	position: inherit;
	top: 0;
	border-spacing: 0;
	border: none;
	font-size: 14px;
}

#body_address .address table tr td {
	padding: 5px 0;
}

#body_addresses .address table tr td:first-child,
#body_address .address table tr td:first-child {
	width: 130px;
}

.address input[type="text"],
.address select {
	width: 526px;
	font-size: 14px;
}

.address select {
	height: 30px;
	width: 538px;
	padding: 5px;
}

.address input.short {
	width: 185px;
}

#suffix,
.address #address_last_name,
#address_suffix,
#address_city {
	width: 185px;
}

select[name="papiersoort"],
select[name="enveloppen"] {
	width: 197px;
}

#body_addresses .address table tr td.col4 {
	width: 197px !important;
}

.col2, .col3, .col4 {
	width: auto;
}

#body_addresses .address table tr td.col04,
#body_address .address table tr td.col04 {
	width: 197px;
}

#order_present_preview {
	padding: 0 !important;
	background: none !important;
	width: 228px !important;
	border: 1px solid #d3d3d3;
	height: auto !important;
	text-align: center;
}

#body_address #order_present_preview {
	margin-top: 108px !important;
}

#body_addresses #order_present_preview {
	margin-top: 0 !important;
	background:#effaf7 !important;
	border:none;
	padding:10px !important;
	width:208px !important
	
}
#body_addresses #order_present_preview br {display:none}

#order_address_preview .title,
#papier_preview .title,
#order_present_preview .title {
	
	font-size: 14px;
	font-family: 'droidsans';
	padding:0;
	font-weight:bold;
	color:#68d1b9;
	text-align:left;
	height:auto; line-height:normal;
	margin-bottom:10px;
}

#order_address_preview,
#papier_preview {
	padding: 0 !important;
	background: none !important;
	width: 228px !important;
	border: 1px solid #d3d3d3;
	height: auto !important;
}

#body_address #papier_content {
	border: none;
	margin: 0;
	padding: 20px;
	width: 188px;
}

#body_address #papier_content p {
	margin: 0;
}

#body_address #papier_content ul {
	margin: 15px 0 0 0;
}

#enveloppen_preview {
	position: absolute;
	left: 50px;
	top: 694px;
	height: auto !important;
	background: none !important;
	border: 1px solid #d3d3d3;
	width: 710px;
}

#enveloppen_preview .title {
	background: #d19e33;
	font-size: 13px;
	font-family: 'droidsans';
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: left;
}

#enveloppen_preview table {
	border-spacing: inherit;
	margin: 20px;
}

.enveloppen_beschrijving {
	font-size: 12px;
	padding-top: 20px;
}

.enveloppen_beschrijving a {
	color: #d19e33;
}

.enveloppen_beschrijving a:hover {
	text-decoration: underline;
}

#body_addresses #pagecontent {
	min-height: 925px !important;
}

#body_addresses #order_address_preview {
	height: auto !important;
	background:#effaf7 !important;
	border:none;
	padding:10px !important;
	width:208px !important
}

#body_addresses #order_address_preview div {
	margin-left: 0 !important;
}

#body_addresses #order_address_preview div a {
	color: #d19e33;
}

#body_addresses #order_address_preview div a:hover {
	text-decoration: underline;
}

#body_addresses #addr_total {
	width: 118px;
	color: #d19e33;
}

#body_addresses .addr_list {
	width: 188px;
	margin: 20px;
	overflow: auto;
}

#body_check .choice_center {
	margin: 0 !important;
}

#body_check .leftdiv {
	width: 440px !important;
}

#send_date_picker {
	background: url(../img/gfx/date_bg.png) 3px 0 no-repeat;
}

#send_date_picker td * {
	color: #262626;
}

#send_date_picker .ui-state-active {
	background: none repeat scroll 0 0 #FDAA2D !important;
    border-radius: 50%;
    font-size: 11px;
    height: 27px;
    line-height: 27px;
    margin-bottom: -2px;
    margin-left: 5px;
    padding: 0 !important;
    text-align: center;
    width: 27px;
}
#send_date_picker .ui-state-default {font-weight:normal}


.ui-datepicker-title {
	font-size: 24px;
	font-family:'Lobster',cursive;
}

.ui-datepicker-prev {
	background: url(../img/ico-vorige-maand.png) no-repeat 0 4px !important;
	height: 20px !important;
	margin-top: 20px;
	padding-left:15px !important;
}

.ui-state-disabled.ui-datepicker-prev-hover {
	color: inherit !important;
}

.ui-datepicker-next {
	background: url(../img/ico-volgende-maand.png) no-repeat 100% 4px !important;
	height: 20px !important;
	margin-top: 20px;
	right: 19px !important;
	padding-right:15px !important;
	
}

.ui-datepicker .ui-datepicker-next span {text-align:right !important}

.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
	color: #d19e33 !important;
}

.ui-datepicker-next span,
.ui-datepicker-prev span {
	top: 0 !important;
	position: inherit !important;
	display: block !important;
	left: 10px !important;
	text-align: left !important;
}

#send_date_picker .ui-datepicker-header {
	height: 43px;
	padding-top: 77px;
}

#body_check h1 {
	margin-bottom: 35px;
}

#body_check .rightdiv {
	width: 473px;
	padding-top: 53px;
}

#body_check .rightdiv #accordion {
	width: 473px !important;
}

#bezorgdatum {
	font-weight: bold;
	color:#fdaa2d;
	font-size:18px;
	display:block;
	font-style:normal;
	margin:20px 0
}

#body_basket #basket {
	width: 960px;
}

#body_basket #basket tr:first-child td {
	
	color: #fdaa2d;
	font-size: 18px;
	font-weight:bold;
	height: 45px;
	padding: 0;
}

#body_basket .line {
	border-color: #aaffde;
}

#body_basket .style {
	display: inline;
	float: none !important;
}

#rebate {
	display: none;
}

#pay {
	line-height: 26px !important;
	float: none !important;
	margin-top: 20px;
	height: 44px;
}

#body_size .info_div .img_div {
	height: 195px;
}

#body_size .info_div {
	height: 372px;
}

#body_size #pagecontent {
	min-height: 670px;
}

#body_size .choice_div {
	padding: 0 5px;
	width: 198px;
}

#body_size .choice_center {
	width: 630px !important;
}

#body_enveloppen .leftdiv {
	float: none !important;
	width: auto !important;
}

#body_enveloppen .rightdiv {
	float: none !important;
	position: absolute;
	right: 70px;
	top: 127px;
	padding-top: 0;
	width: 322px;
}

#body_enveloppen #accordion h3 {
	display: none;
}

#body_enveloppen #accordion {
	width: 252px !important;
}

#body_enveloppen #accordion table td {
	width: 100px !important;
}

#body_enveloppen #accordion .ui-accordion-content {
	height: auto !important;
	border: none;
	padding: 0 !important;
}

#body_enveloppen .col2 {
	width: 195px;
}

#body_enveloppen .col4 input {
	width: 147px;
}

#body_enveloppen .address {
	height: auto;
	border: none;
	padding: 0 20px 20px 0;
	width: auto;
	margin-top:-11px;
}

.address table {
	width: 668px;
	margin: 0;
}

#body_enveloppen .address table {
	width: 100%;
	top: 0;
	font-size:13px;
}

.address table td {
	height: 38px;
}

.address input[type="text"],
.address select {
	width: 430px;
	font-size: 14px;
}

.address table .col3 {
	width: 80px;
}

.address select {
	width: 442px;
}

.address .col4 input[type="text"] {
	width: 147px;
}

.address .col2 input[type="text"] {
	width: 170px;
}

#body_enveloppen #pagecontent {
	min-height: 655px;
	position: absolute;
}

#body_enveloppen #step_forward {
	background-position: 238px center;
	width: 260px;
}

#save_user_design,
#save_design,
#imageaddformclose,
#pt-upload input[type="submit"],
#choose_font,
#add_photo,
#add_text, #position_photo_full {
	border: 1px solid #d3d3d3;
	background: #e2f4ed;
	height: 29px;
	padding:4px 6px 5px;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #fff;
	-webkit-box-shadow: inset 1px -1px 0 0 #fff;
	box-shadow: inset 1px -1px 0 0 #fff;
	font-size:13px; color:#6b2d52; font-family:'droidsans';
}

#pt-upload input[type="submit"] {
	margin-top: 10px;
}

#save_user_design:hover,
#save_design:hover,
#imageaddformclose:hover,
#pt-upload input[type="submit"]:hover,
#choose_font:hover,
#add_photo:hover,
#add_text:hover, #position_photo_full:hover {
	background: #dfdfdf;
}

.combolist a {
	display: block !important;
}

#save_design {
	clear: both;
	margin: 0 0 7px 0;
}

.ui-accordion-content input#id,
.ui-accordion-content input#title,
.ui-accordion-content input#description,
.ui-accordion-content input#sort_order {
	padding: 3px 5px !important;
	margin: 0 0 7px 0;
	width: 282px !important; 
}

.ui-accordion-content select#designer_code,
.ui-accordion-content select#category {
	padding: 3px 5px !important;
	width: 294px;
	margin: 0 0 7px 0;
}

#body_check #accordion .ui-accordion-content {
	height: auto !important;
	background:none; padding:0 !important;
	font:14px/22px 'droidsans',Arial,Helvetica,sans-serif
}

#body_verzend .choice_div {
	width: 175px;
}

#body_verzend #outer_meer {
	margin: 0 20px;
}

#body_cadeau .choice_div .button,
#body_verzend .choice_div .button {
	width: 175px !important;
}

#body_verzend #outer_een .img_div span {
	top: 68px;
}

#body_verzend #outer_meer .img_div span {
	top: 73px;
}

#body_verzend #outer_thuis .img_div span {
	top: 75px;
}

#body_size .choice_div,
#body_size .button {
	width: 175px !important;
}


/* # clearfix
---------------------------------------------------------------------------- */

#body_addresses #order_address_preview div,
#bt-pattern,
#bt-color,
#nav_buttons,
#pagecontent {
	zoom: 1;
}

#body_addresses #order_address_preview div:after,
#bt-pattern:after,
#bt-color:after,
#nav_buttons:after,
#pagecontent:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.bg_select, .rightdiv select, .address #form select {padding:3px 3px 3px 5px; margin:-1px 0 0; height:29px; box-shadow:1px -1px 0 0 #FFFFFF inset; -webkit-box-shadow:1px -1px 0 0 #FFFFFF inset; border:1px solid #D3D3D3; font-family:'droidsans'; font-size:13px; color:#6B2D52; background-color:#e2f4ed}

#body_enveloppen .address #form select {background:none; box-shadow:none; -webkit-box-shadow:none;}

#chooseside .double_portrait_p1, #chooseside .double_square_p1 {
	background-image: url(../img/gfx/icon_double_portrait_p1.png);
    height: 50px;
    width: 41px;	
}
#chooseside .double_portrait_p2, #chooseside .double_square_p2 {
	background-image: url(../img/gfx/icon_double_portrait_p2.png);
    height: 50px;
    width: 54px;	
}
#chooseside .double_portrait_p3, #chooseside .double_square_p3 {
	background-image: url(../img/gfx/icon_double_portrait_p3.png);
    height: 50px;
    width: 55px;	
}
#chooseside .double_portrait_p4, #chooseside .double_square_p4 {
	background-image: url(../img/gfx/icon_double_portrait_p4.png);
    height: 50px;
    width: 45px;	
}
#body_voorbeeld .choice_center img {margin-top:0 !important}

#body_addresses #pagecontent, #body_enveloppen #pagecontent, #body_addresses #pagecontent, #body_check #pagecontent, #body_enveloppen  #pagecontent {padding-top:100px;}
	#body_addresses #pagecontent #leftdiv h1, #body_enveloppen #pagecontent #leftdiv h1, #body_addresses #leftdiv h1, #body_check .choice_center h1, #body_enveloppen .leftdiv h1 {position:absolute; top:50px; left:0; text-align:center; width:100%}

.list-01 {text-align:center; margin-top:20px;}
.list-01 li {display:inline-block; width:215px; text-align:center; list-style:none}
	.list-01 li a {display:block; text-align:center}
	.list-01 li a i {background:url(../img/bepaal.png) top left no-repeat; width:178px; height:178px; display:inline-block; margin-bottom:4px;}
	.list-01 li a span {display:block; font-family:'Lobster',cursive; font-size:24px; color:#5eceb4}
	.list-01 li a:hover i {background-position:left -177px}
	.list-01 li.item-02 a i {background-position:-217px 0}
	.list-01 li.item-02 a:hover i {background-position:-217px -177px}
	.list-01 li.item-03 a i {background-position:top right}
	.list-01 li.item-03 a:hover i {background-position: right -177px}

#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {font-family: 'droidsans',Arial,Helvetica,sans-serif; color:#6B2D52}

#body_enveloppen #leftdiv {float:left; width:560px; margin-right:40px;}
#body_enveloppen #rightdiv {overflow:hidden; padding-top:20px;}

#body_addresses #leftdiv {float:left; width:690px; margin-right:40px;}
#body_addresses #rightdiv {overflow:hidden; padding-top:20px;}

.list-pat {overflow:hidden; list-style:none; max-width:280px; margin-left:-10px; margin-bottom:10px;}
	.list-pat li {float:left; margin-right:22px; text-align:center; width:65px; margin-bottom:15px;}
	.list-pat li span {display:block; font-size:11px; line-height:normal}
	.text-pat, .enveloppen_beschrijving {font-size:12px; line-height:18px; font-family:'droidsans',Arial,Helvetica,sans-serif}
	.text-pat a, .enveloppen_beschrijving a {color:#5ECEB4}
p:empty {display:none}
#enveloppen01, #papiersoort {width:158px !important;}
.enveloppen-wrap {clear:both; padding-top:25px; margin-top:20px;}
.head-t {font-size:14px; font-weight:bold; color:#5eceb4; margin-bottom:17px; margin-left:-30px;}
.enveloppen-wrap .head-t {border-top:#c4eadd 1px solid;  padding-top:25px; margin-bottom:25px; }
.enveloppen-wrap .list-pat {max-width:687px;}

#body_addresses .address {height:auto; background:none; width:auto}
#body_addresses .address input[type="text"], #body_addresses .address .col4 input[type="text"] {width:100%}
 #body_addresses .address select {width:102.3%}
#body_addresses .address .col2 input[type="text"] {width:90%}
#body_addresses .address table {width:98%}
#body_addresses #enveloppen01, #body_addresses #papiersoort {width: 95% !important}
#body_addresses .col04 #papiersoort {width:105% !important}

#body_addresses #pagecontent {min-height:850px;}
.papiersoorten-wrap {font-size:12px; line-height:18px}
	.papiersoorten-wrap p {margin-bottom:15px; }

#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {top:75px; font:12px  'droidsans',Arial,Helvetica,sans-serif}

#body_check #accordion h3 a {background:none; font-size:24px; color:#5eceb4; font-family:'Lobster',cursive; margin-bottom:20px; padding-left:0 !important}

#body_check #pagecontent { min-height: 550px;}
.button.delbtn {width:auto; height:auto; background:url(../img/del.png) left center no-repeat; display:block;  color:#ff0000; font:  12px  'droidsans',Arial,Helvetica,sans-serif; padding-left:23px; height:19px; line-height:19px;}
#basket td b {font-weight:normal}
#body_basket #pagecontent {padding-top:58px;}
.email_block .line {display:none}
table#basket {margin-bottom:40px !important;}
.email_block  {margin-bottom:10px;}
.email_block label, .reference_block label {float:left; width:255px; line-height:31px; text-align:right; font-size:12px; margin-right:10px;}

#body_basket .button-block {width:auto !important; margin-top:-44px;}
#body_basket .button-block a.button {background:url(../img/arr-blue.png) right center no-repeat; color:#4ca18d; font-family:'Conv_american-captain'; font-size:18px; width:auto; height:auto; padding:0 20px 0 0; margin-top:-8px; line-height:normal; float:right; letter-spacing:1px;}

	#body_basket .button-block a.button:hover {text-decoration:underline}
	#body_basket .button-block button.button {height:57px; float:right; margin:2px 0 0 }
	#body_basket .button-block button.button span {display:block; font:13px 'droidsans',Arial,Helvetica,sans-serif; color:#fefefe}
	#body_basket .button-block button.button strong {font-weight:normal}
	
.email_block label {line-height:17px;}

.type-page-list {list-style:none; margin-left:155px; margin-top:40px; margin-bottom:37px; overflow:hidden}
.type-page-list li {float:left; text-align:center}
	.type-page-list li img {}
	.type-page-list li span {display:block; text-align:center}
	.type-page-list li.item01 {margin-right:53px;}
	.type-page-list li.item02 {margin-right:87px;}
	.type-page-list li.item03 {margin-right:72px;}
	.type-page-list li a {font-size:16px; color:#4ca18d}

#total-sum {background-color:#effaf7; margin-bottom:42px;}
	#total-sum td {padding:10px 10px 10px 25px; font:14px/24px Arial, Helvetica, sans-serif; color:#262626}
	#total-sum .col-left {background-color:#e2f4ed; padding-left:55px; width:245px; line-height:28px}
	#total-sum td p {margin-top:12px;}

.nav-footer {overflow:hidden; clear:both; border-top:#d3d3d3 1px solid; padding-top:10px;}
.nav-footer a.llink {background:url(../img/left-arr.png) left center no-repeat; font-size:14px; color:#4ca18d; padding-left:15px; font-size:14px; float:left; margin-top:17px;}
.nav-footer a.rlink {background:url(../img/right-arr.png) 90% center no-repeat #5eceb4; color:#fff; float:right; height:56px; line-height:56px; padding:0 57px 0 17px; font-size:20px;}
	.nav-footer a.rlink:hover {background-color:#4ca18d}
.nav-footer p {float:left; margin-left:255px; font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#262626; margin-top:17px;}