#knav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    margin-top: -10px;
}

#card_previews_horizontal {
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-linear-gradient(
        left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 15%,
        rgba(0,0,0,1) 85%,
        rgba(0,0,0,0) 100%
    );
    mask: url(design_mask.svg#mask);
    height: 200px;
}

#prev_page, #next_page {
    position: absolute; 
    top: 0px; 
    cursor: pointer;
    width: 80px;
    height: 200px;
}

#prev_page {
    left: 0; 
    background: url(/common/gfx/arrow_left.png) center left no-repeat;
}

#next_page {
    right: 0; 
    background: url(/common/gfx/arrow_right.png) center right no-repeat;
}

#card_previews_horizontal a {
    display: inline-block;
    width: 200px;
}
#card_previews_horizontal #inner {position:absolute}
#design {
    position: relative;
    height: 320px;
    text-align: center;
}

#design .description {
    position: absolute;
    bottom: 20px;
    width: 200px;
    text-align: left;
    white-space: pre-wrap;
}

#design .designer {
    -webkit-transform: rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% -80px;
    -moz-transform-origin: 50% -80px;
    -ms-transform-origin: 50% -80px;
    -o-transform-origin: 50% -80px;
    transform-origin: 50% -80px;
    position: absolute;
    right: 0;
    bottom: 50px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 20px;
    line-height: 20px;
}

#choose_preview, #direct_basket {
    float: none;
    position: absolute;
    right: -40px;
    bottom: 20px;
}

#direct_basket {
    bottom: 50px;
    right: -25px;
}

.select_preview {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: none;
}

.select_preview span {
    display: inline-block;
    position: relative;
    width: 70px;
}

.select_preview span img {
    cursor: pointer;
}

.select_preview .select {
    position: absolute;
    top: 0;
    left: 50px;
}

#voor_preview, #binnen_preview {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
}
