html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana,Arial,"Times New Roman",Georgia,Serif;
    font-size: 12px;
}

html {
    overflow-y: scroll;
}

h1 {
    color: #822626;
    font-size: 22px;
    font-weight: normal;
}

h2 {
    color: #73B1E1;
    font-size: 22px;
    font-weight: normal;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a img {
    border: 0;
}

#wrapper {
    margin: 0 auto;
    *margin: 12px auto;
    padding: 0;
    width: 960px;
}

#header {
    background: url('../img/logo.png') 0px 0px no-repeat;
    height: 168px;
}

#home {
    position: absolute;
    width: 500px;
    height: 90px;
}
    
#headermenu {
    font-size: 11px;
    float: right;
    margin: 0;
    margin-top: 5px;
    height: 44px;
    padding: 0;
    width: 350px;
    padding-top: 47px;
}

#headermenu span {
    position: relative;
    top: 5px;
}

#headermenu a {
    color: rgb(130, 38, 38); 
    height: 26px; 
    display: block; 
    float: right; 
}    

#headerlogin {
    width: 100px; 
    background: url('../img/bullet_big.png') 61px 0 no-repeat;
}

#headerlogout span {
    width: 60px;
    text-align: left;
    display: block;
}

#headeraccount {
    width: 90px; 
    background: url('../img/bullet_big.png') 54px 0 no-repeat;
}

#headerhelp {
    width: 70px; 
    background: url('../img/bullet_big.png') 33px 0 no-repeat;
}

#headermenu a #headerbasket {
    display: block;
    width: 158px;
    height: 44px;
    background: url('../img/basket.png') 110px 0 no-repeat;
    float: right;
}

#basket_text {
    display: block;
    width: 90px;
    padding: 0 10px;
    text-align: right;
}

#basket_count {
    display: block;
    color: #60C2E4;
    width: 90px;
    padding: 0 10px;
    text-align: right;
    margin-top: 3px;
}

#custom_menu {
    margin-top: 34px;
    margin-left: 151px;
    height: 30px;
    width: 812px;
    padding-top: -72px;
    clear: both;
}

#custom_menu a {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    background-color: #87cce6;
    color: white;
    height:30px;
    line-height:30px;
    border-right: solid 1px white;
    font-size: 14px;
}

#custom_menu img {
    vertical-align: top;
}
    
#logo, #categories, #pagecontent {
    float: left;
}

#menu {
    background-color: #ccc;
    padding: 10px;
}

.maincategory, .category, ul.maincategory li, ul.category li {
    padding: 0;
    margin: 0;
}

ul.maincategory {
    list-style: none;
}

ul.maincategory  li {
    line-height: 40px;
}

ul.maincategory li a {
    color:#822626;
}

#categories ul.category {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    clear: both;
}

#categories .ui-widget-header, #categories .ui-widget-content, #categories .ui-state-default, #categories .ui-state-active {
    background: none;
}

#categories .ui-state-default, #categories .ui-state-active {
    color: #822626;
}

#categories .ui-state-active {
    font-weight: bold;
}

#categories span {
    display: none;
}

ul.category  li {
    line-height: 13px;
    padding-left: 20px;
    background: url('../img/bullet.png') 0px 0px no-repeat;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

ul.category  li a {
    color: #60c2e4;
}

ul.category  li:hover a, ul.category  li.active a {
    color: #822626;
}

ul.category  li:hover, ul.category  li.active {
    background: url('../img/bullet_h.png') 0px 0px no-repeat;
}

#categories {
    width: 138px;
}

#pagecontent {
      margin: 0 0 0 10px;
      padding: 0;
      width: 810px;
      *margin-top: -8px;
}

#actie {
    width: 179px;
    height: 179px; 
    position: absolute;
    margin-top: -300px;
    margin-left: 580px;
}

.textmiddle {
    vertical-align: middle;
}

#submenu {
    margin-top: -4px;
}

#submenu a {
    color: rgb(130, 38, 38); 
}

#submenu th {
    color: #822626;
    font-weight: normal;
    width: 202px;
    height:26px;
}

#order {
    width: 100%;
    border-collapse: collapse;
    color: #822626;
}

#order th, #order td {
    padding: none;
    margin: none;
}

#order th {
    color: #60C2E4;
    text-align: left;
}

#order tr {
    border-bottom: solid 1px #60C2E4;
}

#header {
    clear: right;
}

#footer {
    clear: both;
}

.errormsg
{
    color: red;
    text-decoration: underline;
}

/* login */
#login {
    border: solid 1px #FF581F;
    float: left;
    padding: 20px;
    padding-top: 0;
    height: 260px;
    width: 350px;
    position: relative;
}

#login input[type='text'], #login input[type='password'] {
    width: 248px;
}

#registreer {
    border: solid 1px #FF581F;
    float: left;
    padding: 20px;
    padding-top: 0;
    height: 260px;
    width: 350px;
    margin-left: 20px;
    position: relative;
}

#registreer input[type='text'], #registreer input[type='password'] {
    width: 200px;
}

#pw_recovery {
    clear: both;
    border: solid 1px #FF581F;
    float: left;
    padding: 20px;
    padding-top: 0;
    margin-top: 20px;
    height: 200px;
    width: 350px;
    position: relative;
}

#pw_recovery input[type='text'], #pw_recovery input[type='password'] {
    width: 248px;
}

/* einde login*/

.button, #categories .button
{
    background: url('../img/btn_keuze.png') 0px 0px no-repeat;
    height: 25px;
    width: 175px;
    float: left;
    color: white;  
    border: 0;
    line-height: 25px;
    cursor: pointer;
    padding-left: 35px;
    text-align: left;
}

input.button {
    background-position: 0px 1px;
    height: 26px;
}

#footer {
    padding-top: 20px;
}

#footer_table a {
    color: white;
}

#step_back {
    background: url("/img/red_arrow_left.png") no-repeat scroll 0 2px transparent;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 15px;
    margin: 0;
    padding-left: 18px;
    width: auto;
    color: black;
}

#nieuwsbrief {
    float:left;
    display: block;
    margin-right: 10px;
}

#body_login #login_nieuwbrief {
    float:left;
    display: block;
    width:295px;
}

#accordion div.ui-accordion-content {
    overflow-y: auto;
}

/* body_package_address */

#body_package_address .f {
    width: 100px;
}

#body_package_address .f_postcode {
    width: 70px;
}

#body_package_address table {
    width: 940px;
}


/* login */

#body_login .align_bottom {
    position: absolute; 
    bottom: 10px;
}

/* account_orders */

#body_account_orders #order {
    margin-bottom: 1em;
}

#body_account_orders .preview {
    width: 115px;
}

#body_account_orders .addrs td {
    padding: 0 5px;
}

/* account_adresboek */

#body_account_adresboek ul{
   padding: 0;
}

#body_account_adresboek #list li{
    list-style: none;
}

#body_account_adresboek #leftdiv{
    float:left;
    width: 277px;
}

#body_account_adresboek #rightdiv{
    float:left;
    margin-left: 20px;
    height: 274px;
    padding-left: 10px;
    padding-top: 10px;
    width: 490px;
}

#body_account_adresboek .img_address{
    border: solid 2px lightgray;
    background-color: white;
    padding: 4px 2px;
    margin-bottom: 7px;
}

#body_account_adresboek a:hover .img_address, #body_account_adresboek .active img {
    min-height: 75px;
    padding: 4px 2px;
    border: solid 2px red;
}

#body_account_adresboek .addr_list {
    overflow: scroll;
    overflow-x:hidden;
    height: 362px;
}

#body_account_adresboek #nav_buttons {
    width: 900px;
}
  
#body_account_adresboek .address {
    background: url("/img/envelop.png") repeat scroll 0 0 transparent;
    height: 284px;
    margin-bottom: 10px;
    width: 370px;
}

#body_account_adresboek .address input[type="text"], #body_account_adresboek .address select {
    width: 100%;
}

#body_account_adresboek #search {
    width: 271px;
}

/* aanmelding_bedrijven */

#body_aanmelding_bedrijven #land, #body_aanmelding_bedrijven #postadres_land, #body_aanmelding_bedrijven #factuuradres_land {
    width: 298px;
}

#pagecontent-footer {
    float: left;
    width: 100%;
}