<div class="top-block">
    <div class="container">
        <div class="cols">
            <div class="md-12">
                <p>
                    30 jaar geworden? Een gouden huwelijk is een heel speciaal moment en vraagt om een uitbundig feest. Echte proefdruk van jullie uitnodiging slechts € 0,99 en gratis verzonden!  Zelf een kaart maken? Bekijk de formaten van onze blanco kaarten. We leveren ook op maandag en je kunt er voor kiezen je uitnodiging direct aan je gasten te versturen, handig!
                </p>
                <h2>Kies een uitnodiging</h2>
                <p>TIP! Gebruik het filter om sneller een passende uitnodiging te vinden.</p>
            </div>
            <div class="xs-12 top-block-border-bottom">&nbsp;</div>
            <!--cols-->
        </div>
        <!--container-->
    </div>
    <!--top-block-->
</div>
