<footer>
    <div class="footer-usps">
        <div class="container">
            <div class="cols">
                <div class="xs-12 sm-4 md-4">
                    <div class="cols">
                        <div class="xs-hide xsm-hide sm-12 md-7 footer-usp__text footer-usp__text-trust">Vertrouwd winkelen</div>
                        <div class="xs-12 sm-12 md-5 footer-usp__image footer-usp__image-trust">
                            <a href="https://www.thuiswinkel.org/leden/fuif.nl/certificaat" target="_blank"><img src="/media/thuiswinkelwaarborg2.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="xs-12 xsm-7 sm-4 md-5">
                    <div class="cols">
                        <div class="xs-hide xsm-hide sm-12 md-6 footer-usp__text footer-usp__text-payment">
                            <span class="footer-usp-text">Veilig betalen</span>
                        </div>
                        <div class="xs-12 md-6 footer-usp__image footer-usp__image-payment"><img src="/img/footer/ideal.svg" /> <img src="/img/footer/visa.svg" /> <img src="/img/footer/mastercard.svg" /> <img src="/media/bancontact2.png" /></div>
                    </div>
                </div>
                <div class="xs-12 xsm-5 sm-4 md-3">
                    <div class="cols">
                        <div class="xs-hide xsm-hide sm-12 md-8 footer-usp__text footer-usp__text-delivery">Snelle bezorging</div>
                        <div class="xs-12 md-4 footer-usp__image footer-usp__image-delivery"><img src="/img/footer/postnl.svg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu">
        <div class="container">
            <div class="cols">
                <div class="xs-12 sm-6 md-4 footer-menu-left"><img alt="logo" class="footer-logo" src="/media/LogoFuif.png" />
                    <h4>Waar is dat feestje?</h4>
                    <div class="footer-menu-left-social">
                        <div class="footer-menu-left-social-button">
                            <a href="https://www.facebook.com/fuifnl" target="_blank">
                                <i class="icon icon-facebook">&nbsp;</i>
                            </a>
                        </div>
                        <div class="footer-menu-left-social-button">
                            <a href="https://nl.pinterest.com/fuifnl/" target="_blank">
                                <i class="icon icon-pinterest">&nbsp;</i>
                            </a>
                        </div>
                        <div class="footer-menu-left-social-button">
                            <a href="https://www.instagram.com/fuif.nl/" target="_blank">
                                <i class="icon icon-instagram">&nbsp;</i>
                            </a>
                        </div>
                        <!--footer-menu-left-social-->
                    </div>
                    <!--footer-menu-left-->
                </div>
                <div class="xs-12 sm-6 md-2 footer-menu-middle">
                    <ul>
                        <li>
                            <a href="/faq">Veelgestelde vragen</a>
                        </li>
                        <li>
                            <a href="/garantie">Garantie</a>
                        </li>
                        <li>
                            <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy</a>
                        </li>
                        <li>
                            <a href="/over-ons">Over ons</a>
                        </li>
                    </ul>
                </div>
                <div class="xs-12 sm-6 md-2 footer-menu-middle">
                    <ul>
                        <li>
                            <a href="/hoe-werkt-het">Hoe werkt het?</a>
                        </li>
                        <li>
                            <a href="/prijzen">Prijzen</a>
                        </li>
                        <li>
                            <a href="/enveloppen-info">Enveloppen bestellen</a>
                        </li>
                        <li>
                            <a href="/proefdruk">Proefdruk bestellen</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="xs-12 sm-6 md-4 footer-menu-right">
                    <div class="cols">
                        <div class="xs-2">&nbsp;</div>
                        <div class="xs-4">
                            <a href="https://www.feedbackcompany.com/nl-nl/reviews/fuif-nl/?starter=10" target="_blank"><img alt="opiness 2017" class="footer-opiness" src="/media/2opiness2017.png" /> </a>
                        </div>
                        <div class="xs-4">
                            <a href="https://www.feedbackcompany.com/nl-nl/reviews/fuif-nl/?starter=10" target="_blank"><img alt="opiness 2016" class="footer-opiness" src="/media/1opiness2016.png" /> </a>
                        </div>
                        <div class="xs-2">&nbsp;</div>
                        <div class="xs-12">
                            <div class="footer__rating">
                                <div class="footer__rating--number">9,7</div>
                                <h3>Klanten geven ons een 9.7</h3>
                                <div class="footer__rating--text">Beoordeeld door 4.642 klanten</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--cols-->
            </div>
        </div>
    </div>
    <!-- BRANDBAR, CSS IS PLACED IN CUSTOM_NEW.CSS -->
</footer>
<div class="footer-brandbar">
    <ul class="footer-brandbar__items">
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--hg" href="https://hippe-geboortekaartjes.nl" target="_blank" title="hippe geboortekaartjes">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--hd" href="https://hipdesign.nl" target="_blank" title="hipdesign">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--hbi" href="https://hierbenik.nl" target="_blank" title="hierbenik">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--wp" href="https://wensplein.nl" target="_blank" title="wensplein">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--sl" href="https://salut.nl" target="_blank" title="salut">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--ck" href="https://condoleancekaart.nl" target="_blank" title="condoleancekaart">&nbsp;</a>
        </li>
        <li class="footer-brandbar__item">
            <a class="footer-brandbar__item--mz" href="https://mooze.nl" target="_blank" title="mooze">&nbsp;</a>
        </li>
    </ul>
</div>
<!--footer-menu-->
<!-- <script type="text/javascript" src="/css/js/vendor/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/css/js/vendor/jquery.cycle2.carousel.min.js"></script>
 -->
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/custom_new.js"></script>
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/mobile-menu.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/foldmenu.js"></script>
<script src="/css/js/components/parallax.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/css/js/components/background-video.js"></script>
<!-- <script src="/common/components-js/tagscroller.js"></script>
<script src="/css/js/cycle.js"></script>
<script src="/css/js/caro.js"></script>
 -->

 <script src="/common/components-js/vendor/cycle.js"></script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/css/js/components/custom.js"></script>