<div class="visual visual-center">
    <div class="visual__left-side" style="background-image: url(/media/ballonnenleft.png);">&nbsp;</div>
    <div class="visual__right-side" style="background-image: url(/media/ballonnenright.png);">&nbsp;</div>
    <h1 class="visual__title">Fotokaarten maken - Kaarten met foto</h1>
    <p class="visual__text">Maak eenvoudig je eigen echte, unieke fotokaart online. Kies een staande, liggende of vierkante kaart. Voeg vervolgens je foto en tekst toe, kies de grootte van je kaart en bestel. <strong>Je kunt je fotokaart helemaal aanpassen naar je eigen wensen.</strong></p>
    <div class="rating">
        <h4>klanten
            <br /> geven ons een</h4>
        <div class="rating--number">9,7</div>
        <div class="rating--stars">
            <i class="icon icon-star">&nbsp;</i>
            <i class="icon icon-star">&nbsp;</i>
            <i class="icon icon-star">&nbsp;</i>
            <i class="icon icon-star">&nbsp;</i>
            <i class="icon icon-star">&nbsp;</i>
        </div>
    </div>
</div>
<div class="cols">
    <div class="xs-12 xsm-push-1 xsm-5">
        <div class="thumbnail uitnodiging-maken__thumbnail"><img class="uitnodiging-maken__top-image" src="/img/card-icons/dubbel_vierkant.svg" />
            <h2>Ontwerp zelf je kaartje</h2>
            <p>Start blanco en maak een uniek kaartje met je eigen foto.</p>
            <a class="button button-xlg button-zelf" href="/zelf-kaarten-maken">Kies een formaat kaart</a>
        </div>
    </div>
    <div class="xs-12 xsm-push-1 xsm-5">
        <div class="thumbnail uitnodiging-maken__thumbnail"><img class="uitnodiging-maken__top-image" src="/media/verjaardag.png" />
            <h2>Kies&nbsp;uit de&nbsp;fotokaart collectie</h2>
            <p>Kies uit ons ruime assortiment en voeg je eigen foto toe.</p>
            <a class="button button-xlg button-kies" href="fotokaarten/fotokaarten-collectie">Kaart uit collectie kiezen</a>
        </div>
    </div>
</div>
<div class="page-block">
    <h2 class="text-center">Fotokaarten maken, dat kan iedereen!</h2>
</div>
<div class="cols">
    <div class="xs-12 sm-6">
        <h4>Maak eenvoudig je eigen echte fotokaart online</h4>
        <p>Kies een staande, liggende of vierkante kaart. Voeg vervolgens je foto en tekst toe, kies de grootte van je kaart en bestel. Je kunt je fotokaart helemaal aanpassen naar je eigen wensen. Dus het wordt helemaal jouw kaart!</p>
    </div>
    <div class="xs-12 sm-6">
        <h4>Wil je graag weten hoe de kaart er in het echt uit komt te zien?</h4>
        <p>Bestel een proefdruk voor maar &euro; 0,99. Als je tevreden bent, kun je direct de kaarten naar je vrienden, familie en bekenden sturen. Je kunt kiezen uit: liggende fotokaarten, vierkante fotokaarten of staande fotokaarten.</p>
    </div>
</div>
<div class="cols photocard__selector">
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/';" style="background-image: url(/media/fotokaartproefdruk.png)">
            <div class="selector-item__panel">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Proefdruk &euro; 0,99</h2>
                <p>Benieuwd hoe je kaartje er in het echt uit ziet? Bestel gemakkelijk een proefdruk voor maar &euro; 0,99 incl. gratis verzending!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/bezorging';" style="background-image: url(/media/fotokaartbestelling.png)">
            <div class="selector-item__panel">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Bezorging</h2>
                <p>V&oacute;&oacute;r 18.00 uur besteld, is nog dezelfde werkdag verzonden.&nbsp;En bij 30 kaarten of meer ontvang je ook een gratis Fuif feestpakket!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/enveloppen-info';" style="background-image: url(/media/fotokaartenveloppen.png)">
            <div class="selector-item__panel">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Enveloppen</h2>
                <p>Keuze&nbsp;uit 21 vrolijke en feestelijke kleuren uitnodigingen. Enveloppen die bij het formaat van de uitnodiging passen.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/papiersoorten';" style="background-image: url(/media/fotokaartpapiersoorten.png)">
            <div class="selector-item__panel">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Papiersoorten</h2>
                <p>Je kunt je uitnodigingen laten drukken op 6 verschillende papiersoorten. Elke soort heeft zijn eigen unieke uitstraling.</p>
            </div>
        </div>
    </div>
</div>
<hr />
<!-- UITNODIGINGEN  -->
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite ">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li>
                    <i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li>
                    <i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li>
                    <i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li>
                    <i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default home__all-cards " href="/uitnodigingen ">Bekijk de collectie&nbsp;</a>
        </div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars">
                <i class="icon icon-star">&nbsp;</i>
                <i class="icon icon-star">&nbsp;</i>
                <i class="icon icon-star">&nbsp;</i>
                <i class="icon icon-star">&nbsp;</i>
                <i class="icon icon-star">&nbsp;</i>
            </div>
            <div class="home__rating--text">Beoordeeld door 4.642 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/media/2opiness2017.png" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt gruwelijk vette kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="https://www.feedbackcompany.com/nl-nl/reviews/fuif-nl">Via de Feedback Company </a>
        </div>
    </div>
</div>
<!-- TEAM HIER -->
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/media/teamslinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/media/teamslinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="/media/team1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="/media/kruloranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="/media/team1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling? Bel met het Fuif team:
                <br />
                <strong>085 - 743 07 61</strong></p>
            <a class="button button-lg button-default" href="/uitnodigingskaarten">Nu een uitnodiging maken&nbsp;</a>
        </div>
    </div>
</div>
<div class="choose-block desktop__choose-block">
    <div class="home__choose-text padding-restore">
        <h2>Kies een uitnodiging</h2>
        <p>Jouw fuif begint pas &eacute;cht te leven met een passende en unieke uitnodiging. En die maak je hier bij Fuif.nl.
            <br />
            <span class="home__choose-text--desktop">Geef je fuif vanaf de uitnodiging precies de uitstraling die bij jou past.</span>
        </p>
    </div>
    <div class="js-add-tag-scroller">&nbsp;</div>
</div>
<div class="desktop__home-categories">
    <h4>Veelgekozen categorie&euml;n</h4>
    <a class="button button-default button-sm" href="/fotokaarten">Met foto</a>
    <a class="button button-default button-sm" href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a>
    <a class="button button-default button-sm" href="/trouwkaarten">trouwkaarten</a>
    <a class="button button-default button-sm" href="/uitnodiging-verjaardag/uitnodiging-50-jaar">50 jaar verjaardag</a>
    <a class="button button-default button-sm" href="/uitnodiging-themafeest-80s-party">80&#39;s party</a>
    <a class="button button-default button-sm" href="/uitnodiging-feest">Fuif</a>
    <a class="button button-default button-sm" href="/zelf-maken">Zelf maken</a>
</div>
<div class="information-block">
    <div class="cols">
        <div class="xs-12 sm-4">
            <h2>Uitnodigingskaarten met je eigen foto</h2>
            <p>Maak je uitnodiging persoonlijk en uniek door een foto van jezelf, jij en je partner, je gezin, je huisdier of gewoon een foto die je mooi vindt toe te voegen. Op Fuif.nl vind je de leukste uitnodigingskaarten waar je een foto toe kunt voegen. Je kunt de kaart verder aan je smaak aanpassen door het lettertype te veranderen, elementjes toe te voegen of kleuren te veranderen. Hartstikke leuk, toch!</p>
        </div>
        <div class="xs-12 sm-4">
            <h2>Lees deze tips voor betere foto&#39;s op je uitnodiging</h2>
            <p>Als je een uitnodiging met een foto wil versturen, wil je natuurlijk wel dat het een mooie, goedgelukte foto is. Daarom hebben we wat tips voor je op een rijtje gezet. Zorg voor genoeg licht. Wist je dat het natuurlijk licht rond zonsopgang en zonsondergang het mooist is? Plaats de ogen van degene die je fotografeert op ongeveer 1/3 van boven Ga voor een foto die n&eacute;t niet standaard is: zet de persoon die je fotografeert niet in het midden, maar iets naar links of rechts Gebruik eventueel een filter om je foto n&oacute;g mooier te maken. In programma&#39;s als Picasa kun je eenvoudig een filter over je foto gooien</p>
        </div>
        <div class="xs-12 sm-4">
            <h2>Trends in uitnodigingskaarten</h2>
            <p>We houden hier voor Fuif.nl de trends goed voor je in de gaten. En ook onze designers kijken goed naar wat de mensen mooi vinden. Wat ons opvalt: we zien veel staande kaarten of kaarten die net iets groter zijn dan &#39;normaal&#39;. Deze kaarten hebben de afmeting 15x15 (bij een vierkante kaart) of 14x21 (in het geval van een staande kaart). Op de kaarten zien we veel sierlijke letters en extra elementjes zoals hartjes. En... (dat komt goed uit omdat je in deze categorie aan het rondkijken bent): fotokaarten zijn helemaal in. Logisch, want een kaart met een eigen foto is persoonlijk, uniek, en een echt kadootje op de deurmat van je vrienden en famile.</p>
        </div>
    </div>
</div>