<div class="visual">
    <!--div class="component__background-video">
        <div class="temp-image" style="background-image: url(/img/home/balloon.png)">&nbsp;</div>
        <div class="video" data-vimeo-autoplay="false" data-vimeo-byline="false" data-vimeo-id="223625298" data-vimeo-portrait="false" data-vimeo-title="false">&nbsp;</div>
    </div-->
    
    <h1 class="visual__title">Uitnodigingen voor elk feest maak je op fuif.nl!</h1>
    <div class="cols visual__banners">
        <div class="md-3">
            <div class="visual__banner" onclick="location.href = '/jubileumkaarten';" style="background-image: url(img/home/hero1.png)">
                <h3>Jubileumkaarten</h3>
                <i class="icon icon-bold-arrow">&nbsp;</i></div>
        </div>
        <div class="md-3">
            <div class="visual__banner" onclick="location.href = '/uitnodiging-verjaardag';" style="background-image: url(img/home/hero2.png)">
                <h3>Verjaardagskaarten</h3>
                <i class="icon icon-bold-arrow">&nbsp;</i></div>
        </div>
        <div class="md-3">
            <div class="visual__banner visual__banner--zelf-maken" onclick="location.href = '/zelf-kaarten-maken';" style="background-image: url(img/home/hero3.png)">
                <h3>Zelf maken</h3>
                <i class="icon icon-bold-arrow">&nbsp;</i></div>
        </div>
        <div class="md-3">
            <div class="visual__banner" onclick="location.href = '/themafeest';" style="background-image: url(img/home/hero4.png)">
                <h3>Themafeesten</h3>
                <i class="icon icon-bold-arrow">&nbsp;</i></div>
        </div>
    </div>
    <div class="cols visual__banners-mobile">
        <div class="xs-offset-2 xs-2"><img alt="verjaardag" src="img/home/verjaardag_1@1x.jpg" /></div>
        <div class="xs-2"><img alt="verjaardag" src="img/home/jubileum_2@1x.jpg" /></div>
        <div class="xs-2"><img alt="verjaardag" src="img/home/thema_2@1x.jpg" /></div>
        <div class="xs-2"><img alt="verjaardag" src="img/home/verjaardag_2@1x.jpg" /></div>
    </div>
</div>
<div class="padding-restore"><a class="button button-lg button-green home__all-cards" href="/uitnodiginskaarten">Bekijk alle uitnodigingen&nbsp;</a></div>
<div class="choose-block mobile__choose-block">
    <div class="home__choose-text padding-restore">
        <h3>Kies een uitnodiging</h3>
        <p>Jouw fuif begint pas &eacute;cht te leven met een passende en unieke uitnodiging. En die maak je hier bij Fuif.nl.
            <br />
            <span class="home__choose-text--desktop">Geef je fuif vanaf de uitnodiging precies de uitstraling die bij jou past.</span></p>
    </div>
</div>
<ul class="mobile__home__categories">
    <li onclick="location.href = '/jubileumkaarten';">Huwelijksjubileum uitnodigingen<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/uitnodiging-verjaardag';">Verjaardag uitnodigingskaarten<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/zelf-kaarten-maken';">Zelf kaarten maken<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/themafeest';">Themafeest uitnodigingen<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/Fotokaarten';">Fotokaart maken<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/trouwkaarten';">Trouwkaarten<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/uitnodigingskaarten';">Alle feestelijke uitnodigingen<i class="icon icon-bold-arrow">&nbsp;</i></li>
    <li onclick="location.href = '/enveloppen-info';">Bestel je enveloppen <i class="icon icon-bold-arrow">&nbsp;</i></li>
</ul>
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default " href="/uitnodigingskaarten">Bekijk de collectie&nbsp;</a></div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="home__rating--text">Beoordeeld door 4.155 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt gruwelijk vette kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="/">Via de Feedback Company </a></div>
    </div>
</div>
<hr />
<div class="choose-block desktop__choose-block">
    <div class="home__choose-text padding-restore">
        <h2><strong>Fuif</strong></h2>
        <p>Een feest, partijtje, party: er zijn veel definities voor het woord fuif. Uitnodigingen maken doe je bij Fuif! Bij Fuif is iedere dag een feest. Of het nou een verjaardag, huwelijksjubileum, bruiloft, tuinfeest, housewarming of thema feest betreft. Niets is ons te gek! Je maakt je uitnodigingen online, deze worden daarna gedrukt en per post verstuurd. Je kunt je uitnodigingen door ons direct naar je gasten laten verzenden of in een een pakket naar jouw huis laten sturen. Jij cre&euml;ert, wij doen de rest.&nbsp;<span class="home__choose-text--desktop">Geef je fuif vanaf de uitnodiging precies de uitstraling die bij jou past.</span></p>
    </div>
    <div class="container" xxx="">
        <div class="mainCont">&nbsp;</div>
    </div>
</div>
<div class="desktop__home-categories">
    <h4>Veelgekozen categorie&euml;n</h4>
    <a class="button button-default button-sm" href="/fotokaarten">Met foto</a> <a class="button button-default button-sm" href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a> <a class="button button-default button-sm" href="/uitnodiging-verjaardag/uitnodiging-50-jaar">50 jaar verjaardag</a> <a class="button button-default button-sm" href="/uitnodiging-themafeest-80s-party">80&#39;s party</a> <a class="button button-default button-sm" href="/uitnodiging-feest">Fuif</a> <a class="button button-default button-sm" href="/zelf-maken">Zelf maken</a></div>
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling?
                <br /> Bel met het Fuif team:
                <br />
                <strong>085 - 7430761</strong></p>
            <a class="button button-default" href="/uitnodiging-maken">Nu een uitnodiging maken&nbsp;</a></div>
    </div>
</div>
<div class="cols home__descriptions">
    <div class="xs-12 sm-6">
        <h5><a class="home__description" href="/uitnodiging-verjaardag">Uitnodigingskaarten verjaardag</a></h5>
        <h6>Van Abraham tot 21 diner of 80e verjaardag</h6>
        <p>Van Abraham, Sarah en 65 jaar tot een 21 diner of het foute feestje: maak je feestelijke uitnodiging met een kaart uit de collectie verjaardagsuitnodigingen. Pas eenvoudig de leeftijd aan op de kaart.</p>
        <h5><a class="home__description" href="/trouwkaarten">Trouwkaarten</a></h5>
        <h6>Van de garden wedding tot romantisch, en van de strandbruiloft tot aan de Yess I Do BBQ</h6>
        <p>Uitnodigingen voor je bruiloft maak je eenvoudig. Kies uit onze uitgebreide collectie trouwkaarten van verschillende ontwerpers de stijl die je aanspreekt. Van klassiek tot romantisch, van fotokaart tot typografie.</p>
        <h5><a class="home__description" href="/jubileumkaarten">Huwelijksjubileum uitnodigingen</a></h5>
        <h6>De mooiste kaarten voor jullie feest</h6>
        <p>Een huwelijksjubileum te vieren? Of het nu gaat om een feest voor een 12,5-jarig huwelijk, 25-jarig huwelijk of 50-jarig huwelijk, je vindt hier de mooiste collecties uitnodigingskaarten voor jullie feest.</p>
        <h5><a class="home__description desktop__home__description" href="/uitnodiging-maken">Uitnodigingen voor een fuif</a></h5>
        <h6>Van een tuinfeestje tot verjaardag en van jubileum tot themafeestje</h6>
        <p>Babyshower, slaapfeestje, kraamfeest, communie, examenfeest, afstudeerborrel, housewarming, opening: voor elke fuif maak je een mooie uitnodiging! Voeg je eigen foto en tekst toe, of leef je uit met onze clipart-collecties.</p>
        <h5><a class="home__description" href="/save-the-date-kaarten">Save-the-Date kaarten</a></h5>
        <h6>Zet die belangrijke datum maar vast in je agenda!</h6>
        <p>Laat je familie en vrienden weten wanneer ze ruimte in hun agenda moeten houden voor jullie bruiloft: stuur een Save the Date kaart! Kies uit tientallen designs; bij veel ontwerpen past een trouwkaart in onze collectie.</p>
    </div>
    <div class="xs-12 sm-6">
        <h5><a class="home__description desktop__home__description" href="/zelf-kaarten-maken">Zelf ontwerpen</a></h5>
        <h6>Maar je uitnodiging helemaal zelf!</h6>
        <p>Begin met een blanco ontwerp en cre&euml;er een kaartje met jouw eigen tekst en afbeeldingen. Maak gebruik van onze clipart-collecties om je kaart verder op te fleuren. Geef je creativiteit de ruimte en maak het ontwerp dat bij de gelegenheid past.</p>
        <h5><a class="home__description desktop__home__description" href="/fotokaarten">Fotokaarten</a></h5>
        <h6>De leukste kaarten waar de persoonlijke foto het middelpunt is</h6>
        <p>Upload &eacute;&eacute;n of meer foto&#39;s en cre&euml;er daarmee je eigen kaartontwerp. Voeg tekst op je kaart toe en voil&aacute;, je kaartje is klaar om verstuurd te worden. Je kunt je kaartje maken vanuit een bestaand ontwerp of met een leeg kaartje beginnen.</p>
        <h5><a class="home__description desktop__home__description" href="/enveloppen-info">Enveloppen in 20 kleuren</a></h5>
        <h6>De mooiste kleuren enveloppen</h6>
        <p>Enveloppen bestel je bij je kaarten of vooraf. Je hebt keuze uit maar liefst 21 kleuren, zodat het goed past bij je kaartontwerp. Bij een proefdruk ontvang je voorbeelden van de enveloppen, zodat je weet hoe deze eruit komt te zien.</p>
        <h5><a class="home__description" href="/uitnodiging-verjaardag/uitnodiging-50-jaar">Uitnodiging 50 jaar</a></h5>
        <h6>Ga jij binnenkort de mosterd halen?</h6>
        <p>Abraham en Sarah uitnodigingen voor mensen die binnenkort 50 jaar worden. Laat iedereen weten wanneer jij je feest geeft. Geef je uitnodiging een persoonlijke twist door op de uitnodigingskaarten de tekst en foto vervangen.</p>
        <h5><a class="home__description" href="/themafeest">Themafeest</a></h5>
        <h6>Er is niets leukers dan een feestelijke dresscode!</h6>
        <p>Ga je binnenkort een themafeestje organiseren? Van een 80s party tot een Hollandse avond en van Glitter &amp; Glamour tot aan het foute feestje. Uitnodigingen maken doe je eenvoudig op Fuif.nl.</p>
    </div>
</div>
