<div class="visual landing__usp">
    <div class="visual__left-side" style="background-image: url(/img/jubileum/confetti_jubileum_left.png);">&nbsp;</div>
    <div class="visual__right-side" style="background-image: url(/img/jubileum/confetti_jubileum_right.png);">&nbsp;</div>
    <div class="cols">
        <div class="xs-12 sm-5">
            <div class="usp__image-container"><img alt="envelope" class="usp__envelope usp__envelope--gold" src="/img/envtrans.png" /> <img alt="Jubileum" class="usp__card" src="/img/jubileum/jubileum@2x.jpg" />
                <div class="usp__rating">
                    <h4>klanten<br />
geven ons een</h4>
                    <div class="usp__rating--number">9,7</div>
                    <div class="usp__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
                </div>
            </div>
        </div>
        <div class="xs-12 sm-7">
            <div class="usp__text-container">
                <h3>Uitnodigingen maak je op Fuif.nl</h3>
                <h1>Huwelijksjubileum kaarten</h1>
                <ul>
                    <li><i class="icon icon-ok">&nbsp;</i>Gemakkelijk jaartal, datum en namen aanpassen</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Upload een persoonlijke jubileumfoto</li>
                    <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Vrolijke clipart om je kaart feestelijker te maken</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Proefdruk van je jubileumkaart <strong>slechts &euro; 0,99</strong> en gratis verzonden</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Directe verzending aan je gasten</li>
                </ul>
                <a class="button button-xlg button-green js-scroll-to" href="#jubileumjaar">Kies je jubileumjaar</a> <a class="usp__link" href="/jubileumkaarten/jubileum-uitnodigingen">Bekijk de complete collectie <i class="icon icon-angle-right">&nbsp;</i></a></div>
        </div>
    </div>
</div>
<div class="page-block">
    <h2 id="jubileumjaar">Jubileumjaar kiezen</h2>
    <p>Uitnodigingen voor een huwelijksjubileum vind je op Fuif.nl. Een kaart is gemakkelijk persoonlijk gemaakt door aan een collectiekaart een foto van jullie trouwdag toe te voegen. Of je nu 50 jaar getrouwd, 25 jaar getrouwd of pas 5 jaar getrouwd bent, er is voor elk huwelijksfeest een passende jubileumkaart. En je kunt bij Fuif je uitnodiging direct laten versturen aan je gasten, handig!</p>
</div>
<div class="cols landing__selector">
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/60-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-diamant.jpg)">
            <div class="selector-item__panel"><span class="year">60</span></div>
            <div class="selector-item__text">
                <h2>60 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie diamanten bruiloft</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/50-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-goud.jpg)">
            <div class="selector-item__panel "><span class="year ">50</span></div>
            <div class="selector-item__text ">
                <h2>50 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie gouden bruiloft</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/40-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-robijn.jpg)">
            <div class="selector-item__panel "><span class="year ">40</span></div>
            <div class="selector-item__text ">
                <h2>40 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie robijnen huwelijk</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/25-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-zilver.jpg)">
            <div class="selector-item__panel "><span class="year ">25</span></div>
            <div class="selector-item__text ">
                <h2>25 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie zilveren bruiloft</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/12-5-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-koper.jpg)">
            <div class="selector-item__panel "><span class="year ">12<sup>5</sup></span></div>
            <div class="selector-item__text ">
                <h2>12,5 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie koperen bruiloft</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/10-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-tin.jpg)">
            <div class="selector-item__panel "><span class="year ">10</span></div>
            <div class="selector-item__text ">
                <h2>10 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie tinnen bruiloft</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/5-jaar-getrouwd';" style="background-image: url(/img/jubileum/jubileum-hout.jpg)">
            <div class="selector-item__panel "><span class="year ">5</span></div>
            <div class="selector-item__text ">
                <h2>5 jarig jubileum</h2>
                <p>Uitnodigingen voor jullie houten huwelijk</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item" onclick="location.href = '/jubileumkaarten/jubileum-uitnodigingen';">
            <div class="selector-item__panel ">
                <div class="panel__text-frame ">Kies jullie jubileumjaar</div>
            </div>
            <div class="selector-item__text ">
                <h2>Jubileumjaar</h2>
                <p>Bekijk hier al onze jubileum uitnodigingen</p>
            </div>
        </div>
    </div>
</div>
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling?
                <br /> Bel met het Fuif team:
                <br />
                <strong>085 - 7430761</strong></p>
            <a class="button button-default" href="/">Nu een uitnodiging maken&nbsp;</a></div>
    </div>
</div>
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite ">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default home__all-cards " href="/uitnodigingen ">Bekijk de collectie&nbsp;</a></div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="home__rating--text">Beoordeeld door 4.642 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt feestelijke kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="/https://www.feedbackcompany.com/nl-nl/reviews/fuif-nl">Via de Feedback Company </a></div>
    </div>
</div>
<div class="information-block ">
    <div class="cols ">
        <div class="xs-12 sm-4 ">
            <h3>Uitnodiging voor jullie huwelijksjubileum</h3>
            <p>Jullie trouwdag staat waarschijnlijk nog op je netvlies gebrand. Het jawoord, de kus, het feest, de openingsdans. Die ene speciale dag omringd door al jullie dierbare. Of jullie nou 40 jaar getrouwd, 25 jaar getrouwd, 50 jaar getrouwd, 60 jaar getrouwd, 5 jaar getrouwd of 10 jaar. Het maakt niet uit. Jullie huwelijksjubileum verdient een feest! Beleef jullie dag opnieuw met jullie kinderen, kleinkinderen en alle andere mensen die jullie dierbaar zijn.</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Uitnodiging maken</h3>
            <p>Uitnodigingskaarten maken doe je natuurlijk op Fuif.nl! Weet je al wat voor uitnodiging jullie willen. Met of zonder foto? Een foto van jullie trouwdag of alleen een recente foto, of juist beide? Dubbele kaart of enkele kaart? Standaard ontwerp of een eigen ontwerp. Ga je voor een &lsquo;normaal&rsquo; formaat of kies je voor een opvallend groter formaat? Welk papiersoort? Willen jullie kaartje van mat natuurkarton of kiezen jullie liever voor steviger offwhite Oud Hollandspapier met een voelbare structuur?</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Tips voor jullie feest</h3>
            <p>Geven jullie je feest binnen of buiten? Houd met een buitenfeest rekening met een slecht weer scenario. Locatie: Is de locatie geschikt voor minder valide. Muziek: Maken jullie een eigen playlist of huren jullie een band of DJ in? Zijn jullie gasten actief op social media? Maak dan een speciale # hashtag aan zodat jullie de foto&rsquo;s later terug kunnen kijken. Eten en drinken - Zijn er mensen met allergie waar je rekening mee dient te houden? Huren jullie een fotograaf in? Of laat je mensen foto&rsquo;s maken met hun mobiele telefoon?</p>
        </div>
    </div>
</div>
