<p>Alle prijzen zijn inclusief drukkosten en inclusief&nbsp;BTW.
    <br />
    <strong>De verzendkosten binnen Nederland &eacute;n Belgie zijn GRATIS bij een bestelling vanaf &euro; 25,00!</strong>
    <br /> Bij een bestelling tot &euro; 25,00 betaal je &euro; 1,95 verzendkosten.&nbsp;Je ontvangt je bestelling in 1 pakket thuis, ook op maandag.
    <br /> Een eerste proefdruk van je kaart kost slechts &euro; 0,99, en dit is inclusief verzending!&nbsp;</p>
<p>Ben je in het bezit van een&nbsp;<strong>actiecode</strong>&nbsp;van Fuif.nl, dan geldt deze code alleen voor het aankoopbedrag van de kaarten en niet op proefdrukken en enveloppen.</p>
<h2>Bereken je prijs met de prijscalculator</h2>
<p>Hier bereken je gemakkelijk en snel de prijs van je kaartjes en enveloppen. Met de hulp van onze handige prijscalculator zie je direct het totaalbedrag. De verzendkosten zijn bij Fuif helemaal gratis vanaf &euro; 25,00. Zo kom je nooit voor onverwachte kosten te staan!&nbsp;Maak je keuze en bereken het totaalbedrag van jouw bestelling.&nbsp;
    <br />
    <strong>Bereken <a class="openPrijsCalculator" href="javascript:void(0);" main-cat="zelf-rouwkaart-maken">hier</a> je prijs met de handige prijscalculator!</strong></p>
<div class="table1">
    <h3>Prijzen ENKELE collectie- en fotokaarten per stuk:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Soort kaart</th>
                    <th>Formaat</th>
                    <th>Proefdruk</th>
                    <th>1 - 9</th>
                    <th>10 - 49</th>
                    <th>50 - 99</th>
                    <th>&gt;100</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size:14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">10 x 15 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,15</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,00</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,85</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px;">&euro; 0,75</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">11 x 17 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,55</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,05</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,85</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size: 14px;">14 x 21 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,95</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,45</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,10</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px;">Vierkant</span></td>
                    <td><span style="font-size:14px;">11 x 11 cm&nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,55</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,10</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,00</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px; line-height: 22.4px;">Vierkant</span></td>
                    <td><span style="font-size: 14px; line-height: 22.4px;">13 x 13 cm</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,95</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,45</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,30</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,20</span></td>
                </tr>
                <tr>
                    <td>
                        <div><span style="font-size:14px;">Vierkant</span></div>
                    </td>
                    <td><span style="font-size:14px;">15 x 15 cm</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 2,25</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,65</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,40</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,30</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Prijzen DUBBELE collectie- en fotokaarten per stuk:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Soort kaart</th>
                    <th>Formaat</th>
                    <th>Proefdruk</th>
                    <th>1 - 9</th>
                    <th>10 - 49</th>
                    <th>50 - 99</th>
                    <th>&gt;100</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size:14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">10 x 15 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,05</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,60</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,45</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,35</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">11 x 17 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,80</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,55</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size: 14px;">14 x 21 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,45</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,00</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,85</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,75</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px;">Vierkant</span></td>
                    <td><span style="font-size:14px;">11 x 11 cm&nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,15</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,75</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,55</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px; line-height: 22.4px;">Vierkant</span></td>
                    <td><span style="font-size: 14px; line-height: 22.4px;">13 x 13 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 2,35</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,95</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,85</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,75</span></td>
                </tr>
                <tr>
                    <td>
                        <div><span style="font-size:14px;">Vierkant</span></div>
                    </td>
                    <td><span style="font-size:14px;">15 x 15 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 2,55</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 2,15</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 2,05</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,95</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Prijzen ENKELE &#39;zelf ontwerpen&#39;&nbsp;kaarten per stuk:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Soort kaart</th>
                    <th>Formaat</th>
                    <th>Proefdruk</th>
                    <th>1 - 9</th>
                    <th>10 - 49</th>
                    <th>50 - 99</th>
                    <th>&gt;100</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size:14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">10 x 15 cm&nbsp;&nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,05</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,90</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,75</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px;">&euro; 0,65</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">11 x 17 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,10</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,95</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,75</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size: 14px;">14 x 21 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,10</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,90</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px;">Vierkant</span></td>
                    <td><span style="font-size:14px;">11 x 11 cm&nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,05</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,90</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,80</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px; line-height: 22.4px;">Vierkant</span></td>
                    <td><span style="font-size: 14px; line-height: 22.4px;">13 x 13 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,15</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,00</span></td>
                </tr>
                <tr>
                    <td>
                        <div><span style="font-size:14px;">Vierkant</span></div>
                    </td>
                    <td><span style="font-size:14px;">15 x 15 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,95</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,45</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,20</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,10</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Prijzen DUBBELE &#39;zelf ontwerpen&#39;&nbsp;kaarten per stuk:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Soort kaart</th>
                    <th>Formaat</th>
                    <th>Proefdruk</th>
                    <th>1 - 9</th>
                    <th>10 - 49</th>
                    <th>50 - 99</th>
                    <th>&gt;100</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="font-size:14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">10 x 15 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,85</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,40</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,25</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px;">&euro; 1,15</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size:14px;">11 x 17 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,05</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,60</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,45</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,35</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px;">Liggend-staand</span></td>
                    <td><span style="font-size: 14px;">14 x 21 cm &nbsp; &nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 2,25</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,80</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,45</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px;">Vierkant</span></td>
                    <td><span style="font-size:14px;">11 x 11 cm&nbsp;</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,95</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,55</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,45</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 1,35</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 14px; line-height: 22.4px;">Vierkant</span></td>
                    <td><span style="font-size: 14px; line-height: 22.4px;">13 x 13 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 2,15</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,75</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,65</span></td>
                    <td style="text-align: center;"><span style="font-size: 14px; line-height: 22.4px; text-align: center;">&euro; 1,55</span></td>
                </tr>
                <tr>
                    <td>
                        <div><span style="font-size:14px;">Vierkant</span></div>
                    </td>
                    <td><span style="font-size:14px;">15 x 15 cm</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;">&euro; 0,99</span></td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 2,35</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,95</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,85</span></span>
                    </td>
                    <td style="text-align: center;"><span style="font-size:14px;"><span style="text-align: center;">&euro; 1,75</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Papiertoeslag:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Papier</th>
                    <th style="text-align: left;">Soort kaart</th>
                    <th style="text-align: left;">Toeslag per stuk</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">
                        <span style="font-size: 11.9999990463257px;">Parelmoer, Ivory Gold</span>
                        <br />
                        <span style="font-size: 11.9999990463257px;">en Oud Hollands</span>
                    </td>
                    <td>Enkele kaarten</td>
                    <td>&euro; 0,15</td>
                </tr>
                <tr>
                    <td>Dubbele kaarten</td>
                    <td>&euro; 0,25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Prijzen enveloppen:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Kleur envelop</th>
                    <th style="text-align: left;">Formaat</th>
                    <th style="text-align: left;">Per stuk</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wit</td>
                    <td>Alle formaten</td>
                    <td>&euro; 0,20</td>
                </tr>
                <tr>
                    <td>Gekleurde enveloppen</td>
                    <td>Alle formaten</td>
                    <td>&euro; 0,25</td>
                </tr>
                <tr>
                    <td>Parelmoer, Goud en Zilver</td>
                    <td>Alle formaten</td>
                    <td>&euro; 0,30</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="table1">
    <h3>Verzendkosten:</h3>
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <tbody>
                <tr>
                    <td>Verzending Nederland / Belgie</td>
                    <td>GRATIS vanaf &euro; 25,00</td>
                </tr>
                <tr>
                    <td>Verzending Nederland / Belgie</td>
                    <td>&nbsp;Tot &euro; 25,00 &gt; &euro; 1,95</td>
                </tr>
                <tr>
                    <td>Verzending Europa / Wereld</td>
                    <td>&euro; 3,50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h2>Directe verzending:</h2>
<p>
    <strong>
		<a href="https://fuif.nl/direct-verzenden">Direct&nbsp;versturen</a> van je zelfgemaakte uitnodiging naar je gasten, handig!
	</strong>
    <br /> De kosten voor de verzendservice vind je hieronder, deze prijzen zijn inclusief de standaard portokosten.
</p>
<div class="table1">
    <div class="table-responsive">
        <table border="1" cellpadding="1" cellspacing="1" class="price-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Dekking</th>
                    <th style="text-align: left;">Prijs per kaart</th>
                    <th style="text-align: left;">Prijsopbouw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nederland</td>
                    <td>&euro;1,20</td>
                    <td>Verzendservice incl. portokosten</td>
                </tr>
                <tr>
                    <td>Europa</td>
                    <td>&euro;1,75</td>
                    <td>Verzendservice incl. portokosten</td>
                </tr>
                <tr>
                    <td>Wereld</td>
                    <td>&euro;1,75</td>
                    <td>Verzendservice incl. portokosten</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
