<div class="visual landing__usp">
    <div class="visual__left-side" style="background-image: url(/img/thema/confetti_thema_left.png);">&nbsp;</div>
    <div class="visual__right-side" style="background-image: url(/img/thema/confetti_thema_right.png);">&nbsp;</div>
    <div class="cols">
        <div class="xs-12 sm-5">
            <div class="usp__image-container"><img alt="envelope" class="usp__envelope usp__envelope--blue" src="/img/envtrans.png" /> <img alt="card" class="usp__card" src="/img/thema/verjaardag-3@2x.jpg" />
                <div class="usp__rating">
                    <h4>klanten<br />
geven ons een</h4>
                    <div class="usp__rating--number">9,7</div>
                    <div class="usp__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
                </div>
            </div>
        </div>
        <div class="xs-12 sm-7">
            <div class="usp__text-container">
                <h3>Uitnodigingen maak je op Fuif.nl</h3>
                <h1>Themafeest uitnodigingen</h1>
                <ul>
                    <li><i class="icon icon-ok">&nbsp;</i>Heel gemakkelijk je naam, jaartal en datum aanpassen</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Upload een persoonlijke foto van jezelf</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Feestelijke clipart om je kaart nog leuker te maken</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Proefdruk van je thema uitnodiging slechts &euro; 0,99 en gratis verzonden!</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Directe verzending van de kaarten aan je gasten</li>
                </ul>
                <a class="button button-xlg button-green js-scroll-to" href="#kiesjethemafeest">Kies je themafeest</a> <a class="usp__link" href="uitnodiging-themafeest">Bekijk de complete collectie <i class="icon icon-angle-right">&nbsp;</i></a></div>
        </div>
    </div>
</div>
<div class="cols landing__selector__information">
    <div class="xs-12">
        <h2 id="kiesjethemafeest">Kies je thema</h2>
        <p>Bij Fuif vind je de leukste uitnodigingen voor jouw thema feest. Of je nu een 80s party of een fout feest wilt organiseren, wij hebben voor elke thema een passende kaart. De uitnodigingen zelf zijn gemakkelijk naar wens aan te passen. En voor het persoonlijke tintje voeg je een foto van jezelf toe. Tip: stuur je uitnodigingen direct naar al je gasten via onze directe verzendservice. Ideaal!</p>
    </div>
</div>
<div class="cols landing__selector">
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-80s-party';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-80_s.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Back to the 80s</h2>
                <p>Discoballen, pruiken en 80s muziek. Dansen is met dit thema gegarandeerd!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-glitter-glamour';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-glitterglamour.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Glitter &amp; Glamour</h2>
                <p>Sprankelende uitnodigingen voor jouw Glitter and Glamour party vind je hier.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-black-and-white-party';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-blackwhite.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Black &amp; White party</h2>
                <p>Vier je themafeest met een zwart wit dresscode. Ook gaaf met een touch of gold!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-foute-party';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-foutfeest.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Fout Feestje</h2>
                <p>Proud to be Fout! Bij Fuif vind je de leukste foute uitnodigingen.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-confetti-feest';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-confetti.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Confetti feest</h2>
                <p>Bij Fuif kan de confetti natuurlijk niet ontbreken. Bekijk hier onze confetti uitnodigingen.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-themafeest-hollandse-avond';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-holland.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Hollandse avond</h2>
                <p>Bitterballen, borrelnootjes en Andr&eacute; Hazes. Het succes recept voor een Hollandse avond.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-feest/tuinfeest';">
            <div class="selector-item__panel" style="background-image: url(/img/thema/themafeest-tuinfeest.jpg);">&nbsp;</div>
            <div class="selector-item__text">
                <h2>Tuinfeestje</h2>
                <p>Lekker buiten in de zon, BBQ aan en drankje erbij. Vier een tuinfeest!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3 ">
        <div class="selector-item " onclick="location.href = '/zelf-kaarten-maken';">
            <div class="selector-item__panel ">
                <div class="panel__text-frame ">Zelf je uitnodiging maken</div>
            </div>
            <div class="selector-item__text ">
                <h2>Zelf maken</h2>
                <p>Maak de uitnodiging voor jouw thema feest helemaal zelf!</p>
            </div>
        </div>
    </div>
</div>
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling?
                <br /> Bel met het Fuif team:
                <br />
                <strong>085 - 7430761</strong></p>
            <a class="button button-default" href="/">Nu een uitnodiging maken&nbsp;</a></div>
    </div>
</div>
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite ">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>20 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default home__all-cards " href="/uitnodigingen ">Bekijk de collectie&nbsp;</a></div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="home__rating--text">Beoordeeld door 4.642 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt gruwelijk vette kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="https://www.feedbackcompany.com/nl-nl">Via de Feedback Company </a></div>
    </div>
</div>
<div class="information-block ">
    <div class="cols ">
        <div class="xs-12 sm-4 ">
            <h3>Themafeest</h3>
            <p>Wat we vaak zien terug komen op de kaarten is een dresscode of thema. En daar hebben we bij Fuif wat mee gedaan! We zijn daarom blij toffe themafeest uitnodigingen aan te bieden. Een thema aan je feest geven brengt ook heel veel plezier en gezelligheid met zich mee. Het feest ziet er toch geweldig uit wanneer alle gasten in hetzelfde thema verkleed zijn?</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Verjaardag met een thema</h3>
            <p>Zorg dat er voor dat er genoeg foto&#39;s worden gemaakt tijdens het themafeest zelf. Het is toch fantastisch om deze op een later moment terug te kijken? Wat een napret zul je hebben.</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Zelf uitnodigingen maken</h3>
            <p>Het kan natuurlijk zijn dat jouw gewenste thema niet in onze collectie zit. Maak dan je uitnodiging gemakkelijk helemaal zelf. Kies een van onze blanco formaten en start met het ontwerpen van je eigen uitnodiging. Voer eigen teksten in, upload een persoonlijke foto toe en maak je kaart feestelijk door leuke clipart aan je kaart toe te voegen. Wil je weten hoe je uitnodiging er uit ziet voordat je deze naar je gasten verstuurd? Bestel dan een proefdruk voor slechts &euro; 0,99 inclusief gratig verzending!</p>
        </div>
    </div>
</div>
