<div class="visual visual-center">
<div class="visual__left-side" style="background-image: url(/img/ballonnen_left.png);">&nbsp;</div>

<div class="visual__right-side" style="background-image: url(/img/ballonnen_right.png);">&nbsp;</div>

<h1 class="visual__title">Uitnodiging maken</h1>

<p class="visual__text">Uitnodigingen maken doe je op Fuif.nl. Van een kleine fuif tot een speciaal feest met meer dan 100 gasten: voor elke feestelijke gelegenheid maak je een persoonlijke uitnodigingskaart! Kies uit onze eigen collectie uitnodigingskaarten of begin met een blanco kaart en ontwerp je uitnodiging helemaal zelf.</p>

<div class="rating">
<h4>klanten<br />
geven ons een</h4>

<div class="rating--number">9,7</div>

<div class="rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
</div>
</div>

<div class="cols">
<div class="xs-12 xsm-push-1 xsm-5">
<div class="thumbnail uitnodiging-maken__thumbnail"><img class="uitnodiging-maken__top-image" src="/img/card-icons/dubbel_vierkant.svg" />
<h4>Ontwerp zelf je uitnodiging</h4>

<p>Maak een uniek kaartje met je eigen foto en eigen tekst.</p>
<a class="button button-zelf" href="/zelf-kaarten-maken">Zelf je kaart ontwerpen</a></div>
</div>

<div class="xs-12 xsm-push-1 xsm-5">
<div class="thumbnail uitnodiging-maken__thumbnail"><img class="uitnodiging-maken__top-image" src="/img/kies.png" />
<h4>Kies je uitnodiging uit onze collectie</h4>

<p>Kies uit ons ruime assortiment en voeg je eigen foto toe.</p>
<a class="button button-kies" href="/uitnodigingskaarten">Kaart uit collectie kiezen</a></div>
</div>
</div>

<div class="page-block">
<h2 class="text-center">Kies je fuif en vindt de juiste uitnodigingskaart</h2>

<p class="text-center">Kies een kaart en pas eenvoudig het ontwerp aan. Voeg tekst en foto&#39;s toe op de voorkant, binnenkant en achterkant van je kaart en bekijk het voorbeeld.</p>
</div>

<div class="cols landing__selector">
<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag';" style="background-image: url(/img/verjaardag/30_verjaardag.jpg)">
<div class="selector-item__panel"><img alt="verjaardag" src="/img/uitnodiging-maken/verjaardag.png" /></div>

<div class="selector-item__text">
<h3>Uitnodigingskaarten verjaardag</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/jubileumkaarten';">
<div class="selector-item__panel"><img alt="jubileum" src="/img/uitnodiging-maken/jubileum.png" /></div>

<div class="selector-item__text">
<h3>Uitnodigingskaarten huwelijksjubileum</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/themafeest';">
<div class="selector-item__panel"><img alt="thema" src="/img/uitnodiging-maken/thema.png" /></div>

<div class="selector-item__text">
<h3>Themafeest kaarten</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/trouwkaarten';">
<div class="selector-item__panel"><img alt="trouw" src="/img/uitnodiging-maken/trouw.png" /></div>

<div class="selector-item__text">
<h3>Trouwkaarten</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/uitnodiging-feest';">
<div class="selector-item__panel"><img alt="feestelijk" src="/img/uitnodiging-maken/feestelijk.png" /></div>

<div class="selector-item__text">
<h3>Feestelijke uitnodigingen</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/fotokaarten';">
<div class="selector-item__panel"><img alt="foto" src="/img/uitnodiging-maken/foto.png" /></div>

<div class="selector-item__text">
<h3>Fotokaarten</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/enveloppen-info';">
<div class="selector-item__panel"><img alt="enveloppe" src="/img/uitnodiging-maken/enveloppe.jpg" /></div>

<div class="selector-item__text">
<h3>Enveloppen</h3>
</div>
</div>
</div>

<div class="xs-6 xsm-4 sm-3">
<div class="selector-item" onclick="location.href = '/proefdruk';">
<div class="selector-item__panel"><img alt="proefdruk" src="/img/uitnodiging-maken/proefdruk.png" /></div>

<div class="selector-item__text">
<h3>Proefdruk &euro; 0.99</h3>
</div>
</div>
</div>
</div>

<hr /><!-- UITNODIGINGEN  -->
<div class="cols cols-reverse-desktop">
<div class="xs-12 sm-6 ">
<div class="home__invite ">
<h3>Maak je uitnodiging bij Fuif</h3>

<ul>
    <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
    <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
    <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
    <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
</ul>
<a class="button button-lg button-default home__all-cards " href="/uitnodigingskaarten ">Bekijk de collectie&nbsp;</a></div>
</div>

<div class="xs-12 sm-6 ">
<div class="home__rating">
<div class="home__rating--number">9,7</div>

<h3>Klanten geven ons een 9.7</h3>

<div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>

<div class="home__rating--text">Beoordeeld door 4.642&nbsp;klanten</div>
<img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
<p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt hele feestelijke kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
<a class="home__rating--feedback" href="https://www.feedbackcompany.com/nl-nl">Via de Feedback Company </a></div>
</div>
</div>
<!-- TEAM HIER -->

<div class="team__hier">
<div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>

<div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>

<div class="cols">
<div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>

<div class="xs-12 sm-6 desktop__team__hier--right">
<h3>Hier is dat feestje!</h3>
<img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
<h4>Team Fuif staat voor je klaar</h4>

<p>Hulp nodig bij je opmaak, bestelling of betaling?<br />
Bel met het Fuif team: <strong>085 - 743 07 61</strong></p>
<a class="button button-lg button-default" href="/uitnodigingskaarten">Nu een uitnodiging maken&nbsp;</a></div>
</div>
</div>

<div class="page-block">
<h2 class="text-center">Maak je eigen uitnodiging</h2>

<p class="text-center">Ontwerp je uitnodigingskaart helemaal zelf. Kies uit een dubbele kaart of een enkele kaart staand, liggend of vierkant. Dubbele kaarten hebben een binnenkant, kies hierbij een gekleurde envelop. Enkele kaarten bestaan alleen uit een voorkant en achterkant en kunnen ook zonder envelop worden verstuurd.</p>
</div>

<div class="container zelf-maken padding-restore">
<div class="cols cols-multi">
<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Dubbele vierkante blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_vierkant.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>15x15</li>
    <li><span class="thumbnail-size__icon">M</span>13x13</li>
    <li><span class="thumbnail-size__icon">S</span>11x11</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-kaart-vierkant">Kies voor dit formaat</a></div>
</div>

<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Enkele vierkante blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_vierkant.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>15x15</li>
    <li><span class="thumbnail-size__icon">M</span>13x13</li>
    <li><span class="thumbnail-size__icon">S</span>11x11</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-kaart-vierkant-enkel">Kies voor dit formaat</a></div>
</div>

<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Dubbele staande blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_staand.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>14x21</li>
    <li><span class="thumbnail-size__icon">M</span>11x17</li>
    <li><span class="thumbnail-size__icon">S</span>10x15</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-kaart-staand">Kies voor dit formaat</a></div>
</div>

<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Enkele staande blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_staand.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>14x21</li>
    <li><span class="thumbnail-size__icon">M</span>11x17</li>
    <li><span class="thumbnail-size__icon">S</span>10x15</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-staand-enkel">Kies voor dit formaat</a></div>
</div>

<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Dubbele liggende blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_liggend.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>21x14</li>
    <li><span class="thumbnail-size__icon">M</span>17x11</li>
    <li><span class="thumbnail-size__icon">S</span>15x10</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-kaart-liggend">Kies voor dit formaat</a></div>
</div>

<div class="xs-12 xsm-6 sm-4 md-4 lg-4">
<div class="thumbnail zelf-maken__thumbnail">
<h3>Enkele liggende blanco kaart</h3>

<div class="cols">
<div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_liggend.svg" /></div>

<div class="xs-6">
<ul class="thumbnail-sizes">
    <li><span class="thumbnail-size__icon">L</span>21x14</li>
    <li><span class="thumbnail-size__icon">M</span>17x11</li>
    <li><span class="thumbnail-size__icon">S</span>15x10</li>
</ul>
</div>
</div>
<a class="button" href="/choose_card/blanco-kaart-liggend-enkel">Kies voor dit formaat</a></div>
</div>
</div>
</div>

<hr />
<div class="choose-block desktop__choose-block">
<div class="home__choose-text padding-restore">
<h2>Kies een uitnodiging</h2>

<p>Jouw fuif begint pas &eacute;cht te leven met een passende en unieke uitnodiging. En die maak je hier bij Fuif.nl.<br />
<span class="home__choose-text--desktop">Geef je fuif vanaf de uitnodiging precies de uitstraling die bij jou past.</span></p>
</div>

<div class="container" xxx="">
<div class="mainCont">&nbsp;</div>
</div>
</div>

<div class="desktop__home-categories">
<h4>Veelgekozen categorie&euml;n</h4>
<a class="button button-default button-sm" href="/fotokaarten">Met foto</a> <a class="button button-default button-sm" href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a> <a class="button button-default button-sm" href="/trouwkaarten">trouwkaarten</a> <a class="button button-default button-sm" href="/uitnodiging-verjaardag/uitnodiging-50-jaar">50 jaar verjaardag</a> <a class="button button-default button-sm" href="/uitnodiging-themafeest-80s-party">80&#39;s party</a> <a class="button button-default button-sm" href="/uitnodiging-feest">Fuif</a> <a class="button button-default button-sm" href="/zelf-maken">Zelf maken</a></div>

<div class="information-block">
<div class="cols">
<div class="xs-12 sm-4">
<h2>Uitnodiging zelf maken</h2>

<p>Kies een kaart en pas eenvoudig het ontwerp aan. Voeg tekst en foto&#39;s toe op de voorkant, binnenkant en achterkant van je kaart en bekijk een voorbeeld.</p>
</div>

<div class="xs-12 sm-4">
<h2>Proefdruk van je uitnodiging maken</h2>

<p>Wil je eerst weten hoe je uitnodigingskaart er uit komt te zien, voor je hem verstuurt naar iedereen? Maak dan eerst een voorbeeldkaart die je naar jezelf stuurt. Een proefdruk kost slechts &euro;0,99 (gratis verzending). Bij je proefdruk ontvang je een proefsetje met daarin voorbeelden van de zes verschillende papiersoorten en 21 kleuren enveloppen.</p>
</div>

<div class="xs-12 sm-4">
<h2>Directe verzending</h2>

<p>Je kunt jouw zelfgemaakte uitnodiging direct laten verzenden naar je gasten. Dit betekent dat je de volgende handelingen niet zelf hoeft te doen; kaarten in de enveloppen plaatsen, adressen schrijven en postzegels plakken! Want dat doen wij allemaal voor jou. Je hoeft alleen maar een uitnodiging te maken, een lijst met adressen te uploaden en een bestelling te plaatsen. Wij doen dus de rest, service van Fuif. Lees er hier meer over.</p>
</div>
</div>
</div>
