<div class="visual landing__usp">
    <div class="visual__left-side" style="background-image: url(/img/verjaardag/confetti_verjaardag_left.png);">&nbsp;</div>
    <div class="visual__right-side" style="background-image: url(/img/verjaardag/confetti_verjaardag_right.png);">&nbsp;</div>
    <div class="cols">
        <div class="xs-12 sm-5">
            <div class="usp__image-container"><img alt="envelope" class="usp__envelope usp__envelope--pink" src="/img/envtrans.png" /> <img alt="envelope" class="usp__card" src="/img/verjaardag/verjaardag2x.png" />
                <div class="usp__rating">
                    <h4>klanten<br />
geven ons een</h4>
                    <div class="usp__rating--number">9,7</div>
                    <div class="usp__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
                </div>
            </div>
        </div>
        <div class="xs-12 sm-7">
            <div class="usp__text-container">
                <h3>Uitnodigingen maak je op Fuif.nl</h3>
                <h1>Verjaardags uitnodigingen</h1>
                <ul>
                    <li><i class="icon icon-ok">&nbsp;</i>Gemakkelijk je naam, jaartal en datum aanpassen</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Upload een persoonlijke verjaardag foto</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Vrolijke clipart om je kaart feestelijker te maken</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Proefdruk van je verjaardagskaart slechts &euro; 0,99 en gratis verzonden!</li>
                    <li><i class="icon icon-ok">&nbsp;</i>Directe verzendservice van de uitnodigingen aan je gasten</li>
                </ul>
                <a class="button button-xlg button-green js-scroll-to" href="#kiesjeleeftijd">Kies je leeftijd</a> <a class="usp__link" href="/uitnodiging-verjaardag/alle-uitnodigingen-verjaardag">Bekijk de complete collectie <i class="icon icon-angle-right">&nbsp;</i></a></div>
        </div>
    </div>
</div>
<div class="cols landing__selector__information">
    <div class="xs-12">
        <h2 id="kiesjeleeftijd">Kies je jaartal</h2>
        <p>Feestelijke uitnodigingen voor een verjaardag vind je op Fuif.nl! Kies hieronder gemakkelijk jouw leeftijd. Of je nu 30, 40, 50 of 80 jaar wordt, er is voor elk verjaardagsfeest een passende uitnodiging te vinden. Op de uitnodiging kun je gemakkelijk teksten aanpassen en beelden toevoegen. Is je uitnodiging klaar en naar wens? Stuur deze dan gemakkelijk via onze directe verzendservice naar al je gasten. Handig!</p>
    </div>
</div>
<div class="cols landing__selector">
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = 'uitnodiging-verjaardag/uitnodiging-30-jaar';" style="background-image: url(/img/verjaardag/30_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">30</span></div>
            <div class="selector-item__text">
                <h2>30 jaar</h2>
                <p>Dertig jaar is het nieuwe twintig! Dus genoeg reden om te vieren!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-40-jaar';" style="background-image: url(/img/verjaardag/40_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">40</span></div>
            <div class="selector-item__text">
                <h2>40 jaar</h2>
                <p>Vrolijke uitnodigingen voor jouw veertigste verjaardag.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-50-jaar';" style="background-image: url(/img/verjaardag/50_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">50</span></div>
            <div class="selector-item__text">
                <h2>50 jaar</h2>
                <p>Uitnodigingen voor een Abraham of Sarah feest vind je hier.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-65-jaar';" style="background-image: url(/img/verjaardag/65_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">65</span></div>
            <div class="selector-item__text">
                <h2>65 jaar</h2>
                <p>Op naar een welverdiend pensioen. Dus vier deze mijlpaal!</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-75-jaar';" style="background-image: url(/img/verjaardag/75_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">75</span></div>
            <div class="selector-item__text">
                <h2>75 jaar</h2>
                <p>Deze bijzondere leeftijd verdient een feestelijke uitnodiging.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-80-jaar';" style="background-image: url(/img/verjaardag/80_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year">80</span></div>
            <div class="selector-item__text">
                <h2>80 jaar</h2>
                <p>De mooiste uitnodigingen voor een tachtigste verjaardag.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/uitnodiging-samen-100-jaar';" style="background-image: url(/img/verjaardag/100_verjaardag.jpg)">
            <div class="selector-item__panel"><span class="year year-with-text"><sup>samen</sup><br />
100</span></div>
            <div class="selector-item__text">
                <h2>Samen 100</h2>
                <p>Vier een samen honderd party! Dat is dubbel zoveel feest.</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-4 sm-3">
        <div class="selector-item" onclick="location.href = '/uitnodiging-verjaardag/alle-uitnodigingen-verjaardag';">
            <div class="selector-item__panel ">
                <div class="panel__text-frame ">Kies je eigen jaartal!</div>
            </div>
            <div class="selector-item__text">
                <h2>Eigen jaartal kiezen</h2>
                <p>Kies een kaart die bij je past en vul je eigen jaartal in.</p>
            </div>
        </div>
    </div>
</div>
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling?
                <br /> Bel met het Fuif team:
                <br />
                <strong>085 - 7430761</strong></p>
            <a class="button button-default" href="/">Nu een uitnodiging maken&nbsp;</a></div>
    </div>
</div>
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite ">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default home__all-cards " href="/uitnodigingen ">Bekijk de collectie&nbsp;</a></div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="home__rating--text">Beoordeeld door 4.642 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt hele feestelijke kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="https://www.feedbackcompany.com/nl-nl">Via de Feedback Company </a></div>
    </div>
</div>
<div class="information-block ">
    <div class="cols ">
        <div class="xs-12 sm-4 ">
            <h3>Verjaardag uitnodigingen en kaarten</h3>
            <p>Word je binnenkort Abraham of Sarah of ben je bijna jarig en vier je je verjaardag op een bijzondere manier? Uitnodigingen maken voor je feest doe je eenvoudig op Fuif.nl. Kies een uitnodigingskaart uit onze collectie, pas de foto en tekst aan en je hebt een kaart die voldoet aan jouw wensen. Je kunt ook een blanco kaart zelf ontwerpen. Zie je geen kaart met jouw (bijna-)leeftijd erop? Je kunt op alle kaarten gemakkelijk de leeftijd aanpassen!</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Maak een leuke uitnodiging voor je verjaardag</h3>
            <p>Wil je een originele uitnodiging maken voor je verjaardag? Zoek dan niet verder! Op Fuif.nl vind je de leukste kaarten om je gasten te vertellen van je feest. Maak een uitnodiging uniek door een eigen foto toe te voegen en zelf de tekst te maken en je favoriete lettertype te kiezen. Geef je uitnodiging een thema of houd hem lekker basic. Bij Fuif kun je kiezen uit door onze designers gemaakte ontwerpen of je kaartje helemaal zelf samenstellen. Ook kun je de door ons ontworpen uitnodigingen zo aanpassen dat ze helemaal bij jouw feest passen!</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h3>Idee&euml;n geslaagde verjaardag</h3>
            <p>Speciaal voor jou hebben wij van Fuif een aantal leuke idee&euml;n voor verjaardagen op een rijtje gezet voor allerlei leeftijden. En omdat bij elk feestje natuurlijk een andere uitnodiging past, hebben we in onze editor keuze uit een hele hoop verschillende soorten clip-art. De idee&euml;n vind je hieronder:
                <br /> 21 jaar - een 21-diner
                <br /> 30 jaar &ndash; Glitter and Glamour
                <br /> 40 jaar - Het Foute Feest
                <br /> 50 jaar &ndash; Back tot he 80s party
                <br /> 65 jaar - Tuinfeest</p>
        </div>
    </div>
</div>
