<div class="visual visual-center">
    <div class="visual__left-side" style="background-image: url(/img/ballonnen_left.png);">&nbsp;</div>
    <div class="visual__right-side" style="background-image: url(/img/ballonnen_right.png);">&nbsp;</div>
    <h2 class="visual__suptitle">Hier is dat feestje!</h2>
    <h1 class="visual__title">Zelf kaarten maken en ontwerpen</h1>
    <div class="rating">
        <h4>klanten<br />
geven ons een</h4>
        <div class="rating--number">9,7</div>
        <div class="rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
    </div>
</div>
<div class="page-block">
    <p class="text-center">Maak gemakkelijk je eigen kaart op basis van jouw gewenst formaat. Voeg je eigen foto&#39;s, tekst en afbeeldingen toe en maak het tot een persoonlijke kaart. Persoonlijk gemaakte uitnodigingen zijn prijstechnisch voordeliger dan onze collectiekaarten. Kijk voor de actuele prijzen op onze <a href="https://fuif.nl/prijzen"><strong>prijzenpagina</strong></a>.</p>
</div>
<div class="container zelf-maken padding-restore">
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-kaart-vierkant';" >
                <h3>Dubbele vierkante blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_vierkant.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>15x15</li>
                            <li><span class="thumbnail-size__icon">M</span>13x13</li>
                            <li><span class="thumbnail-size__icon">S</span>11x11</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-kaart-vierkant">Kies voor dit formaat</a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-kaart-vierkant-enkel';" >
                <h3>Enkele vierkante blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_vierkant.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>15x15</li>
                            <li><span class="thumbnail-size__icon">M</span>13x13</li>
                            <li><span class="thumbnail-size__icon">S</span>11x11</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-kaart-vierkant-enkel">Kies voor dit formaat</a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-kaart-staand';" >
                <h3>Dubbele staande blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_staand.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>14x21</li>
                            <li><span class="thumbnail-size__icon">M</span>11x17</li>
                            <li><span class="thumbnail-size__icon">S</span>10x15</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-kaart-staand">Kies voor dit formaat</a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-staand-enkel';" >
                <h3>Enkele staande blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_staand.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>14x21</li>
                            <li><span class="thumbnail-size__icon">M</span>11x17</li>
                            <li><span class="thumbnail-size__icon">S</span>10x15</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-staand-enkel">Kies voor dit formaat</a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-kaart-liggend';" >
                <h3>Dubbele liggende blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/dubbel_liggend.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>21x14</li>
                            <li><span class="thumbnail-size__icon">M</span>17x11</li>
                            <li><span class="thumbnail-size__icon">S</span>15x10</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-kaart-liggend">Kies voor dit formaat</a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail zelf-maken__thumbnail" onclick="location.href = '/choose_card/blanco-kaart-liggend-enkel';" >
                <h3>Enkele liggende blanco kaart</h3>
                <div class="cols">
                    <div class="xs-6"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="/img/card-icons/enkel_liggend.svg" /></div>
                    <div class="xs-6">
                        <ul class="thumbnail-sizes">
                            <li><span class="thumbnail-size__icon">L</span>21x14</li>
                            <li><span class="thumbnail-size__icon">M</span>17x11</li>
                            <li><span class="thumbnail-size__icon">S</span>15x10</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/choose_card/blanco-kaart-liggend-enkel">Kies voor dit formaat</a></div>
        </div>
    </div>
</div>
<div class="page-block">
    <h2 class="text-center">Instructiefilmpjes die helpen je kaartje nog mooier te maken!</h2>
    <p class="text-center">Er zijn zoveel manieren om je kaartje nog mooier, persoonlijker een feestelijker te maken! Hieronder vind je een aantal instructiefilmpjes die uitleggen hoe je onze editor kan gebruiken. Voeg tekst toe en verander zelf de kleur en het lettertype, upload je eigen persoonlijke foto, en leuk je kaart op door vrolijke clip-art toe te voegen. We hebben een hele beeldbank vol met feestelijke clip-art, afbeeldingen, achtergrondjes en icoontjes! Hopelijk kunnen jullie hier veel inspiratie uit halen!</p>
</div>
<div class="container padding-restore">
    <div class="cols video-links ">
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=6uZYdwmrsOk');">
                <div class="image" style="background-image: url(/media/1hoemaakjeeenkaartje.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe maak je een kaartje?</h5>
                <p>Een compleet voorbeeld van het bewerken van een kaartje.</p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=dxo69XVsY1c');">
                <div class="image" style="background-image: url(/media/2achtergrondwijzigen.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe verander je de achtergrond?</h5>
                <p>Plaats patronen, kleuren en texturen op de achtergrond.</p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=oKExVywPT5k');">
                <div class="image" style="background-image: url(/media/3fototoevoegen.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe voeg je een eigen foto toe?</h5>
                <p>Upload je eigen foto en maak je kaart persoonlijker.</p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=x1-Vbff8oXE');">
                <div class="image" style="background-image: url(/media/4teksttoevoegen.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe voeg je een tekst toe?</h5>
                <p>Voeg tekst toe, kies een lettertype en verander de grootte.</p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=SG_dAS11WwE&amp;t=8s');">
                <div class="image" style="background-image: url(/media/5clipart.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe gebruik je clipart?</h5>
                <p>Clipart, afbeeldingen, fotolijsten en incoontjes toevoegen.</p>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4">
            <div class="video-links__image" onclick="window.open('https://www.youtube.com/watch?v=yD8IrZGUEn0');">
                <div class="image" style="background-image: url(/media/6hulpraster.jpg);">&nbsp;</div>
                <div class="play-button">&nbsp;</div>
            </div>
            <div class="video-links__text">
                <h5>Hoe werk je met lagen en het hulpraster?</h5>
                <p>Met het hulpraster zorg je dat je beelden in het midden staan.</p>
            </div>
        </div>
    </div>
</div>
<div class="team__hier">
    <div class="custom-background custom-background--left" style="background-image: url(/img/team-slinger1.png)">&nbsp;</div>
    <div class="custom-background custom-background--right" style="background-image: url(/img/team-slinger2.png)">&nbsp;</div>
    <div class="cols">
        <div class="sm-6 desktop__team__hier--left"><img alt="team fuif" class="team__hier-image" src="img/home/team@1x.jpg" /> <img alt="slinger" class="team__hier-krul" src="img/krul_oranje.png" /></div>
        <div class="xs-12 sm-6 desktop__team__hier--right">
            <h3>Hier is dat feestje!</h3>
            <img alt="team fuif" class="team__hier-image mobile__team__hier-image" src="img/home/team@1x.jpg" />
            <h4>Team Fuif staat voor je klaar</h4>
            <p>Hulp nodig bij je opmaak, bestelling of betaling?
                <br /> Bel met het Fuif team: <strong>085 - 743 07 61</strong></p>
            <a class="button button-lg button-default" href="/uitnodiging-maken">Nu een uitnodiging maken&nbsp;</a></div>
    </div>
</div>
<div class="cols cols-reverse-desktop">
    <div class="xs-12 sm-6 ">
        <div class="home__invite ">
            <h3>Maak je uitnodiging bij Fuif</h3>
            <ul>
                <li><i class="icon icon-ok">&nbsp;</i><strong>Proefdruk voor &euro; 0,99</strong> - Gratis verzonden!</li>
                <li><i class="icon icon-ok">&nbsp;</i>Voor 18.00 besteld, dezelfde werkdag verzonden.</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>21 kleuren enveloppen</strong> - Kies de envelop die bij de gelegenheid past!</li>
                <li><i class="icon icon-ok">&nbsp;</i><strong>6 papiersoorten</strong> - Kies de papiersoort die bij je kaart past!</li>
            </ul>
            <a class="button button-lg button-default home__all-cards " href="/uitnodigingen ">Bekijk de collectie&nbsp;</a></div>
    </div>
    <div class="xs-12 sm-6 ">
        <div class="home__rating">
            <div class="home__rating--number">9,7</div>
            <h3>Klanten geven ons een 9.7</h3>
            <div class="home__rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="home__rating--text">Beoordeeld door 4.642 klanten</div>
            <img alt="opiness 2017" class="home__rating--logo" src="/img/header/opiness2017.jpg" />
            <p class="home__rating--quote">&ldquo;Wij zijn erg tevreden over de kwaliteit en snelheid van Fuif.nl. We komen de volgende keer weer hier naartoe! Echt hele feestelijke&nbsp;kaarten! Voor ieder wat wils&hellip;&rdquo;</p>
            <a class="home__rating--feedback" href="https://www.feedbackcompany.com/nl-nl">Via de Feedback Company </a></div>
    </div>
</div>
<div class="information-block">
    <div class="cols padding-restore">
        <div class="xs-12 sm-4 ">
            <h2>Zelf uitnodigingen maken</h2>
            <p>Een eigen uitnodiging ontwerpen is het leukste wat er is! Kies uit een van bovenstaande zes soorten een kaart naar wens, en maak vervolgens tijdens het ontwerpen gebruik van de leukste illustraties en afbeeldingen. En wanneer je kaart naar wens is, kies je tijdens het bestelproces ook nog een geschikt formaat!</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h2>Fotokaart maken</h2>
            <p>Om het persoonlijk te maken kun je gemakkelijk foto&rsquo;s toevoegen. Je kunt op meerdere pagina&rsquo;s verschillende foto&rsquo;s plaatsen. Je kunt bijvoorbeeld ook de bedankkaartjes voorzien van een foto van de trouwdag. Of een foto van de complete groep genodigden van je jubileumfeest! Alles is mogelijk met de zelf maken kaarten van Fuif!</p>
        </div>
        <div class="xs-12 sm-4 ">
            <h2>Blanco kaart maken</h2>
            <p>Door het kiezen van een blanco kaart zijn de kosten lager en kun je gemakkelijk foto&rsquo;s toevoegen. En hoe meer kaarten je bestelt, hoe lager het totaalbedrag zal zijn. Extra tip! Bestel je 30 kaarten of meer... dan ontvang je een gratis feestpakket! Een cadeautje van Fuif.nl!</p>
        </div>
    </div>
</div>
