.card-block {
    position: relative;
    display: block;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-top: 20px;
    cursor: pointer;
    z-index: 99;
    overflow: hidden;
    img {
        height: 150px;
    }
    &:hover {
        background-color: #effaf7;
        .card-block-title, .card-block-footer {
            opacity: 1;
        }
    }
    .card-block-title, .card-block-footer {
        display: block;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    .card-block-title {
        color: @card-block-title-color;
        font-size: 18px;
        font-weight: normal;
        font-family: "Lobster",cursive;
        margin-bottom: 0;
        padding: 0 10px;
        font-family: "Lobster",cursive;
    }
    .card-block-footer {
        color: @card-block-footer-color;
        font-size: 15px;
        margin-top: 0;
    }
}