.field-horizontal {
    .field-group {
        margin-right: -15px;
        margin-left: -15px;
    }
    .field-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

.field-group {
    margin-bottom: 15px;
    .field-input-group {
        margin-bottom: 0;
    }
}

textarea.field-input {
  height: auto;
}

.field-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
    width: 100%;
    .field-input-group-addon {
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
    }
}

.field-input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 9px 12px;
    font-size: 16px;
    font-family:@mainFont;
    line-height: 1.42857143;
    color: @field-input-color;
    background-color: @field-input-bg-color;
    background-image: none;
    border: 1px solid @field-input-border-color;
    border-radius: 10px;
}

.field-input-sm {
    height: 34px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.5;
}

.field-input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

select.field-input {
    background-color: @field-input-select-bg-color;
}

#contact {
    .error {
        font-style:italic;
        display:block;
        font-size:12px;
    }

    label {
        font-weight: normal;
    }

    input[type=text],textarea,input[type="password"] {
        outline: none;
        display: block;
        width: 100%;
        height: 42px;
        padding: 9px 12px;
        font-size: 16px;
        font-family:@mainFont;
        line-height: 1.42857143;
        color: @field-input-color;
        background-color: @field-input-bg-color;
        background-image: none;
        border: 1px solid @field-input-border-color;
        border-radius: 6px;
    }

    input[type="submit"] {
        background-color: @button-default-bg-color;
        height:45px;
        line-height:48px;
        padding: 11px 20px 14px;
        white-space: nowrap;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow: hidden;
        font-size:16px;
        font-weight: 400;
        line-height: 1.42857143;
        color: @button-default-color;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        border: 1px solid transparent;
        border-bottom-color: @button-default-border-color;
        border-bottom-width: 2px;
        width:auto;
        cursor: pointer;
        &:hover{
            color: @button-default-hover-color;
            background-color: @button-default-hover-bg-color;
            border-bottom-color: @button-default-hover-border-color;
        }
    }
}