@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Rochester);
@import url(/css/font-awesome.min.css);
@font-face {font-family: 'Lilly';
            src: url('./fonts/Lilly.eot');
            src: url('./fonts/Lilly.eot') format('embedded-opentype'),
                url('./fonts/Lilly.woff2') format('woff2'),url('./fonts/Lilly.woff') format('woff'),url('./fonts/Lilly.ttf') format('truetype'),
                url('./fonts/Lilly.svg#Lilly') format('svg');}

@charset "UTF-8";

@font-face {
    font-family: "kcicons";
    src:url("../css/fonts/kcicons.eot");
    src:url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
        url("../css/fonts/kcicons.woff") format("woff"),
        url("../css/fonts/kcicons.ttf") format("truetype"),
        url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;

}

@font-face {
    font-family: 'kg_love_somebodyregular';
    src: url('/css/fonts/KGLoveSomebody-webfont.eot');
    src: url('/css/fonts/KGLoveSomebody-webfont.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/KGLoveSomebody-webfont.woff2') format('woff2'),
        url('/css/fonts/KGLoveSomebody-webfont.woff') format('woff'),
        url('/css/fonts/KGLoveSomebody-webfont.ttf') format('truetype'),
        url('/css/fonts/KGLoveSomebody-webfont.svg#kg_love_somebodyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebasneue.eot');
    src: url('fonts/bebasneue.eot') format('embedded-opentype'),
    url('fonts/bebasneue.woff2') format('woff2'),
    url('fonts/bebasneue.woff') format('woff'),
    url('fonts/bebasneue.ttf') format('truetype'),
    url('fonts/bebasneue.svg#BebasNeueRegular') format('svg');
}

@font-face {
    font-family: 'Lobster';
    src: url('/css/fonts/lobster-webfont.eot');
    src: url('/css/fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/lobster-webfont.woff') format('woff'),
    url('/css/fonts/lobster-webfont.ttf') format('truetype'),
    url('/css/fonts/lobster-webfont.svg#Lobster') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mainFont:'Lato', sans-serif;
@secFont:'kg_love_somebodyregular';
@titFont:'BebasNeueRegular';
@wetitFont:'Lobster';
@iconFont:'kcicons';