.thumbnail-scroller {
    position: relative;
    width: 100%;
    background: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;
    background-size: 100%;
    background-color: @thumbnail-scroller-bg-color;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    padding-top: 20px;
    .thumbnail-scroller-left {
        left: 0;
    }
    .thumbnail-scroller-right {
        right: 0;
    }
    .thumbnail-scroller-left, .thumbnail-scroller-right {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 20;
        > a {
            display: table;
            height: 100%;
            padding: 0 10px;
            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
}