.visual {
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid @visual-border-bottom;
    background: url(/img/bg-visual.png) repeat 0 0;
    background-color: @visual-bg-color;
    overflow: hidden;
    min-height: 50px;
    .visual-content {
        background: url(/img/bg-visual-people.png) no-repeat 0 0 / cover;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    h1{
        text-transform: uppercase;
        font-size: 58px;
        color: #fff;
        line-height: 58px;
    }
    .visual-content-left{
        float: left;
        width: 460px;
        font-weight: 300;
        font-size: 20px;
        padding: 60px 0 0 0;
        p {
            line-height: 28px;
        }
    }
    .visual-content-right{
        color: #262626;
        font-size: 17px;
        text-align: center;
        float: right;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin: 20px 0 0 0;
        min-height: 384px;
        padding: 17px 20px 0;
        font-weight: 300;
        line-height: 22px;
        .block{
            width: 177px;
            margin: 0 auto;
            .button{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: @xsm){
    .visual {
        display: none;
    }     
}

@media screen and (max-width: @md){
    .visual {
        margin-top: 50px;
        .visual-content-left, .visual-content-right {
            display: none;
        }
    }     
}

@media screen and (min-width: @md){
    .visual {
        margin-top: 125px;
        .visual-content-left, .visual-content-right {
            display: block;
        }
    }     
}

.visual-background-1 {
    background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
}

.visual-background-2 {
    background: url(/img/bg-visual-2.png) top center;
    color: #fff;
    .visual-content {
        min-height: 424px;
    }
}