/** COMPONENTS - PARALLAX -----------------------------------------**/


.component__background-video {
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	min-width: 463px;
	z-index: 1;
	> .temp-image {
		position: absolute;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		z-index: 1;
	}
	> .video {
		opacity: 0;
		transition: opacity 3s;
		position: absolute;
		padding-top: 56%;
		width: 100%;
		top: 50%;
		left: 0%;
		transform: translate(0, -50%);
		z-index: 2;
		iframe {
			position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}
	}
	&.playing {
		> .video {
			opacity: 1;
			transition: opacity 1s;
		}
	}
}







// SPECIFIC






