
/** 

CSS for the mobile menu. check spacing of content below menu.

PASTE IN CUSTOM.CSS (or other relevant css file)

**/

.nav-m {
    display: block;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    &:after {
        position: absolute;
        z-index: 2;
        top: 9px;
        bottom: 13px;
        right: 86px;
        content: '';
        box-shadow: -4px 0px 10px 8px white;
        -webkit-box-shadow: -4px 0px 10px 8px white;
        -moz-box-shadow: -4px 0px 10px 8px white;

    }
}

.nav-m .mobile-nav__menu {
    z-index: 3;
    top: 0px;
    height: 37px;
    box-sizing: border-box;
    right: 0px;
    padding: 5px 10px;
    position: absolute;
    background-color: #ff9700;
    color: #fff;
    transition: color 0.3s, background 0.3s;
    float: initial;
    margin: 0;
    width: auto;
}

.nav-m .mobile-nav__menu:hover {
    // background-color: #86B8BE;
}

.nav-m a {
    color: #575757;
}

.nav-m .navbar-hamburger > button {
    margin-top: 1px;
    display: inline-block;
    position: relative;
    float: left;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    outline: none;
    width: 29px;
    height: 16px;
    padding-left: 2px;
}

.navbar .nav-m .navbar-hamburger .icon-bar {
    width: 15px;
    height: 2px;
    margin: 3px 0;
    background-color: #fff;
    transition: background 0.3s;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s, top 0.3s, transform 0.2s;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(1) {
    top: calc(50% - 5px);
}

.nav-m .navbar-hamburger .icon-bar:nth-child(2) {
    top: 50%;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(3) {
    top: calc(50% + 5px);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.mobile-nav__highlight-items {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    width: calc(100% - 88px);
    overflow-x: auto;
    height: 36px;
    white-space: nowrap;
    position: relative;
    z-index: 1
}

.mobile-nav__highlight-item {
    a {
        line-height: 36px;
        padding: 0 3px;
        transition: color;
        &:hover {
            color: #8ac0cf;
            text-decoration: none;
        }
    }
}




@media screen and (min-width: 768px) {
    .nav-m {
        display: none;
    }
}

