/** COMPONENTS - NAVBAR -----------------------------------------**/


.navbar {
	height: 50px;
}
.navbar .collapse {
	top: 90px;	
	background-color: #29C1C4;
}

.navbar .navbar-hamburger .icon-bar {
	background-color: #404040;
}

@media only screen and (min-width: 768px) {
	.navbar .collapse {
		top: 60px;
	}
}

@media only screen and (min-width: 992px) {
	.navbar {
		height: 106px;
		margin-bottom: 0px;
	}
	.navbar .collapse {
		height: 70px;
		top: 0;
		background-color: #fff;
	}
}