/** COMPONENTS - THUMBNAIL SCROLLER -----------------------------------------**/


.thumbnail-scroller {
	padding: 0px;
	margin: 20px 0;
}
.thumbnail-scroller-middle {
	margin: 0 70px;
}

.thumbnail-scroller-left, .thumbnail-scroller-right {
	a {
		color: #afafaf;
	}
 }

.thumbnail-scroller-left, .thumbnail-scroller-right {
	a:hover {
		color: #7f7f7f;
	}
 }

@media only screen and (min-width: 992px) {


}