/** PAGE - BLOG-OVERZICHT **/

#blog {
    #pagebody {
        display: flex;
        flex-wrap: wrap;
    } 
    .pageLinks {
        display: block;
        text-align: center;
        clear: both;
        padding-top: 25px;
        width: 100%;
        .dis {
            display: none;
        }
        span,
        a {
            background: #4fcaae;
            padding: 5px 12px 7px 12px;
            text-align: center;
            color: #fff;
            border-radius: 5px;
        }
    }
    #mid {
    	#categories {
    		display: none;
    	}
    	#pagecontent.md-9 {
    		width: 100%;
    	}
    }
    #footer {
        margin-top: 35px;
    }
}
