/** PAGE - DESIGN **/


#body_design {

	.button-success {
		background-color: #5EC50C;
		border-color: #5EC50C;
		display: block;
    	width: auto;
		&:hover {
			background-color: #fff;
			color: #5EC50C;
		} 
	}
	.add_to_collection {
		border-color: #a7a7a7;
		border-radius: 8px;
		i {
			color: #545454;
		}
		a {
			color: #545454;
		}
	}
	.desUsp {
	    background-color: none;
	    border: none;
	    background-color: transparent;
	    padding: 0px;
	    p {
	    	position: relative;
	    	margin-left: 40px;
	    	line-height: 20px;
	    	&:before {
	    		font-family: kcicons;
	    		content: '\e002';
	    		color: #5EC50C;
	    		font-size: 20px;
	    		position: absolute;
	    		left: -35px;
	    	}

	    }
	}
	.open_calculator {
	    border-color: #A7A7A7;
	    border-radius: 8px;
		i {
			font-size: 20px;
			color: #545454;
		}
		a {
			color: #545454;
		}
	}
	#card-info-left, #card-info-right {
		font-size: 17px;
		.subheader {
			font-weight: 500;
			font-size: 20px;
			text-transform: none;
		}
		.price-info a {
			color: #008DC8;
		}
	}
	#enlarge-card .mod-edit-button {
	    background-color: #5ec50c;
	    border-radius: 5px;
	    right: 20px;
	}
	#enlarge-card .next-preview, #enlarge-card .prev-preview {
	    padding-top: 8px;
	}
}
@media screen and (min-width: 320px){
	#body_design #crumbs {
		display: block;
		& > a {
			display: none;
		}
		.crumb-mobile {
			top: 30px;
			a {
				color: #29C1C4;

			}
		}
	}

}

@media screen and (min-width: 768px){
	#body_design #crumbs {
		& > a {
			display: inline-block;
		}
	}
}