/** PAGE - FOTOKAARTEN **/

#body_fotokaarten {
    #mid {
        width: 100%;
        max-width: 100%;
        & > .cols {
            margin: 0;
            #pagecontent {
                overflow-x: hidden;
                padding: 0px;
                .padding-restore {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    h1 {
        text-align: center;
        font-weight: 700;
        color: #404040;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .visual {
        .rating {
            position: absolute;
            bottom: 13px;
            left: 30px;
        }
    }
    #crumbs {
        display: none;
    }
    #save_custom_design_sort_button, label[for="save_custom_design_sort_button"], .mobilefilter {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    #body_fotokaarten {
        #pagecontent {
            width: 100%;
            .custom_content {
                & > div,
                & > ul {
                    max-width: 1200px;
                    margin-left: auto;
                    margin-right: auto;
                }
                & > div.visual,
                & > div.information-block,
                & > div.team__hier {
                    max-width: initial;
                    & > .cols {
                        max-width: 1200px;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        z-index: 200;
                    }
                }
            }
        }
        #categories {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    #body_fotokaarten {
        .visual {
            .rating {
                left: calc(50% - 456px);
            }
        }
    }
}
