/** PAGE - HOME **/

#body_home {
    #mid {
        margin-top: 90px;
        width: 100%;
        max-width: 100%;
        & > .cols {
            margin: 0;
            #pagecontent {
                overflow-x: hidden;
                padding: 0px;
                .padding-restore {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    form[lpformnum="1"] {
        display: none;
    }
}


@media screen and (min-width: 992px) {
    #body_home {
        #mid {
            margin-top: 20px;
        }
        #categories {
            display: none;
        }
        #pagecontent {
            width: 100%;
            .custom_content {
                & > div,
                & > ul {
                    max-width: 1200px;
                    margin-left: auto;
                    margin-right: auto;
                }
                & > div.visual,
                & > div.team__hier {
                    max-width: initial;
                }
            }
        }
    }
}
