/** PAGE - LANDING **/

#body_jubileumkaarten, #body_uitnodiging-verjaardag, #body_themafeest {
	#mid {
	    width: 100%;
	    max-width: 100%;
	    margin-top: 90px;
    	#crumbs {
    		display: none;
    	}
	    #pagebody {
	    	& > h1 {
	    		display: none;
	    	}
	    }
		& > .cols {
			margin: 0;
			#pagecontent {
				overflow-x: hidden;
				padding: 0px;
				.padding-restore {
					padding-left: 15px; 
					padding-right: 15px; 
				}
			}
		}

		.custom_content {
		    margin-bottom: 0px;
		}
	    
	}

	#pagecontent {
		.custom_content {
			& > div.landing__usp, & > div.information-block , & > div.team__hier  {
				& > .cols {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
}


@media screen and (min-width: 992px){
	#body_jubileumkaarten, #body_uitnodiging-verjaardag, #body_themafeest {
		#categories {
			display: none;
		}
		#pagecontent {
			width: 100%;
			.custom_content {
				& > div, & > ul {
					max-width: 1200px;
					margin-left: auto;
					margin-right: auto;
				}
				& > div.landing__usp, & > div.information-block , & > div.team__hier  {
					max-width: initial;
					& > .cols {
						max-width: 1200px;
						margin-left: auto;
						margin-right: auto;
						position: relative;
						z-index: 200;
					}
				}
			}
		}
	}
}