/** PAGE - ZELF-MAKEN **/

#body_uitnodiging-maken {
    #mid {
        width: 100%;
        max-width: 100%;
        margin-top: 45px;
        & > .cols {
            margin: 0;
            #pagecontent {
                overflow-x: hidden;
                padding: 0px;
                .padding-restore {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                hr {
                    margin: 0 auto 10px auto;
                    border-color: #e8e8e8;
                    border-style: solid;
                }
            }
        }
        .custom_content {
            margin-bottom: 0px;
        }

    }
    h1 {
        text-align: center;
        font-weight: 700;
        color: #404040;
        margin-bottom: 30px;
    }
    .visual {
        .rating {
            position: absolute;
            bottom: 0;
            left: 30px;
            transform: translate(0, 50%);
        }
    }
    #crumbs {
        display: none;
    }
    form[lpformnum="1"] {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #body_uitnodiging-maken {
        #pagecontent {
            width: 100%;
            .custom_content {
                & > div,
                & > ul {
                    max-width: 1200px;
                    width: calc(100% - 0px);
                    margin-left: auto;
                    margin-right: auto;
                }
                & > div.visual,
                & > div.information-block,
                & > div.team__hier {
                    max-width: initial;
                    & > .cols {
                        max-width: 1200px;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        z-index: 200;
                    }
                }
            }
        }
        #categories {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    #body_uitnodiging-maken {
        .visual {
            .rating {
                left: calc(50% - 456px);
            }
        }
    }
}
