/* Imports */
@import url('/common/preloader.css');
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700');

@mainFont: 'Roboto', sans-serif;

@charset "UTF-8";

@font-face {
  font-family: "cms";
  src: url("/common/font/cms.eot");
  src: url("/common/font/cms.eot?#iefix") format("embedded-opentype"),
  url("/common/font/cms.woff") format("woff"),
  url("/common/font/cms.ttf") format("truetype"),
  url("/common/font/cms.svg#cms") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "cms" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cms" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "e";
}

.icon-cart:before {
  content: "d";
}

.icon-home:before {
  content: "c";
}

.icon-logout:before {
  content: "b";
}

.icon-pencil:before {
  content: "a";
}

.icon-iconmonstr-arrow-24-icon:before {
  content: "f";
}

.icon-iconmonstr-control-panel-8-icon:before {
  content: "g";
}

.icon-iconmonstr-cut-4-icon:before {
  content: "h";
}

.icon-iconmonstr-email-4-icon:before {
  content: "i";
}

.icon-iconmonstr-folder-2-icon:before {
  content: "j";
}

.icon-iconmonstr-font-size-icon:before {
  content: "k";
}

.icon-iconmonstr-fullscreen-11-icon:before {
  content: "l";
}

.icon-iconmonstr-html-code-icon:before {
  content: "m";
}

.icon-iconmonstr-menu-2-icon:before {
  content: "n";
}

.icon-iconmonstr-menu-icon:before {
  content: "o";
}

.icon-iconmonstr-multi-files-4-icon:before {
  content: "p";
}

.icon-iconmonstr-paintbrush-7-icon:before {
  content: "q";
}

.icon-iconmonstr-picture-icon:before {
  content: "r";
}

.icon-iconmonstr-sitemap-5-icon:before {
  content: "s";
}

.icon-iconmonstr-tag-5-icon:before {
  content: "t";
}

.icon-iconmonstr-text-file-4-icon:before {
  content: "u";
}

.icon-iconmonstr-tools-7-icon:before {
  content: "v";
}

.icon-iconmonstr-user-3-icon:before {
  content: "w";
}

.icon-iconmonstr-trash-can-2-icon:before {
  content: "x";
}

.icon-iconmonstr-globe-4-icon:before {
  content: "y";
}

.icon-iconmonstr-info-2-icon:before {
  content: "z";
}

.icon-iconmonstr-dashboard-5-icon:before {
  content: "1";
}

.icon-iconmonstr-gear-icon:before {
  content: "2";
}

.icon-iconmonstr-paintbrush-7-icon-1:before {
  content: "3";
}

.icon-iconmonstr-shop-icon:before {
  content: "4";
}

.icon-graph:before {
  content: "A"
}

/* Mixers */
.Transi {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

/* Vars */
@mainColor: #64b3cf;
@hlColor: #ff7f15;

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main CSS */

html {
  overflow-y: scroll;
}

body {
  font-family: @mainFont;
  background: #ededed;
}

.clearfix {
  clear: both;
  height: 5px;
}

#wrapper {
  width: 100%;
  height: 100%;
}

header {
  .innerHeader {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 64px;
    background: @mainColor;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
  }
  a.shopName {
    background: url(/common/img/kclogo.png) no-repeat center left;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-height: 100%;
    line-height: 100%;
    font-size: 28px;
    font-weight: 300;
    padding: 17px 0 0 50px;
    margin-left: 15px;
  }
  .navHeader {
    float: right;
    height: 64px;
    a {
      .Transi;
      color: #fff;
      display: inline-block;
      text-decoration: none;
      font-weight: 300;
      box-sizing: border-box;
      height: 64px;
      padding: 17px 10px 0px 10px;
      vertical-align: top;
      &:hover {
        background: #5598B0;
      }
    }
    a.fullScreen {
      font-family: 'cms';
      &:before {
        content: 'l';
        font-size: 34px;
      }
    }
    a.preview {
      font-family: 'cms';
      &:before {
        content: 'y';
        font-size: 32px;
      }
    }
  }
}

.inlinealert {
  border-left: solid 5px #CF6464;
  padding: 5px 5px 5px 15px;
  display: inline-block;
  font-style: italic;
  background: #F9CFCF;
}

#scrollMenu {
  position: relative;
  padding-top: 15px;
}

aside.leftNav {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 64px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 240px;
  #scrollMenu {
    overflow: auto;
    height: 100%;
  }
  li {
    a.isChild {
      padding-left: 53px;
    }
    a {
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      padding: 0 15px;
      color: #444;
      line-height: 42px;
      height: 42px;
      &:hover {
        background: #F3F3F3;
      }
      &:before {
        font-family: cms;
        font-size: 22px;
        padding: 0 15px 0 0;
        float: left;
      }
    }
    &.here a {
      background: #F3F3F3;
    }
    &.inactive a {
      color: #F3F3F3;
      &:hover {
        background: None;
        cursor: not-allowed;
      }

    }

    &.dashboard a:before {
      content: '1';
    }
    &.stats a:before {
      content: 'y';
    }
    &.gebruikers a:before {
      content: 'w';
    }
    &.ecommerce a:before {
      content: '4';
    }
    &.content a:before {
      content: 'a';
    }
    &.instellingen a:before {
      content: '2';
    }
    &.layout a:before {
      content: '3';
    }
    &.addcard a:before {
      content: 'e';
    }
    &.mail_templates a:before {
      content: 'i';
    }
    &.SEO a:before {
      content: '\E001';
    }
    &.google a:before {
      content: 'y';
    }
    &.site_performance a:before {
      content: 'A';
    }
    &.media a:before {
      content: 'j';
    }
  }
}

/* Content CSS */
.chartWrap {
  width: 100%;
  height: 400px;
  position: relative;
}

span.ball {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: green;
}

span.ball.rood {
  background: red;
}

.tagBox {
  opacity: 0;
}

#content {
  margin: 90px 25px 0 265px;

  p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 15px;

  }
  #wachttijd {
    width: 50px;
    font-size: 25px;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  #wachttijd_toelichting {
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 40px;
  }

  span.textLabel {
    font-size: 0.8rem;
    color: #9e9e9e;
    display: block;
  }

  textarea {
    .Transi;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
    outline: none;
    border: 1px solid #9e9e9e;
    height: 2rem;
    margin-top: 5px;
    resize: none;
    &:focus {
      border: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50;
    }
  }

  input[type=text], input[type=number] {
    .Transi;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    height: 2rem;
    &:focus {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50;
    }
  }

  input[type=date] {
    .Transi;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
    border: none;
    background: none !important;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    height: 2.1rem;
    &:focus {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50;
    }
  }

  select {
    .Transi;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    background: none;
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    height: 2.1rem;
    &:focus {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50;
    }
  }

  .form_wrapper {
    width: 100%;
    max-width: 400px;
  }

  p.inleiding {
    font-size: 1.10rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  label {
    font-size: 1rem;
  }

  div.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.804rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 1.804rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  #general_options {
    margin-top: 15px;
    input[type=checkbox], label {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  input[type=submit], button, a.button {
    .Transi;
    margin-top: 15px;
    margin-bottom: 25px;
    background: @hlColor;
    border: none;
    text-transform: uppercase;
    color: #FFF;
    outline: none;
    height: 36px;
    padding: 0 20px 0 20px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    &:hover:enabled {
      cursor: pointer;
      opacity: 0.9;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26), 0 2px 15px 0 rgba(0, 0, 0, 0.22);
    }
  }
}

a.delLink:before {
  font-family: cms;
  content: 'x';
  font-size: 18px;
  margin-right: 5px;
}

a.ediLink:before {
  font-family: cms;
  content: 'a';
  font-size: 18px;
  margin-right: 5px;
}

a.defLink:before {
  font-family: cms;
  content: 's';
  font-size: 18px;
  margin-right: 5px;
}

a.scanLink:before {
  font-family: cms;
  content: '5';
  font-size: 18px;
  margin-right: 5px;
}

a.viewLink:before {
  font-family: cms;
  content: 'y';
  font-size: 18px;
  margin-right: 5px;
}

a.orderDet:before {
  font-family: cms;
  content: 'z';
  font-size: 19px;
  margin-right: 5px;
}

a.orderPrev:before {
  font-family: cms;
  content: 'r';
  font-size: 20px;
  margin-right: 5px;
}

a.orderItemCancel:before {
  font-family: cms;
  content: 'x';
  font-size: 20px;
  margin-right: 5px;
}

a.deleteRebateCode:before {
  font-family: cms;
  content: 'x';
  font-size: 20px;
  margin-right: 5px;
}

a.editRebateCode:before {
  font-family: cms;
  content: 'a';
  font-size: 20px;
  margin-right: 5px;
}

a.tagMainDel, a.tagMainEdit {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  top: 25px;
  display: none;
}

a.tagMainDel {
  right: 10px;
}

a.tagMainEdit {
  right: 35px;
}

td.actions a span, td.actionsSmall a span {
  display: none;
}

/* pagination */
div.pagination {
  margin-bottom: 25px;
  &.bottom {
    height: 100px;
  }
}

div.pageLinks {
  float: right;
  vertical-align: top;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  .dis {
    cursor: no-drop;
  }
  a {
    .Transi;
    font-size: 12px;
    float: left;
    display: block;
    padding: 10px 15px 9px 15px;
    color: #64b3cf;
    text-decoration: none;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &.last {
      border: none;
    }
    &:hover {
      background: #64b3cf;
      color: #fff;
    }
  }
  span {
    font-size: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    vertical-align: top;
    color: #64b3cf;
    float: left;
    padding: 10px 15px 9px 15px;
    &.current {
      font-weight: bold;
      background: #64b3cf;
      color: #fff;
    }
    &.dis {
      color: #ccc;
    }
    &.first {
      padding-left: 15px;
    }
  }
}

div.countInfo {
  float: left;
  vertical-align: top;
  color: #ccc;
}

div.tagGroup {
  background-color: #ffffff;
  border-color: gray;
  margin: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  display: inline-block;
  vertical-align: top;
  &:hover {
    a.tagMainEdit, a.tagMainDel {
      display: block;
    }
  }
}

/* Tabellen */
table.nicelist {
  width: 100%;
  margin-top: 25px;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-color: gray;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  tbody {
    &:nth-child(even) {
      background: #F7F7F7;
    }
    tr {
      &:nth-child(even) {
        background: #fff;
      }
      .Transi;
      &:hover {
        background-color: #ADE5F9;
      }
      td {
        color: rgba(0, 0, 0, 0.87);
        text-align: left;
        a {
          color: rgba(0, 0, 0, 0.87);
          text-decoration: none;
        }
      }
    }
  }
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    font-size: 0.9em;
  }
  td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    font-size: 0.9em;
  }
}

table.smallList {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  tr {
    .Transi;
    &:hover {
      background-color: #ADE5F9;
    }
    td {
      padding: 7px 10px 5px 10px;
      color: rgba(0, 0, 0, 0.87);
      text-align: left;
      vertical-align: top;
      font-size: 0.9em;
      border-bottom: solid 1px #F1F1F1;
      a {
        color: rgba(0, 0, 0, 0.87);
        text-decoration: none;
      }
    }
  }
}

td.actions {
  width: 150px;
}

td.actionsSmall {
  width: 70px;
}

/* Contextmenu */
div.contextMenu {
  display: none;
  background-color: #ffffff;
  border-color: gray;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 25px;
  left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  width: 220px;
  a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 0 8px 15px;
    color: #444;
    &:hover {
      background: #F3F3F3;
    }
    span {
      display: inline-block;
      vertical-align: top;
    }
  }
}

a.openMenu {
  display: none;
}

/* Bestellingen pagina */
div.filtWrap {
  float: left;
  vertical-align: top;
  margin-right: 25px;
  width: 15%;

  input {
    .Transi;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    height: 2rem;
    &:focus {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50;
    }
  }
}

div.radioWrap {
  float: left;
  margin-right: 25px;
  width: 100px;
  input {
    margin-top: 30px;
    margin-right: 0px;
  }
  span {
    margin-top: 20px;
    margin-right: 0px;
    float: right;
    div {
      font-size: 15px;
    }
  }
}

span.mob {
  display: none;
}

/* DashBoard */
div.dashBlock {
  background-color: #ffffff;
  border-color: gray;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
  &.deltatimepicker {
    margin-bottom: 0px;
    margin-top: 15px;
    float: right;
  }
}

/* statistics */
div.graphBlock {
  background-color: #ffffff;
  border-color: gray;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  //display:inline-block;
  vertical-align: top;
  &.deltatimepicker {
    margin-bottom: 0px;
    margin-top: 15px;
    float: right;
  }
}

div.designDiv {
  > img {
    display: block;
    margin: auto;
    width: 180px;
    height: 200px;
  }
  min-height: 360px;
  margin: 5px;
  position: relative;
  tr td:nth-child(2) {
    text-align: right;
  }
  > .number {
    float: left;
    font-size: 20px;
  }
}

table.designStats {
  position: absolute;
  bottom: 10px;
  margin: 10px;
  left: 0;
  width: 90%;

}

div.designfilter {
  display: inline-block;
  margin: 5px;
}

div.filterContent {
  display: None;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: hidden;
}

div.filterBlock {
  box-sizing: border-box;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  margin: auto;
  width: 95%;
  height: 95%;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  padding: 15px;
  .catBlock, .tagBlock {
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    //min-height:100%;
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    span {
      padding-left: 10px;
      margin-bottom: 5px;
      padding-bottom: 5px;
      display: block;
    }
    .filterTag, .filterCat {
      padding: 5px;
      margin: 2px;
      font-size: 12px;
      label {
        font-size: 12px !important;
      }
      box-sizing: border-box;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
      .tagMain, .catMain {
        font-weight: 500;
        label {
          color: black !important;
        }
      }
      .tagSub, .catSub {
        padding-left: 5px;
      }
    }
  }
}

.xButton {
  float: right;
  margin-right: -15px;
  margin-top: -15px;
  input {
    margin: 0px !important;
  }
}

.filterHead {
  min-height: 80px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  span {
    float: left;
    width: 15%;
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
  }
}

/* labels */
div.labelBlock {
  background-color: #ffffff;
  border-color: gray;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
  &.danger {
    color: #fff;
    background-color: #d9534f;
  }
  &.warning {
    color: #fff;
    background-color: #f0ad4e;
  }
  &.succes {
    color: #fff;
    background-color: #5cb85c;
  }
}

/* Zoekfunctie */
input.sbar {
  transition: all 400ms ease;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 25px;
  background: #ffffff;
  border: none;
  color: #757575;
  outline: none;
  height: 36px;
  padding: 0 20px 0 20px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: .5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div.zoekfunct {
  padding-right: 25px;
}

.headLink {
  color: rgb(255, 88, 30);
  text-decoration: none;
}

div.cke_maximized {
  z-index: 9999999 !important;
}

/* Bestel details */
div.bestLeftCol {
  width: 40%;
  float: left;
  vertical-align: top;

  span.accoord {
    color: #19B500;
    font-weight: 600;
  }

  span.nieuw {
    color: #ff581e;
    font-weight: 600;
  }

  span.notpaid, span.geannuleerd {
    color: #EC0000;
    font-weight: 600;
  }

  span.gedrukt {
    color: #049300;
    font-weight: 600;
  }
}

#ui-datepicker-div {
  display: none;
}

div.ui-widget-overlay {
  z-index: 999998;
}

div.ui-dialog {
  z-index: 999999;
}

div.bestGegevens {
  table {
    width: 100%;
  }
  td.title {
    width: 125px;
  }

  td.ant {
    padding-left: 25px;
  }
  td {
    padding: 5px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.9em;
  }
  tr {
    &:nth-child(even) {
      background: #F5F5F5;
    }
  }
}

div.ordGeg {
  table {
    width: 100%;
  }
  td.title {
    width: 125px;
  }

  tr.totaalBed {
    td {
      font-weight: 600;
    }
  }

  tr.totaalBedBTW {
    background: #ffffff !important;
    td {
      font-size: 0.8em;
    }
  }

  td.ant {
    padding-left: 25px;
  }
  td {
    padding: 5px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.9em;
  }
  tr {
    &:nth-child(even) {
      background: #F5F5F5;
    }
  }
}

div.gegBest span.prefi {
  display: inline-block;
  padding-right: 25px;
}

/* Bewerken pagina */
td.tagGroupName {
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
}

/* Diverse cards */
div.cleanCard {
  background: #fff;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  margin-top: 25px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

div.dottedCard {
  background: #FFFEF5;
  color: #A18D00;
  border-top: dashed 1px #A18D00;
  border-bottom: dashed 1px #A18D00;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
}

/* MailTemps */
div.mailLeftCol {
  width: 520px;
  float: left;
  margin-right: 45px;
}

div.prevCol {
  width: 40%;
  float: left;
  height: 500px;
  #testmail {
    max-width: 200px;
  }
  #sendTestMail {
    margin-left: 50px;
  }
}

div.mailPref {
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 70px 20px 140px 70px;
  #onderwerp_preview {
    font-size: 0.8em;
    margin-bottom: 30px;
  }
}

div.mailPrefContent {
  font-size: 13px;
  line-height: 18px;
  overflow-x: auto;
}

div.mailPrefContent strong, div.mailPrefContent b {
  font-weight: bold !important;
}

div.mailPrefLB {
  position: absolute;
  top: 15px;
  left: 15px;
  background: url(/common/img/mailprefLB.jpg);
  width: 264px;
  height: 49px;
}

div.mailPrefFoot {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: url(/common/img/mailprefFOOT.jpg) no-repeat 10px 15px;
  width: 95%;
  border-top: 1px solid #d8d8d8;
  height: 99px;
}

div.mailPrefRB {
  position: absolute;
  top: 15px;
  right: 15px;
  background: url(/common/img/mailprefRB.jpg);
  width: 229px;
  height: 39px;
}

/* Voor tablet en mobiel */
@media (max-width: 800px) {
  div.navHeader {
    display: none;
  }

  #leftNav {
    left: -240px;
    .Transi;
  }

  a.shopName {
    background: none !important;
    padding-left: 0px !important;
    font-size: 22px !important;
    padding-top: 22px !important;
  }

  html.noscroll, html.noscroll body {
    overflow-y: hidden !important;
  }

  #leftNav.open {
    .Transi;
    left: 0px;
  }

  #content {
    margin: 90px 25px 0 15px;
    background: #fff;
  }

  a.openMenu {
    .Transi();
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 15px;
    &.active:before {
      color: #478398;
    }
    &:before {
      font-family: 'cms';
      content: 'o';
      font-size: 40px;
      color: #fff;
      padding-left: 10px;
    }
  }

  div.filtWrap {
    vertical-align: top;
    margin-right: 25px;
    width: 100%;
    float: none;
  }

  div.countInfo {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  div.pageLinks {
    float: none;
    display: inline-block;
    a {
      .Transi;
      font-size: 12px;
      float: left;
      display: block;
      padding: 10px 10px 9px 10px;
      color: #64b3cf;
      text-decoration: none;
      vertical-align: top;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      &.last {
        border: none;
      }
      &:hover {
        background: #64b3cf;
        color: #fff;
      }
    }
    span {
      font-size: 12px;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      display: block;
      vertical-align: top;
      color: #64b3cf;
      float: left;
      padding: 10px 10px 9px 10px;
      &.current {
        font-weight: bold;
        background: #64b3cf;
        color: #fff;
      }
      &.dis {
        color: #ccc;
      }
      &.first {
        padding-left: 10px;
      }
    }
  }

  table.bestellingen th.actieshead, table.bestellingen td.actions, th.actieshead {
    display: none;
  }

  .noMob {
    display: none;
  }

  table.bestellingen tbody:nth-child(odd) {
    background: #F5F5F5;
  }

  table.bestellingen {
    width: 100%;
    max-width: 100%;
    th {
      font-weight: 400;
      color: #757575;
      vertical-align: bottom;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      text-align: left;
      padding: 1rem 0.7rem 1rem 0.7rem;
      vertical-align: top;
      font-size: 0.9em;
      &.code {
        display: none;
      }
      &.dat {
        display: none;
      }
    }
    td {
      text-align: left;
      padding: 1rem 0.7rem 1rem 0.7rem;
      vertical-align: top;
      font-size: 0.9em;
      &.code {
        display: none;
      }
      &.dat {
        display: none;
      }
    }
    span.pref {
      display: block;
      font-size: 11px;
      font-weight: bold;
      margin-top: 10px;
      &:first-child {
        margin-top: 0px !important;
      }
    }
    span.mob {
      display: block;
    }
  }
}

span.legendDetail {
  &:before {
    cursor: pointer;
    font-family: cms;
    content: 'z';
    font-size: 15px;
  }
  position: relative;
  &:hover {
    div.legendDetailHover, span.legendDetailHover {
      display: block;
    }
  }
  div.legendDetailHover, span.legendDetailHover {
    display: none;
    z-index: 999;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 320px;
    font-size: 13px;
    -webkit-box-shadow: 0 0 5px 0 #575757;
    box-shadow: 0 0 5px 0 #575757;
    b {
      font-weight: bold;
    }
    p {
      margin-bottom: 5px;
      font-size: 13px !important;
      line-height: 1.2 !important;
    }
  }
}

.comiseo-daterangepicker-triggerbutton {
  margin-bottom: 0px !important;
}

tr.noshow {
  border: solid 1px #ccc;
}

/* Scanpop */
div.scanLoad {
  display: none;
}

div.scanForm {
  position: relative;
}

div.closeScan {
  position: absolute;
  top: -5px;
  cursor: pointer;
  font-size: 18px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  right: 0px;
  font-weight: bold;
}

div.scanPop {
  position: fixed;
  left: 50%;
  z-index: 999;
  width: 500px;
  margin-left: -250px;
  top: 50px;
  display: none;
}

div.scanResult {
  position: relative;
}

div.scanResult ul {
  margin-left: 25px;
}

div.scanResult li.bad {
  color: red;
  list-style-type: square;
  margin-bottom: 15px;
}

div.scanResult li.good {
  color: green;
  list-style-type: square;
  margin-bottom: 15px;
}

div.scanPop h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

.color_input {
  margin: 5px;
  width: 80px;
}

.goodBox {
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  background: #8cbc88;
  border: solid 1px #58b151;
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: -100px;
  z-index: 999999;
  display: none;
}

.editbox {
  input[type="text"] {
    padding: 5px;
  }
  tr > td {
    vertical-align: top;
    padding: 5px;
    &:first-child {
      font-weight: bold;
      min-width: 120px;
    }
  }
  textarea {
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .editbox tr > td {
    float: left;
    width: 100%;
  }

  #content input[type=submit], #content button {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .wachtwoord_vernieuwen {
    font-size: 0.9em;
    table tr > td {
      vertical-align: top;
    }
    input#newPass {
      max-width: 150px;
    }
    button#genPass {
      max-width: 150px;
      margin-left: 20px;
      font-size: 0.8em;
      padding: 5px;
    }
    select#send_new_password_email {
      margin-left: 30px;
    }
  }
}

.tijdsinterval {
  margin-top: 60px;
}

#footprint_template_switch {
  margin-left: 10px;
  max-width: 80px;
  font-size: 18px;
}

.widget_column-left {
  width: 50%;
  float: left;
  vertical-align: top;
  min-height: 250px;
  .availableWidgetWrapper {
    background: #fafafa;
    border: solid 1px #ccc;
    padding: 8px 50px 8px 8px;
    width: 40%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px 10px 0;
    min-height: 70px;
    .availableWidgetName {
      color: #23282d;
      font-weight: 500;
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
    }
    .availableWidgetDescription {
      font-size: 13px;
      font-style: italic;
    }
    .addAvailableWidget {
      .Transi;
      position: absolute;
      cursor: pointer;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 40px;
      background: #d8ffcd;
      border-left: solid 1px #ccc;
      font-weight: bold;
      font-size: 25px;
      &:hover {
        background: #59a644;
        div {
          color: #d8ffcd;
        }
      }
      div {
        .Transi;
        position: absolute;
        left: 50%;
        top: 50%;
        color: #59a644;
        margin-left: -7px;
        margin-top: -12px;
      }
    }
  }
}

.widget_column-right {
  width: 25%;
  float: left;
  vertical-align: top;
  .delwidget {
    color: red;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
  }
  .widgetGroupPlaceholder {
    background: #fafafa;
    border: solid 1px #ccc;
    min-height: 250px;
    padding: 15px 10px 15px 15px;
    .groupName {
      color: #23282d;
      font-weight: 500;
      margin-bottom: 15px;
    }
    .sortWidgets {
      .sortableWidgets {
        background: #fff;
        border: solid 1px #ccc;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 8px;
        color: #23282d;
        font-size: 15px;
        position: relative;
        .arrowTouch {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          width: 30px;
          max-height: 40px;
        }
        .arrowDown {
          .Transi;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #23282d;
          position: absolute;
          top: 13px;
          right: 10px;
        }
        .chevup {
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
      .ui-sortable-helper {
        opacity: 0.7;
      }
      .widgetDrop {
        &:before {
          content: 'Hier?';
        }
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        border: dashed 1px #ffa200;
        color: #ffa200;
        padding: 8px;
        background: #ffe8c0;
        margin-bottom: 10px;
      }
    }
  }
  .editWidget {
    display: none;
    p {
      font-style: italic;
      margin-top: 15px;
      font-size: 13px;
    }
  }
  .saveHtmlWidget {
    margin-top: 15px;
    padding: 10px;
  }
  input[type=submit], .widgetSubmit {
    background: #fafafa !important;
    border: solid 1px #ccc !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }
  .widgetSubmit {
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-top: 15px;
  }
}

.fm_top_wrapper {
  max-width: 1200px;
  display: block;
  margin-bottom: 10px;
}

.fileManager {
  max-width: 1200px;
  .dircon:before {
    font-family: cms;
    content: 'j';
    font-size: 22px;
    color: #666;
  }
  .dirIcon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #d5d5d5;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 3px;
    margin-right: 25px;
  }
  .filIcon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 25px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    text-align: center;
    span {
      display: block;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      text-align: center;
      padding-top: 9px;
      background: #64b3cf;
      color: #fff;
    }
    img {
      max-height: 100%;
      width: auto;
    }
  }
  .filename {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-top: 7px;
  }
  .lastModDate {
    float: right;
    width: 200px;
    height: 100%;
    padding-top: 7px;
    color: #A2A2A2;
  }
  .dividerHead {
    font-size: 1.4rem;
    line-height: 1.804rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .managerRow {
    padding: 5px 0 5px 15px;
    border-bottom: solid 1px #e0e0e0;
    cursor: pointer;
    &:hover {
      background: #ADE5F9;
    }
  }
}

input.fileSearch {
  border: solid 1px #ccc !important;
  border-radius: 4px;
  background: #fff !important;
  padding-left: 10px;
  max-width: 200px;
  float: right;
}

input.prevFolder, input.fileUpload, input.createFolder {
  border-radius: 4px;
  border: solid 1px #ccc;
  background: #fff;
  cursor: pointer;
  height: 36px;
  color: #666;
  outline: none;
  &:hover {
    background: #eaeaea;
  }
}

.optimize_files {
  margin-bottom: 15px;
  display: block;
}

.fileManagerDetail {
  .Transi;
  position: fixed;
  right: -340px;
  bottom: 0px;
  top: 64px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 340px;
  &.open {
    right: 0px;
  }
  .fd__img {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    img {
      max-width: 95%;
      max-height: 250px;
      height: auto;
      width: auto;
    }
  }
  .closeFileDetail {
    color: #444;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .fd__name {
    font-weight: 600;
    margin: 0 15px 0 15px;
    color: #444;
    margin-bottom: 10px;
  }
  .edit_image {
    margin: 0 5px 5px 15px !Important;
  }
  .fd__infowrapper {
    display: block;
    padding: 0 5px 5px 15px;
    color: #444;
    .fd__prefix {
      margin-right: 5px;
    }
    .fd__value {
      font-weight: 600;
    }
  }
  .fd__urlwrapper {
    display: block;
    padding: 15px 15px 5px 15px;
    width: 100%;
    box-sizing: border-box;
    input {
      border: solid 1px #e0e0e0 !important;
      padding: 0 5px 0 5px;
      height: 25px !important;
    }
    .fd__label {
      color: #444;
    }
  }
}

.fm_image_editor {
  position: absolute;
  top: 50px;
  left: 25px;
  right: 25px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 15px;
  display: none;
  z-index: 9999;

  .darkroom-toolbar {
    position: relative;
    top: 0px;
    height: 46px;
    margin-bottom: 10px;
  }

  .darkroom-button-group {
    margin-right: 10px;
    button {
      margin: 5px 1px 0 0 !important;
      background: none !important;
      padding-left: 8px !important;
      padding-top: 5px !important;
    }
  }
}

.fm_upload {
  position: fixed;
  top: 80px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 15px;
  display: none;

  .fm_upload_header {
    font-size: 1.3rem;
    line-height: 1.804rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }
  .fm_browse {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    cursor: pointer;
    background: #ff7f15;
    border: none;
    text-transform: uppercase;
    color: #FFF;
    outline: none;
    height: 36px;
    padding: 0 20px 0 20px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .fm_singlefile {
    .Transi;
    border: 1px solid #c2c2c2;
    background: #f8f8f8;
    padding: 10px;
    margin-top: 15px;
    background: url(/common/img/upload.gif) no-repeat;
    background-position: 5px 10px;
    padding-left: 40px;
    &.done {
      .Transi;
      background: #8bff87;
    }
    &.error {
      .Transi;
      background: #ff7e6a;
    }
    .fm_filename {
      font-size: 13px;
      font-weight: 500;
      width: 60%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fm_filesize {
      font-size: 13px;
      color: #949494;
      float: right;
    }
  }
  .close_upload {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.fm_add_folder {
  position: fixed;
  top: 80px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 15px;
  display: none;

  .fm_upload_header {
    font-size: 1.3rem;
    line-height: 1.804rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }

  .close_add_folder {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.delete_folder, .delete_file {
  display: block;
  width: 100%;
  padding: 10px 0 8px 15px;
  color: #444;
  span {
    vertical-align: top;
  }
  &:before {
    font-family: cms;
    content: 'x';
    font-size: 18px;
    margin-right: 5px;
  }
  &:hover {
    background: #F3F3F3;
    cursor: pointer;
  }
}

.rename_folder {
  display: block;
  width: 100%;
  padding: 10px 0 8px 15px;
  color: #444;
  span {
    vertical-align: top;
  }
  &:before {
    font-family: cms;
    content: 'a';
    font-size: 18px;
    margin-right: 5px;
  }
  &:hover {
    background: #F3F3F3;
    cursor: pointer;
  }

  #send_new_password_email {
    max-width: 80px;
    font-size: 18px;
  }

  .wachtwoord_vernieuwen {
    input {
      max-width: 200px;
      margin-right: 50px;
      font-size: 1em;
    }
    table {
      max-width: 550px;
    }
  }

  a.delete_button,
  a.delete_image_button,
  a.edit_image_button {
    cursor: pointer;
  }
}

.image_category_header {
  background-color: #64b3cf;
}

.content_wrapper-left {
  float: left;
  width: 65%;
  vertical-align: top;
}

.content_wrapper-right {
  vertical-align: top;
  width: 30%;
  float: right;
  .page_settings {
    background: #f4f4f4;
    border: solid 1px #ccc;
    box-sizing: border-box;
    padding: 15px;
  }
}

tr.is_default {
  background: #b5ffbd !important;
}

/* Backlinkpanel */
.backlink_wrapper_menu {
  width: 100%;
  span {
    .Transi;
    display: inline-block;
    margin-right: 15px;
    border: solid 1px #666;
    color: #666;
    font-size: 14px;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    &.active {
      background: #666;
      color: #fff;
    }
    &:hover {
      background: #666;
      color: #fff;
    }
    &:before {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
    }
  }
}

.partners_block, .categories_block, .addlink_block {
  padding: 25px;
  border: solid 1px #e4e4e4;
  background: #f8f8f8;
  margin-bottom: 15px;
  display: none;
}

#addpartner {
  input[type=text] {
    border: solid 1px #ccc;
    width: 200px;
    padding-left: 10px;
  }
}

#addcategory {
  input[type=text] {
    border: solid 1px #ccc;
    width: 200px;
    padding-left: 10px;
  }
}

.add_link_formrow {
  &.full {
    width: 82%;
  }
  &.half {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 15px;
  }
  &.quarter {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin-right: 15px;
  }
  input {
    background: transparent;
  }
}

.ellipsthis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.backlinks {
  thead th, tbody td {
    white-space: nowrap;
    padding: 0.8rem;
  }

  .statusactive {
    padding: 3px;
  }

  .nonactive {
    background: rgba(255, 0, 7, 0.49);
    padding: 0px;
  }

  .active {
    background: rgba(0, 255, 44, 0.49);
    padding: 0px;
  }
}

div.blockAll {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  display: none;
}

div.loaderIn {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #3498db;
  bottom: 0px;
  height: 100%;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

div.contIn {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  padding-top: 15px;
}

div.messageIn {
  background: #fff;
  padding: 25px;
  position: fixed;
  top: 30%;
  left: 25%;
  right: 25%;
  text-align: center;
}

/* Order check */
#check_order_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  background: #ffffff;
  display: none;
  .popup__notify {
    display: none;
    border: dashed 2px #cc4c3f;
    background: #cc7e77;
    width: 100%;
    margin-bottom: 25px;
    color: #fff;
    padding: 15px 0 15px 0;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 77%;
  }
  .close_check_order {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 50px;
  }
  .popup__buttons {
    padding: 15px;
    margin-top: 15px;
  }
  .check_button {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
  }
  .button_edit {
    background: #ff6436;
  }
  .button_mail {
    background: #799dff;
    margin-top: 5px;
    width: 120px;
    display: block;
  }
  .button_aprove {
    background: #40ae49;
  }
  #tag_form {
    padding: 15px 15px 0 15px;
    margin-top: 50px;
  }
  .popup__cardwrap {
    width: 80%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: auto;
    padding: 15px;
    background: #5b5757;
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
  }
  .popup__freshdesk {
    padding: 15px;
    .popup__freshdeskheader {
      font-weight: bold;
      margin-top: 15px;
      display: block;
    }
    #sendfd {
      display: none;
    }
  }
  .popup__formwrap {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 20%;
    .popup__freshdesk {
      select {
        border: solid 1px #ccc;
        display: inline-block;
        vertical-align: top;
        color: #666;
        height: 36px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-top: 10px;
        box-sizing: border-box;
        padding-left: 10px;
        &:focus {
          border: solid 1px #ccc;
          box-shadow: none;
        }
      }
      textarea {
        border: solid 1px #ccc;
        display: inline-block;
        vertical-align: top;
        color: #666;
        height: 80px;
        width: 100%;
        font-family: inherit;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 10px 15px 10px 15px;
        &:focus {
          border: solid 1px #ccc;
          box-shadow: none;
        }
      }
      input[type=file] {
        margin-top: 15px;
      }
      input[type=submit] {
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        box-shadow: none;
        text-transform: none;
      }
      input[type=text] {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
        padding-left: 15px;
        display: inline-block;
        color: #666;
        margin-bottom: 0px;
        vertical-align: top;
        &::-webkit-input-placeholder {
          color: #666;
        }
        &:focus {
          border: solid 1px #ccc;
          box-shadow: none;
        }
      }
    }
    .popup__formrow {
      margin-bottom: 15px;
    }
    .popup__formrow input[type=text] {
      width: 150px;
      border: solid 1px #ccc;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-left: 10px;
      display: inline-block;
      color: #666;
      margin-bottom: 0px;
      vertical-align: top;
      &::-webkit-input-placeholder {
        color: #666;
      }
      &:focus {
        border: solid 1px #ccc;
        box-shadow: none;
      }
    }
    .popup__formrow select {
      border: solid 1px #ccc;
      display: inline-block;
      vertical-align: top;
      color: #666;
      height: 36px;
      width: 75px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: none;
      margin-bottom: 0px;
      margin-left: -4px;
      &:focus {
        border: solid 1px #ccc;
        border-left: none;
        box-shadow: none;
      }
    }
  }
}

.tags-value.male {
  background: #89cff0;
}

.tags-value.female {
  background: #F4C2C2;
}

.card_div {
  width: 750px;
  height: 900px;
  margin-left: 0;
  margin-right: -300px;
  margin-top: auto;
  background-size: auto;
}

/* loading gif */
.card_div img {
  width: 50%;
  display: block;
  margin: auto;
}

/* undo butt ugly hover color */
tbody tr:hover {
  background-color: inherit !important;
}

.whitespace {
  margin-bottom: 150px;
}

.order-details {
  width: 400px;
}

.order-details-name,
.order-details-address {
  font-weight: bold !important;
}

.tags-value {
  font-weight: 500;
}

.save_design_info {
  .Transi;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 15px !important;
  background: #16b126;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  outline: none;
}

.change_true {
  background: #ffa6a0 !important;
}

.edit_card_tag_list {
  margin-top: 15px;
}

.edit_card_in_editor {
  .Transi;
  color: #fff !important;
  font-weight: bold;
  font-size: 15px !important;
  background: #d6a33f;
  border: none;
  border-radius: 5px;
  padding: 7px 7px 6px 7px;
  cursor: pointer;
  outline: none;
}

.edit_card_tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.edit_card_table tr {
  background: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.edit_card_third {
  width: 500px;
}

.edit_card_table tr:hover {
  background: #fff !important;
}

.edit_card_tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.edit_card_tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.edit_card_tag:hover {
  background-color: #ff7f15;
  color: white;
}

.edit_card_tag:hover::after {
   border-left-color: #ff7f15;
}

.design_title {
  border: solid 1px #ccc !important;
  padding-left: 10px;
  margin: 0px !important;
  box-sizing: border-box;
}

textarea.design_description {
  border: solid 1px #ccc !important;
  margin: 15px 0 0 0 !important;
  padding: 10px;
  box-sizing: border-box;
  height: auto !important;
}

.title_counter, .description_counter {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.edit_cards_search {
  width: 200px !important;
  border: solid 1px #ccc !important;
  padding-left: 10px;
  border-radius: 5px;
  position: absolute;
  top: 87px;
  right: 25px;
}

.meta_data {
  padding-top: 15px;
}

.lel {
  border: solid 1px #ccc !important;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 15px;
}

.meta_data span {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

.selectBoxGroup {
  margin-top: 15px;
  display: block;
  select#select_sort_order {
    background: #fff;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 150px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.title_action {
  text-decoration: none;
  background: #00a40a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 10px;
}

.right_form_field_wrapper label {
  display: block;
}

.featured_image_wrapper {
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    width: 100%;
    height: auto;
  }
}

/* Asset management */
.asset_management_wrapper {
  max-width: 500px;
  width: 100%;
  background: #f3f3f3;
  border: solid 1px #dcdcdc;
}