.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.box .box-body {
  background-color: #fff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #fff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #ddd;
  clear: both;
}
.box-default .box-body {
  background-color: #fff;
}
.box-default .box-footer {
  background-color: #fff;
}
.box-primary .box-body {
  background-color: #fff;
}
.box-primary .box-footer {
  background-color: #ddd;
}
