.button-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 110px;
  background-color: transparent;
}

.button-block > a {
  display: table;
  width: 100%;
  height: 100%;
  background-color: [[kleur7]];
  padding: 0 20px;
  text-align: center;
}
.button-block > a:hover, .button-block > a:active, .button-block > a:focus, .button-block a.active {
  background-color: [[kleur7]];
  box-shadow: 3px 3px 2px #ddd;
}

.button-block > a .button-block-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.button-block > a .button-block-title {
  display: block;
  font-size: 18px;
  margin-top: 0;
  color: [[kleur4]];
  margin-bottom: 0;
}
.button-block > a .button-block-title i {
  display: inline-block;
  vertical-align: middle;
}
.button-block > a .button-block-text {
  display: block;
  font-size: 0.8em;
}
.button-block-img {
  height: 180px;
  background-color: transparent;
}
.button-block-img > a {
  background-color: transparent;
  max-height: 210px;
}
.button-block-img > a:hover {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:active {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
.button-block-img > a .button-block-title {
  display: block;
  color: #fff;
  font-size: 1.4em;
}
.button-block-img > a .button-block-text {
  display: block;
  font-size: 1.0em;
  color: #fff;
}
