.button {
  display: inline-block;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid transparent;
}
.button-arrow-right:after {
  content: '\e003';
  font-family: kcicons;
  margin-left: 10px;
}

.button i {
  display: inline-block;
  vertical-align: middle;
}
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-group .button {
  position: relative;
  float: left;
  border-radius: 0;
}
.button-group .button:first-child {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.button-group .button:last-child {
  margin-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group-vertical > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.button-group-justified > .button {
  display: table-cell;
  float: none;
  width: 1%;
}
.button-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.button-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-xlg {
  padding: 12px 18px;
  font-size: 26px;
  line-height: 1.3333333;
}
.button-link {
  display: block;
  color: [[kleur4]];
  border-color: transparent;
  background-color: transparent;
}
.button-link:hover,
.button-link:active,
.button-link:focus {
  border-color: transparent;
}
.button-default {
  color: #fff;
  background-color: [[kleur4]];
  border-color: [[kleur4]];
}
.button-default:hover {
  color: [[kleur4]];
  background-color: #fff;
}
.button-success {
  color: #fff;
  background-color: [[kleur3]];
  border-color: [[kleur3]];
}
.button-success:hover {
  color: [[kleur3]];
  background-color: #fff;
}
.button-warning {
  color: #fff;
  background-color: #f5871e;
  border-color: #f5871e;
}
.button-warning:hover {
  color: #f5871e;
  background-color: #fff;
}
.button-danger {
  color: #fff;
  background-color: #d42626;
  border-color: #d42626;
}
.button-danger:hover {
  color: #d42626;
  background-color: #fff;
}
.button-info {
  color: #fff;
  background-color: #7e7f83;
  border-color: #7e7f83;
}
.button-info:hover {
  color: #7e7f83;
  background-color: #fff;
}
.button-primary {
  color: #fff;
  background-color: [[kleur1]];
  border-color: [[kleur1]];
}
.button-primary:hover {
  color: [[kleur1]];
  background-color: #fff;
}
