#filter_menu li.tag-li input {
    display: none;
}
#filter_menu .tag-li label {
    font-weight: normal;
}
#filter_menu li.tag-li .custom_checkbox {
    border: 1px solid #dddddd;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
}
#filter_menu li.tag-li .number-of-tags {
    color: #7e7f83;
    font-style: normal;
    margin-left: 3px;
}
#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #7e7f83;
    content: "\e010";
    font-size: 12px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 1px;
}

@media screen and (min-width: 992px){
    #filter_menu #taggroupul-kleuren .tag-li {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
    float: left;
}
#filter_menu #taggroupul-kleuren .tag-li label {
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    color: transparent;
}
#filter_menu #taggroupul-kleuren .tag-li .number-of-tags {
    display: none;
}
#filter_menu #taggroupul-kleuren .custom_checkbox {
    border: none;
    margin: 3px 6px;
}
#filter_menu #taggroupul-kleuren li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li label:hover .custom_checkbox:after {
    color: #fff;
}

#filter_menu #taggroupul-kleuren li#tagli-geel input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li#tagli-geel label:hover .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li#tagli-wit input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li#tagli-wit label:hover .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li#tagli-kleurrijk input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu #taggroupul-kleuren li#tagli-kleurrijk label:hover .custom_checkbox:after {
    color: #7e7f83;
}

#tagli-rood label {
    background: #db1704;
}

#tagli-paars label {
    background: #7a4dac;
}

#tagli-bruin label {
    background: #7b6a4f;
}

#tagli-grijs label {
    background: #92959f;
}

#tagli-roze label {
    background: #d53276;
}

#tagli-geel label {
    background: yellow;
}

#tagli-zwart label {
    background: #000000;
}

#tagli-wit label {
    background: #ffffff;
}

#tagli-oranje label {
    background: orange;
}

#tagli-kleurrijk label {
    background: #db1704;
    background: -webkit-linear-gradient(left, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -o-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -moz-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
}

#tagli-blauw label {
    background: #2286dd;
}

#tagli-groen label {
    background: #9bd576;
}
}

