/* mobile */
@import url('/common/jquery-ui-1.8.11.custom.css')(max-width: 767px);
@import url('/common/spectrum.css')(max-width: 767px);

@font-face {
    font-family: "editor-font";
    src: url("/common/font/editor-font.eot");
    src: url("/common/font/editor-font.eot?#iefix") format("embedded-opentype"),
    url("/common/font/editor-font.woff") format("woff"),
    url("/common/font/editor-font.ttf") format("truetype"),
    url("/common/font/editor-font.svg#editor-font") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    #body_edit, #body_voorbeeld {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #f0f0f0;
        color: #414141;
        font-size: 16px;
        line-height: 27px;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .ed a {
        color: [[kleur4]];
        outline: 0;
        text-decoration: none;
    }
    .ed .icon {
        display: inherit;
    }
    .ed .ui-icon {
        display: block;
        text-indent: 0;
        overflow: visible;
        background-repeat: repeat;
        background-position: 0% 0%;
        background-image: none;
    }
    .ed [data-icon]:before {
        font-family: "editor-font" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .ed [class^="ed-icon-"]:before,
    .ed [class*=" ed-icon-"]:before {
        font-family: "editor-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .ed-icon-basket:before {
        content: "\65";
    }
    .ed-icon-images:before {
        content: "\6d";
    }
    .ed-icon-image:before {
        content: "\6e";
    }
    .ed-icon-clone:before {
        content: "\67";
    }
    .ed-icon-font-1:before {
        content: "\6a";
    }
    .ed-icon-floppy-o:before {
        content: "\6c";
    }
    .ed-icon-lock:before {
        content: "\66";
    }
    .ed-icon-pencil-square-o:before {
        content: "\68";
    }
    .ed-icon-times-circle-o:before {
        content: "\69";
    }
    .ed-icon-trash-o:before {
        content: "\6b";
    }
    .ed-icon-info:before {
        content: "\6f";
    }
    .ed-icon-chevron-right-1:before {
        content: "\70";
    }
    .ed-icon-chevron-left-1:before {
        content: "\71";
    }
    .ed-icon-picture-o:before {
        content: "\61";
    }
    .ed-icon-search-minus:before {
        content: "\62";
    }
    .ed-icon-search-plus:before {
        content: "\63";
    }
    .ed-icon-arrow-left:before {
        content: "\64";
    }
    .ed-icon-search:before {
        content: "\72";
    }
    .ed-icon-align-justify:before {
        content: "\74";
    }
    .ed-icon-align-left:before {
        content: "\75";
    }
    .ed-icon-align-right:before {
        content: "\76";
    }
    .ed-icon-arrow-right:before {
        content: "\77";
    }
    .ed-icon-align-center:before {
        content: "\73";
    }
    .ed-icon-pencil:before {
        content: "\78";
    }
    .ed-icon-check:before {
        content: "\79";
    }
    .ed-icon-align-bottom:before {
        content: "\7a";
    }
    .ed-icon-align-center-1:before {
        content: "\41";
    }
    .ed-icon-align-top:before {
        content: "\42";
    }
    .ed-icon-compress:before {
        content: "\43";
    }
    .ed-icon-delete:before {
        content: "\44";
    }
    .ed-icon-edit:before {
        content: "\45";
    }
    .ed-icon-scale:before {
        content: "\46";
    }
    .ed-icon-turn:before {
        content: "\47";
    }
    .ed-icon-zoom:before {
        content: "\48";
    }
    .ed-icon-android-add:before {
        content: "\49";
    }
    .ed-icon-android-remove:before {
        content: "\4a";
    }
    .ed-icon-user:before {
        content: "\4b";
    }
    .ed-icon-unlock-alt:before {
        content: "\4c";
    }
    .ed-icon-caret-right:before {
        content: "\4d";
    }
    .ed-icon-caret-left:before {
        content: "\4e";
    }
    .ed-icon-hand-pointer-o:before {
        content: "\4f";
    }
    .ed .ed-content #canvas_container * {
        position: absolute;
    }
    .ed .float-login-open {
        display: block !important;
    }
    .ed .canvas-layer {
        position: relative;
    }
    .ed .float-login * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .ed .float-login {
        position: absolute;
        display: none;
        z-index: 9999999;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: #ddd;
        font-size: 13px;
    }
    .ed .float-login .float-facebook {
        height: 39px;
        margin-top: 5px;
    }
    .ed .float-login .float-alert {
        display: none;
        padding: 5px;
        margin: 0 25px 15px 25px;
        background-color: #f0f0f0;
        color: #414141;
        text-align: center;
        border: 1px solid #ddd;
    }
    .ed .float-login a {
        display: block;
        outline: none;
        text-decoration: none !important;
        color: #7e7f83;
    }
    .ed .float-login span {
        color: #7e7f83;
        font-size: 12px;
    }
    .ed .float-login .float-login-panel {
        position: absolute;
        width: 600px;
        background-color: transparent;
        opacity: 1;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 10% 0;
        overflow: hidden;
        z-index: 9999;
    }
    .ed .float-login .float-login-panel .float-login-panel-heading {
        padding: 8px 5px;
        background-color: #ddd;
        overflow: hidden;
    }
    .ed .float-login .float-login-panel .float-login-panel-heading > a {
        display: block;
        text-align: right;
        padding: 0 5px;
        font-size: 26px;
        width: 100%;
        font-weight: 100;
        color: #7e7f83;
    }
    .ed .float-login .float-login-panel .float-login-panel-body {
        background-color: #f0f0f0;
        padding: 15px;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
        position: relative;
        margin: 0 100px 15px 100px;
        text-align: center;
        color: #414141;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a {
        padding: 8px 15px;
        float: left;
        width: 50%;
        border: 1px solid #ddd;
        color: #414141;
        background-color: #fff;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:hover,
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:focus,
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:active {
        background-color: #ddd;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:last-child {
        border-left: none;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content {
        position: relative;
        margin: 0;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group,
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
        width: 100%;
        margin-bottom: 10px;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-text {
        text-align: center;
        padding: 0 30px;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-text h6 {
        margin-bottom: 0;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
        margin-left: 30%;
        width: 70%;
        margin-bottom: 10px;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group > input[type="checkbox"] {
        display: inline-block;
        vertical-align: middle;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group > span {
        display: inline-block;
        vertical-align: middle;
        max-width: 90%;
        line-height: 1.6em;
        padding-left: 5px;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > label {
        float: left;
        width: 30%;
        font-weight: normal;
        font-size: 15px;
        padding: 8px 10px 5px 0;
        margin-bottom: 5px;
        text-align: right;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="text"],
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="password"],
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
        float: left;
        border: 1px solid #ddd;
        width: 50%;
        padding: 10px;
        border-radius: 0;
        font-size: 12px;
        box-shadow: none;
        height: 38px;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
        width: 15%;
        font-size: 12px;
        border-right: none;
    }

    /* clearfix */
    .ed .float-login .float-login-panel .float-login-panel-heading:after,
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu:after,
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group:after,
    .ed .float-login .float-button-group:after {
        content: "";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    .ed .float-login button {
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
        text-align: center;
        border: 1px solid #ddd;
        cursor: pointer;
        background: transparent;
        line-height: normal;
    }
    .ed .float-login .float-button-group > div {
        float: left;
        width: 50%;
    }
    .ed .float-login .float-button-group {
        margin-left: 20%;
        width: 80%;
    }
    .ed .float-login .float-button-group a {
        font-size: 12px;
    }
    .ed .float-login .float-login-panel-menu .active {
        background-color: #ddd !important;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content > div {
        display: none;
    }
    .ed .float-login #float-template-content1 {
        display: block;
    }
    .ed .float-login .button-facebook {
        background-color: #5E73A6;
    }

    .float-login .float-button-success {
        background-color: #ddd;
    }
}
@media only screen and (max-width: 767px) {
    .ed .float-login .float-login-panel {
        position: absolute;
        width: auto;
        margin: 10px;
        padding: 0;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
        margin: 0 70px 15px 70px;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-body-content {
        margin: 0 0 15px 0;
    }
}

@media only screen and (max-width: 480px) {
    .ed .float-login .float-login-panel {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: auto;
    }
    .ed .float-login .float-alert {
        margin: 0 0 15px 0;
    }
    .ed .float-login .float-button-group > div {
        width: 100%;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu {
        margin: 0 0 15px 0;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a {
        width: 100%;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
        width: 15%;
        font-size: 12px;
        border-right: 1px solid #ddd;
        border-bottom: none;
    }
    .ed .float-login .float-login-panel .float-login-panel-body .float-login-panel-menu > a:last-child {
        border-left: 1px solid #ddd;
        border-top: none;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-checkbox-group {
        margin-left: 0;
        width: 100%;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > label {
        width: 100%;
        padding: 5px 0 0 0;
        margin-bottom: 0;
        text-align: left;
    }
    .ed .float-login .float-button-group {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="text"],
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > input[type="password"] {
        width: 100%;
    }
    .ed .float-login .float-login-panel-body .float-login-panel-body-content .float-group > select {
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .ed .ui-widget,
    .ed .ui-widget button {
        font-family: inherit;
        font-size: 14px;
    }
    .ed #canvas .image.unlocked,
    .ed #canvas .image.locked {
        cursor: move;
    }
    /* hide unwanted desktop elements */
    .ed #headermenu,
    .ed #headernavigation,
    .ed #infodiv,
    .ed #switch_card,
    .ed #header,
    .ed #nav_buttons,
    .ed #pagecontent-footer,
    .ed .sp-replacer .sp-dd,
    .ed .tophead,
    .ed #side_buttons {
        display: none;
    }
    .ed #voorbeeld-block {
        min-height: 0;
    }
    .ed #chooseside .single_portrait_p1 {
        background-image: url('/common/gfx/icon_single_portrait_p1.png');
        width: 52px;
        height: 74px;
    }
    .ed #txt_select {
        display: inline-block;
        float: right;
    }
    .ed #chooseside .slide_img {
        display: block;
        width: 60px;
        height: 52px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .ed #canvas .selimage:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px dashed #d42626;
        background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 13px, rgba(200, 200, 200, 0.5) 10px, rgba(200, 200, 200, 0.5) 20px);
    }
    .ed #canvas .image .ui-resizable-handle {
        display: none !important;
    }
    .ed #canvas .selimage .ui-resizable-handle {
        display: block !important;
    }
    .ed .icon {
        font-style: normal !important;
    }
    .ed #canvas .editbtn {
        right: 35px;
        bottom: -25px;
        cursor: pointer;
        display: none;
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 9999999;
    }
    .ed #canvas .editbtn:before {
        font-family: "editor-font" !important;
        content: "\45";
        border-radius: 100%;
        background-color: #fff;
        text-align: center;
        width: 100%;
        font-size: 50px;
        color: #7e7f83;
        line-height: 50px;
    }
    .ed #canvas .delbtn {
        right: -20px;
        top: -13px;
        cursor: pointer;
        display: none;
        z-index: 1;
        position: absolute;
        height: 50px;
        width: 50px;
    }
    .ed #canvas .delbtn:before {
        font-family: "editor-font" !important;
        content: "\44";
        border-radius: 100%;
        background-color: #fff;
        text-align: center;
        width: 100%;
        font-size: 50px;
        color: #d42626;
        line-height: 50px;
    }
    .ed #canvas .ui-resizable-handle {
        right: -20px;
        bottom: -25px;
        cursor: pointer;
        display: none;
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 99999999 !important;
    }
    .ed #canvas .ui-resizable-handle:before {
        font-family: "editor-font" !important;
        content: "\46";
        border-radius: 100%;
        background-color: #fff;
        text-align: center;
        width: 100%;
        font-size: 50px;
        color: #7e7f83;
        line-height: 50px;
    }
    .ed #canvas .selimage .delbtn, #canvas .selimage .editbtn {
        display: block;
    }
    .ed .sp-replacer {
        height: 34px;
        float: inherit;
        margin: 0;
        padding: 0;
    }
    .ed .sp-replacer .sp-preview {
        width: 110px;
        height: 20px;
    }
    .ed .sp-container {
        position: fixed !important;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: auto !important;
        z-index: 999999999;
        background-color: #fff !important;
    }
    .ed .ui-dialog {
        position: absolute !important;
        height: auto !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        z-index: 999999999 !important;
    }
    .ed .sp-picker-container, .sp-palette-container {
        float: none;
        position: relative;
        display: table;
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .ed .sp-palette {
        display: table;
        width: 100%;
        max-width: 100%;
    }
    .ed .sp-palette .sp-thumb-el {
        display: table-cell;
        width: 10%;
        height: 30px;
        float: left;
        margin: 0;
    }
    .ed .sp-initial {
        float: none;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .ed .sp-initial span {
        width: 100%;
    }
    .ed .sp-top, .colorName {
        display: none;
    }
    .ed .sp-input-container {
        position: relative;
        padding-top: 0;
        float: none;
        width: auto;
        margin-bottom: 4px;
    }
    .ed .sp-button-container {
        padding-top: 5px;
        position: relative;
    }
    .ed .ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
        display: none;
    }
    .ed .ui-dialog .ui-dialog-titlebar {
        padding: .4em 1em;
        position: absolute;
        right: 0;
        height: 40px;
        left: 0;
        top: 0;
    }
    .ed .ui-dialog .ui-dialog-content {
        position: absolute;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .ed .ui-widget-header {
        background: transparent !important;
        border: none !important;
    }
    .ed .ui-button.ui-icon-closethick {
        background: transparent !important;
        border: none !important;
        outline: none !important;
    }
    .ed .ui-button-text-only .ui-button-text {
        padding: 5px 10px !important;
        font-size: 15px;
    }
    .ed #fontlist {
        text-align: center;
    }
    .ed #fontlist > img {
        display: block;
        padding: 10px;
    }
    .ed #fontlist .selected {
        outline: 2px solid #5b9fe5;
    }
    /*.ed .sp-container .sp-cancel {
        display: block;
    }*/
    .ed .sp-container button {
        background: none;
    }
    .ed #choose_font {
        float: left;
    }
    .ed .ui-state-hover,
    .ed .ui-widget-content .ed .ui-state-hover,
    .ed .ui-widget-header .ui-state-hover,
    .ed .ui-state-focus,
    .ed .ui-widget-content .ui-state-focus,
    .ed .ui-widget-header .ui-state-focus {
        background: none !important;
        outline: none !important;
        content: 'x'
    }
    .ed .head {
        display: block;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    .ed .head .prev {
        float: left;
    }
    .ed .head .next {
        float: right;
    }
    /*.ed .content {
        text-align: center;
        height: 100px;
    }*/
    .ed .content > img {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        padding: 2px;
        max-width: 75px;
        max-height: 100px;
        border: #ddd 1px solid;
    }
    .ed .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    .ed .clearfix {
        display: inline-block;
    }
    /* * html .clearfix {
        height: 1%;
    }*/
    .ed .clearfix {
        display: block;
    }
    .ed .ed-inline-block {
        display: inline-block;
    }
    .ed .ed-recolor-label {
        margin: 0 20px 0 0;
    }
    .ed .ed-layers .edittable {
        position: relative;
        display: table !important;
        width: 100%;
    }
    .ed .ed-layers .edittable tr td {
        padding: 5px 0;
        float: left;
        width: 100%;
        display: block;
    }
    .ed .ed-cols:before, .ed-cols:after {
        display: table;
        content: " ";
    }
    .ed .ed-cols:after {
        clear: both;
    }
    .ed .ed-cols-left {
        float: left;
        width: 35% !important;
    }
    .ed .ed-cols-offset-left {
        float: left;
        margin-left: 35%;
        width: 65% !important;
    }
    .ed .ed-cols-right {
        float: left;
        width: 65% !important;
    }
    .ed .ed-upload {
        position: relative;
        display: block;
        overflow: hidden;
    }
    .ed .ed-upload input.ed-upload-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .ed .ed-side-bolts {
        position: fixed;
        bottom: 85px;
        margin: auto;
        z-index: 9;
        width: 100%;
        text-align: center;
    }
    .ed .ed-side-bolts > span {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid #7e7f83;
        border-radius: 50%;
        background-color: #fff;
        z-index: 0;
        cursor: pointer;
    }
    .ed .ed-side-bolts span.active:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: #7e7f83;
        border-radius: 50%;
        z-index: 1;
    }
    .ed input[type="text"], input[type="file"], select, textarea {
        display: block;
        height: auto !important;
        padding: 6px 12px;
        font-size: 14px !important;
        line-height: 1.42857143;
        color: #414141;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .ed select, textarea {
        width: 100% !important;
    }
    .ed textarea {
        height: auto;
        resize: none;
    }
    .ed * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .ed h1 {
        font-size: 24px !important;
        text-align: center;

    }
    .ed .ed-pull-right {
        float: right !important;
    }
    .ed .ed-text-left {
        text-align: left !important;
    }
    .ed .ed-text-right {
        text-align: right !important;
    }
    .ed .ed-text-center {
        text-align: center !important;
    }
    .ed .ed-button, .sp-replacer, .sp-container .sp-cancel, .sp-container .sp-choose {
        display: inline-block;
        padding: 6px 12px !important;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ddd;
        overflow: hidden;
        color: #414141 !important;
        background-color: #f0f0f0;
        border-radius: 4px;
    }
    .ed .ed-button-xs {
        padding: 1px 5px;
        font-size: 13px;
        line-height: 1.2;
    }
    .ed .ed-button-xsm {
        padding: 2px 5px;
        font-size: 11px;
        line-height: 1.5;
    }
    .ed .ed-header {
        display: block;
        position: fixed;
        height: 30px;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9999999;
        overflow: hidden;
        box-shadow: 0 1px 0 0 #ddd;
    }
    .ed .panorama #fold1, .panorama #fold2 {
        background-image: none !important;
    }
    .ed .ed-header .ed-side {
        height: 30px;
        text-align: center;
        border-top: 1px solid #f0f0f0;
    }
    .ed .ed-header #ed-side-label {
        display: block;
        margin: 0;
        padding: 0;
    }
    .ed #chooseside .ui-button {
        margin-right: 0;
    }
    .ed .ed-side-left,
    .ed .ed-side-right {
        position: absolute;
        height: 100%;
        display: block;
        z-index: 999999;
    }
    .ed .ed-disabled {
        opacity: 0.3;
        pointer-events: none;
        cursor: default;
    }
    .ed .ed-side-left {
        top: 0;
        left: 0;
        bottom: 0;
    }
    .ed .ed-side-right {
        top: 0;
        right: 0;
        bottom: 0;
    }
    .ed .ed-side-left a, .ed .ed-side-right a {
        display: block;
        position: fixed;
        top: 50%;
        vertical-align: middle;
        border: 1px solid #000;
        padding: 10px;
        height: 50px;
        width: 50px;
        margin-top: -25px;
        background: rgba(0, 0, 0, 0.7) !important;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        line-height: 27px;
    }
    .ed .ed-side-left a {
        left: -22px;
    }
    .ed .ed-side-right a {
        right: -22px;
    }
    .ed .ed-side-left a i {
        display: block;
        position: absolute;
        right: 7px;
        margin: 2px;
    }
    .ed .ed-side-right a i {
        display: block;
        position: absolute;
        left: 7px;
        margin: 2px;
    }
    .ed .ed-content {
        position: absolute;
        top: 95px;
        bottom: 90px;
        width: 100%;
        overflow: auto;
    }
    .ed .ed-content .ed-side {
        display: block;
        text-align: center;
    }
    .ed-side-preview {
        position: absolute;
        width: 100%;
        height: 210px;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .ed-side-preview .ed-side-preview-img {
        position: relative;
        width: 100% !important;
        background-repeat: no-repeat !important;
        background-position-x: 50% !important;
        background-size: 375px !important;
        top: 0;
    }
    .ed .ed-content .ed-content-canvas-bg {
        position: fixed;
        background-image: none !important;
        margin: auto -50%;
        padding: 0;
        top: 95px;
        bottom: 90px;
        left: 0;
        right: 0;
    }
    .ed .ed-content .ed-content-canvas {
        position: absolute;
        overflow: hidden;
        border: 1px solid #ddd;
        padding: 10px;
        left: 0 !important;
        top: 0 !important;
        background-color: #fff;
        margin: auto;
        right: 0 !important;
        bottom: 0 !important;
        box-shadow: 0 0 25px -5px #000;
        -moz-transform: translate(0, 0) scale(0.5);
        -webkit-transform: translate(0, 0) scale(0.5);
        transform: translate(0, 0) scale(0.5);
    }
    .ed.panorama-drieluik .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    .ed #canvas_container {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .ed .ed-footer {
        position: fixed;
        display: block;
        padding: 0;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: 90px;
        z-index: 9999999;
        border: none;
        box-shadow: 0 0 15px -8px;
    }
    .ed .ed-layers {
        position: fixed;
        display: none;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999999;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    .ed .ed-layers-tabs {
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 80%;
        min-height: 150px;
        padding: 0;
        background: none !important;
        background-color: #fff !important;
        z-index: 999999999;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        backface-visibility: visible;
        border: none !important;
        box-shadow: 5px 0 15px -4px #000;
    }
    .ed #txt_edit_add {
        height: 100px !important;
    }
    .ed .ed-layers-tabs .ed-layers-tabs-heading {
        background-color: #fff;
        z-index: 99;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 5px 0;
        border-top: 1px solid #f0f0f0;
    }
    .ed .ed-layers-tabs .ed-layers-tabs-heading a.ed-layers-close {
        position: relative;
        display: block;
        right: 0;
        left: 0;
        width: 40px;
        margin: auto;
        background-color: #51b457;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 15px -5px #000;
        -moz-box-shadow: 0 0 15px -5px #000;
        box-shadow: 0 0 15px -5px #000;
        z-index: 99;
    }
    .ed .ed-layers-tabs .ed-layers-tabs-heading .ed-layers-close > i {
        display: block;
        color: #fff;
        font-size: 20px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        line-height: 1.9em;
    }
    .ed .ed-layers-tabs .ed-layers-tabs-body {
        position: relative;
        height: auto;
        top: 0;
        bottom: 0;
        padding: 55px 10px 10px 10px;
    }
    .ed .ed-footer strong {
        line-height: 2.2em;
    }
    .ed .ed-footer .ed-footer-bottom {
        position: relative;
        height: 50px;
    }
    .ed .ed-footer .ed-footer-top > ul, .ed .ed-footer .ed-footer-bottom > ul {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        margin: 0;
        padding: 0;
    }
    .ed .ed-footer .ed-footer-top > ul > li, .ed .ed-footer .ed-footer-bottom > ul > li {
        display: table-cell;
        height: 100%;
    }
    .ed .ed-footer .ed-footer-top > ul > li a, .ed .ed-footer .ed-footer-bottom > ul > li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        color: #000;
    }
    .ed .ed-footer .ed-footer-bottom > ul > li a {
        height: 50px;
        line-height: 48px;
    }
    .ed .ed-footer .ed-footer-top > ul > li a > .icon {
        color: #7e7f83;
    }
    .ed .ed-footer .ed-footer-bottom > ul > li a > .icon {
        color: #7e7f83;
        font-size: 11px;
        font-weight: lighter;
    }
    .ed .ed-footer .ed-footer-top > ul > li a > .icon, .ed .ed-footer .ed-footer-bottom > ul > li a > .icon {
        display: inline-block;
        vertical-align: middle;
    }
    .ed .ed-footer .ed-footer-top > ul > li a i {
        padding: 5px 0;
        line-height: 30px;
    }
    .ed .ed-footer .ed-footer-top {
        position: relative;
        height: 40px;
        border-bottom: 1px solid #f0f0f0;
    }
    .ed .ed-footer .ed-save-button {
        width: 40px;
        height: 40px;
        border: 1px solid #7e7f83;
        border-radius: 50%;
        color: #7e7f83;
        font-size: 17px !important;
        font-weight: normal !important;
        line-height: 40px;
        padding: 0 11px;
    }
    #body_eigen_collectie .ed-content, #body_voorbeeld .ed-content {
        top: 100px;
        bottom: 50px;
    }
    #body_eigen_collectie .ed-footer,
    #body_voorbeeld .ed-footer,
    #body_bestel_details .ed-footer {
        height: 50px;
    }
    .ed .ed-zoom-icon {
        position: fixed;
        display: block;
        top: 105px;
        right: 40px;
        cursor: pointer;
        height: 45px;
        width: 45px;
        z-index: 9999;
    }
    .ed .ed-zoom-icon:after {
        font-family: "editor-font" !important;
        content: "\48";
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 45px;
        color: #7e7f83;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        line-height: 45px;
    }
    .ed .ed-zoom {
        position: fixed;
        display: block;
        top: 150px;
        width: 45px;
        bottom: 200px;
        z-index: 9999999;
        right: 40px;
        color: #7e7f83;
        text-align: center;
    }
    .ed .ed-zoom a {
        color: #7e7f83;
    }
    .ed .ed-zoom-default-size {
        display: block;
        cursor: pointer;
        position: relative;
        height: 40px;
        width: 40px;
        z-index: 9999;
        margin: auto auto 0 auto;
    }
    .ed .ed-zoom-default-size:after {
        font-family: "editor-font" !important;
        content: "\43";
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        width: 100%;
        font-size: 40px;
        color: #7e7f83;
        line-height: 40px;
    }
    .ed .ed-zoom-percentage {
        display: block;
    }
    .ed .ed-zoom .ed-zoom-slider {
        position: relative;
        border-radius: 0;
        border: none;
        font-size: medium;
        width: 45px;
        background-color: transparent !important;
        margin: auto;
    }
    .ed .ed-zoom .ed-zoom-slider:after {
        content: '';
        position: absolute;
        background-color: #7e7f83;
        height: 100%;
        width: 2px;
        margin: auto;
        left: 0;
        right: 0;
    }
    .ed .ed-zoom .ui-widget-content {
        background: none;
        background-color: rgb(245, 245, 245);
    }
    .ed .ed-zoom .ui-slider-handle {
        background: none;
        background-color: #fff;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        font-weight: normal;
        border: 1px solid #ddd;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        display: block;
        right: 0;
    }
    .ed .ed-footer-menu {
        position: fixed;
        display: block;
        padding: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f0f0f0;
        width: 100%;
        z-index: 9999999;
        border-top: 1px solid #ddd;
    }
    .ed .ed-hide {
        display: none !important;
    }
    .ed .ed-show {
        display: block !important;
    }
    .ed .ed-preview-footer {
        height: 40px;
    }
    .ed .ed-loading {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 99999999;
        overflow: hidden;
    }
    .ed .ed-loading .ed-loading-content {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
    }
    .ed .ed-loading .ed-loading-content > img {
        text-align: center;
        max-height: 50px;
        max-width: 50px;
    }
    .ed .ed-pagination {
        padding: 10px 0;
    }
    .ed .panorama-drieluik #canvas_container {
        overflow-y: auto;
        height: 3em;
        width: 10em;
        line-height: 1em;
        -webkit-overflow-scrolling: touch;
        touch-action: pan-x !important;
    }
    .ed .panorama-drieluik #canvas_container::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .ed .panorama-drieluik #canvas_container::-webkit-scrollbar:vertical {
        width: 11px;
    }
    .ed .panorama-drieluik #canvas_container::-webkit-scrollbar:horizontal {
        height: 11px;
    }
    .ed .panorama-drieluik #canvas_container::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }
    .ed input[type='text'], textarea, select {
        background-color: rgba(255, 255, 255, 0.8);
    }
    #body_eigen_collectie .ed-content {
        bottom: 40px;
    }
    .ed #editor-scroller {
        display: none;
    }
    .ed .panorama-drieluik #editor-scroller {
        display: block;
        position: fixed;
        width: 180px;
        bottom: 107px;
        height: 5px;
        background: #ddd;
        border: none;
        left: 0;
        right: 0;
        margin: auto;
    }
    .ed .panorama-drieluik #editor-scroller .ui-slider-handle {
        background: #f0f0f0 !important;
        margin-left: -29px;
        position: relative;
        display: table;
        border-radius: 15px;
        top: -.9em;
        color: #7e7f83;
        touch-action: none;
    }
    .ed .panorama-drieluik #editor-scroller .ui-slider-handle > span.icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 2px;
    }
    .ed .tooltip {
        width: 50px;
        background-color: #414141;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 160%;
        left: 50%;
        margin-left: -25px;
        line-height: 16px;
        transform: scale(1) !important;
        font-size: 11px;
    }
    .ed .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
    }
    .ed #voorbeeld-block {
        min-height: 0 !important;
    }
    .ed .ed-side-preview-img {
        transition: background-position 400ms ease;
    }
    .ed #ed-layers-tab-3 .ed-cols-offset-left {
        margin-left: 0;
        width: 100% !important;
    }
    .ed #ed-layers-tab-3 .ui-buttonset {
        margin-right: 0;
    }
    .ed #ed-layers-tab-3 .ed-cols-offset-left label {
        width: 50%;
    }
    .ed #ed-layers-tab-3 .sp-replacer,
    .ed #ed-layers-tab-3 .sp-replacer .sp-preview {
        width: 100%;
    }
    .ed #ed-layers-tab-3 .ed-cols {
        margin-bottom: 10px;
    }
    #body_keuze .navbar-header,
    #body_bestel_details .navbar-header {
        margin-bottom: 0;
    }
    #body_keuze #pagecontent,
    #body_bestel_details #pagecontent {
        background-color: #fff;
        padding: 15px;
    }
    #body_keuze .content > img {
        border: none;
    }
    #body_bestel_details .row {
        padding-left: 0;
        padding-right: 0;
    }
}


@media only screen and (min-width: 321px) {
    .ed .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(0.7);
        -webkit-transform: translate(0, 0) scale(0.7);
        transform: translate(0, 0) scale(0.7);
    }
    .ed.panorama-drieluik .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
}

@media only screen and (min-width: 375px) {
    .ed .ed-side-preview {
        height: 250px;
        top: 0;
    }
    .ed .ed-side-preview .ed-side-preview-img {
        background-size: 450px !important;
    }
}

@media only screen and (min-width: 520px) {
    .ed .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(0.8);
        -webkit-transform: translate(0, 0) scale(0.8);
        transform: translate(0, 0) scale(0.8);
    }
    .ed.panorama-drieluik .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
}

/* desktop */
@media screen and (min-width: 768px) {
    body#body_edit,
    body#body_voorbeeld,
    body#body_keuze,
    body#body_bestel_details,
    body#body_basket,
    body#body_address_n,
    body#body_addresses_ng {
        width: 100%;
        min-width: 1080px;
    }

    .ed input,
    .ed textarea,
    .ed keygen,
    .ed select,
    .ed button,
    .ed i {
        line-height: 20px;
    }

    .ed .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }

    .ed.panorama-drieluik .ed-content .ed-content-canvas {
        -moz-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }

    .ed .ed-side-preview {
        height: 430px;
        top: 0;
    }

    .ed .ed-side-preview .ed-side-preview-img {
        background-size: 768px !important;
    }

    .ed .navbar-header {
        position: relative;
        background-color: #fff;
        z-index: 9999;
        width: 100%;
        margin-bottom: 15px;
        padding: 0 10px;
        box-shadow: 0 1px 0 0 #ddd;
    }

    .ed .navbar-header .navbar-header-wrapper {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container {
        display: table;
        width: 100%;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-left,
    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-right {
        display: table-cell;
        vertical-align: middle;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-left {
        text-align: left;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-left .navbar-header-logo {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 64px;
        width: 150px;
        line-height: 64px;
        color: #7e7f83;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-left .navbar-header-logo img {
        max-height: 50px;
        max-width: 100%;
        vertical-align: top;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-right {
        text-align: right;
    }

    .ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-right > a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        height: 64px;
        line-height: 64px;
        color: #7e7f83;
    }

    /*.ed .navbar-header .navbar-header-wrapper .navbar-header-container .navbar-header-right > a > span {
        width: 25px;
        text-align: center;
    }*/
    .ed #pagecontent {
        position: relative;
        width: 1000px;
        min-height: 725px;
        margin: 10px auto 0 auto;
        padding: 0;
        background-color: #fff;
        overflow: hidden;
    }

    .ed #pagecontent:before,
    .ed .content-wrapper:before,
    .ed #pagecontent:after,
    .ed .content-wrapper:after {
        content: "";
        display: table;
        clear: both;
    }

    .ed .ed-header {
        display: none;
    }

    .ed .ed-hide {
        border-spacing: 0;
    }

    .ed #infodiv {
        left: 0;
    }

    .ed #infodiv > #infodiv {
        margin: 5px 15px;
    }

    .ed #infodiv:first-of-type {
        margin: 0;
    }

    .ed .grid_checkbox_off {
        width: 24px;
        height: 24px;
        background: url(/common/gfx/raster_off.png?81d40492) 0 no-repeat;
        cursor: pointer;
        float: left;
    }

    .ed #grid_checkbox_label {
        float: left;
        margin: 0 10px 0 5px;
    }

    .ed .edit_preview {
        width: 24px;
        height: 24px;
        background: url(/common/gfx/edit_preview.png?d9b6c554) 0 no-repeat;
        cursor: pointer;
        float: left;
    }

    .ed #preview_label {
        float: left;
        margin: 0 10px 0 5px;
        cursor: pointer;
    }

    .ed #lock {
        margin: 0;
    }

    .ed label[for="lock"] {
        font-weight: normal;
        margin: 0 10px 0 5px;
    }

    .ed .zoom_desktop {
        position: relative;
        float: left;
        border: 1px solid #ddd;
        border-radius: 15px;
        margin: 0 10px;
    }

    .ed .zoom_desktop #zoom_desktop_default,
    .ed .zoom_desktop #zoom_desktop_slider,
    .ed .zoom_desktop #zoom_desktop_value {
        display: inline-block;
        vertical-align: middle;
    }

    .ed #zoom_desktop_value {
        width: 40px;
        text-align: center;
        font-size: 11px;
        color: #7e7f83;
    }

    .ed .zoom_desktop #zoom_desktop_slider {
        width: 100px;
        height: .3em;
        background-color: #7e7f83;
    }

    .ed .zoom_desktop .ui-slider {
        position: relative;
    }

    .ed .zoom_desktop .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        top: -.5em;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        cursor: pointer;
        margin-left: -.6em;
    }

    .ed .zoom_desktop #zoom_desktop_default {
        width: 40px;
        padding-left: 10px;
        text-align: center;
    }

    .ed .zoom_desktop #zoom_desktop_default > a {
        display: block;
        vertical-align: bottom;
        padding: 0 5px;
        color: #7e7f83;
        border-left: 1px solid #ddd;
    }

    .ed .content-wrapper {
        padding: 15px;
        margin: 0 0 75px;
        top: auto;
    }

    .ed .leftdiv {
        float: left;
    }

    .ed #switch_card {
        display: none;
    }

    .ed .canvas-layer {
        position: relative;
    }

    .ed #canvas_wrapper {
        position: relative;
        border: 1px solid #ddd;
        width: 575px;
        height: 600px;
        overflow: auto;
    }

    .ed #canvasbackground {
        height: 550px;
        position: relative;
        top: 0;
        left: -15px;
        transform-origin: 0 0;
    }

    .ed #overlay {
        z-index: 9000;
        background-color: #fff;
    }

    .ed #canvas {
        position: absolute;
        overflow: hidden;
    }

    .ed #canvas .image {
        position: absolute;
    }

    .ed #canvas .delbtn {
        position: absolute;
        cursor: pointer;
        display: none;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
        z-index: 2;
        background: url(/common/gfx/delete.png?8d9c7601);
    }

    .ed #canvas .selimage .delbtn {
        display: block;
    }

    .ed #canvas .image.unlocked:hover:after,
    .ed #canvas .selimage.unlocked:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border: 2px dashed #d42626;
    }

    .ed #canvas .indicatorbottom,
    .ed #canvas .indicatortop {
        background: url(/common/gfx/redline.png?58aee25c);
        position: absolute;
        width: 3px;
        height: 8px;
        left: 50%;
        top: -8px;
        margin-left: -2px;
        display: none;
        cursor: pointer;
    }

    .ed #canvas .indicatorbottom {
        top: 100%;
        margin-top: -1px;
    }

    .ed #canvas .indicatortop {
        top: -8px;
    }

    .ed #canvas .indicatorleft,
    .ed #canvas .indicatorpoint,
    .ed #canvas .indicatorright {
        background: url(/common/gfx/redline.png?58aee25c);
        position: absolute;
        top: 50%;
        margin-top: -2px;
        display: none;
        cursor: pointer;
    }

    .ed #canvas .indicatorleft,
    .ed #canvas .indicatorright {
        width: 8px;
        height: 3px;
    }

    .ed #canvas .indicatorleft {
        left: -8px;
    }

    .ed #canvas .indicatorright {
        right: -7px;
    }

    .ed #canvas .indicatorpoint {
        width: 4px;
        height: 4px;
        left: 50%;
        right: -10px;
        margin-left: -3px;
    }

    .ed #canvas .selimage .indicatorbottom,
    .ed #canvas .selimage .indicatorleft,
    .ed #canvas .selimage .indicatorpoint,
    .ed #canvas .selimage .indicatorright,
    .ed #canvas .selimage .indicatortop {
        display: block;
    }

    .ed #canvas .ui-resizable-se {
        background: url(/common/gfx/resize-se.png?782d9766);
        width: 20px;
        height: 20px;
        bottom: -10px;
        right: -10px;
        cursor: se-resize;
    }

    .ed #canvas .ui-resizable-handle {
        display: none !important;
        position: absolute;
        font-size: .1px;
    }

    .ed #canvas .selimage .ui-resizable-handle {
        display: block !important;
    }

    .ed .ed-lg-hide {
        display: none;
    }

    .ed .rightdiv {
        float: right;
    }

    .ed #accordion {
        border: 1px solid #ddd;
        width: 328px;
        height: 480px;
        overflow: auto;
    }

    .ed .ui-accordion .ui-accordion-header {
        cursor: pointer;
        zoom: 1;
        margin-bottom: 1px;
    }

    .ed .ui-accordion .ui-accordion-header:last-of-type {
        margin-bottom: 0;
    }

    .ed .ui-accordion .ui-accordion-header a {
        background-color: #f0f0f0;
        color: #7e7f83;
        padding: 2px 10px;
        display: block;
        font-weight: normal;
        font-size: 16px;
    }

    .ed .ui-accordion .ui-accordion-header a:hover {
        background-color: [[kleur3]];
        color: #fff;
    }

    .ed #accordion .ui-accordion-content {
        padding: 10px;
        overflow-y: auto;
        height: 319px;
    }

    .ed #texttable,
    .ed #edittable,
    .ed #imagelist,
    .ed .cl-bib,
    .ed #imagetable,
    .ed .edittable,
    .ed .ed-layers-tabs-body,
    .ed #save_user_design_form {
        width: 290px;
    }

    .ed .centeredImage {
        display: none;
    }

    #body_edit button,
    #body_edit #accordion label,
    #body_edit input {
        font-size: 13px;
        padding: 5px 0;
        text-align: center;
    }

    .ed button {
        cursor: pointer;
        color: [[kleur3]];
        border: 1px solid [[kleur3]];
        background-color: #fff;
    }

    .ed button {
        color: #fff;
        background-color: [[kleur3]];
    }

    .ed label {
        font-weight: normal;
    }

    .ed input,
    .ed select {
        color: #7e7f83;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .ed select {
        padding: 6px 5px;
        outline: none;
    }

    .ed input {
        text-align: left;
        padding-left: 5px;
    }

    .ed label:hover,
    .ed input:hover {
        color: [[kleur3]];
        border: 1px solid [[kleur3]];
    }

    .ed button#add_text {
        width: 290px;
    }

    .ed button#choose_font {
        float: left;
        width: 140px;
        padding: 5px 0 !important;
        color: [[kleur3]] !important;
    }

    .ed button#choose_font:hover {
        color: #fff !important;
    }

    .ed button#position_txt_tofront:hover span,
    .ed button#position_txt_toback:hover span {
        border: 1px solid [[kleur3]];
    }

    .ed button#add_photo {
        width: 140px;
        float: left;
    }

    .ed select#imageselect {
        width: 140px !important;
        float: right;
    }

    .ed select#clipartselect {
        width: 140px;
        margin-left: 5px;
    }

    .ed .edittable {
        border-spacing: 0;
        margin-top: 10px;
    }

    .ed .edittable tr td {
        padding: 5px 0;
        font-size: 13px;
        vertical-align: middle;
    }

    .ed #accordion .ui-accordion-content textarea#txt_edit_add {
        width: 290px;
        height: 85px;
        border: 1px solid #ddd;
    }

    .ed .sp-replacer {
        border: 1px solid #ddd;
        background-color: #fff;
        color: #7e7f83;
        width: 140px;
        float: right;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
    }

    .ed .sp-replacer:hover {
        border: 1px solid [[kleur3]];
        color: [[kleur3]];
    }

    .ed .sp-preview {
        height: auto;
        width: calc(100% - 20px);
        float: left;
    }

    .ed .sp-preview .sp-preview-inner {
        font-size: 13px;
        padding: 5px 10px;
        line-height: 20px;
        height: 30px;
    }

    .ed .sp-dd {
        width: 20px;
        float: left;
        font-size: 10px;
        padding: 5px;
        line-height: 20px;
    }

    .ed .textsizelabel,
    .ed .texttransparencylabel {
        float: left;
        width: 35px;
        padding: 5px;
        border: 1px solid #ddd;
    }

    .ed #accordion .ui-slider-horizontal {
        background: #ddd;
        width: calc(100% - 45px);
        height: 7px;
        position: relative;
        float: right;
        margin: 12.5px 0;
    }

    .ed #accordion .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 17px;
        height: 17px;
        background-color: [[kleur3]];
        cursor: default;
        margin: -5px 0;
    }

    .ed #txt_align_left,
    .ed #txt_align_center,
    .ed #txt_align_right,
    .ed #txt_align_justify,
    .ed #txt_align_T,
    .ed #txt_align_M,
    .ed #txt_align_B {
        display: none;
    }

    .ed #txt_align_left_label,
    .ed #txt_align_center_label,
    .ed #txt_align_right_label,
    .ed #txt_align_justify_label,
    .ed #txt_align_top_label,
    .ed #txt_align_middle_label,
    .ed #txt_align_bottom_label {
        border: 1px solid #ddd;
        padding: 5px 0 1px 0;
        width: 35px;
        text-align: center;
        margin-right: 5px;
        cursor: pointer;
    }

    .ed #txt_align_left_label:hover,
    .ed #txt_align_center_label:hover,
    .ed #txt_align_right_label:hover,
    .ed #txt_align_justify_label:hover,
    .ed #txt_align_top_label:hover,
    .ed #txt_align_middle_label:hover,
    .ed #txt_align_bottom_label:hover {
        border: 1px solid [[kleur3]];
    }

    .ed .ui-button-text {
        display: block;
        line-height: 20px;
    }

    .ed .ed-icon-align-left,
    .ed .ed-icon-align-center,
    .ed .ed-icon-align-right,
    .ed .ed-icon-align-justify,
    .ed .ed-icon-align-top,
    .ed .ed-icon-align-center-1,
    .ed .ed-icon-align-bottom {
        display: inline-block;
    }

    .ed .ed-icon-align-left:before,
    .ed .ed-icon-align-center:before,
    .ed .ed-icon-align-right:before,
    .ed .ed-icon-align-justify:before,
    .ed .ed-icon-align-top:before,
    .ed .ed-icon-align-center-1:before,
    .ed .ed-icon-align-bottom:before {
        content: '';
    }

    .ed .ed-icon-align-left:after,
    .ed .ed-icon-align-center:after,
    .ed .ed-icon-align-right:after,
    .ed .ed-icon-align-justify:after,
    .ed .ed-icon-align-top:after,
    .ed .ed-icon-align-center-1:after,
    .ed .ed-icon-align-bottom:after {
        font-family: kcicons;
        font-size: 18px;
        color: #7e7f83;
    }

    .ed .ed-icon-align-left:after {
        content: '\e027';
    }

    .ed .ed-icon-align-center:after {
        content: '\e025';
    }

    .ed .ed-icon-align-right:after {
        content: '\e02A';
    }

    .ed .ed-icon-align-justify:after {
        content: '\e026';
    }

    .ed .ed-icon-align-top:after {
        content: '\e024';
    }

    .ed .ed-icon-align-center-1:after {
        content: '\e023';
    }

    .ed .ed-icon-align-bottom:after {
        content: '\e022';
    }

    .ed #text_turn_left,
    .ed #text_turn_right {
        border: 1px solid #ddd;
        margin-right: 5px;
    }

    .ed #text_turn_left:hover,
    .ed #text_turn_right:hover {
        border: 1px solid [[kleur3]];
    }

    .ed #position_txt_tofront,
    .ed #position_txt_toback {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 5px;
    }

    .ed #position_txt_tofront span,
    .ed #position_txt_toback span {
        border: 1px solid #ddd;
    }

    .ed #position_txt_tofront span:after,
    .ed #position_txt_toback span:after,
    .ed #photo_arrange #position_photo_tofront span:after,
    .ed #photo_arrange #position_photo_toback span:after {
        display: block;
        content: '';
        width: 33px;
        height: 34px;
        background-size: 33px 34px;
        background-repeat: no-repeat;
    }

    .ed #position_txt_tofront span:after,
    .ed #photo_arrange #position_photo_tofront span:after {
        background-image: url(/img/gfx/place-in-front.png);
    }

    .ed #position_txt_toback span:after,
    .ed #photo_arrange #position_photo_toback span:after {
        background-image: url(/img/gfx/place-in-back.png);
    }

    .ed #position_txt_tofront span img,
    .ed #position_txt_toback span img,
    .ed #photo_arrange #position_photo_tofront span img,
    .ed #photo_arrange #position_photo_toback span img {
        display: none;
    }

    .ed #imageaddform {
        border: 1px solid #ddd;
    }

    .ed #imageaddform input {
        width: 100%;
        border: none;
    }

    .ed #imageaddformclose {
        margin-top: 10px;
        border: 0;
        margin-left: 5px;
        color: #7e7f83;
        padding: 0;
    }

    .ed #imageaddformclose:hover {
        background-color: transparent;
        color: [[kleur3]];
    }

    .ed .head {
        margin-top: 5px;
    }

    .ed .head .prev,
    .ed .head .pages,
    .ed .head .next {
        width: 33%;
        float: left;
        font-size: 13px;
    }

    .ed .head .pages {
        text-align: center;
    }

    .ed .head .next {
        text-align: right;
    }

    .ed .head .prev:hover,
    .ed .head .next:hover {
        color: [[kleur3]];
    }

    .ed #imagelist .content,
    .ed #clipartlist .content,
    .ed #patternlist .content {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .ed #imagelist .content img,
    .ed #clipartlist .content img {
        max-width: 90px;
        max-height: 90px;
        margin: 10px 0;
    }

    .ed #photo_arrange {
        height: 36px;
    }

    .ed #photo_arrange button,
    .ed .ed-cols-right #photo_turn_left,
    .ed .ed-cols-right #photo_turn_right {
        border: 1px solid #ddd;
        padding: 0;
        margin-right: 5px;
    }

    .ed #photo_arrange button:hover,
    .ed .ed-cols-right #photo_turn_left:hover,
    .ed .ed-cols-right #photo_turn_right:hover {
        border: 1px solid [[kleur3]];
        background-color: #fff;
    }

    .ed #photo_arrange button#position_photo_full {
        padding: 7px 10px;
        vertical-align: top;
        color: #7e7f83;
    }

    .ed #imgtransparencylabel {
        width: 35px;
        border: 1px solid #ddd;
        padding: 5px 0;
        outline: 0;
        text-align: center;
    }

    .ed #background_type_color,
    .ed #background_type_pattern {
        display: none;
    }

    .ed #background_type_color_label,
    .ed #background_type_pattern_label,
    .ed #background_type_color_label.ui-state-default,
    .ed #background_type_pattern_label.ui-state-default {
        width: 140px;
        border: 1px solid #ddd;
        color: #7e7f83;
        padding: 5px;
        text-align: center;
        font-weight: normal;
    }

    .ed #background_type_color_label {
        float: left;
    }

    .ed #background_type_pattern_label {
        float: right;
    }

    .ed #background_type_color_label.ui-state-active,
    .ed #background_type_pattern_label.ui-state-active {
        border: 1px solid [[kleur3]];
        color: [[kleur3]] !important;
    }

    .ed #background_type_color_label.ui-state-hover,
    .ed #background_type_pattern_label.ui-state-hover {
        border: 1px solid [[kleur3]];
        background-color: [[kleur3]];
        color: #fff !important;
    }

    .ed .ed-cols {
        margin-top: 10px;
    }

    .ed .ed-cols .ed-cols-left,
    .ed .ed-cols .ed-cols-right {
        display: inline-block;
        float: left;
    }

    .ed .ed-cols .ed-cols-left {
        margin-right: 10px;
        width: 85px;
    }

    .ed #bt-color,
    .ed #bt-pattern,
    .ed #patternselect_div {
        font-size: 13px;
    }

    .ed #bt-color .description .arrow_allign,
    .ed #bt-pattern .description .arrow_allign,
    .ed #patternselect_div .arrow_allign {
        display: none;
    }

    .ed .sp-hidden,
    #body_address_n .sp-hidden,
    #body_basket .sp-hidden {
        display: none;
    }

    .ed .sp-container {
        background-color: #f0f0f0;
        box-shadow: 2px 2px 4px #ddd;
        width: 325px;
        height: auto;
        z-index: 3;
        padding: 10px;
    }

    .ed .sp-palette-container {
        display: block;
        float: left;
    }

    .ed .sp-palette-container .sp-palette {
        max-width: 220px;
    }

    .ed .sp-palette .sp-thumb-el {
        width: 20px;
        height: 20px;
        margin: 2px;
        border: 1px solid #ddd;
        display: block;
        float: left;
        cursor: pointer;
        z-index: 4;
    }

    .ed .sp-palette .sp-thumb-el.sp-thumb-active {
        border-color: [[kleur3]];
    }

    .ed .sp-thumb-inner {
        width: 18px;
        height: 18px;
        display: block;
    }

    .ed .sp-tumb-dark.sp-thumb-active .sp-thumb-inner:after,
    .ed .sp-tumb-light.sp-thumb-active .sp-thumb-inner:after {
        font-family: kcicons;
        content: '\e010';
        color: #fff;
    }

    .ed .sp-tumb-light.sp-thumb-active .sp-thumb-inner:after {
        color: #7e7f83;
    }

    .ed .sp-picker-container {
        width: 70px;
        float: left;
        font-size: 13px;
        display: block;
        padding-left: 10px;
        border-left: 1px solid #ddd;
        margin-left: 10px;
    }

    .ed .sp-picker-container .sp-input-container .sp-input,
    .ed .sp-picker-container .sp-button-container .sp-choose,
    .ed .sp-picker-container .sp-initial {
        width: 60px;

    }

    .ed .sp-picker-container .sp-initial .sp-thumb-el {
        width: 30px;
        height: 32px;
        display: block;
        float: left;
        margin-top: 10px;
    }

    .ed .sp-picker-container .sp-initial .sp-thumb-inner {
        width: 30px;
        height: 32px;
    }

    .ed #patternselect {
        width: 140px;
    }

    .ed #save_design_to_other_user_form hr,
    .ed #save_design_form_wrapper hr {
        border-style: solid;
        border-color: #f0f0f0;
        margin: 15px 0;
    }

    .ed #save_user_design_form #save_user_design_name,
    .ed #save_user_design_form button,
    .ed #save_design_to_other_user_form #save_design_to_other_user_name,
    .ed #save_design_to_other_user_form #save_design_to_other_user_email,
    .ed #save_design_to_other_user_form button,
    .ed #save_design_form #category,
    .ed #save_design_form #designer_code,
    .ed #save_design_form #id,
    .ed #save_design_form #title,
    .ed #save_design_form #description_text_field,
    .ed #save_design_form #sort_order {
        width: 100%;
    }

    .ed #save_design_form #category,
    .ed #save_design_form #designer_code {
        margin-bottom: 10px;
    }

    .ed #save_design_form #description_text_field {
        border-color: #ddd;
    }

    .ed #save_design_form #add_tags,
    .ed #save_design_form #delete_design {
        font-size: 13px;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 10px;
    }

    .ed #save_design_form #add_tags:hover,
    .ed #save_design_form #delete_design:hover {
        color: [[kleur3]];
    }

    .ed #save_design_form #save_design {
        width: 140px;
        margin-right: 10px;
    }

    .ed #life_event_label {
        width: 100%;
        display: block;
    }

    .ed .convert_cardtype {
        display: block;
        padding: 5px;
        border: 1px solid [[kleur3]];
        color: [[kleur3]];
        margin-top: 20px;
        text-align: center;
    }

    .ed .convert_cardtype:hover {
        background-color: [[kleur3]];
        color: #fff;
    }

    .ed .import-design-button {
        margin-top: 10px;
        display: block;
        color: #7e7f83;
    }

    .ed .import-design-button:hover {
        color: [[kleur3]];
    }

    .ed .ui-helper-clearfix:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .ed .ui-dialog {
        position: absolute;
        padding: 5px;
        width: 300px;
        overflow: hidden;
    }

    .ed .ui-dialog .ui-dialog-titlebar {
        padding: 5px 10px;
        position: relative;
    }

    .ed .ui-wdget-content {
        background: #fff;
    }

    .ed .ui-widget-header {
        background: #ddd;
        color: #7e7f83;
    }

    .ed .ui-dialog .ui-dialog-title {
        float: left;
        width: 90%;
    }

    .ed .ui-dialog .ui-dialog-titlebar button {
        color: #7e7f83;
        outline: none;
    }

    .ed .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: 30px;
        top: 50%;
        margin: -10px 0 0;
        border: none;
    }

    .ed .ui-dialog .ui-dialog-titlebar-close span {
        display: block;
        left: 0;
        top: 0;
        position: absolute;
    }

    .ed .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:after {
        font-family: kcicons;
        content: '\e001';
        display: block;
        font-size: 16px;
    }

    .ed .ui-dialog .ui-dialog-titlebar-close .ui-button-text {
        display: none;
    }

    .ed .ui-dialog .ui-dialog-content {
        position: relative;
        border: 1px solid #ddd;
        background: #fff;
        overflow: auto;
        zoom: 1;
    }

    .ed .ui-dialog #fontselect {
        padding: 5px 2px;
    }

    .ed .ui-dialog #fontselect img {
        display: block;
        margin: 2px 0;
        padding: 2px;
        cursor: pointer;
        border: 1px solid transparent;
    }

    .ed .ui-dialog #fontselect img:hover {
        border: 1px solid [[kleur3]];
    }

    .ed .ui-resizable-n {
        height: 7px;
        width: 100%;
        top: -5px;
        left: 0;
    }

    .ed .ui-resizable-handle {
        position: absolute;
        font-size: .1px;
    }

    .ed #chooseside {
        width: 310px;
        height: 72px;
        position: absolute;
        top: auto;
        left: 150px;
        bottom: 0;
        z-index: 1;
    }

    .ed #chooseside .ed-hide {
        margin-top: 10px;
    }

    .ed #chooseside input {
        display: none;
    }

    .ed #chooseside label {
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 0;
    }

    .ed #chooseside .slide_img {
        min-width: 20px;
        width: auto;
        height: 52px;
        background-repeat: no-repeat;
        background-position: 50%;
        display: block;
    }

    .ed #chooseside .double_square_p1 {
        background-image: url(/img/card-icons/icon-double-square-p1.svg);
        width: 57px;
    }

    .ed #chooseside .double_square_p2 {
        background-image: url(/img/card-icons/icon-double-square-p2.svg);
        width: 67px;
    }

    .ed #chooseside .double_square_p3 {
        background-image: url(/img/card-icons/icon-double-square-p3.svg);
        width: 67px;
    }

    .ed #chooseside .double_square_p4 {
        background-image: url(/img/card-icons/icon-double-square-p4.svg);
        width: 57px;
    }

    .ed #chooseside .double_portrait_p1 {
        background-image: url(/img/card-icons/icon-double-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .double_portrait_p2 {
        background-image: url(/img/card-icons/icon-double-portrait-p2.svg);
        width: 52px;
    }

    .ed #chooseside .double_portrait_p3 {
        background-image: url(/img/card-icons/icon-double-portrait-p3.svg);
        width: 52px;
    }

    .ed #chooseside .double_portrait_p4 {
        background-image: url(/img/card-icons/icon-double-portrait-p4.svg);
        width: 44px;
    }

    .ed #chooseside .double_landscape_p1 {
        background-image: url(/img/card-icons/icon-double-landscape-p1.svg);
        width: 69px;
    }

    .ed #chooseside .double_landscape_p2 {
        background-image: url(/img/card-icons/icon-double-landscape-p2.svg);
        width: 70px;
    }

    .ed #chooseside .double_landscape_p3 {
        background-image: url(/img/card-icons/icon-double-landscape-p3.svg);
        width: 70px;
    }

    .ed #chooseside .double_landscape_p4 {
        background-image: url(/img/card-icons/icon-double-landscape-p4.svg);
        width: 69px;
    }

    .ed #chooseside .single_square_p1 {
        background-image: url(/img/card-icons/icon-single-square-p1.svg);
        width: 57px;
    }

    .ed #chooseside .single_square_p2 {
        background-image: url(/img/card-icons/icon-single-square-p2.svg);
        width: 57px;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
    }

    .ed #chooseside .single_landscape_p1 {
        background-image: url(/img/card-icons/icon-single-landscape-p1.svg);
        width: 69px;
    }

    .ed #chooseside .single_landscape_p2 {
        background-image: url(/img/card-icons/icon-single-landscape-p2.svg);
        width: 69px;
    }

    .ed #chooseside label .ui-button-text {
        position: relative;
    }

    .ed #chooseside label .side_selected {
        height: 17px;
        width: 17px;
        position: absolute;
        right: 0;
        top: 2px;
        display: none;
    }

    .ed #chooseside label .side_selected:before {
        font-family: kcicons;
        content: '\e021';
        color: [[kleur3]];
        font-size: 16px;
        font-style: normal;
    }

    .ed #chooseside label.selected .side_selected {
        display: block;
        z-index: 1;
    }

    .ed #nav_buttons,
    #body_basket #nav_buttons {
        position: absolute;
        width: 100%;
        left: 0;
        height: 75px;
        bottom: 0;
        border-top: 1px solid #ddd;
    }

    .ed #nav_buttons #step_back,
    .ed #nav_buttons #step_forward,
    .ed #nav_buttons #step_forward_alternate {
        color: #7e7f83;
        margin-top: 25px;
        line-height: 1;
        font-weight: normal;
        padding: 0;
        border: none;
    }

    .ed #nav_buttons #step_back:hover,
    .ed #nav_buttons #step_forward:hover,
    .ed #nav_buttons #step_forward_alternate:hover {
        color: [[kleur3]];
    }

    .ed #nav_buttons #step_back {
        float: left;
        margin-left: 10px;
    }

    .ed #nav_buttons #step_forward {
        float: right;
        margin-right: 10px;
    }

    .ed #nav_buttons #step_back:before,
    .ed #nav_buttons #step_forward:after,
    .ed #nav_buttons #step_forward_alternate:after {
        font-family: kcicons;
        display: inline-block;
        font-size: 12px;
    }

    .ed #nav_buttons #step_back:before {
        content: '\e00A';
        margin-right: 5px;
    }

    .ed #nav_buttons #step_forward:after,
    .ed #nav_buttons #step_forward_alternate:after {
        content: '\e008';
        margin-left: 5px;
    }

    .ed #nav_buttons #skip_design {
        position: absolute;
        left: 0;
        top: -12px;
        padding-left: 20px;
        display: none;
    }

    .ed #nav_buttons #order_card {
        background: [[kleur3]];
        border: 1px solid [[kleur3]];
        color: #fff;
        padding: 12px 20px;
        font-size: 18px;
        float: right;
        margin: 10px 10px 0 0;
    }

    .ed #nav_buttons #order_card:hover {
        background-color: #fff;
        color: [[kleur3]];
    }

    .ed #nav_buttons #step_forward_alternate {
        float: right;
        margin-right: 50px;
    }

    /* CREATE PREVIEW, TYPE, ORDER-DETAIL, BASKET ------------------------------------------------------------------- */
    #body_voorbeeld .choice_center {
        width: 800px;
        padding-top: 35px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #body_voorbeeld #pagecontent h1 + br {
        display: none;
    }

    #body_voorbeeld #side_buttons {
        border-top: 1px solid #7e7f83;
    }

    #body_voorbeeld #side_buttons #arrow {
        border-color: #7e7f83;
    }

    #body_voorbeeld #side_buttons .side_button {
        color: #7e7f83;
    }

    .ed .ed-side-preview {
        height: 450px;
        width: 770px;
    }

    .ed #nav_remark_div {
        position: absolute;
        bottom: 100px;
        left: 20px;
        width: 960px;
        line-height: 20px;
    }

    .ed #nav_remark_div b {
        display: block;
    }

    #body_voorbeeld #nav_buttons #step_forward,
    #body_bestel_details #nav_buttons #step_forward,
    #body_address_n #nav_buttons #step_forward {
        padding: 6px 12px;
        border: 1px solid [[kleur3]];
        background-color: [[kleur3]];
        color: #fff;
        margin-right: 15px;
        line-height: inherit;
        margin-top: 15px;
    }

    #body_voorbeeld #nav_buttons #step_forward:hover,
    #body_bestel_details #nav_buttons #step_forward:hover,
    #body_address_n #nav_buttons #step_forward:hover {
        background-color: #fff;
        color: [[kleur3]];
    }

    #body_keuze #pagecontent,
    #body_bestel_details #pagecontent,
    #body_basket #pagecontent,
    #body_address_n #pagecontent,
    #body_addresses_ng #pagecontent {
        padding: 35px 20px 100px 20px;
        width: 1000px;
    }

    #body_keuze #pagecontent h1 {
        margin-bottom: 25px;
    }

    #body_keuze .proefdruk,
    #body_keuze .kaartenVoor,
    #body_keuze .envVooraf,
    #body_keuze .direct_shipment {
        float: none;
    }
        #body_keuze .proefdruk .button,
    #body_keuze .kaartenVoor .button,
    #body_keuze .envVooraf .button,
    #body_keuze .direct_shipment .button {
        font-weight: normal;
        margin: 20px 0;
        line-height: inherit;
    }
    #body_keuze .proefdruk .description,
    #body_keuze .kaartenVoor .description,
    #body_keuze .envVooraf .description,
    #body_keuze .direct_shipment .description {
        line-height: 1;
    }
    #body_bestel_details input,
    #body_bestel_details .ng2-dropdown-select {
        border-radius: 0;
    }

    #body_bestel_details .row {
        margin: 10px 0;
    }

    #body_basket #pagecontent,
    #body_address_n #pagecontent {
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #body_address_n #pagecontent:after {
        content: "";
        display: table;
        clear: both;
    }

    #body_basket h1,
    #body_address_n h1 {
        text-align: center;
    }

    #body_basket #basket_n,
    #body_address_n #checkout_address,
    #body_address_n #checkout_delivery,
    #body_address_n #checkout_confirmation,
    #body_address_n #price_list {
        width: 100%;
        font-size: 0.9em;
    }

    #body_addresses_ng #addresses_page #leftdiv,
    #body_addresses_ng #addresses_page #rightdiv {
        font-size: 0.9em;
    }

    #body_basket #basket_n {
        margin-top: 40px;
    }

    #body_basket .line {
        border-top: 1px solid #ddd;
    }

    #body_basket #basket_n .button {
        color: [[kleur3]];
        border: none;
        padding: 0;
        margin-right: 10px;
    }

    #body_basket #basket_n input[name="rebate_code"] {
        border: 1px solid #ddd;
        padding: 6px 12px;
        margin-bottom: 20px;
        min-width: 200px;
        white-space: nowrap;
        min-height: 31px;
        vertical-align: top;
    }

    #body_basket #basket_n input[type="submit"] {
        background-color: #fff;
        border: 1px solid [[kleur3]];
        padding: 6px 12px;
        font-weight: normal;
        min-height: 31px;
        margin: 0 0 20px;
    }

    #body_basket #nav_buttons .back-button,
    #body_basket #nav_buttons .forward-button {
        color: #fff;
        border: 1px solid [[kleur3]];
        background-color: [[kleur3]];
        font-weight: normal;
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        line-height: inherit;
    }

    #body_basket #nav_buttons .back-button:hover,
    #body_basket #nav_buttons .forward-button:hover,
    #body_basket #basket_n input[type="submit"]:hover {
        background-color: #fff;
        color: [[kleur3]];
    }

    #body_basket #nav_buttons .back-button:after,
    #body_basket #nav_buttons .forward-button:after {
        font-family: kcicons;
        content: '\e008';
        margin-left: 5px;
        font-size: 12px;
    }

    #body_address_n #left_div {
        width: 680px;
        float: left;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    #body_address_n #right_div {
        width: 260px;
        float: left;
        margin-top: 40px;
        margin-left: 20px;
    }
    #body_address_n td {
        vertical-align: middle;
    }

    #body_address_n h3 {
        font-size: 18px;
    }

    #body_address_n h4 {
        font-size: 15px;
    }

    #body_address_n input {
        width: 100%;
        line-height: 20px;
        padding: 6px 5px;
    }

    #body_address_n select {
        padding: 6px 5px;
    }

    #body_address_n tr td:nth-child(3) {
        padding-left: 5px;
    }

    #body_address_n #address_country {
        width: 63.5%;
    }

    #body_address_n #address_country option {
        color: #7e7f83;
    }

    #body_address_n #save_address,
    #body_address_n #nieuwsbrief,
    #body_address_n #accept_terms {
        width: auto;
        margin: 0 5px 0 -5px;
    }

    #body_address_n #directdebit_NL,
    #body_address_n #ideal,
    #body_address_n #mc,
    #body_address_n #visa {
        width: auto;
    }

    #body_address_n select.ng-touched.ng-invalid[_ngcontent-c1],
    #body_addresses_ng .ng-invalid[_ngcontent-c3]:not(form) {
        border-left: 5px solid #d42626 !important;
    }

    #body_address_n #nav_buttons {
        padding-top: 20px;
        position: absolute;
        bottom: 70px;
        width: 100%;
        left: 0;
        border-top: 1px solid #ddd;
    }

    #body_address_n #nav_buttons #step_back {
        margin-top: 5px;
        margin-left: 15px;
    }

    #body_address_n #nav_buttons #step_back:before {
        font-family: kcicons;
        content: '\e00a';
        margin-right: 5px;
        font-size: 12px;
    }

    #body_address_n #nav_buttons #step_forward {
        background-color: #fff;
        font-weight: normal;
    }

    #body_address_n #accept_conditions {
        display: inline-block;
        width: 400px;
        position: absolute;
        left: calc(50% - 200px);
    }

    #body_address_n #accept_conditions label {
        font-weight: normal;
    }

    #body_address_n #accept_conditions #accept_terms {
        margin-left: 0;
    }

    #body_address_n #accept_terms_validation_message {
        position: absolute;
        right: 15px;
        margin-top: -70px;
        color: #d42626;
        border: 1px solid #d42626;
        padding: 2px 10px;
    }

    #body_address_n .button {
        border: 1px solid [[kleur3]];
        color: [[kleur3]];
        background-color: #fff;
        padding: 6px 12px;
        margin-left: 10px;
        font-weight: normal;
    }

    #body_address_n .button[disabled] {
        color: #7e7f83;
        border: 1px solid #7e7f83;
    }

    #body_address_n .button:hover {
        background-color: [[kleur3]];
        color: #fff;
    }

    #body_address_n #nav_buttons a {
        color: #7e7f83;
    }

    #body_address_n #nav_buttons #step_forward {
        display: inline-block;
        width: auto;
        margin-top: 0;
        line-height: inherit;
        position: absolute;
        top: 20px;
        right: 0;
    }

    #body_address_n #timeframe_list label {
        margin: 6px;
        font-weight: normal;
    }

    #body_address_n #timeframe_list label:first-of-type {
        margin-left: 0;
    }

    #body_address_n #timeframe_list label:last-of-type {
        margin-right: 0;
    }

    #body_address_n #timeframe_list label .timeframe_radiobutton,
    #body_address_n #timeframe_list label .timeframe_info {
        display: inline-block;
    }

    #body_address_n #timeframe_list label .timeframe_radiobutton {
        vertical-align: top;
    }

    #body_address_n #timeframe_list label .timeframe_radiobutton input {
        width: auto;
        padding: 0;
    }

    #body_addresses_ng .button#new,
    #body_addresses_ng .button#adres_book,
    #body_addresses_ng .button#upload,
    #body_addresses_ng .button#annuleren,
    #body_addresses_ng .button#save {
        background-color: #fff !important;
        border-color: [[kleur3]];
        font-weight: normal;
    }

    #body_addresses_ng .button#new:hover,
    #body_addresses_ng .button#adres_book:hover,
    #body_addresses_ng .button#upload:hover,
    #body_addresses_ng .button#annuleren:hover,
    #body_addresses_ng .button#save:hover {
        background-color: [[kleur3]] !important;
        color: #fff;
    }

    #body_addresses_ng .button#new:before,
    #body_addresses_ng .button#adres_book:before,
    #body_addresses_ng .button#upload:before {
        color: inherit;
    }

    #body_addresses_ng input {
        padding: 6px 5px;
    }

    #body_addresses_ng .img_address {
        width: calc(100% - 2px);
        border: 1px solid #ddd;
        margin-top: 20px;
    }

    #body_addresses_ng img {
        vertical-align: bottom;
    }

    #body_addresses_ng #vimg {
        width: 120px;
    }

    #body_addresses_ng .preview_envelop {
        width: 70px;
        margin-bottom: 10px;
    }

    #body_addresses_ng #nav_buttons #done {
        background-color: #fff;
        color: [[kleur3]];
        border: 1px solid [[kleur3]];
        margin: 20px 15px 0;
        font-weight: normal;
    }

    #body_addresses_ng #nav_buttons #done:hover {
        background-color: [[kleur3]];
        color: #fff;
    }

    #body_addresses_ng #accordion {
        border: none;
    }

    .ed .ui-datepicker {
        padding: .2em .2em 0;
        box-shadow: -2px 2px 2px #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 0;
        display: none;
    }

    .ed .ui-datepicker .ui-datepicker-calendar {
        border-spacing: 0;
    }

    .ed .ui-datepicker .ui-datepicker-header {
        background-color: [[kleur3]];
        position: absolute;
        padding: .2em 0;
        left: 0.4em;
        right: 0.4em;
        top: 0.4em;
        border: none;
        border-radius: 0;
    }

    .ed .ui-datepicker .ui-datepicker-next,
    .ed .ui-datepicker .ui-datepicker-prev {
        position: absolute;
        top: 4px;
        width: 1.8em;
        height: 1.8em;
    }

    .ed .ui-datepicker .ui-datepicker-next {
        right: 4px;
        text-align: right;
    }

    .ed .ui-datepicker .ui-datepicker-prev {
        left: 4px;
    }

    .ed .ui-datepicker .ui-datepicker-next span,
    .ed .ui-datepicker .ui-datepicker-prev span {
        display: none;
    }

    .ed .ui-datepicker .ui-datepicker-next:after,
    .ed .ui-datepicker .ui-datepicker-prev:after {
        font-family: kcicons;
        color: #7e7f83;
    }

    .ed .ui-datepicker .ui-datepicker-prev:after {
        content: '\e00a';
    }

    .ed .ui-datepicker .ui-datepicker-next:after {
        content: '\e008';
    }

    .ed .ui-datepicker .ui-datepicker-title {
        text-align: center;
    }

    .ed .ui-datepicker-calendar td {
        width: 2.4em;
        padding: 0.2em;
    }

    .ed .ui-datepicker-calendar .ui-state-default {
        width: 100%;
        padding: 5px 2px;
        text-align: right;
        display: block;
        background: #ddd;
        border: none;
    }

    .ed .ui-state-disabled {
        opacity: 0.35;
        filter: Alpha(Opacity=35);
    }

    .ui-state-default.ui-state-highlight.ui-state-active {
        background: [[kleur3]];
    }
}

#body_keuze .proefdruk .content,
#body_keuze .kaartenVoor .content,
#body_keuze .envVooraf .content,
#body_keuze .direct_shipment .content {
    border-radius: 0;
}
#body_bestel_details h2 {
    font-size: 18px;
}
#body_bestel_details .thumb[src^='/front_small'] {
    max-width: 120%;
    margin-left: -10%;
    margin-top: -20%;
    width: 120%;
}
#body_bestel_details .thumb[src^='/envelope_thumb'],
#body_bestel_details .thumb[src^='/common/gfx/'] {
    max-width: 70%;
    margin-top: 0;
    margin-left: 0;
    width: 70%;
}
