@font-face {
  font-family: "kcicons";
  src: url("../fonts/kcicons.eot");
  src: url("../fonts/kcicons.eot?#iefix") format("embedded-opentype"), url("../fonts/kcicons.woff") format("woff"), url("../fonts/kcicons.ttf") format("truetype"), url("../fonts/kcicons.svg#untitled-font-1") format("svg");
  font-weight: normal!important;
  font-style: normal;
}

.icon {
  font-family: 'kcicons';
  font-style: normal!important;
}
/* sizes */
.icon-xs {
  font-size: 0.5em!important;
}
.icon-x1 {
  font-size: 0.8em!important;
}
.icon-x2 {
  font-size: 2em!important;
}
.icon-x3 {
  font-size: 4em!important;
}
/* icons */
.icon-user:after {
  content: 'a';
}
.icon-phone:after {
  content: 'b';
}
.icon-th:after {
  content: 'c';
}
.icon-mail:after {
  content: 'd';
}
.icon-chevron-down:after {
  content: 'e';
}
.icon-chevron-right:after {
  content: 'f';
}
.icon-camera:after {
  content: 'g';
}
.icon-heart:after {
  content: 'h';
}
.icon-arrow-left:after {
  content: 'i';
}
.icon-arrow-right:after {
  content: 'j';
}
.icon-info:after {
  content: 'k';
}
.icon-male:after {
  content: 'l';
}
.icon-basket:after {
  content: 'm';
}
.icon-female:after {
  content: 'n';
}
.icon-star:after {
  content: 'o';
}
.icon-exit-topright:after {
  content: 'p';
}
.icon-edit-pencil:after {
  content: 'r';
}
.icon-add:after {
  content: 'q';
}
.icon-search:after {
  content: 's';
}
.icon-favorite-heart:after {
  content: 'u';
}
.icon-unfavorite-heart:after {
  content: 't';
}
.icon-trash:after {
  content: 'w';
}
.icon-home:after {
  content: 'x';
}
.icon-glass:after {
  content: '\e000';
}
.icon-close:after {
  content: '\e001';
}
.icon-ok:after {
  content: '\e002';
}
.icon-bold-arrow:after {
  content: '\e003';
}
.icon-locked:after {
  content: '\e004';
}
.icon-pdf:after {
  content: '\e005';
}
.icon-calculator:after {
  content: '\e006';
}
.icon-arrow-bold-down:after {
  content: '\e007';
}
.icon-arrow-bold-right:after {
  content: '\e008';
}
.icon-arrow-bold-up:after {
  content: '\e009';
}
.icon-arrow-bold-left:after {
  content: '\e00A';
}
.icon-zoom-in:after {
  content: '\e00B';
}
.icon-caret-up:after {
  content: '\e00C';
}
.icon-caret-down:after {
  content: '\e00D';
}
.icon-zoom-out:after {
  content: '\e00E';
}
.icon-share-square:after {
  content: '\e00F';
}
.icon-check:after {
  content: '\e010';
}
.icon-compress:after {
  content: '\e011';
}
.icon-book:after {
  content: '\e012';
}
.icon-upload:after {
  content: '\e013';
}
.icon-tumblr:after {
  content: '\e014';
}
.icon-pinterest:after {
  content: '\e015';
}
.icon-facebook:after {
  content: '\e016';
}
.icon-twitter:after {
  content: '\e017';
}
.icon-sort:after {
  content: '\e018';
}
.icon-instamgram-small:after {
  content: '\e019';
}
.icon-instagram:after {
  content: '\e01A';
}
.icon-truck:after {
  content: '\e01B';
}
.icon-package:after {
  content: '\e01C';
}
.icon-heart-outline:after {
  content: '\e01D';
}
.icon-envelope:after {
  content: '\e01E';
}
.icon-edit-square:after {
  content: '\e01F';
}
.icon-rotate:after {
  content: '\e020';
}
.icon-star-1:after {
  content: '\e021';
}
.icon-align-bottom:after {
  content: '\e022';
}
.icon-align-middle:after {
  content: '\e023';
}
.icon-align-top:after {
  content: '\e024';
}
.icon-align-center:after {
  content: '\e025';
}
.icon-align-justify:after {
  content: '\e026';
}
.icon-align-left:after {
  content: '\e027';
}
.icon-rotate-right:after {
  content: '\e028';
}
.icon-rotate-left:after {
  content: '\e029';
}
.icon-align-right:after {
  content: '\e02A';
}
.icon-hamburger:after {
  content: '\e02B';
}
.icon-unlock:after {
  content: '\e02C';
}
.icon-user-1:after {
  content: '\e02D';
}
.icon-mail-1:after {
  content: '\e02E';
}
.icon-info-1:after {
  content: '\e02F';
}

