.mf * {
    padding: 0;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    font-weight: normal;
}

.mf {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
    display: none;
}

.mf__header {
    background: #f0f0f0;
    padding: 10px 15px 10px 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mf__title {
    font-size: 22px;
    color: #414141;
    display: inline-block;
    padding-top: 5px;
}

.mf__closebtn {
    float: right;
    font-size: 45px;
    cursor: pointer;
    color: #414141;
    display: inline-block;
    margin-top: -8px;
}

.mf__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: #f0f0f0;
}

.mf__result_button {
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 10px;
    left: 10px;
    text-align: center;
    background: #51b457;
    color: #fff;
    border-radius: 5px;
    line-height: 100%;
    padding-top: 13px;
    font-size: 16px;
}

.mf__selectedfilters {
    padding: 15px 0 15px 0;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;
}

.mf__selfiltitle {
    padding: 0 15px 0 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #414141;
}

.mf__clearfilters {
    color: #5b9fe5;
    font-size: 16px;
    text-decoration: underline;
}

.mf__selfilters {
    padding: 0 15px 0 15px;
    margin-top: 15px;
    max-width: 100%;
    border-bottom: solid 1px #ddd;
}

.mf__selfilters p {
    font-style: italic;
    color: #7e7f83;
    font-size: 15px;
    margin-bottom: 30px;
}

.selfilters__tag {
    background: #fafafa;
    border: solid 1px #ddd;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 16px;
    color: #414141;
}

.selfilters__tag span {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
    margin-top: -1px;
    color: #414141;
}

.mf__selfiltitle a {
    font-weight: normal;
    margin-left: 15px;
}

.mf__main ul, .mf__main li {
    list-style: none !important;
}

.mf__main ul.mob-tag-group-ul {
    border-bottom: solid 1px #ddd;
    list-style: none;
}

.mf__main ul.mob-tag-group-ul ul {
    display: none;
}

.mf__main ul.mob-tag-group-ul h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #7e7f83;
    font-weight: bold;
    padding: 15px 10px 15px 15px;
}

.mf__main ul.mob-tag-group-ul h3:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #7e7f83;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.mf__main ul.mob-tag-group-ul h3.active {
    color: [[kleur3]];
}

.mf__main ul.mob-tag-group-ul h3.active:after {
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid [[kleur3]];
}

.mf__main ul.mob-tag-group-ul ul input[type=checkbox],
.mf__main ul.mob-tag-group-ul ul label span,
.mf__main ul.mob-tag-group-ul ul label em,
.mf__main .mob-tag-group-ul h3 i,
.mf__main ul:before,
.mf__main li:before {
    display: none !important;
}

.mf__main ul.mob-tag-group-ul ul label {
    font-size: 16px;
    color: #7e7f83;
    display: block;
    padding: 15px 15px 15px 15px;
    width: 100%;
    border-bottom: solid 1px #f0f0f0;
}

.mf__main ul.mob-tag-group-ul ul li:last-of-type label {
    border-bottom: none;
}

.mf__main ul.mob-tag-group-ul ul label:before {
    content: '';
    background: #f0f0f0;
    border-radius: 3px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
}

.mf__main ul.mob-tag-group-ul ul label.active {
    color: #414141;
}

.mf__main ul.mob-tag-group-ul ul label.active:before {
    background: [[kleur3]];
    content: '\2713';
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    padding-left: 2px;
    box-sizing: border-box;
}

.mf__main #taggroupul-kleur .tag-li label {
    background: none !important;
}

/* mobile filters color colors */
.mf__main #taggroupul-kleur label:before {
    border: solid 1px #414141;
}

.mf__main #tagli-rood label:before, .mf__main #tagli-rood label.active:before {
    background: #db1704 !important;
}

.mf__main #tagli-paars label:before, .mf__main #tagli-paars label.active:before {
    background: #7a4dac !important;
}

.mf__main #tagli-bruin label:before, .mf__main #tagli-bruin label.active:before {
    background: #7b6a4f !important;
}

.mf__main #tagli-grijs label:before, .mf__main #tagli-grijs label.active:before {
    background: #92959f !important;
}

.mf__main #tagli-roze label:before, .mf__main #tagli-roze label.active:before {
    background: #d53276 !important;
}

.mf__main #tagli-geel label:before, .mf__main #tagli-geel label.active:before {
    background: yellow !important;
}

.mf__main #tagli-zwart label:before, .mf__main #tagli-zwart label.active:before {
    background: #000000 !important;
}

.mf__main #tagli-wit label:before, .mf__main #tagli-wit label.active:before {
    background: #ffffff !important;
}

.mf__main #tagli-oranje label:before, .mf__main #tagli-oranje label.active:before {
    background: orange !important;
}

.mf__main #tagli-kleurrijk label:before, .mf__main #tagli-kleurrijk label.active:before {
    background: #db1704;
    background: -webkit-linear-gradient(left, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -o-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: -moz-linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
    background: linear-gradient(right, #db1704, orange, yellow, #9bc576, #2286dd, #d53276);
}

.mf__main #tagli-blauw label:before, .mf__main #tagli-blauw label.active:before {
    background: #2286dd !important;
}

.mf__main #tagli-groen label:before, .mf__main #tagli-groen label.active:before {
    background: #9bd576 !important;
}

body.filter_is_open {
    overflow:hidden !important;
}

.open_mobile_filter {
    display: block;
    width: 100%;
    margin: 15px 0 15px 0;
    background: [[kleur3]];
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.open_mobile_filter:before {
    font-family: kcicons;
    content: 'v';
}

.open_mobile_filter.floater {
    position: fixed;
    left: 0;
    top: 50%;
    display: none;
    margin-top: -22px;
    font-size: 25px;
    z-index: 99998;
    background: [[kleur3]];
    height: 45px;
    width: 45px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 992px) {
    .open_mobile_filter {
        display: none;
    }
}
