.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 99;
  background-color: [[kleur2]];
}
.navbar .topbar {
  height: 50px;
}
.navbar .topbar .topbar-menu-left,
.navbar .topbar .topbar-menu-right {
  display: none;
}
.navbar .middlebar {
  height: 50px;
}
.navbar .collapse {
  background: [[kleur1]];
  position: fixed;
  display: none;
  width: 100%;
  overflow-y: scroll;
  top: 100px;
  left: 0;
  bottom: 0;
}
.navbar .middlebar .collapse .navbar-search {
  display: none;
}
.navbar .navbar-hamburger {
  cursor: pointer;
  padding: 4px 0;
  background-color: transparent;
  border: 1px solid transparent;
  /* when using with border:
  padding: 4px 8px;
  width: 45px; */
  margin: 8px 0 8px 15px;
  outline: none;
  width: 30px;
  display: inline-block;
}
.navbar .navbar-hamburger .icon-bar {
  display: block;
  margin: 3px 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: [[kleur4]];
}
.navbar a.logo {
  color: [[kleur4]];
  font-size: 20px;
  vertical-align: middle;
}
.navbar .topbar a.logo {
  width: calc(100% - 95px);
  text-align: center;
  display: inline-block;
}
.navbar .topbar a.logo img {
  max-width: 80%;
  max-height: 50px;
  margin: 0 auto;
}
.navbar  .topbar .topbar-basket-mob {
  display: inline-block;
  float: right;
  padding: 10px 0;
  width: 50px;
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 0;
  right: 15px;
  /* when using with a colored background:
  text-align: center;
  background-color: #ccc;
  padding: 10px;
  margin-right: -15px; */
}
.navbar  .topbar .topbar-basket-mob i {
  color: [[kleur4]];
  font-size: 20px;
}
.navbar .topbar .topbar-basket-menu-mob {
  position: relative;
  background-color: [[kleur2]];
  padding: 15px 0;
  margin-top: 50px;
  z-index: 99;
  display: none;
  margin-left: -15px;
  margin-right: -15px;
}
.navbar .topbar .topbar-basket-menu-mob ul li {
  border-top: 1px solid #eee;
}
.navbar .middlebar {
  background-color: [[kleur1]];
}
.navbar .middlebar a.logo {
  display: none;
}
.navbar .middlebar ul.middlebar-menu-left li a,
.navbar .middlebar ul.middlebar-menu-right li a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.navbar .middlebar ul.middlebar-menu-left li a:hover,
.navbar .middlebar ul.middlebar-menu-right li a:hover {
  background-color: #eee;
}
.navbar .middlebar .open-navbar-search {
  display: none;
}
.navbar .middlebar .navbar-search-field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 89;
  padding: 10px 15px;
}
.navbar .middlebar .navbar-search-field .search-button-field {
  float: right;
  display: block;
  border: none;
  height: 30px;
  width: 40px;
  padding: 0 0 0 10px;
  cursor: pointer;
  background-color: transparent;
}
.navbar .middlebar .navbar-search-field .search-button-field i {
  font-size: 17px;
}
.navbar .middlebar .navbar-search-field .search-button-field i:after {
  color: [[kleur4]];
}
.navbar .middlebar .navbar-search-field .search-input-field {
  overflow: hidden;
}
.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
  display: block;
  border: none;
  width: 100%;
  height: 30px;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navbar .topbar {
    background-color: [[kleur1]];
    height: 60px;
  }
  .navbar .navbar-hamburger {
    margin: 13px 15px;
  }
  .navbar .topbar a.logo {
    width: calc(100% - 395px);
    text-align: left;
  }
  .navbar .topbar a.logo img {
    max-height: 60px;
  }
  .navbar .topbar .topbar-basket-mob {
    width: 40px;
    padding: 15px 0;
  }
  .navbar .topbar .topbar-basket-menu-mob {
    margin-top: 0;
  }
  .navbar .middlebar {
    background-color: [[kleur1]];
    position: absolute;
    right: 50px;
    width: 290px;
    top: 0;
  }
  .navbar .collapse {
    top: 60px;
  }
  .navbar .middlebar .navbar-search-field {
    top: 0;
    padding: 15px 0;
    width: 280px;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    width: 250px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar {
    position: relative;
    left: auto;
    top: auto;
    height: 125px;
  }
  .navbar .topbar {
    height: 50px;
    background: [[kleur2]];
  }
  .navbar .topbar .container {
    position: relative;
  }

  .navbar .navbar-hamburger,
  .navbar .topbar a.logo,
  .navbar .topbar .topbar-basket-mob {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul {
    margin-bottom: 0;
  }
  .navbar .topbar .topbar-menu-right {
    position: absolute;
    top: 0;
    right: 210px;
    display: inline-block;
  }
  .navbar .topbar .topbar-menu-right > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
  }
  .navbar .topbar .topbar-menu-right > ul > li a {
    display: block;
    padding: 10px 5px;
    margin: 0;
    border: none;
    color: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right > ul > li:last-of-type a {
    padding-right: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:hover,
  .navbar .topbar .topbar-menu-right > ul > li a:active,
  .navbar .topbar .topbar-menu-right > ul > li a:focus {
    color: [[kleur5]];
  }
  .navbar .topbar .topbar-menu-right > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .navbar .topbar .topbar-menu-right > ul > li i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  .navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
    padding-left: 0;
    padding-right: 0;
  }
   .navbar .topbar .topbar-menu-right > ul > li.dropdown {
    position: relative;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
    z-index: 999;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
    color: [[kleur4]];
    background: #fff;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
    color: #fff; /*[[kleur2]];*/
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown .dropdown-content {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > a {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 33;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
    width: auto;
    right: 0;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    left: auto;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li > a {
    display: block;
    padding: 5px 10px;
    text-align: left;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover {
    background: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
    color: #fff;
  }
  .navbar .middlebar {
    height: 75px;
    top: 50px;
    width: 100%;
    right: 0;
  }
  .navbar .collapse {
    display: block;
    left: auto;
    bottom: auto;
    top: 0;
    position: relative;
    background: [[kleur1]];
    height: 75px;
    overflow-y: inherit;
    /*overflow: auto;*/
  }
  .navbar .middlebar a.logo {
    position: relative;
    display: inline;
    color: [[kleur4]];
    line-height: 70px;
    font-size: 45px;
  }
  .navbar .middlebar a.logo img {
    position: relative;
  }
  .navbar .middlebar a.logo:hover,
  .navbar .middlebar a.logo:active,
  .navbar .middlebar a.logo:focus {
    color: [[kleur4]];
  }
  .navbar .middlebar ul.middlebar-menu-left,
  .navbar .middlebar ul.middlebar-menu-right {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    height: 75px;
  }
  .navbar .middlebar ul.middlebar-menu-left {
    min-width: 200px;
    display: inline;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    right: 0;
  }
  .navbar .middlebar ul.middlebar-menu-left li,
  .navbar .middlebar ul.middlebar-menu-right li {
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .navbar .middlebar ul.middlebar-menu-right li {
    border-right: 1px solid #fff;
    margin-left: -3px;
  }
  .navbar .middlebar ul.middlebar-menu-right li:first-child {
    border-left: 1px solid #fff;
  }
  .navbar .middlebar ul.middlebar-menu-right li:hover {
    background-color: [[kleur6]];
  }
  .navbar .middlebar ul.middlebar-menu-right > li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
  }
  .navbar .middlebar ul.middlebar-menu-left > li a,
  .navbar .middlebar ul.middlebar-menu-right > li a {
    position: relative;
    display: inline-block;
    height: 100%;
    color: inherit;
    line-height: 1em;
    overflow: hidden;
    padding: calc(37.5px - 0.5em) 15px;
    border-bottom: 0;
  }
  .navbar .middlebar ul.middlebar-menu-right li a:hover,
  .navbar .middlebar ul.middlebar-menu-right li a:active,
  .navbar .middlebar ul.middlebar-menu-right li a:focus,
  .navbar .middlebar ul.middlebar-menu-left li a:hover,
  .navbar .middlebar ul.middlebar-menu-left li a:active,
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: [[kleur4]];
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown,
  .navbar .middlebar ul.middlebar-menu-right .dropdown {
    position: relative;
  }

  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    margin-top: 75px;
    margin-bottom: -9px;
    background-color: [[kleur6]];
    display: none;
    z-index: 999;
    width: 100%;
    min-width: 200px;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li {
    padding: 0;
    margin-left: 0;
    margin-top: -6px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:first-of-type,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:first-of-type {
    margin-top: 0;
  }

  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:last-of-type,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:last-of-type {
    border-bottom: none;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a:hover,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a:hover {
    background-color: [[kleur7]];
    color: #fff;
  }
  .navbar .middlebar .navbar-search-field {
    display: block;
    position: absolute;
    top: -50px;
    right: 10px;
    left: auto;
    height: 50px;
    width: 220px;
    z-index: 89;
    padding: 10px;
    background-color: transparent;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    height: 30px;
    border: none;
    width: 30px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    z-index: 89;
    margin: 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    position: absolute;
    right: 0;
    display: block;
    width: 175px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #eee;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .topbar .topbar-menu-left {
    display: inline-block;
  }
  .navbar .topbar .topbar-menu-left li {
    padding: 0 5px;
    margin: 10px 0;
  }
  .navbar .topbar .topbar-menu-left a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 10px 0;
    height: 100%;
    color: [[kleur5]];
  }
  .navbar .topbar .topbar-menu-left a:first-of-type {
    padding-left: 0;
  }
  .navbar .topbar .topbar-menu-left a:hover,
  .navbar .topbar .topbar-menu-left a:active,
  .navbar .topbar .topbar-menu-left a:focus {
    color: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right {
    float: right;
    right: 0;
  }
  .navbar .middlebar .container {
    position: relative;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    right: 230px;
    /* when searchfield is not visible:
      right: 45px;
    */
  }
  .navbar .middlebar .open-navbar-search {
    position: absolute;
    top: 0;
    right: 15px;
    height: 75px;
    width: 30px;
    z-index: 99;
    background: [[kleur1]];
    display: none;
    /* when searchfield is not visible:
      display: block;
    */
    padding-top: 22px;
    text-align: center;
  }
  .navbar .middlebar .open-navbar-search i {
    font-size: 17px;
  }
  .navbar .middlebar .navbar-search-field {
    position: absolute;
    top: 0;
    height: 75px;
    width: 200px;
    z-index: 89;
    padding: 0;
    background: transparent;
    /* when searchfield is not visible:
      display: none;
      background: [[kleur6]];
    */
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    height: 25px;
    border: none;
    width: 30px;
    padding: 0;
    text-align: center;
    margin: 15px 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    width: 170px;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    right: 30px;
    height: 45px;
    border: none;
    margin: 15px 0;
    width: 170px;
  }
}
