.order-flow {
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
  font-size: 11px;
}
.order-flow a {
  display: block;
}
.order-flow .order-flow-details {
  display: inline-block;
  vertical-align: middle;
}
.order-flow .order-flow-details-body {
  padding: 15px;
  background-color: #f0f0f0;
  line-height: 15px;
}
.order-flow .order-flow-details-body .order-flow-details-status {
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
}
.order-flow .order-flow-details-body strong {
  display: block;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .order-flow .order-flow-info strong {
    float: right;
  }
}
@media (min-width: 992px) {
  .order-flow-info strong {
    float: none !important;
  }
  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}
