ul.pills {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #ddd;
  z-index: 1;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: [[kleur4]];
  background-color: [[kleur7]];
}
ul.pills > li > a:hover {
  background-color: [[kleur7]];
  color: inherit;
}
ul.pills > li > a:active {
  background-color: [[kleur7]];
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: [[kleur7]];
  color: inherit;
}
