.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  background-color: #fbf7f8;
  color: inherit;
}
.table > thead > tr > th,
.table tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-unstyled {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.table-unstyled > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: none;
  background-color: inherit;
  color: inherit;
}
.table-unstyled > thead > tr > th,
.table-unstyled tbody > tr > th,
.table-unstyled > tfoot > tr > th,
.table-unstyled > thead > tr > td,
.table-unstyled > tbody > tr > td,
.table-unstyled > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}
