.thumbnail-slider {
  position: relative;
  padding: 20px 5px 5px;
  border-radius: 10px;
  background-color: [[kleur1]];
  border: 1px solid #ddd;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
  width: 100%;
}
.thumbnail-slider .thumbnail-slider-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  z-index: 3;
}
.thumbnail-slider .thumbnail-slider-left {
  left: 0;
}
.thumbnail-slider .thumbnail-slider-right {
  right: 0;
}
.thumbnail-slider .thumbnail-slider-left,
.thumbnail-slider .thumbnail-slider-right {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  z-index: 2;
}
.thumbnail-slider .thumbnail-slider-left > a,
.thumbnail-slider .thumbnail-slider-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
  margin-top: -20px;
}
.thumbnail-slider .thumbnail-slider-left > a i,
.thumbnail-slider .thumbnail-slider-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-slider .thumbnail-slider-middle img {
  position: relative;
  left: 0;
  right: 0;
}
.thumbnail-slider .thumbnail-slider-bottom {
  position: relative;
  z-index: 33;
}
