.thumbnail {
  position: relative;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  text-align: left;
  cursor: pointer;
  overflow:hidden;
}
.thumbnail:hover img {
  opacity: 0.5;
}
.thumbnail:hover .thumbnail-footer {
  opacity: 1;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .thumbnail-footer {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: #fff;
  opacity: 0.8;
}
.thumbnail .thumbnail-footer h3 {
  margin: 0 auto;
  color: [[kleur5]];
}
.thumbnail .thumbnail-footer p {
  color: inherit;
}
.thumbnail-transparent {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.thumbnail-transparent .thumbnail-footer {
  background-color: transparent!important;
}
.thumbnail-fluid {
  padding: 0!important;
}
.thumbnail-fluid .thumbnail-footer {
  margin-top: 0;
  background-color: [[kleur1]];
}
.thumbnail-fluid .thumbnail-footer h3 {
  color: [[kleur5]];
}
.thumbnail-fluid .thumbnail-footer p {
  color: inherit;
}
.thumbnail-fluid .thumbnail-img {
  background-color: #ddd;
  border: none;
}
.thumbnail-button {
  padding: 0!important;
  border-radius: 0;
  border: 0 solid transparent;
}
.thumbnail-button .thumbnail-button-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: url('http://hipdesign.nl/img/bg-button/01.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding: 15px 20px 0 20px;
  height: 45px;
}
