<table>
    <tbody>
        <tr>
            <td valign="top"><img alt="" border="0" src="https://fuif.nl/img/email/mailfooterconfetti.png" style="display: block; border: none; max-width:100%;font-size:0;line-height: 1;" width="100%" /></td>
        </tr>

        <tr>
            <td style="text-align:center; font-weight:bold;">&nbsp;</td>
        </tr>
        <tr>
            <td>Beste [naam],<br />
            <br />
            Een tijdje geleden heb je een account bij ons aangemaakt. Kunnen we je misschien ergens mee helpen? Neem dan contact op met onze klantenservice.<br />
            <br />
            Je kunt natuurlijk ook eenvoudig zelf een kaart bestellen.<br />
            We leveren pakketten ook gewoon op maandag! En wist je dat je bij Fuif je zelf&nbsp;gemaakte&nbsp;uitnodiging direct naar de genodigde kan laten versturen? Handig toch!</td>
        </tr>
    </tbody>
</table>
