<p>&nbsp;</p>

<table style="margin-top: 1em">
	<tbody>
		<tr>
			<td>Vriendelijke groet,<br />
			het team van [shopnaam]</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

    <table border="0" cellpadding="0" cellspacing="0" id="background-table" style="max-width:660px; margin:0 auto;font-size:0;line-height: 1;" width="100%">
        <tbody>
            <tr>
                <td valign="top"><img alt="" border="0" src="https://fuif.nl/img/email/mailfooterconfetti.png" style="display: block; border: none; max-width:100%;font-size:0;line-height: 1;" width="100%" /></td>
            </tr>
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: -30px;" >
                        <tbody>
                            <tr>
                                <td valign="top" width="5%"></td>
                                <td valign="top" width="40%"><img alt="" border="0" src="https://fuif.nl/img/email/mailfooterfuifcontact.png" style="display: block; border: none; max-width:100%;font-size:0;line-height: 1;" width="75%" /></td>
                                <td valign="top" width="25%"><img alt="" border="0" src="https://fuif.nl/img/email/mailfootertaart.png" style="display: block; border: none; max-width:100%;font-size:0;line-height: 1;" width="75%" /></td>
                                <td valign="top" width="5%"></td>
                                <td valign="top" width="20%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td colspan="5" valign="top" width="100%"><img alt="" border="0" src="https://fuif.nl/img/email/mailfuiflogo.png" style="display: block; border: none; max-width:100%;" width="100%" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" valign="top" width="100%"><img alt="" border="0" src="https://fuif.nl/img/email/mailvolgonsook.png" style="display: block; border: none; max-width:100%;" width="100%" /></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" width="26%">
                                                    <a href="https://www.facebook.com/fuif.nl/" target="_blank"><img alt="" border="0" src="https://fuif.nl/img/email/mailfacebook.png" style="display: block; border: none; max-width:100%;" width="100%" /></a>
                                                </td>
                                                <td valign="top" width="11%"></td>
                                                <td valign="top" width="26%">
                                                    <a href="https://www.instagram.com/fuif.nl/" target="_blank"><img alt="" border="0" src="https://fuif.nl/img/email/mailinstagram.png" style="display: block; border: none; max-width:100%;" width="100%" /></a>
                                                </td>
                                                <td valign="top" width="11%"></td>
                                                <td valign="top" width="26%">
                                                    <a href="https://nl.pinterest.com/fuifnl/" target="_blank"><img alt="" border="0" src="https://fuif.nl/img/email/mailpinterest.png" style="display: block; border: none; max-width:100%;" width="100%" /></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top" width="5%"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
