/** BLOCK - BLOG-ITEM -----------------------------------------**/




#blog .blog_item {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    .featured_image_wrapper {
        box-shadow: 0 0 5px -1px #525252;
        margin: 5px 5px 15px 5px;
        height: initial;
        position: relative;
        padding-top: 43%;
        img {
        	position: absolute;
        	top: 50%;
        	left: 0%;
        	right: 0%;
        	transform: translate(0, -50%);
        }
    }
    .blog_item_title {
        margin-bottom: 0px;
    }
    .blog_item_date {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    #blog .blog_item {
        width: 49%;
        margin-right: 2%;
        &:nth-child(even) {
            margin-right: 0px;
        }
        .featured_image_wrapper {
        	height: initial;
        }

    }
}
@media only screen and (min-width: 992px) {
    #blog .blog_item {
        width: 32%;
        margin-right: 2%;
        &:nth-child(even) {
        	margin-right: 2%;
        }
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
}
