/** BLOCK - BUTTON-BLOCK -----------------------------------------**/

.button-block {
    border: 1px solid #29C1C4;
    border-radius: 10px;
    a {
        width: 101%;
        background-color: transparent;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: #29C1C4;
            color: #fff;
        }
    }

}




@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {

}
