/** BLOCK - BUTTONS -----------------------------------------**/

.button,
.button-group .button {
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    background: #29C1C4;
    border-color: #29C1C4;
    color: #fff;
    -webkit-appearance: none;
    &:hover {
        color: #29C1C4;
        background: #fff;
    }
    i {
        vertical-align: bottom;
    }
}

.button.button-green {
    border-color: #5EC50C;
    background: #5EC50C;
    &:hover {
        color: #5EC50C;
        background: #fff;
    }
}

.button.home__all-cards {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button-xlg {
    font-size: 20px;
    padding: 16px 20px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .button.home__all-cards {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .button-xlg {
	    font-size: 20px;
    }
}
