/** BLOCK - CHOOSE BLOCK -----------------------------------------**/


.choose-block {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.mobile__choose-block {
	display: block;
}
.desktop__choose-block {
	display: none;
}

@media only screen and (min-width: 768px) {
	.mobile__choose-block {
		display: none;
	}
	.desktop__choose-block {
		display: block;
	}
	
}
