/** BLOCK - COLS-REVERSE-DESKTOP ----------------------------------------- **/



@media only screen and (min-width: 768px) {
    .cols-reverse-desktop {
        display: flex;
        .sm-6:nth-child(1) { 
            order: 2;
        }
        .sm-6:nth-child(2) { 
            order: 1;
        }
    }
}
