/** BLOCK - CRUMS -----------------------------------------**/


#crumbs {
	margin-bottom: 28px; 
	a {
		color: #afafaf;
		&:hover {
			color: #404040;
		}
	}
}

@media only screen and (min-width: 768px) {
}
