/** BLOCK - CUSTOM BACKGROUND -----------------------------------------**/


.custom-background {
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	&--left {
		background-position: left;
	}
	&--right {
		background-position: right;
	}
}
