/** BLOCK - CUSTOM-CONTENT -----------------------------------------**/


.custom_content {
	hr {
		border-style: solid;
		border-color: #e8e8e3;
	}
}


@media only screen and (min-width: 768px) {
	
}
