/** BLOCK - FLOAT ADMIN -----------------------------------------**/

// div.floatAdmin {
//     position: fixed;
//     top: 65px;
//     bottom: initial;
//     left: -10px;
//     z-index: 10000;
// }


