/** BLOCK - FOOTER-WAARBORG -----------------------------------------**/

#footer {
    overflow: hidden;
}

footer {
    margin-top: 0px;
}

.footer-usps {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.footer-usp {
    &__text {
        text-align: center;
        height: 45px;
        line-height: 45px;
    }
    &__image {
        height: 45px;
        text-align: center;
        padding: 2px 0;
        img {
            max-height: 41px;
        }
    }
    &__image-payment {
        padding: 7px 0;
        img {
            margin: 0 5px;
            max-height: 31px;
        }
    }

}
@media screen and (min-width: 768px) {
    .footer-usps .container {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .footer-usp {
        &__text {
            text-align: right;
        }
        &__image {
            text-align: left;
        }
    }
}

.footer-menu {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-menu-left {
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .footer-menu-left {
        padding-bottom: 0px;
    }
}

.footer-menu-left img {
    margin: 0 auto;
    display: block;
}

.footer-menu-left h4 {
    color: #FF9700;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
}

.footer-menu-left-social {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.footer-menu-left-social-button {
    background: #29c1c4;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin: 10px;
}

.footer-menu-left-social-button i {
    color: #fff;
    font-size: 20px;
}

.footer-menu-middle ul li {
    margin-bottom: 10px;
    text-align: center;
}
.footer-menu-right {
    text-align: center;
}

.footer-logo {
    width: 80%;
    max-width: 250px;
    padding: 0 10%;
}
img.footer-opiness {
    display: inline-block;
    width: 100%;
    padding: 0;
    max-width: 160px;
}
@media screen and (min-width: 992px) {
    .footer-menu-middle ul li {
        text-align: left;
    }
    .footer-menu-right {
        text-align: center;
        margin: -20px;
    }

}

.footer-menu-middle ul li a {
    color: #000;
    &:hover {
        color: #29c1c4;
    }
}

.footer-menu-right-experiences-grade,
.footer-menu-right-experiences-facts {
    display: inline-block;
}

.footer-menu-right-experiences-grade {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #29c1c4;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.footer-menu-right-experiences-feedback {
    display: block;
    color: #555;
}

.footer-menu-right-experiences-feedback p {
    color: #555;
}

.footer-menu-right-experiences-feedback a {
    color: #29c1c4;
}

.footer-menu-bottom {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer-menu-bottom li {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    display: inline;
}

.footer-menu-bottom li:last-of-type {
    border-right: none;
}

.footer-menu-bottom a {
    color: #555;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-menu .cols {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        > div.sm-6 {
            width: 49.9%;
        }
    }
    .footer-menu-left {
        order: 1;
        -webkit-order: 1;
    }
    .footer-menu-middle-1 {
        order: 3;
        -webkit-order: 3;
        margin-top: 20px;
    }
    .footer-menu-middle-2 {
        order: 4;
        -webkit-order: 4;
        margin-top: 20px;
    }
    .footer-menu-right {
        order: 2;
        -webkit-order: 2;
    }
}

