/** BLOCK - FOOTER-RATING -----------------------------------------**/



.footer__rating {
	text-align: left;
	position: relative;
	background: #FEFEFE;
	border: 1px solid #D7D7D7;
	border-radius: 16px;
	margin: 10px auto;
	padding: 5px;
	width: 300px; 
	h3 {
		font-size: 19px;
		margin: 5px 0 0 0;
	}
	&--number {
		background: #FF9700;
	    height: 45px;
	    width: 45px;
	    border-radius: 50%;
	    font-size: 25px;
	    color: #FFFFFF;
	    letter-spacing: -1.23px;
	    font-weight: 700;
	    line-height: 50px;
	    text-align: center;
	    margin: 7px 10px;
	    float: left;	}

	&--text {
	    margin: 0px 0 5px 59px;
	    font-size: 14px;
	    color: #29C1C4;
	    line-height: 10px;
	    padding: 6px;
	}
}

