/** BLOCK - HOME-CHOOSE-TEXT -----------------------------------------**/

.home__choose-text {
	padding: 15px 0;
	h3 {
		font-weight: 300;
		font-size: 27px;
		line-height: 36px;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
	}
}
.home__choose-text--desktop {
	display: none;
}


@media only screen and (min-width: 768px) {
	.home__choose-text {
		text-align: center;
		margin: 0 auto;
	}
	.home__choose-text--desktop {
		display: inline;
	}
	
}