/** BLOCK - HOME-INVITE -----------------------------------------**/

.home__invite {
    padding: 45px 15px;
    h3 {
        font-family: 'Pacifico', cursive;
        font-size: 36px;
        color: #FF9700;
        font-weight: 400;
        line-height: 48px;
    }
    ul {
        li {
            position: relative;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 0;
            margin-left: 35px;
            i {
                position: absolute;
                left: -35px;
                font-size: 22px;
                color: #5EC50C;
            }
        }
    }
    .button {
        border-color: #5EC50C;
        background: #5EC50C;
        &:hover {
        	background-color: transparent;
        	color: #5EC50C;
        }
    }
}

@media only screen and (min-width: 768px) {}
