/** BLOCK - HOME-RATING -----------------------------------------**/

.home__rating {
    position: relative;
    background: #FEFEFE;
    border: 1px solid #D7D7D7;
    border-radius: 16px;
    margin: 45px 15px;
    padding: 15px;
    h3 {
        font-size: 22px;
        margin: 5px 0;
    }
    &--number {
        background: #FF9700;
        height: 68px;
        width: 68px;
        border-radius: 50%;
        font-size: 35px;
        color: #FFFFFF;
        letter-spacing: -1.23px;
        font-weight: 700;
        line-height: 68px;
        text-align: center;
        margin: 7px 10px;
        float: left;
    }
    &--stars {
        color: #E9E031;
        font-size: 22px;
        i.icon {
            width: 20px;
        }
    }
    &--text {
        margin: 0 0 15px 64px;
        font-size: 14px;
        color: #29C1C4;
        line-height: 10px;
        padding: 6px;
    }
    &--quote {
        font-size: 19px;
        color: #414141;
        line-height: 27px;
    }
    &--feedback {
        display: block;
        font-size: 14px;
        color: #29C1C4;
        line-height: 10px;
        padding: 6px;
    }
    &--logo {
        height: 100px;
        position: relative;
        top: 0;
        right: 0;
        float: right;
    }
}

@media only screen and (min-width: 600px) {
    .home__rating {
        &--logo {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .home__rating {
        &--logo {
            position: relative;
            top: 0;
            right: 0;
        }
    }
}

@media only screen and (min-width: 992px) {
    .home__rating {
        &--logo {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}
