/** BLOCK - HOME-DESCRIPTION -----------------------------------------**/


.home__descriptions {
	color: #404040;
	padding: 45px 15px;
	display: block;
	cursor: pointer;
	h5 a {
		font-size: 19px;
		line-height: 25px;
		font-weight: 700;
		margin-bottom: 0px;
		color: #29C1C4;
		transition: color 0.2s;
		text-decoration: underline;
		&:hover {
			color: #404040;
		}
	}

	h6 {
		font-size: 15px;
		line-height: 23px;
		font-weight: 400;
		color: #404040;
	}
	p {

		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		color: #404040;
	}

	ul {
		li {
			position: relative;
			font-size: 18px;
			line-height: 22px;
			padding: 10px 0;
			margin-left: 35px;
		    i {
		    	position: absolute;
		    	left: -35px;
		    	font-size: 29px;
				color: #5EC50C;
		    }
		}
	}
}
.home__description:hover {
	h5 {
		color: #404040;
	}

}

.desktop__home__description {
	display: none;
}



@media only screen and (min-width: 768px) {
	.desktop__home__description {
		display: block;
	}

}