/** BLOCK - HOME-CATEGORIES -----------------------------------------**/


.desktop__home-categories {
	display: none;
	text-align: center;
	margin-bottom: 45px;
	h4 {
		font-size: 22px;
		color: #353535;
		font-weight: 400;
		line-height: 26px;
	}
	.button {
		background: #29C1C4;
		border-radius: 6px;
		border-color: #29C1C4;
	}
	.button:hover {
		color: #29C1C4;
		background: #fff;
	}
}

.mobile__home__categories {
	border-top: 1px solid #D7D7D7;
	li {
		cursor: pointer;
		background: #FDFDFD;
		border-bottom: 1px solid #D7D7D7;
		padding: 15px;
	    font-size: 18px;
	    line-height: 1em;
	    i {
	    	float: right;
	    	font-size: 18px;
			color: #29C1C4;
			transition: color 0.2s;
	    }
	   	&:hover {
		   	i {
				color: #404040;
		    }

	   	}
	}

}



@media only screen and (min-width: 768px) {
	.mobile__home__categories {
		display: none;
	}
	.desktop__home-categories {
		display: block;
	}


}