/** BLOCK - INFORMATION-BLOCK -----------------------------------------**/


.information-block {
	padding-top: 45px;
	padding-bottom: 45px;
	background: rgba(106, 216, 213, 0.3);
	p {
		font-weight: 200;
		font-size: 15px;
		line-height: 22px;
	}
}


