/** BLOCK - LANDING-SELECTOR -----------------------------------------**/


.landing__selector {
	padding: 45px 15px;
	.xs-6 {
		padding-left: 0;
		padding-right: 0;
	}
}

.selector-item {
	cursor: pointer;
	display: block;
	overflow: hidden;
	margin: 8% auto;
    width: 84%;
	padding-top: 84%;
	border: 1px solid #AFAFAF;
	border-radius: 16px;
	position: relative;
	transition: transform 0.2s;
	background-size: contain;
	background-position: center 0%;
	background-repeat: no-repeat;
	font-size: 10vw;
	&__panel {
		position: absolute;
		top: 0%;
		bottom: 45%;
		left: 0%;
		right: 0%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
		.year {
  			font-family: 'Pacifico', cursive;
  			font-size: 2em;
  			line-height: 0.9em;
  			sup {
  				vertical-align: super;
  				font-size: 0.5em;
  			}
		} 
		.year-with-text {
		    font-size: 1.5em;
		    line-height: 0.4em;
		    padding-top: 0.25em;
  		}

		img {
			height: 90%;
    		margin-top: 10%;
    		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
		}	
	}
	&__text {
		position: absolute;
		top: 77.5%;
		transform: translate(0, -50%);
		width: 100%;
		padding: 0 10px;
		text-align: center;
		h2 {
			font-size: 0.55em;
			line-height: 1em;
			color: #414141;
			font-weight: 500;
		}
		p {
			display: none;
			font-size: 0.24em;
			line-height: 1.2em;
			color: #414141;
			font-weight: 300;
		}
	}
	&:hover {
		transform: scale(1.05);
	}
}

.panel__text-frame {
	font-family: 'Pacifico', cursive;
	color: #FF9700;
	font-size: 0.6em;
	line-height: 1.1em;
	max-width: 90%;
	margin:  0 auto;
	padding: 10% 10px;
	transform: rotate(-10deg);
}

#body_verjaardagskaarten .selector-item .year {
	color: #FF9700;
}

@media only screen and (min-width: 480px) {
	.selector-item {
		font-size: 6.6vw;
	}
	.landing__selector {
		padding: 15px 15px 45px 15px;
	}
}


@media only screen and (min-width: 768px) {
	.selector-item {
		font-size: 5vw;
	}
}

@media only screen and (min-width: 992px) {
	.selector-item {
		&__text {
			h2 {
				font-size: 0.4em;
			}
			p {
				display: block;
			}
		}
	}
}


@media only screen and (min-width: 1200px) {
	.selector-item {
		font-size: 60px;
	}
}
