/** BLOCK - LANDING-USP -----------------------------------------**/

.landing__usp {
    position: relative;
    padding: 15px;
    & > .cols {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.usp__image-container {
    position: relative;
    margin: 20px auto;
    width: 200px;
    max-width: 450px;
    padding-top: 50px;
    .usp__envelope {
        position: absolute;
        width: 80%;
        transform: rotate(3deg);
        z-index: 11;
        top: 5%;
        left: 0%;
        background-color: #fefefe;
    	&--gold {
    		background-color: #c1a153
    	}
    	&--pink {
    		background-color: #FF5A82;
    	}
        &--blue {
            background-color: #358AD9;
        }
        &--yellow {
            background-color: #ffff00;
        }
    }
    .usp__card {
        position: absolute;
        width: 80%;
        transform: rotate(-2deg);
        z-index: 12;
        top: 15%;
        right: 0%;
    }
}

.usp__rating {
	display: none;
    z-index: 13;
    background-color: #FF9700;
    height: 126px;
    width: 126px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -50px;
    h4 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        color: #fff;
        line-height: 1.2em;
    }
    &--number {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        text-align: center;
        color: #fff;
        font-weight: 100;
    }
    &--stars {
        text-align: center;
        color: #EAE031;
        font-size: 22px;
        margin: 10px 0 0 -10px;
        i {
            text-align: center;
            width: 20px;
            margin-left: 10px;
            padding: 0;
            margin: 0;
        }
    }
}

.usp__text-container {
    text-align: center;
    h3 {
        font-family: 'Pacifico', cursive;
       	font-size: 20px;
        font-weight: 200;
        line-height: 30px;
    }
    h1 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 1em;
    }
    ul {
        display: none;
    }
    .button-blank {
    	border-color: #008DC8;
        color: #008DC8;
        margin-left: 30px;
        background-color: #fff;
        &:hover {
            color: #404040;
    		border-color: #404040;
        }
    }
    .button {
    	display: inline;
    	margin: 10px auto;
    }
    .usp__link {
        display: inline-block;
        font-size: 16px;
        color: #008dc8;
        padding: 15px 5px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .usp__image-container {
        width: 80%;
        padding-top: 40%;
        margin-top: 50px;
    }
	.usp__rating {
		display: block;
	}

	.landing__usp {
	    padding: 30px;
	    & > .cols {
	        display: block;
            max-width: 1200px;
            margin: 0 auto
	    }
	}
	.usp__text-container {
        text-align: left;
	    padding: 15px;
	    h3 {
	        font-size: 30px;
	        color: #FF9700;
	        font-weight: 300;
	        line-height: 48px;
	    }
	    h1 {
	        font-size: 54px;
	        font-weight: 400;
	    }
	    ul {
	        display: block;
            padding-bottom: 45px;
            li {
                position: relative;
                font-size: 18px;
                line-height: 22px;
                padding: 10px 0;
                margin-left: 45px;
                i {
                    left: -40px;
                    font-size: 29px;
                    color: #5EC50C;
                    width: 1px;
                    position: absolute;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                    } 
                }
            }
	    }
	    .button {
	    	margin: 10px 0;
	    }
	}
}
@media only screen and (min-width: 1200px) {
    .usp__text-container {
        h1 {
            font-size: 54px;
        }
    }
}

