/** BLOCK - LOGO -----------------------------------------**/


.logo-jubileum, .logo-thema {
    display: none;
}


body[id^="body_jubileumkaarten"] {
    .logo-default {
        display: none;
    }
    .logo-jubileum {
        display: inline-block;
    }
}


body[id^="body_thema"] {
    .logo-default {
        display: none;
    }
    .logo-thema {
        display: inline-block;
    }
}


