/** BLOCK - MID -----------------------------------------**/


#mid {
	margin-top: 145px;
}
.custom_content {
    margin-bottom: 45px;
}


@media only screen and (min-width: 768px) {
    #mid {
        margin-top: 60px;
    }

    #body_jubileumkaarten, #body_uitnodiging-verjaardag, #body_themafeest {
        #mid {
            margin-top: 0px;
        }
    }

}
@media only screen and (min-width: 992px) {
	#mid {
    	margin-top: 30px;
	}

}

@media only screen and (min-width: 1200px) {
}