/** BLOCK - MIDDLEBAR -----------------------------------------**/


.navbar .middlebar {
	box-shadow: 0 1px 0 0 #E0E0E0;
	height: 94px;
}

.navbar .middlebar ul.middlebar-menu-left>li a, .navbar .middlebar ul.middlebar-menu-right>li a {
	background-color: #fff;
}

@media only screen and (min-width: 768px) {
	.navbar .middlebar {
		box-shadow: 0 1px 0 0 #E0E0E0;
		height: 0px;
	}
}

@media only screen and (min-width: 992px) {
	.navbar .middlebar {
		top: 36px;
		height: 70px;
		display: block;
	}
	.navbar .middlebar ul.middlebar-menu-left, .navbar .middlebar ul.middlebar-menu-right {
	    height: 70px;
	}
	.navbar .middlebar ul.middlebar-menu-left>li a, .navbar .middlebar ul.middlebar-menu-right>li a {
	    padding: calc(35px - .5em) 15px;
		font-size: 18px;
		color: #000001;
		letter-spacing: 0;
		line-height: 24px;
		font-weight: 500;
		&.active, &:hover {
			color: #29C1C4;
			background-color: transparent;
		}
	}
	.navbar .middlebar a.logo {
		line-height: 64px;
		img {
			height: 60px;
		}
	}
}