/** BLOCK - MOBILE-TRUST -----------------------------------------**/


.mobile__trust {
    height: 56px;
    width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
    background: #fff;
}

.mobile__trust-rating--number {
	background: #FF9700;
	height: 42px;
	width: 42px;
	border-radius: 50%;
	font-size: 21.6px;
	color: #FFFFFF;
	letter-spacing: -1.23px;
	font-weight: 700;
	line-height: 44px;
	text-align: center;
	margin: 7px 10px;
	float: left;
}

.mobile__trust-rating--stars {
 	color: #E9E031;	
 	font-size: 22px;
 	i.icon {
 		width: 20px;
 	}
}
.mobile__trust-rating--text {
	font-size: 13px;
	color: #29C1C4;
	letter-spacing: 0;
	line-height: 9px;
	padding: 6px;
}

.mobile__trust-rating--stars, .mobile__trust-rating--text {
	float: left;
	width: 240px;
}

.mobile__trust-logo {
    position: absolute;
	height: 55px;
	right: 10px;
}


@media only screen and (min-width: 768px) {
    .mobile__trust {
        display: none;
    }
}