/** BLOCK - NAVBAR-SEARCH-FIELD -----------------------------------------**/



.navbar .middlebar .navbar-search-field {
	display: none;
}
.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
	font-size: 17px;
	color: #000;
	letter-spacing: 0;
	line-height: 24px;
		font-family: 'Yantramanav', sans-serif;
		background: #FFFFFF;
	border: 1px solid #D7D7D7;
	border-radius: 4px;
	height:36px;
	outline: none;
}
.navbar .middlebar .navbar-search-field .search-input-field input[type=text]::placeholder {
	font-size: 17px;
	color: #AFAFAF;
	letter-spacing: 0;
	line-height: 24px;
		font-family: 'Yantramanav', sans-serif;
}

@media only screen and (min-width: 768px) {
	.navbar .middlebar .navbar-search-field {
		display: block;
	    padding: 12px 0;
	    width: 180px;
	}
	.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
		margin: 0;
		width: 180px;
	}
	.navbar .middlebar .navbar-search-field .search-button-field {
		display: none;
	}
}
@media only screen and (min-width: 992px) {
	.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
		margin: 6px 0;
		height: 27px;
		right: 30px;
	}
	.navbar .middlebar .navbar-search-field .search-button-field {
	    padding-top: 12px;
	    width: 28px;
	    display: block;
	    text-align: center;	
	}

}
@media only screen and (min-width: 1200px) {
	.navbar .middlebar .navbar-search-field  {
		height: 70px;
	}
	.navbar .middlebar .navbar-search-field .search-input-field input[type=text] {
		height: 36px;
	}
	.navbar .middlebar .navbar-search-field .search-button-field {
		padding-top: 0px;
	}
}