/** BLOCK - PAGE-BLOCK -----------------------------------------**/


.page-block {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

@media only screen and (min-width: 768px) {


}
