/** BLOCK - LANDING-SELECTOR -----------------------------------------**/

.photocard__selector {
    padding: 45px 15px;
    .xs-6 {
        padding-left: 0;
        padding-right: 0;
    }
    .selector-item {
        padding-top: 112%;
        font-size: 10vw;
        &__panel {
            bottom: 65%;
        }
        &__text {
            top: 67.5%;
            h2 {
                font-size: 0.55em;
                line-height: 1em;
                font-weight: 500;
            }
            p {
                display: none;
                font-size: 0.24em;
                line-height: 1em;
            }
        }
    }
    div:nth-child(2) .selector-item {
    	background-size: 60%;
		background-position: center 15%;
    }
    div:nth-child(3) .selector-item {
    	background-size: 75%;
		background-position: center 15%;
    }

}

@media only screen and (min-width: 480px) {
    .photocard__selector {
        .selector-item {
            font-size: 6.6vw;
        }
        .landing__selector {
            padding: 15px 15px 45px 15px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .photocard__selector {
        .selector-item {
            font-size: 5vw;
        }
    }
}

@media only screen and (min-width: 992px) {
    .photocard__selector {
        .selector-item {
            &__text {
                h2 {
                    font-size: 0.4em;
                }
                p {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .photocard__selector {
        .selector-item {
            font-size: 60px;
        }
    }
}
