/** BLOCK - PRICE-TABLE -----------------------------------------**/

.table1 {
    padding: 15px 0;
}

.table-responsive {
    overflow-x: auto;
    width: 100%;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
}

.price-table th,
.price-table td {
    border: 1px solid #29c1c4;
}

.price-table > thead > tr > th,
.price-table > tbody > tr > td {
    padding: 3px 10px;
    min-width: 80px;
}

.price-table > thead > tr > th {
    background: #29c1c4;
    color: #fff;
}