/** BLOCK - RATING -----------------------------------------**/


.rating {
    display: none;
    z-index: 13;
    background-color: #FF9700;
    height: 126px;
    width: 126px;
    border-radius: 50%;
    h4 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        color: #fff;
        line-height: 1.2em;
    }
    &--number {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        text-align: center;
        color: #fff;
        font-weight: 100;
    }
    &--stars {
        text-align: center;
        color: #EAE031;
        font-size: 22px;
        margin: 10px 0 0 -10px;
        i {
            text-align: center;
            width: 20px;
            margin-left: 10px;
            padding: 0;
            margin: 0;
        }
    }
}


@media only screen and (min-width: 768px) {
	.rating {
        display: block;
    }
}
