/** BLOCK - SLIDER-BLOCK -----------------------------------------**/

.sliderBlock {
    position: relative;
    margin-top: 20px;
}

.sliderBlock #pSlide,
.sliderBlock #nSlide {
    position: absolute;
    top: 60px;
}

.sliderBlock #pSlide {
    left: 0;
}

.sliderBlock #nSlide {
    right: 0;
}

.sliderBlock #pSlide:after,
.sliderBlock #nSlide:after {
    font-family: kcicons;
    color: #d183ab;
    font-size: 1.2em;
}

.sliderBlock #pSlide:after {
    content: '\e00A';
}

.sliderBlock #nSlide:after {
    content: '\e008';
}

.slideWrap {
    width: 90%;
    height: 250px;
    margin: 0 auto;
}

.topCards {
    display: none;
}
