/** BLOCK - TAGSCROLLER -----------------------------------------**/

.top-cards {
    display: none;
}


.tag-scroller #tag-scroller-next:after, .tag-scroller #tag-scroller-prev:after {
    color: #29C1C4;
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

