/** BLOCK - TEAM-HIER -----------------------------------------**/



.team__hier {
	background-image: radial-gradient(50% 106%, #FFFFFF 41%, rgba(183,234,233,0.80) 100%);
	border: 1px solid #D7D7D7;
	padding: 0px 15px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	& > .cols {
		margin-left: auto;
		margin-right: auto;
	}
	h3 {
		font-family: 'Pacifico', cursive;
		font-weight: 400;
		font-size: 36px;
		color: #FF9700;
		line-height: 48px;
	}
	h4 {
		font-size: 32px;
		line-height: 36px;
		margin: 15px 0;
	}
	&-image {
		display: block;
		margin: 35px auto;
		width: 90%;
		max-width: 400px;
		border-radius: 16px;
		box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.3);
		transform: rotate(-6deg);
	}
	&-krul {
		position: absolute;
		bottom: 20%;
		width: 30%;
		left: -20%
	}
	.custom-background {
		display: none;
	}

}

.desktop__team__hier--left {
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	display: none;
}
.desktop__team__hier--right {
	padding-top: 15px;
	padding-bottom: 15px;
	.button {
		background: #29C1C4;
		border-color: #29C1C4;
		&:hover {
			color: #29C1C4;
			background: #fff;
		}
	}

}


@media only screen and (min-width: 768px) {
	.team__hier {
		.custom-background {
			display: block;
		}
	}
	.desktop__team__hier--left {
		display: block;
	}
	.mobile__team__hier-image {
		display: none;
	}

}