/** BLOCK - THUMBNAIL-CARD  -----------------------------------------**/


.thumbnail-card-label a i {
    display: inline-block;
    vertical-align: middle;
    color: #FF9700;
}



@media only screen and (min-width: 768px) {
	
}
