/** BLOCK - TOPBAR -----------------------------------------**/

.topbar {
    .navbar-hamburger {
        display: none;
    }
}

.navbar .topbar a.logo {
    width: auto;
    padding: 0 5px;
}

.navbar .topbar a.logo img {
    padding: 5px 0;
}

.navbar .topbar .topbar-basket-mob {
    width: auto;
    padding: 11px 15px;
    text-align: center;
    background: #29C1C4;
    right: 0px;
}

.navbar .topbar .topbar-basket-mob i {
    font-size: 24px;
}

.topbar-account-mob,
.topbar-favourites-mob {
    display: inline-block;
    font-size: 24px;
    padding: 11px 5px;
    float: right;
}

.topbar-account-mob {
    margin-right: 70px;
}

.navbar .topbar .topbar-account-menu-mob {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 50px;
    z-index: 99;
    display: none;
    box-shadow: 2px 2px 3px #ddd;
    .account-mobile-menu-title {
        padding: 5px 10px;
        margin-bottom: 0;
    }
    ul li {
        border-top: 1px solid #eee;
        a {
            padding: 5px 10px;
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {
    .topbar {
        border-bottom: 1px solid #dedede;
        .navbar-hamburger {
            display: inline-block;
        }
    }
    .navbar .topbar .topbar-basket-mob {
        padding: 16px 15px;
    }
    .topbar-account-mob,
    .topbar-favourites-mob {
        padding: 16px 5px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .topbar {
        background: #29C1C4;
        height: 36px;
        margin-right: 0px;
        padding-right: 0px;
        .navbar-hamburger {
            display: none;
        }
    }
    .navbar .topbar .topbar-menu-right {
        right: 240px;
    }
    .navbar .topbar .topbar-basket-mob,
    .topbar-account-mob,
    .topbar-favourites-mob {
        display: none;
    }
    .navbar .topbar .topbar-menu-right > ul > li:hover {
        background: #fff;
        border: 1px solid #29C1C4;
    }
    .navbar .topbar .topbar-menu-right > ul > li a {
        padding: 4px 5px 2px 5px;
        font-size: 17px;
    }
    .navbar .topbar .topbar-menu-right > ul > li:hover a {
        color: #29C1C4 !important;
    }
    .navbar .topbar .topbar-menu-right>ul>li:last-of-type a {
        padding-right: 5px;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown .dropdown-content {
        z-index: 1;
        margin-top: 1px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .topbar .topbar-menu-left a {
        margin: 0;
        padding: 4px 5px 2px 5px;
        border: 1px solid #29C1C4;
        font-size: 17px;
    }
    .navbar .topbar .topbar-menu-left a:first-of-type {
        padding-left: 5px;
    }
    .navbar .topbar .topbar-menu-left a:hover {
        margin: 0;
        background: #fff;
        color: #29C1C4 !important;
    }
    .navbar .topbar .topbar-menu-right {
        right: 15px;
    }
}
