/** BLOCK - ZELF-MAKEN-THUMBNAIL -----------------------------------------**/

.uitnodiging-maken__thumbnail {
    text-align: center;
    position: relative;
    overflow: visible;
    margin-top: 30px;
    .uitnodiging-maken__top-image {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100px;
        width: initial;
    }
    &:hover {
        .uitnodiging-maken__top-image {
            opacity: 1;
        }
        .button.button-zelf {
            background-color: transparent;
            color: #5ec50c;
        }
        .button.button-kies {
            background-color: transparent;
            color: #ff6c9a;
        }

    }

    padding: 60px 30px 30px 30px;
    h4 {
        font-size: 22px;
        text-align: center;
    }
    .cols {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px 0;
    }
    .thumbnail-size__icon {
        display: inline-block;
        line-height: 22px;
        width: 22px;
        height: 22px;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        color: #404040;
        border: 1px solid #919191;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    ul {
        margin: 20px 0;
    }
    .button.button-zelf {
        background-color: #5ec50c;
        border-color: #5ec50c;
    }
    .button.button-kies {
        background-color: #ff6c9a;
        border-color: #ff6c9a;
    }
}


@media only screen and (min-width: 768px) {

}
