/** BLOCK - VIDEO-THUMBNAIL -----------------------------------------**/


.video-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	& > div {

		display: flex;
		flex-direction: column;
	} 
	.video-links__image {
		cursor: pointer;
		@include aspect-ratio(16, 9);
		.image {
			background-size: cover; 
			background-position: center center;
			border: 1px solid #afafaf;
			border-bottom: none;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		.play-button {
			display: block;
			position: absolute;
			top: 50%;
			left:50%;
			transform: translate(-50%, -50%);
			width: 64px;
			height: 64px;
			border-radius: 50%;
			border: 2px solid #fff;
			background-image: url(/img/play.png);
			background-position: center center;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			transition: opacity 0.3s;
			background-color: rgba(255, 255, 255, 1);
			opacity: 0;

		}
		&:hover .play-button {
			opacity: 1;
		}

	}
	.video-links__text {
		flex-grow: 1;
		border: 1px solid #afafaf;
		border-top: none;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		margin-bottom: 15px;
		padding: 15px 15px 5px 15px;;
		h5 {
			font-size: 19px;
			color: #404040;
			font-weight: 700;
			line-height: 1.3em;
		}
		p {
			font-size: 15px;
			line-height: 1.4em;
			color: #919191;
		}
	}

}

@media only screen and (min-width: 475px) {
	.video-links {
		.xsm-6 {
			width: 49%;
		}

		.video-links__text {
			margin-bottom: 30px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.video-links {
		.sm-4 {
			width: 33.3%
		}

	}
}