/** BLOCK - VISUAL -----------------------------------------**/


.visual {
    overflow: visible;
    margin-top: 145px;
    min-height: 150px;
 	background-color: rgba(106, 216, 213, 0.15);
	h1, h2, h3, p {
		z-index: 100;
		position: relative;
	}
	h1, h2 {
		font-weight: 700;
	}


 }

.visual {
    background-image: linear-gradient(90deg, #6DD0D2 0%, #FFFFFF 100%);
}

#body_home .visual {
	background-image: url(/img/home/banner_mobiel.jpg);
	background-position: right center;
	background-size: cover;
}

#body_jubileumkaarten .visual, #body_uitnodiging-verjaardag .visual, #body_themafeest .visual   {
	background-image: linear-gradient(to bottom, #ffffff, rgba(248, 248, 244, 0.5));
	border-bottom: 1px solid #eee;
}

.visual__title {
	font-weight: 700;
	position: relative;
	z-index: 100;
	font-size: 30px;
	line-height: 36px;
	color: #404040;
	padding: 15px;
	width: 60%;

}
.visual__banners {
	display: none;
}
.visual__banners-mobile {
	max-width: 400px;
	margin: 0 auto 70px auto;
	position: relative;
	z-index: 100;
}
.visual__banners-mobile > div {
	padding: 0px;
	position: relative;
    margin-bottom: -30px;
}

.visual__banners-mobile > div > img {
	position: relative;
	width: 150%;
	margin-left: -25%;
	transform: rotate(-7deg);
	top: 20px; 
	z-index: 2;
}

.visual__banners-mobile > div:nth-child(even) > img {
	transform: rotate(7deg);
	top: 0px;
	z-index: 1;
	
}

.visual__left-side, .visual__right-side {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-size: cover;
    width: 165px;
}
.visual__left-side {
    left: 0;
    background-position: right center;
}
.visual__right-side {
    right: 0;
    background-position: left center;
}

#body_zelf-kaarten-maken, #body_uitnodiging-maken, #body_fotokaarten {
	.visual__left-side, .visual__right-side  {
		width: 100%;
		max-width: calc(20% + 500px);
		z-index: 0;
		background-repeat: no-repeat;
	}
}

#body_zelf-kaarten-maken .visual, #body_uitnodiging-maken .visual, #body_fotokaarten .visual {
	padding: 30px 0;
	text-align: center;
	h2 {
		font-family: 'Pacifico', cursive;
		color: #ff9700;
		transform: rotate(-3deg);
		font-size: 56px;
		line-height: 70px;
		font-weight: 100;
	}
	h1.visual__title {
		max-width: 90%;
		padding: 30px 0;
		margin: 0 auto;
	}
	p {
		font-size: 18px;
		line-height: 25px;
		max-width: 650px;
		font-weight: 400;
		margin: 0 auto;
		color: #404040;
		padding: 15px;
	}
}
#body_uitnodiging-maken .visual  {
	p {
		padding-bottom: 35px;
		max-width: 775px;
	}
}


@media only screen and (min-width: 600px) {
	#body_home .visual {
		background-image: url(/img/home/banner_desktop.jpg);
	}
}


@media only screen and (min-width: 768px) {
	.visual {
	    margin-top: 60px;
	}
	.visual__title {
		font-size: 52px;
		line-height: 58px;
		padding: 60px 30% 30px 30px;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.visual__left-side, .visual__right-side {
    	width: 235px;
	}
	#body_zelf-kaarten-maken .visual, #body_uitnodiging-maken .visual, #body_fotokaarten .visual {
		p {
			max-width: calc(100% - 312px);
		}
	}


}
@media only screen and (min-width: 992px) {
	.visual {
	    margin-top: 0px;
	}

	.visual__banners-mobile {
		display: none;
	}
	.visual__banners {
		position: relative;
		z-index: 100;
		display: block;
		padding: 0;
		max-width: 1200px;
    	margin: 0 auto;

		& > div {
			padding: 30px;
		}
	}
	.visual__banner {
		cursor: pointer;
		margin: 0 0px;
		overflow: hidden;
		padding: 100% 0 0 0;
	   	position: relative;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);
		border-radius: 16px;
		background-size: 80%;
	    background-position: center 70%;
	    background-repeat: no-repeat;
	    background-color: #fff;
	    transition: transform 0.1s;
		h3 {
			position: absolute;
			top: 6px;
			width: 100%;
			font-size: 24px;
			display: block;
			text-align: center;
		}
		&--zelf-maken {
			background-size: 100%;
			background-position: center bottom;
		}
		&:hover {
			transform: scale(1.05) rotate(-1deg);
		}
		i {
			border-bottom-right-radius: 16px;
			position: absolute;
		    bottom: 0px;
		    right: 0px;
		    background-color: #5ec50c;
		    width: 47px;
		    line-height: 47px;
		    font-size: 29px;
		    text-align: center;
		    color: #fff;
		}
	}



}

@media only screen and (min-width: 1200px) {
	.visual__left-side, .visual__right-side {
    	width: 500px;
	}
	#body_zelf-kaarten-maken .visual, #body_uitnodiging-maken .visual, #body_fotokaarten .visual {
		p {
			max-width: 650px;
		}
	}

}