/** BLOCK - WIDGET-FILTER -----------------------------------------**/

#sidebar {
    nav {
        padding-top: 5px;
    }
    #filter_cards {
        position: relative;
        .filter-w {
            position: absolute;
            right: 0px;
            top: 0px;
            text-decoration: underline;
            color: #afafaf;
            font-size: 14px;
            font-weight: 300;
        }
        #filter_menu {
            h3 {
                font-size: 19px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #filter_menu #taggroupul-kleur {
    	input[type=checkbox]:checked+label .custom_checkbox:after, label:hover .custom_checkbox:after {
		    font-size: 18px;
		    vertical-align: initial;
		    padding-left: 0px;
		}
        .kleur ul {
            text-align: center;
            column-count: initial;
        }
        .kleur ul li {
            overflow: visible;
            position: relative;
            margin: 6px;
            border: 2px solid lightgrey;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 34px;
            width: 34px;
            -webkit-box-shadow: 1px 1px 5px 1px lightgrey;
            box-shadow: 1px 1px 5px 1px lightgrey;
        }
        .kleur ul li:after {
            white-space: nowrap;
            position: absolute;
            top: -20px;
            right: 20px;
            padding: 0 8px;
            font-size: 12px;
            border-radius: 8px;
            border-bottom-right-radius: 0px;
            background: #fff;
            display: block;
            opacity: 0;
            transition: opacity 0.3s;
            content: attr(data-title);
            z-index: 10;
            border: 1px solid rgba(1, 1, 1, 0.2);
            color: rgba(1, 1, 1, 0.8);
        }
        .kleur ul li.show-title:after {
            display: block;
            opacity: 0.9;
        }
        .kleur ul li label {
            border-radius: 15px;
            max-width: initial;
        }
        .kleur ul li#tagli-mintgroen label {
            background: #bafae0!important;
        }
        .kleur ul li#tagli-groen label {
            background: #50b440!important;
        }
        .kleur ul li#tagli-roze label {
            background: #f22c87!important;
        }
        .kleur ul li#tagli-paars label {
            background: #c71fd3!important;
        }
        .kleur ul li#tagli-bruin label {
            background: #734023!important;
        }
        .kleur ul li#tagli-grijs label {
            background: #a8a8a8!important;
        }
        .kleur ul li#tagli-goud label {
            background-image: url('/img/colors/goud.png') !important;
            background-size: cover;
        }
        .kleur ul li#tagli-zilver label {
            background-image: url('/img/colors/zilver.png') !important;
            background-size: cover;
        }
        .kleur ul li#tagli-brons label {
            background-color: #804D20 !important;
            background-image: url('/img/colors/brons.png') !important;
            background-size: cover;
        }
        .kleur ul li#tagli-kleurrijk label {
            background-image: url('/img/colors/multicolor.png') !important;
            background-size: cover;
        }
        .kleur ul li#tagli-zwart-wit label {
        	background-image: linear-gradient(-45deg, #fff 0%, #fff 50%, #000 50%, #000 100%);
        }

        li#tagli-zwart-wit input[type=checkbox]:checked+label .custom_checkbox:after, li#tagli-zwart-wit label:hover .custom_checkbox:after {
        	color: #7e7f83;
        }
    }
}
