/** BLOCK - WIDGET-TEXT -----------------------------------------**/


#sidebar .sidebar_widget {
	padding: 5px 0;
	border-bottom: 1px solid #afafaf;
	&:first-child {
		padding-top: 0px;
		h3 {
			font-weight: 400;
			color: #afafaf;
		}
	}
}

@media only screen and (min-width: 992px) {
    #filter_menu #taggroupul-kleur .tag-li label, #filter_menu #taggroupul-kleuren .tag-li label {
        border-radius: 8px;
    }
}


















