/** BLOCK - WIDGET-MENU -----------------------------------------**/

.list-vertical li {
    padding: 2px 0;
}

.list-vertical li a {
    color: #404040;
    margin-left: 2px;
    position: relative;
    padding: 0;
}
.list-vertical li a:hover {
    color: #29C1C4;
}

.list-vertical li ul {
    border-color: #404040;
}

.list li a:before {
    text-align: center;
    position: absolute;
    left: -40px;
    content: '';
    margin-right: 5px;
    font-size: 18px;
    color: #404040;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    display: block;
    line-height: 34px;
    top: 0px;
}

.list-vertical li a:active, .list-vertical li a:focus, .list-vertical li ul li a {
    color: #404040;
}

.list-vertical li ul li a:hover {
    color: #29C1C4;
}
body.jubileumkaarten {
    .list-vertical li a {
        margin-left: 40px;
        padding: 5px 0;
    }

    .list-vertical li a:hover {
        color: #29C1C4;
    }
    .list li a:before {
        color: #29C1C4;
    }
    .list li a[href="/jubileumkaarten/5-jaar-getrouwd"]:before {
        content: '5';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/10-jaar-getrouwd"]:before {
        content: '10';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/12-5-jaar-getrouwd"]:before {
        content: '12.5';
        border: 1px solid #29C1C4;
        font-size: 14px;
    }
    .list li a[href="/jubileumkaarten/25-jaar-getrouwd"]:before {
        content: '25';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/30-jaar-getrouwd"]:before {
        content: '30';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/40-jaar-getrouwd"]:before {
        content: '40';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/45-jaar-getrouwd"]:before {
        content: '45';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/50-jaar-getrouwd"]:before {
        content: '50';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/60-jaar-getrouwd"]:before {
        content: '60';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/jubileumkaarten/jubileum-uitnodigingen"]:before {
        content: '?';
        border: 1px solid #29C1C4;
    }
    .list li a[href="/zelf-kaarten-maken"]:before {
        font-family: kcicons;
        content: '\e01F';
        border: 1px solid #29C1C4;
    }
    &#body_jubileumkaarten\/5-jaar-getrouwd {
        #sidebar .list li a[href*="/5-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/10-jaar-getrouwd {
        #sidebar .list li a[href*="10-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/12-5-jaar-getrouwd {
        #sidebar .list li a[href*="12-5-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/25-jaar-getrouwd {
        #sidebar .list li a[href*="25-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/30-jaar-getrouwd {
        #sidebar .list li a[href*="30-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/40-jaar-getrouwd {
        #sidebar .list li a[href*="40-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/45-jaar-getrouwd {
        #sidebar .list li a[href*="45-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/50-jaar-getrouwd {
        #sidebar .list li a[href*="50-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/60-jaar-getrouwd {
        #sidebar .list li a[href*="60-jaar-getrouwd"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
    &#body_jubileumkaarten\/jubileum-uitnodigingen {
        #sidebar .list li a[href*="jubileum-uitnodigingen"] {
            color: #29C1C4;
            &:before {
                color: #fff;
                background-color: #29C1C4;
            }
        }
    }
}

body[id^="body_uitnodiging-verjaardag"], body[id^="body_uitnodiging-feest"] {
    .list-vertical li a {
        margin-left: 40px;
        padding: 5px 0;
    }
    .list-vertical li a:hover {
        color: #FF9700;
    }
    .list.list-vertical li a:before {
        color: #FF9700;
    }
    .list li a[href="/uitnodiging-feest/21-diner"]:before {
        content: '21';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-30-jaar"]:before {
        content: '30';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-40-jaar"]:before {
        content: '40';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-50-jaar"]:before {
        content: '50';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-65-jaar"]:before {
        content: '65';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-75-jaar"]:before {
        content: '75';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-80-jaar"]:before {
        content: '80';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/uitnodiging-samen-100-jaar"]:before {
        content: '100';
        border: 1px solid #FF9700;
    }
    .list li a[href="/uitnodiging-verjaardag/alle-uitnodigingen-verjaardag"]:before {
        content: '?';
        border: 1px solid #FF9700;
    }
    &#body_uitnodiging-feest\/21-diner {
        #sidebar .list li a[href*="21-diner"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-30-jaar {
        #sidebar .list li a[href*="uitnodiging-30-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-40-jaar {
        #sidebar .list li a[href*="uitnodiging-40-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-50-jaar {
        #sidebar .list li a[href*="uitnodiging-50-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-65-jaar {
        #sidebar .list li a[href*="uitnodiging-65-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-75-jaar {
        #sidebar .list li a[href*="uitnodiging-75-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-80-jaar {
        #sidebar .list li a[href*="uitnodiging-80-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/uitnodiging-samen-100-jaar {
        #sidebar .list li a[href*="uitnodiging-samen-100-jaar"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
    &#body_uitnodiging-verjaardag\/alle-uitnodigingen-verjaardag {
        #sidebar .list li a[href*="alle-uitnodigingen-verjaardag"] {
            color: #FF9700;
            &:before {
                color: #fff;
                background-color: #FF9700;
            }
        }
    }
}
