/** BLOCK - ZELF-MAKEN-THUMBNAIL -----------------------------------------**/

.container.zelf-maken {
    margin-top: 45px;
    margin-bottom: 45px;
}

.zelf-maken__thumbnail {
    text-align: center;
    img {
        width: initial;
    }
    .xs-6 {
        width: 49%;
    }
    padding: 6%;
    h4 {
        font-size: 22px;
        text-align: center;
        line-height: 1.1em;
        height: 25px;
    }
    .cols {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px 0;
    }
    .thumbnail-size__icon {
        display: inline-block;
        line-height: 22px;
        width: 22px;
        height: 22px;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        color: #404040;
        border: 1px solid #919191;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    ul {
        margin: 20px 0;
    }
}


@media only screen and (min-width: 768px) {

}
