.accordion {
    list-style-type: none;
    padding: 10px;
    border: 1px solid @accordion-border-color;
    background-color: @accordion-bg-color;
    margin-bottom: 30px;
    border-radius: 5px;
    .accordion-button{
        font-size: 13px;
        color: #6b2d52;
        text-transform: uppercase;
    }
    > .active {
        color: @accordion-active-color!important;
    }
    .show {
        display: block!important;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: @accordion-link-bg-color;
        padding: 5px 5px;
        font-weight: bold;
        color: @accordion-link-color;
        > i {
            float: right;
            font-size: 12px;
        }
    }
    .accordion-body {
        display: none;
        padding: 5px;
        ul {
            margin-bottom: 0;
            margin-top: 0;
            li {
                a {
                    padding: 7px 0px 8px 0px;
                    color: #4ca18d;
                    font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    &.active {
                        color: #e59429;
                    }
                }
                &:last-child{
                    a{
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

.accordion-bg-default{
    border: 1px solid #f1f5f4;
    background-color: #f1f5f4 !important;
}
