@media only screen and (max-width: @xs) and (min-width: @xs) {
  .content-wrapper {
    top: 5px;
  }

  .xsm-hide, .xsm-hide, .md-hide, .lg-hide {
    display: block;
  }

  .xs-hide {
    display: none;
  }
}

@media only screen and (min-width: @xs) {

  .xs-hide, .xsm-hide, .md-hide, .lg-hide {
    display: block;
  }

  .xs-hide {
    display: none;
  }
}

@media only screen and (min-width: @xsm) {

  .xs-hide, .sm-hide, .md-hide, .lg-hide {
    display: block;
  }

  .xsm-hide {
    display: none;
  }
}

@media only screen and (min-width: @sm) {

  .xs-hide, .xsm-hide, .md-hide, .lg-hide {
    display: block;
  }

  .sm-hide {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: @md) {
  .content-wrapper {
    top: 0;
  }

  .xs-hide, .xsm-hide, .sm-hide, .lg-hide {
    display: block;
  }

  .md-hide {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: @lg) {

  .container {
    width: 1200px;
    padding: 0;
  }

  .xs-hide, .xsm-hide, .sm-hide, .md-hide {
    display: block;
  }

  .lg-hide {
    display: none;
  }
}

@media (min-width: @sm) {
  .dl-horizontal dd {
    margin-left: 140px;
  }

  .dl-horizontal dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

#headermenu {
  display: none !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}

i {
  display: inline-block;
}

.sidebar-head {
  font-family: 'kg_love_somebodyregular';
  color: #45adba;
  font-size: 22px;
  margin-bottom: 20px;
}

body {
  color: @text-color;
  font-size: 16px;
  line-height: 27px;
  font-family: @mainFont;
  padding: 0;
  margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.transition-ease {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar:after .container:after, .cols:after, .topbar:after, .middlebar:after, .topbar-left:after, .topbar-right:after, .topbar-menu:after {
  clear: both;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before {
  display: table;
  content: " ";
}

ul {
  list-style: none;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dd, dt {
  line-height: 1.42857143;
}

a {
  color: @link-color;
  outline: none;
  text-decoration: none;
  &:hover {
    color: @link-hover-color;
  }
  &:active {
    color: @link-active-color;
  }
  &:focus {
    color: @link-focus-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #45adba;
  margin-bottom: 15px;
}

h1 {
  font-size: 40px;
  font-family: @titFont;
  color: @h1-color;
  margin-top: 5px;
  margin-bottom: 11.5px;
}

h2 {
  font-size: 32px;
  font-family: @titFont;
  color: @h2-color;
}

h3 {
  font-size: 22px;
  color: @h3-color;
}

h4 {
  font-size: 20px;
  color: @h4-color;
}

h5 {
  font-size: 20px;
  color: @h5-color;
}

h6 {
  font-size: 20px;
  color: @h6-color;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  height: 100%;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50% !important;
}

.background-default {
  background-color: @background-default !important;
}

.background-primary {
  background-color: @background-primary !important;
}

.background-success {
  background-color: @background-success !important;
}

.background-warning {
  background-color: @background-warning !important;
}

.background-danger {
  background-color: @background-danger !important;
}

.background-info {
  background-color: @background-info !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-default {
  color: @text-default-color !important;
}

.text-primary {
  color: @text-primary-color !important;
}

.text-success {
  color: @text-success-color !important;
}

.text-warning {
  color: @text-warning-color !important;
}

.text-danger {
  color: @text-danger-color !important;
}

.text-info {
  color: @text-info-color !important;
}

.text-white {
  color: @text-white-color !important;
}

.text-xsm {
  font-size: 0.8em !important;
}

.text-sm {
  font-size: 1.0em !important;
}

.text-md {
  font-size: 1.2em !important;
}

.text-lg {
  font-size: 1.4em !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic !important;
}

.capitalize {
  text-transform: capitalize;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.inverted-menu-item {
  background-color: #8AC0CF;
  color: #FFF !important;
  border: 1px solid black;
}

#rich-menu-content {
  border: 1px solid black;

}

#rich-menu-content:after {
  clear: both;
}

#rich-menu-content .rich-snippets {
  width: 100%;
  float: none;
}

#rich-menu-content span {
  display: inline !important;
}

#rich-menu-content .rich-snippets .btn-feedback {
  display: block;
  text-align: center;
  background: #00a0ba;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  width: 100%;
  padding: 0 5px;
}

#body_404error {
  #pagecontent {
    h1 {
      font-family: @mainFont;
      color: #12d6d2;
      font-size: 5vw;
      line-height: 65px;
      margin-bottom: 50px;
    }
    .error404 {
      div {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin-right: -4px;
        font-size: 13px;
        line-height: 22px;
        span {
          font-size: 20px;
          display: block;
          color: #fa7900;
        }
        a {
          color: #202020;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.thumbnail-people {
  .thumbnail-people-img {
    a {
      padding: 37px 10px 0 10px;
      position: relative;
    }
  }
  &:hover {
    .thumbnail-people-img {
      a {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(/img/bg-team.png) no-repeat 0 0 / cover;
        }
      }
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 23px;
}

ol li {
  text-indent: -23px;
}

ol li:before {
  content: counter(li) '.';
  counter-increment: li;
  padding-right: 10px;
}

#about-us,
.about-us {
  background-color: #68bfad;
  color: #fff;
  margin-top: 35px;
  padding: 42px 0 30px 0;
  h2 {
    color: #fff;
    margin: 0 0 4px;
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}

#navbar-basket {
  font-weight: 700;
}

.zmCTA {
  display: inline-block;
  margin-right: -4px;
  i {
    margin-right: 7px;
  }
}

.fa-asterisk {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  &:after {
    font-size: 27px;
    font-style: normal;
    color: #c490af;
    content: "*";
    top: 4px;
    position: relative;
  }
}

.icon-basket-2 {
  width: 20px;
  height: 24px;
  font-size: 0;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 19px;
    content: "";
    background: url(/img/ico-basket-2.png) no-repeat 0 0;
  }
}

.arrow-down {
  background: url(/img/arrow-down.png) no-repeat center 0;
  height: 24px;
  margin: 5px 0 6px;
}

.button-icon-upload:after, .button-icon:after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 11px;
  margin-left: 11px;
  background: url(/img/long-arrow-right.png) no-repeat 0 0;
}

.button-icon-upload:after {
  width: 15px;
  height: 12px;
  background: url(/img/icon-upload.png) no-repeat 0 0;
}

.button-white {
  background-color: #fff;
  color: @text-color !important;
  font-size: 16px;
  border-bottom: 2px solid #c7c7c7 !important;
  &:hover {
    background-color: #c7c7c7;
  }
}

.button-violet {
  background-color: #951b64;
  color: #fff !important;
  font-size: 16px;
  border-bottom: 2px solid #47263a !important;
  &:hover {
    background-color: #47263a;
  }
}

.line {
  height: 26px;
  font-size: 0;
  background: url(/img/bg-line.png) repeat-x 0 0;
  margin-bottom: 50px;
  margin-top: 30px;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.we-title {
  font-family: @wetitFont;
  color: @text-color;
  font-size: 34px;
  text-align: center;
  margin-bottom: 24px;
}

.icon-chevron-right {
  &:after {
    content: "\f105" !important;
    font-family: "FontAwesome" !important;
    font-size: 2em;
    font-weight: normal;
  }
}

.icon-chevron-down {
  &:after {
    content: "\f107" !important;
    font-family: "FontAwesome" !important;
    font-size: 2em;
    font-weight: normal;
  }
}

a.add_user_design, a.delete_user_design {
  position: absolute;
  right: 35px;
  bottom: 30px;
  display: none;
  cursor: pointer;
}

.banner-cat {
  padding-bottom: 15px;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.descrpt-mobile {
  margin-top: 10px;
  h2 {
    text-transform: uppercase;
    font-size: 58px;
    line-height: 58px;
    font-family: @titFont;
    margin-bottom: 11.5px;
    margin-top: 0;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 300;
  }
}

@media only screen and (min-width: @md) {
  .descrpt-mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .descrpt-mobile {
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

.equal-height {

}

body.page {
  .add_user_design:before, .delete_user_design {
    font-family: "kcicons";
    font-size: 26px;
    color: #5eceb4;
  }
  .add_user_design:before {
    content: "u";
  }
  .delete_user_design:before {
    content: "t";
  }
}

.admTls {
  width: 100% !important;
}

a.trash_icon {
  display: block;
  height: 20px;
}

a.trash_icon:before {
  content: "verwijderen";
}

.tag-group-ul {
  list-style-type: none;
  padding: 10px;
  border: 1px solid @accordion-border-color;
  background-color: @accordion-bg-color;
  margin-bottom: 30px;
  border-radius: 5px;
  h3 {
    font-size: 13px;
    color: #6b2d52;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    i {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  ul {
    padding-top: 15px;
    display: none;
  }
  ul.show {
    display: block !important;
  }
}

.tag-li {
  input {
    display: none;
  }
  label {
    cursor: pointer;
    font-size: 14px;
    color: #4ca18d;
    font-weight: normal;
    span {
      background-color: #d6d8d9;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: inline-block;
      height: 15px;
      margin: -4px 5px 0 0;
      vertical-align: middle;
      width: 15px;
    }
    .number-of-tags {
      color: #aaa;
    }
  }
}

#filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox {
  background: #6dbcc5 url("/img/ftcheck.png") no-repeat scroll center center / 15px 15px;
}

.kleur ul {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  li {
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 0 0 0 0 !important;
    margin: 0 0px 7px 0;
    vertical-align: top;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 1px 0 #575757;
    box-shadow: 0 0 1px 0 #575757;
    background: -webkit-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: -moz-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%);
    label {
      display: block;
      height: 30px;
      width: 30px;
      font-size: 0 !important;
      .custom_checkbox {
        display: inline-block !important;
        height: 30px !important;
        width: 30px !important;
        background: none !important;
        margin: 0;
      }
    }
    &#tagli-geel label {
      background: yellow !important;
    }
    &#tagli-oranje label {
      background: orange !important;
    }
    &#tagli-wit label {
      background: #fff !important;
    }
    &#tagli-rood label {
      background: #db1704 !important;
    }
    &#tagli-blauw label {
      background: #2286dd !important;
    }
    &#tagli-roze label {
      background: #d53276 !important;
    }
    &#tagli-grijs label {
      background: #92959f !important;
    }
    &#tagli-groen label {
      background: #9bd576 !important;
    }
    &#tagli-paars label {
      background: #7a4dac !important;
    }
    &#tagli-zwart label {
      background: #000 !important;
    }
    &#tagli-bruin label {
      background: #7b6a4f !important;
    }
    &#tagli-goud label {
      background: #DAA520 !important;
    }
    &#tagli-zilver label {
      background: #C0C0C0 !important;
    }
    &#tagli-zwart-wit label {
      background: rgba(255, 255, 255, 1);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);

    }
  }
}

#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox {
  background: url(/img/ftcheck.png) no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center !important;
}

#sidebar-footer {
  h2 {
    font-weight: bold;
    font-family: @mainFont;
    color: #6b2d52;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0 5px;
  }
  p {
    color: #262626;
    font-size: 14px;
    line-height: 23px;
  }
}

#footer {
  font-size: 14px;
  padding: 44px 0 0 0;
  color: #565656;
  margin-top: 35px;
  .certificaat {
    img {
      width: 100%;
      height: auto;
      max-width: 180px;
    }
  }
  .f-item {
    padding-bottom: 50px;
  }
  .betalen {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .feedback {
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .rich-snippets {
    .revTitle {
      vertical-align: middle;
    }
  }
  .icon-lock {
    width: 19px;
    height: 28px;
    margin-right: 10px;
    vertical-align: middle;
    &:after {
      background: url(/img/ico-lock.png) no-repeat 0 0;
      content: "";
      width: 19px;
      height: 24px;
      display: block;
    }
  }
  h4 {
    font-weight: 700;
    color: #a9a9a9;
    font-family: @mainFont;
    font-size: 14px;
    margin: 0 0 5px;
  }
}

.flogo {
  background-color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  padding: 16px 0;
  a, span {
    display: inline-block;
    line-height: 35px;
    height: 35px;
  }
  span {
    margin-right: 15px;
  }
  .hip {
    background: url(/img/logo-hip.png) no-repeat 0 0;
    padding-left: 66px;
    margin-right: 15px;
    &:hover {
      background: url(/img/logo-hip.png) no-repeat 0 -35px;
    }
  }
  .fuif {
    background: url(/img/logo-fuif.png) no-repeat 0 0;
    padding-left: 54px;
    margin-right: 15px;
    height: 31px;
    line-height: 31px;
    &:hover {
      background: url(/img/logo-fuif.png) no-repeat 0 -31px;
    }
  }
  .wens {
    background: url(/img/logo-wens.png) no-repeat 0 0;
    padding-left: 40px;
    height: 32px;
    margin-right: 15px;
    line-height: 32px;
    &:hover {
      background: url(/img/logo-wens.png) no-repeat 0 -32px;
    }
  }
  .condoleance {
    background: url(/img/logo-condoleance.png) no-repeat 0 0;
    padding-left: 40px;
    height: 32px;
    line-height: 32px;
    &:hover {
      background: url(/img/logo-condoleance.png) no-repeat 0 -32px;
    }
  }
}

.table1 {
  margin:0px;padding:0px;
  border:1px solid #f1f5f4;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  margin-bottom: 15px;
  h3 {
    font-size: 14px;
    font-weight: bold;
    background-color:#f1f5f4;
    padding: 10px 7px;
    border:1px solid #f1f5f4;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    tr:last-child td:first-child {
      -moz-border-radius-bottomleft:3px;
      -webkit-border-bottom-left-radius:3px;
      border-bottom-left-radius:3px;
    }
  }
  tr:hover td {
    background-color:#ffffff;
  }
  td {
    vertical-align:left;
    background-color:#ffffff;
    border:1px solid #f1f5f4;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:14px;
    font-weight:normal;
  }
  tr:last-child td {
    border-width:0px 1px 0px 0px;
  }
  tr td:last-child {
    border-width:0px 0px 1px 0px;
  }
  tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
  }
}

.table2 {
  margin:0px;padding:0px;
  border:1px solid #f1f5f4;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
  }
  tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
  }
  table {
    tr:first-child td:first-child {
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    tr:first-child td:last-child {
      -moz-border-radius-topright:3px;
      -webkit-border-top-right-radius:3px;
      border-top-right-radius:3px;
    }
    tr:last-child td:first-child {
      -moz-border-radius-bottomleft:3px;
      -webkit-border-bottom-left-radius:3px;
      border-bottom-left-radius:3px;
    }
  }
  tr:hover td {
    background-color:#ffffff;
  }
  td {
    vertical-align:left;
    background-color:#ffffff;
    border:1px solid #f1f5f4;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:14px;
    font-weight:normal;
  }
  tr:last-child td {
    border-width:0px 1px 0px 0px;
  }
  tr td:last-child {
    border-width:0px 0px 1px 0px;
  }
  tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
  }
  tr:first-child td {
    background:-o-linear-gradient(bottom, #f1f5f4 5%, #f1f5f4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f1f5f4), color-stop(1, #f1f5f4) );
    background:-moz-linear-gradient( center top, #f1f5f4 5%, #f1f5f4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f5f4", endColorstr="#f1f5f4");	background: -o-linear-gradient(top,#f1f5f4,f1f5f4);
    background-color:#f1f5f4;
    border:0px solid #f1f5f4;
    text-align:left;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-weight:bold;
  }
  tr:first-child:hover td {
    background:-o-linear-gradient(bottom, #f1f5f4 5%, #f1f5f4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f1f5f4), color-stop(1, #f1f5f4) );
    background:-moz-linear-gradient( center top, #f1f5f4 5%, #f1f5f4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f5f4", endColorstr="#f1f5f4");	background: -o-linear-gradient(top,#f1f5f4,f1f5f4);
    background-color:#dfbfc3;
  }
  tr:first-child td:first-child {
    border-width:0px 0px 1px 0px;
  }
  tr:first-child td:last-child {
    border-width:0px 0px 1px 1px;
  }
}

@media only screen and (max-width: 767px) {

  table.responsive {
    margin-bottom: 0;
  }

  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }

  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }

  .pinned table th, .pinned table td {
    white-space: nowrap;
  }

  .pinned td:last-child {
    border-bottom: 0;
  }

  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;
  }

  div.table-wrapper div.scrollable {
    margin-left: 35%;
  }

  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }

  table.responsive td, table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
    display: none;
  }

  div.bttop {
    display: none !important;
  }

}

.logo-mobile {
  display: none;
}

#body_design #envelope .ui-selectmenu-text, #body_design .ui-menu-item {
  height: 36px !important;
}

#body_design #envelope {
  span {
    display: block;
    vertical-align: middle;
  }
}

#body_404error, #body_home {
  #categories {
    display: none;
  }
  #pagecontent {
    width: 100%;
  }
}

#body_home {
  #footer {
    margin-top: 0;
  }
  #pagebody {
    padding-top: 35px;
  }
}

body.save-the-date-page, body.trouwkaarten-page {
  color: #262626;
  a {
    color: #e1a09a;
  }
  #pagecontent {
    h1 {
      font-family: 'Rochester', cursive;
      font-size: 42px;
      color: #5e5a56;
      line-height: 35px;
    }
  }
  .fa-asterisk:after {
    color: #f8baaf;
  }
  .line {
    background-image: url(/img/bg-line-2.png);
    background-position: center;
  }
  .button-default {
    background-color: #f3b0a4;
    border-bottom-color: #e1a09a;
    &:hover {
      background-color: #e1a09a;
    }
  }
  .text-warning {
    color: #f3b0a4 !important;
    #navbar-basket {
      color: #df97b1 !important;
    }
  }
  .icon-basket-2:after {
    background-image: url(/img/ico-basket-3.png);
  }
  .accordion .accordion-button {
    color: #262626;
  }
  .accordion > .active {
    color: #262626 !important;
  }
  .accordion .accordion-body ul li a {
    color: #928d88;
    &.active {
      color: #e1a09a;
    }
  }
  .accordion-bg-default {
    background-color: #f4efef !important;
    border-color: #f4efef;
  }
  .tag-group-ul {
    border-color: #f0e6e6;
    h3 {
      color: #262626;
    }
  }
  .tag-li {
    label {
      color: #928d88;
    }
  }
  #filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox {
    background-color: #928d88;
  }
  #crumbs {
    a {
      color: #e1a09a;
      &:hover {
        color: #dd7a71;
      }
    }
  }
  .navbar {
    .topbar {
      background-color: #f4efef;
      .topbar-menu-right, .topbar-menu-left {
        a {
          color: #262626;
          &:hover {
            color: #f3b0a4;
          }
        }
      }
      .dropdown {
        > ul {
          > li {
            > a {
              &:hover {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
    .middlebar {
      ul.middlebar-menu-right {
        > li {
          > a {
            color: #262626;
            &:hover {
              color: #928d88;
            }
          }
        }
      }
    }
  }
}

body.kerstkaarten-page {
  a {
    color: #b71833;
    &:hover {
      color: #e42330;
    }
  }
  color: #262626;
  #pagecontent {
    h1 {
      font-family: 'Rochester', cursive;
      font-size: 42px;
      color: #5e5a56;
      line-height: 35px;
    }
  }
  .fa-asterisk:after {
    color: #e42130;
  }
  .line {
    background-image: url(/img/kerst.png);
    background-position: center;
  }
  .button-default {
    background-color: #f3b0a4;
    border-bottom-color: #b71833;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #b71833;
    }
  }
  .text-warning {
    color: #f3b0a4 !important;
    #navbar-basket {
      color: #b71833 !important;
    }
  }
  .icon-basket-2:after {
    background-image: url(/img/ico-basket-4.png);
  }
  .accordion .accordion-button {
    color: #262626;
  }
  .accordion > .active {
    color: #262626 !important;
  }
  .accordion .accordion-body ul li a {
    color: #928d88;
    &.active {
      color: #b71833;
    }
  }
  .accordion-bg-default {
    background-color: #f4efef !important;
    border-color: #f4efef;
  }
  .tag-group-ul {
    border-color: #f0e6e6;
    h3 {
      color: #262626;
    }
  }
  .tag-li {
    label {
      color: #928d88;
    }
  }
  #filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox {
    background-color: #928d88;
  }
  #crumbs {
    a {
      color: #b71833;
      &:hover {
        color: #e42130;
      }
    }
  }
  .navbar {
    .topbar {
      background-color: #f4efef;
      .topbar-menu-right, .topbar-menu-left {
        a {
          color: #262626;
          &:hover {
            color: #e42130;
          }
        }
      }
      .dropdown {
        > ul {
          > li {
            > a {
              &:hover {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
    .middlebar {
      ul.middlebar-menu-right {
        > li {
          > a {
            color: #262626;
            &:hover {
              color: #928d88;
            }
          }
        }
      }
    }
  }
}

body#body_design.kerstkaarten-page {
  #choose_preview {
    color: #fff !important;
    background: #b71833;
    border-color: #600212;
    &:hover {
      background: #e7232e;
    }
  }

  .box-primary .box-footer .desUsp a, a.save_user_design, a.save_user_design:before {
    color: #b71833;
  }

  #next_page, #prev_page {
    background-color: #b71833;
    &:hover {
      background-color: #e42330;
    }
  }
}

@media only screen and (max-width: @lg) {
  .navbar {
    .middlebar {
      padding: 0 20px;
    }
    .topbar {
      padding: 0 13px;
    }
  }

  .cols {
    margin: 0 !important;
  }

  .visual-background-2 {
    padding: 0 20px;
  }
}

@media only screen and (max-width: @md) {
  .logo-mobile {
    display: block;
    text-align: center;
    margin-bottom: 0;
    padding-top: 60px;
    .logo {
      margin: 0 auto;
    }
  }

  .line-top {
    margin-bottom: 0 !important;
  }

  #body_home {
    #pagebody {
      padding-top: 0;
    }
  }

  #visual-content {
    display: none;
    margin-top: 70px !important;
  }

  .navbar .logo {
    display: none;
  }

  .navbar {
    background-color: #f1f5f4 !important;
  }

  body.save-the-date-page, body.trouwkaarten-page {
    .navbar {
      background-color: #f4efef !important;
    }
  }

  .topbar-menu-right {
    .hphone span {
      font-size: 16px;
      padding-left: 5px;
      display: inline-block !important;
    }
    .hulp:before, .hphone:before, .help:before, .hcontact:before, .account:before, .inloggen:before {
      font-family: "kcicons";
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
    }
    .hulp:before {
      content: 'p';
    }
    .hphone:before {
      content: 'b';
    }
    .help:before {
      content: 'k';
    }
    .account:before, .inloggen:before {
      content: 'a';
    }
    .hcontact:before {
      content: 'd';
    }
  }
}

div.filCTAwrp {
  display: none;
}

.block-top {
  background: url(/img/home/bg-banner.gif) no-repeat 0 0;
  background-size: 100% 225px;
  height: 225px;
  margin-bottom: 43px;
  li {
    float: left;
    height: 100%;
    width: 46%;
    position: relative;
    padding-bottom: 18px;
    padding-top: 20px;
    padding-left: 20px;
    &:last-child {
      float: right;
      padding-left: 0;
      width: 49.8%;
    }
    div {
      text-align: center;
      width: 60%;
      p {
        padding: 0 10px;
        line-height: 21px;
      }
    }
    h2 {
      font-family: 'BebasNeueRegular';
      color: #6b2d52;
      font-size: 32px !important;
      margin-bottom: 2px;
    }
  }
  a {
    display: block;
    border: none;
    background: url(/img/white-arr.png) 94% 16px no-repeat #5eceb4;
    padding: 0 29px 0 13px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    font-family: 'BebasNeueRegular';
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    height: 41px;
    line-height: 43px;
    position: absolute;
    right: 0;
    bottom: 20px;
    border-bottom: 2px solid #45a48e;
    &:hover {
      text-decoration: none;
      background-color: #57bfa7;
    }
  }
  .right {
    float: right;
    padding-left: 0;
    width: 49.8%;
    a {
      background-color: #e59429;
      border-bottom: 2px solid #c28330;
      left: 0;
      right: inherit;
      margin-left: 9px !important;
      &:hover {
        background-color: #d58a26;
      }
    }
    div {
      padding-left: 105px;
      width: 90%;
    }
  }
}

.ontwerp1 {
  position: absolute;
  right: 27px;
  top: 22px;
}

.ontwerp2 {
  position: absolute;
  left: 0;
  bottom: 7px;
}

.kies1 {
  position: absolute;
  left: 0;
  top: 22px;
}

.kies2 {
  position: absolute;
  right: 0;
  bottom: 7px;
}

.contactfrm {
  width: 50%;
}

#sidebar .accordion {
  display: none;
}

body.other-page {
  #menu-general.accordion {
    display: block !important;
  }
}

body.trouwkaarten-page {
  #menu-trouwkaarten.accordion {
    display: block;
  }
}

body.save-the-date-page {
  #menu-save-the-date.accordion {
    display: block;
  }
}

body.jubileumkaarten-page {
  #menu-jubileumkaarten.accordion {
    display: block;
  }
}

body.uitnodiging-verjaardag-page {
  #menu-uitnodiging-verjaardag.accordion {
    display: block;
  }
}

body.uitnodiging-feest-page {
  #menu-uitnodiging-feest.accordion {
    display: block;
  }
}

body.uitnodiging-maken-page {
  #menu-uitnodiging-maken.accordion {
    display: block;
  }
}

body.fotokaarten-page {
  #menu-fotokaarten.accordion {
    display: block;
  }
}

body.kerstkaarten-page {
  #menu-kerstkaarten.accordion {
    display: block;
  }
}

@media @mid {
  div.filCTAwrp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 10000;
    &.active {
      a.filCTA {
        display: none;
      }
      div.filRes {
        background: #5eceb4;
        color: #fff;
        padding: 7px 15px 5px 15px;
        min-height: 40px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        display: block;
        cursor: pointer;
        &:hover {
          background-color: #39bc9e;
        }
      }
    }
    div.filRes {
      display: none;
    }
    a.filCTA {
      display: inline-block;
      box-sizing: border-box;
      padding: 5px 15px 5px 15px;
      color: #fff;
      background: #5eceb4;
      float: right;
      &:after {
        content: 'Filter';
      }
      &:before {
        font-family: @iconFont;
        content: 'v';
        padding-right: 5px;
      }
      &:hover {
        background-color: #39bc9e;
      }
    }
  }

  body.save-the-date-page, body.trouwkaarten-page {
    div.filCTAwrp {
      &.active {
        div.filRes {
          background-color: #f3b0a4;
          &:hover {
            background-color: #f39887;
          }
        }
      }
      a.filCTA {
        background-color: #f3b0a4;
        &:hover {
          background-color: #f39887;
        }
      }
    }
  }

  .mobFilter {
    overflow-y: auto;
    background: #fff;
    padding: 25px;
    display: none;
    &.active {
      position: fixed;
      display: block;
      left: 0px;
      top: 0px;
      bottom: 40px;
      right: 0px;
      z-index: 10000;
    }
    .envmenu {
      display: none;
    }
    h3.filtertop {
      display: none;
    }
    #filter_menu {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
}

@media only screen and (max-width: 640px) {
  .block-top {
    li {
      h2 {
        font-size: 24px !important;
      }
      div p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .contactfrm {
    width: 100%;
  }
}

@media only screen and (max-width: @xsm) {
  #pagebody h1 {
    line-height: 38px;
  }

  .block-top {
    a {
      font-size: 14px;
      height: 34px;
      line-height: 36px;
      background-position: 94% 12px;
    }
    li {
      padding-left: 10px;
      div {
        width: 100%;
      }
    }
    .kies1, .ontwerp1 {
      display: none;
    }
    .right {
      div {
        padding-left: 0;
        width: 100%;
      }
    }
  }

  .topbar-menu-right {
    .hphone span {
      display: none !important;
    }
  }

  .logo-mobile {
    a.logo {
      width: 110px;
    }
  }

  #body_404error {
    .error404 {
      div {
        margin-bottom: 25px;
      }
    }
  }
}

@media only screen and (max-width: @xs) {
  #card_previews .xs-12 {
    width: 50% !important;
  }
}

@media only screen and (max-width: @xsm) {
  #card_previews .xsm-12 {
    width: 50% !important;
  }
}

@media only screen and (min-width: @xsm)  and (max-width: @sm) {
  #card_previews .xsm-12 {
    width: 25% !important;
  }
}

/* Evenloppen */
div.envWrap {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

@media all and (max-width: 820px) {
  div.envWrap {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

div.envWrap span.envTitle {
  display: block;
  text-align: center;
}

@media (max-width: 679px) {
  div.envWrap span.envTitle {
    font-size: 13px;
  }
}

div.envWrap div.envItem {
  margin-bottom: 15px;
  text-align: center;
}
// ******** uitn ******* //
@color-violet: #6b2d52;
.uitn-page {
  #sidebar,
  .line.line-top,
  #crumbs {
    display: none;
  }

  #mid {
    width: auto;
    padding: 0 15px;
  }

  #pagecontent {
    width: auto;
    float: none;
    padding: 0;
  }

  .main-banner {
    background: url(/img/bg-visual-2.png);
    padding: 50px 0 0;
    margin-bottom: 45px;

    .main-script {
      img {
        position: absolute;
        right: 15px;
        bottom: 0;
      }
    }

    .descript {
      color: #fff;
      font-size: 18px;
      line-height: 28px;

      h1 {
        font-size: 62px;
        line-height: 1;
        margin: 0 0 20px;
      }
    }

    .sub-nav {
      position: absolute;
      z-index: 1;
      left: 15px;
      right: 15px;
      padding: 20px;
      background-color: @background-default;
      border-radius: 5px;

      ul {
        margin: 0;
      }

      li {
        + li {
          margin-top: 20px;
        }

        &.active a {
          color: @card-block-footer-color;
        }

        a {
          display: inline-block;
          color: @middlebar-link-hover-color;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;

          &:hover,
          &:focus {
            color: @card-block-footer-color;
          }
        }
      }
    }
  }

  #pagebody .main-banner h1 {
    line-height: 1;
  }

  .uitn-blocks {
    .service-block {
      color: @color-violet;
      margin-bottom: 50px;

      img {
        float: left;
        margin-right: 25px;
      }

      h2 {
        font-size: 26px;
        color: @color-violet;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 10px;
      }

      .short-script {
        overflow: hidden;
        font-size: 14px;
      }
    }

    .item-block {
      margin-bottom: 30px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      &:hover img {
        opacity: .5;
      }

      a {
        display: block;
      }

      img {
        width: 100%;
        transition-duration: .5s;
      }

      h3 {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        font-family: "BebasNeueRegular";
        font-size: 21px;
        line-height: 25px;
        color: @color-violet;
        padding: 10px 15px;
        margin: 0;
        max-width: 170px;
        background-color: @background-default;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        text-transform: uppercase;
      }
    }

    .read-more {
      color: @color-violet;
      float: right;
      margin-top: -15px;

      &:after {
        content: "";
        margin-left: 7px;
        display: inline-block;
        width: 16px;
        height: 12px;
        background: url(/img/icon-black-arrow-right.png) no-repeat;
      }
    }
  }

  .usp-blocks {
    padding-bottom: 30px;

    .thumbnail-fluid {
      background-color: @thumbnail-fluid-footer-bg-color;
    }

    .read-more {
      font-size: 14px;
      font-weight: 700;
      color: @color-violet;

      &:after {
        content: "";
        margin-left: 7px;
        display: inline-block;
        width: 16px;
        height: 12px;
        background: url(/img/icon-violet-arrow-right.png) no-repeat;
        vertical-align: middle;
      }
    }
  }

  .usp-item {
    border: 1px solid #D6E2DF;
    box-shadow: 0px 3px 0px 0px #D6E2DF;
    border-radius: 10px;
    padding: 20px 25px 20px 0;
    display: table;
    margin-bottom: 28px;

    a {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    ul {
      display: table-cell;
      vertical-align: middle;
    }

    li {
      margin-bottom: 30px;

      &:last-child {
        margin: 0;
      }
    }

    .cell {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        width: 100px;
      }
    }

    p {
      margin: 0;
      font-size: 18px;
      font-family: "BebasNeueRegular";
      color: @color-violet;
      line-height: 1.2;
    }

    img {
      width: 100px;
      float: left;
    }
  }

  .maken-blocks {
    background: url(/img/bg-visual-light.png);
    padding: 40px 0;
    margin-bottom: 50px;

    ul {
      font-size: 0;
    }

    li {
      width: 100 / 6 * 1%;
      display: inline-block;
      text-align: center;
      vertical-align: top;

      &:hover .bg-circle{
        opacity: 1;
      }
    }

    a {
      color: @color-violet;
      display: block;
    }

    h3 {
      font-family: "BebasNeueRegular";
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 15px;
      max-width: 145px;
      margin: 0 auto;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    header p {
      margin-bottom: 20px;
      font-size: 16px;
    }

    .bg-circle {
      width: 144px;
      height: 144px;
      margin: 0 auto;
      background: url(/img/uitn/bg-card-hover.png) no-repeat;
      opacity: .8;
      position: relative;
      margin-bottom: 25px;
      transition-duration: .5s;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .new-card {
    .thumbnail-scroller {
      background: none;
      padding: 0 45px;
    }

    .icon-circle-left,
    .icon-circle-right {
      display: table-cell;
      vertical-align: middle;

      &:after {
        content: "";
        display: block;
        width: 31px;
        height: 31px;
      }
    }

    .icon-circle-left:after {
      background: url(/img/uitn/icon-circle-left.png) no-repeat;
    }

    .icon-circle-right:after {
      background: url(/img/uitn/icon-circle-right.png) no-repeat;
    }
  }

  .seo-block {
    background-color: #68bfad;
    color: #fff;
    padding: 45px 0;

    ul {
      margin: 0;
    }

    li {
      margin-bottom: 20px;

      &:last-child {
        margin: 0;
      }
    }

    h3 {
      font-family: "BebasNeueRegular";
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  #footer {
    margin-top: 0;
  }
}


@media screen and (max-width: 1199px) {
  .uitn-page {
      #mid {
      padding: 0;
    }

    .seo-block ul {
      padding: 0 15px;
    }

    .maken-blocks .container {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 991px) {
  .uitn-page {
    .maken-blocks li {
      width: 33.3333%;
      margin-top: 20px;
    }

    .main-banner {
      background: none;
      text-align: center;

      .descript {
        color: inherit;
      }

      .main-script img {
        display: none;
      }
    }

    .sidebar-mobile {
      border: 2px solid @color-violet;
      padding-right: 15px;
      display: inline-block;
      width: 250px;
      overflow: hidden;
      position: relative;
      z-index: 1;

      select {
      width: calc(100% + 20px);
      border: 0;
      padding: 10px 5px 10px 20px;
      margin: 0 auto;
      font-family: @mainFont;
      color: @color-violet;
      }

      &:after {
        content: ">";
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 0;
        bottom: 0;
        transform: rotate(90deg);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .uitn-page {
    .uitn-blocks .service-block {
      .sm-6 + .sm-6 {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .uitn-page {
    .maken-blocks li {
      width: 50%;
    }

    .uitn-blocks .service-block .short-script {
      overflow: visible;

      .button {
        display: block;
      }
    }
  }
}

// Advestive
#header {
    .top-ad {
        display: none;
    }
    &.has-ad {
        .top-ad {
            display: block;
            position: fixed;
            top: 0;
            line-height: 30px;
            width: 100%;
            min-height: 30px;
            text-align: center;
            padding-right: 30px;
            background: #ddd;
            border-bottom: 1px solid #aaa;
            font-size:13px;
            a {
                display: inline-block;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                cursor: pointer;
                transform: rotate(45deg);
                font-size: 30px;
            }
        }
        #visual-content {
            margin-top: 148px;
        }
    }

}

@media only screen and (min-width: 768px) {
    #header.has-ad {
        .navbar {
            top: 30px;
        }
    }
}
@media only screen and (max-width: 767px) {

    #header.has-ad {
        .top-ad {
             top: 50px;
         }
        .middlebar {
            height: 0;
        }
        #visual-content {
            margin-top: 118px;
        }
    }
}


#header .topwarning {
    display: none;
}

#header.warningshow .topwarning {
    display: block;
    position: fixed;
    top: 0;
    line-height: 30px;
    width: 100%;
    min-height: 30px;
    text-align: center;
    padding-right: 30px;
    background: #ddd;
    border-bottom: 1px solid #aaa;
}

#header.warningshow #topbar {
    margin-top: 32px;
}

#header.warningshow .topwarning a {
    display: inline-block;
}

#header.warningshow .topwarning .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    cursor: pointer;
    transform: rotate(45deg);
    font-size: 30px;
}

#header.warningshow #visual-content #visual-content {
    margin-top: 148px;
}

@media only screen and (min-width: 768px) {
    #header.warningshow .navbar {
        top: 30px;
    }
}
@media only screen and (max-width: 679px) {
    #header.warningshow .topwarning {
         top: 50px;
    }

    #header.warningshow #topbar {
        margin-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    #header.warningshow .middlebar {
        height: 0;
    }

    #header.warningshow #visual-content {
        margin-top: 118px;
    }
}

#body_account #pagebody .cols {
  .md-4:nth-child(3),.md-4:nth-child(5) {
    display: none;
  }
  .md-4:nth-child(4) {
    clear: none;
  }
}
