/********************************************
/* H TAGS */
/********************************************/
@h1-color: inherit;
@h2-color: #5eceb4;
@h3-color: inherit;
@h4-color: inherit;
@h5-color: inherit;
@h6-color: inherit;

/********************************************
/* BACKGROUND COLORS */
/********************************************/

@background-default: #F1F5F4;
@background-primary: inherit;
@background-success: inherit;
@background-warning: inherit;
@background-danger: inherit;
@background-info: inherit;

/********************************************
/* TEXT */
/********************************************/
@text-color:#6b2d52;
@text-default-color: #ccc;
@text-success-color: #F5871E;
@text-warning-color: #F6C61E;
@text-danger-color: #FA9485;
@text-info-color: #F5871E;
@text-primary-color: #6FD4CE;
@text-white-color: #FFF;

/********************************************
/* INPUT CHECKBOX */
/********************************************/
@checkbox-bg-color: #ccc;
@checkbox-border-color: #cacece;
@checkbox-checked-bg-color: #F78621;
@checkbox-checked-border-color: #adb8c0;
@checkbox-checked-color: #fff;


/********************************************
/* LINK */
/********************************************/
@link-color: #4fbea4;
@link-hover-color: #3bb59c;
@link-active-color: #3bb59c;
@link-focus-color: #3bb59c;

/********************************************
/* LOGO */
/********************************************/
@logo-link-color: #F38925;
@logo-link-hover-color: #F38925;
@logo-link-active-color: #F38925;
@logo-link-focus-color: #F38925;

/********************************************
/* NAVBAR */
/********************************************/

@navbar-bg-color: #FFFFFF;
@topbar-bg-color: #f1f5f4;
@middlebar-bg-color: #fff;

/* search color */
@navbar-search-bg-color: #8AC0CF;

/* navbar li colors*/
@topbar-list-bg-color: transparent; 
@topbar-list-hover-bg-color: #FFDEBD; 

/* link colors */
@topbar-left-link-color: #6b2d52;
@topbar-left-link-hover-color: #fcaa2c;
@topbar-left-link-active-color: #fcaa2c;
@topbar-left-link-focus-color: #fcaa2c;

@topbar-right-link-color: #6b2d52;
@topbar-right-link-hover-color: #fcaa2c;
@topbar-right-link-active-color: #fcaa2c;
@topbar-right-link-focus-color: #fcaa2c;

/* Border color */
@topbar-list-border-color: #F1B988;

/* navbar li colors*/
@middlebar-list-hover-bg-color: inherit; 
@middlebar-list-border-color: #fff;

/* link colors */
@middlebar-link-bg-color: inherit; 
@middlebar-link-color: inherit;
@middlebar-link-hover-color: #4ca18d;
@middlebar-link-active-color: #4ca18d;
@middlebar-link-focus-color: #4ca18d;

/* Dropdown */
@navbar-dropdown-hover-bg-color: #8AC0CF;

/********************************************
/* BUTTON-BLOCK */
/********************************************/
@button-block-bg-color: transparent;
@button-block-link-bg-color: #f0f0f0;
@button-block-link-hover-bg-color: #FFDDBF;
@button-block-link-active-bg-color: #FFDDBF;
@button-block-link-focus-bg-color: #FFDDBF;
@button-block-title-color: #F68620;
@button-block-text-color: #666668;

/********************************************
/* CARDBLOCK */
/********************************************/
@card-block-bg-color: #FDF3E9;
@card-block-border-color: #e4e8e8;
@card-block-title-color: #F68620;
@card-block-footer-color: #6b2d52;


/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
@button-block-img-bg-color: transparent;
@button-block-img-link-bg-color: transparent;
@button-block-img-link-hover-bg-color: transparent;
@button-block-img-link-active-bg-color: transparent;
@button-block-img-link-focus-bg-color: transparent;
@button-block-img-title-color: #fff;
@button-block-img-text-color: #fff;

/********************************************
/* LIST-HORIZONTAL */
/********************************************/

@button-horizontal-color: #DB965B;
@button-horizontal-hover-color: #575757;
@button-horizontal-active-color: #575757;
@button-horizontal-focus-color: #575757;
@button-horizontal-sub-color: #F8AB6B;

/********************************************
/* BREADCRUMB */
/********************************************/

@breadcrumb-color: inherit;
@breadcrumb-hover-color: #AEAEAE;
@breadcrumb-active-color: #AEAEAE;
@breadcrumb-focus-color: #AEAEAE;

/********************************************
/* THUMBNAILS */
/********************************************/
@thumbnail-bg-color: #fff;
@thumbnail-border-color: #DFE5E5;
@thumbnail-footer-bg-color: #fff;
@thumbnail-footer-h3-color: #F59A4B;
@thumbnail-footer-p-color: inherit;

@thumbnail-fluid-img-bg-color: #ccc;
@thumbnail-fluid-footer-bg-color: #f5f9f8;
@thumbnail-fluid-footer-h3-color: #6b2d52;
@thumbnail-fluid-footer-p-color: inherit;

@thumbnail-button-border-color: transparent;

/********************************************
/* BUTTON */
/********************************************/

@button-default-bg-color: #fcaa2c;
@button-success-bg-color: #F5871E;
@button-warning-bg-color: #F6A733;
@button-danger-bg-color: #FA9485;
@button-info-bg-color: #911C63;
@button-primary-bg-color: #F4B1A6;
@button-green-bg-color: #5dcdb3;

@button-default-color: #fff;
@button-success-color: #fff;
@button-warning-color: #fff;
@button-danger-color: #fff;
@button-info-color: #fff;
@button-primary-color: #fff;
@button-green-color: #fff;

@button-default-border-color: #e49329;
@button-success-border-color: #F5871E;
@button-warning-border-color: #F6A733;
@button-danger-border-color: #FA9485;
@button-info-border-color: #911C63;
@button-primary-border-color: #F4B1A6;
@button-green-border-color: #5dcdb3;

@button-default-hover-bg-color: #e49329;
@button-success-hover-bg-color: #e6e6e6;
@button-warning-hover-bg-color: #e6e6e6;
@button-danger-hover-bg-color: #e6e6e6;
@button-info-hover-bg-color: #e6e6e6;
@button-primary-hover-bg-color: #e6e6e6;
@button-green-hover-bg-color: #4ca18d;

@button-default-hover-color: #fff;
@button-success-hover-color: #555;
@button-warning-hover-color: #555;
@button-danger-hover-color: #555;
@button-info-hover-color: #555;
@button-primary-hover-color: #555;
@button-green-hover-color: #fff;

@button-default-hover-border-color: #e49329;
@button-success-hover-border-color: #adadad;
@button-warning-hover-border-color: #adadad;
@button-danger-hover-border-color: #adadad;
@button-info-hover-border-color: #adadad;
@button-primary-hover-border-color: #adadad;
@button-green-hover-border-color: #4ca18d;

/********************************************
/* FIELD */
/********************************************/

@field-input-bg-color: #fff;
@field-input-color: #737373;
@field-input-border-color: #d3d3d3;
@field-input-select-bg-color: #8AC0CF;

/********************************************
/* ACCORDION */
/********************************************/
@accordion-bg-color: transparent;
@accordion-active-color: #6b2d52;
@accordion-border-color: #d9f3ed;

@accordion-link-bg-color: transparent;
@accordion-link-color: #767477;

/********************************************
/* BOX */
/********************************************/
@box-bg-color: #fff;
@box-border-color: #E4E8E8;
@box-footer-border-top-color: #E4E8E8;

@box-default-body-bg-color: #fff;
@box-default-footer-bg-color: #fff;

@box-primary-body-bg-color: #fff;
@box-primary-footer-bg-color: #F2ECEC;

/********************************************
/* CAROUSEL */
/********************************************/
@carousel-bg-color: transparent;
@carousel-border-color: transparent;

/********************************************
/* LIST-VERTICAL */
/********************************************/
@list-vertical-link-color: #6BCEB2;
@list-vertical-link-active-color: #80B0BA;
@list-vertical-link-hover-color: #80B0BA;
@list-vertical-link-focus-color: #80B0BA;

@list-vertical-list-sub-border-left-color: #6BCEB2;
@list-vertical-link-sub-color: #6BCEB2;
@list-vertical-link-sub-active-color: #80B0BA;
@list-vertical-link-sub-hover-color: #80B0BA;
@list-vertical-link-sub-focus-color: #80B0BA;

/********************************************
/* PILLS */
/********************************************/

@pills-bg-color: transparent;
@pills-border-bottom-color: #ccc;
@pills-list-border-color: #ccc;

@pills-link-bg-color: #FFEACE;
@pills-link-color: #E0B592;

@pills-link-active-color: inherit;
@pills-link-hover-color: inherit;
@pills-link-focus-color: inherit;

@pills-link-active-bg-color: #FEDDBD;
@pills-link-hover-bg-color: #FEDDBD;
@pills-link-focus-bg-color: #FEDDBD;

/********************************************
/* TABLE */
/********************************************/
@table-bg-color: #fff;
@table-border-color: #ddd;
@table-thead-bg-color: #FBF7F8;

/********************************************
/* THUMBNAIL-CARD */
/********************************************/
@thumbnail-card-bg-color: #fff;
@thumbnail-card-border-color: transparent;
@thumbnail-card-label-bg-color: transparent;

/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
@thumbnail-people-bg-color: transparent;
@thumbnail-people-border-color: transparent;
@thumbnail-people-h3-color: #f59a4b;
@thumbnail-people-p-color: inherit;

/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
@thumbnail-slider-bg-color: #FDF3E9;
@thumbnail-slider-border-color: #E4E8E8;

/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
@thumbnail-scroller-bg-color: transparent;

/********************************************
/* VISUAL */
/********************************************/
@visual-bg-color: transparent;
@visual-border-bottom: transparent;