#body_design {
  .accordion {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d9f3ed;
    margin-bottom: 0;
    padding: 5px 0;
  }
  .accordion-button {
    padding-left: 0;
  }
  span.envview {
    img {
      position: relative;
      z-index: 1;
    }

    span.env {
      display: inline-block;
      width: 110px;
      position: absolute;
      top: 0px;
      right: -25px;
      height: 110px;
      z-index: 0;
      background: url(/img/envtransklein.png) no-repeat;
      background-size: 110px 110px;
      background-color: #eeeded;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      transform: rotate(14deg);
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      -o-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
    }
  }
  .swiper-controls img {
    max-height: 175px;
  }

  .swiper-wrapper img {
    z-index: 1;
  }
  .envgroot {
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 25px;
    right: 75px;
    height: 200px;
    background: url(/img/envtrans.png) no-repeat;
    background-size: 200px 200px;
    background-color: #eeeded;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
  }
  #categories {
    width: 0px;
    display: none;
    #leftnav {
      display: none;
    }
  }

  #pagecontent {
    width: 100%;
  }
  .box-primary .box-body {
    padding: 20px 20px 26px 20px;
    background-color: #fff;
  }
  .box-primary .box-footer {
    background-color: #f1f5f4;
    color: #6b2d52;
    .desUsp {
      a {
        color: #6b2d52;
        padding-right: 10px;
        &:before {
          content: "\f00c";
          font-family: FontAwesome;
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          padding-right: 5px;
        }
      }
      .rich-snippets {
        margin-bottom: 0 !important;
      }
    }
  }
  .proefDrukPrijs {
    margin-bottom: 0;
  }
  h1 {
    color: #333;
    font-family: @mainFont;
    line-height: 42px;
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  .envelope {
    z-index: 2;
  }
  #envelope {
    z-index: 2;
    left: 460px !important;
    top: 342px !important;
    > span:first-child {
      position: absolute;
      right: 255px;
      top: 4px;
      white-space: nowrap;
    }
    #envelope_select-button {
      width: 240px !important;
    }
  }
  div.leftCol {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    #prevWrap {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      min-height: 360px;
      @media @mid {
        min-height: 260px;
      }
      #voor_preview, #binnen_preview {
        width: 100%;
        text-align: center;
        img {
          max-width: 80%;
          max-height: 350px;
          @media @mid {
            max-height: 250px;
          }
          width: auto;
          height: auto;
        }
      }
      #voor_preview_envelop {
        width: 100%;
        text-align: center;
        img {
          width: 50%;
          height: auto;
          position: relative;
          z-index: 5;
        }
      }
    }

    .select_preview {
      width: 100%;
      text-align: center;
      span {
        vertical-align: top;
        display: inline-block;
        margin-right: 25px;
        @media @mid {
          margin-right: 5px;
        }
        &:last-child {
          img {
            max-width: 180px;
            max-height: 160px;
          }
        }
      }
      img {
        max-width: 120px;
        max-height: 130px;
        height: auto;
        width: auto;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    span.envview {
      display: inline-block;
      width: 115px;
      position: relative;
      height: 99px;
      img {
        position: relative;
        z-index: 1;
      }

      span.env {
        display: inline-block;
        width: 75px;
        position: absolute;
        top: 0px;
        right: -45px;
        height: 75px;
        background: url(/img/envtransklein.png) no-repeat;
        background-size: 55px 55px;
        background-color: #eeeded;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        transform: rotate(14deg);
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(14deg);
        -o-transform: rotate(14deg);
        -ms-transform: rotate(14deg);
      }
    }
    .envgroot {
      display: inline-block;
      width: 200px;
      position: absolute;
      top: 25px;
      right: 75px;
      height: 200px;
      background: url(/img/envtransklein.png) no-repeat;
      background-size: 200px 200px;
      background-color: #eeeded;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      transform: rotate(14deg);
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      -o-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
    }
  }

  #choose_preview {
    width: 300px;
    display: block;
    margin: 0 auto;
    height: 47px;
    line-height: 45px;
    font-family: @mainFont;
    text-transform: uppercase;
    box-sizing: border-box;
    background: #951b64;
    border: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 0 18px;
    border-bottom: 2px solid #47263a;
    position: relative;
    i {
      display: none;
    }
    &:after {
      background: url(/img/ico-arrow05.png) no-repeat 0 0;
      content: ' ';
      display: block;
      width: 13px;
      height: 10px;
      display: inline-block;
      position: relative;
      right: -8px;
    }
    &:hover {
      background-color: #47263a;
      color: #fff;
    }
  }

  #choose_preview2 {
    width: 300px;
    font-family: @mainFont;
    height: 56px;
    box-sizing: border-box;
    background: url(/img/bgmaken.png);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
    padding-top: 4px;
  }

  div.rightCol {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    float: right;
    a.meerPrijsLink {
      display: block;
      float: right;
      color: #6e7277;
    }
    div.env {
      clear: both;
    }
    table.prijsOf {
      .priceTd span {
        display: inline-block;
        width: auto;
        float: none;
        vertical-align: top;
        text-transform: lowercase !important;
      }
      td.sizeTd {
        padding-right: 25px;
      }
      td.priceInfoTd {
        position: relative;
        width: 25px;
        &:before {
          font-family: @iconFont;
          content: 'k';
          cursor: pointer;
          padding-left: 5px;
          font-size: 16px;
        }
        &:hover {
          div.priceHover {
            display: block;
          }
        }
        div.priceHover {
          display: none;
          z-index: 500;
          padding: 15px;
          background: #fff;
          position: absolute;
          top: 15px;
          right: 20px;
          width: 270px;
          -webkit-box-shadow: 0 0 5px 0 #575757;
          box-shadow: 0 0 5px 0 #575757;
          table {
            td.priceHoverName {
              width: 220px;
            }
            td.priceHoverPrice {
              width: 150px;
              &:after {
                content: ' p/st';
                vertical-align: top;
              }
            }
          }
        }
      }
    }

    div.details {
      background: #faf8f8;
      box-sizing: border-box;
      padding: 25px 25px 35px 25px;

      .proefPrijs {
        color: #96989B;
        display: none;
        width: 80px;
        font-size: 14px;
        line-height: 20px;
        margin-right: 15px;
        margin-top: 20px;
      }

      .tags {
        margin-bottom: 20px;
      }

      .tags, .designer, .collectie, .prijsTab {
        font-size: 14px;
        color: #96989B;
        span {
          text-transform: uppercase;
        }
      }

      div.tags {
        padding-left: 150px;
        position: relative;

        span {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }

      div span {
        display: inline-block;
        width: 150px;
        float: left;
      }
    }

    h1 {
      margin-bottom: 20px;
      font-family: @mainFont;
      line-height: 38px;
    }
  }

  table.prijsOf {
      .priceTd span {
        display: inline-block;
        width: auto;
        float: none;
        vertical-align: top;
        text-transform: lowercase !important;
      }
      td.sizeTd {
        padding-right: 25px;
      }
      td.priceInfoTd {
        position: relative;
        width: 25px;
        &:before {
          font-family: @iconFont;
          content: 'k';
          cursor: pointer;
          padding-left: 5px;
          font-size: 16px;
        }
        &:hover {
          div.priceHover {
            display: block;
          }
        }
        div.priceHover {
          display: none;
          z-index: 500;
          padding: 15px;
          background: #fff;
          position: absolute;
          top: 15px;
          right: 20px;
          width: 270px;
          -webkit-box-shadow: 0 0 5px 0 #575757;
          box-shadow: 0 0 5px 0 #575757;
          table {
            td.priceHoverName {
              width: 220px;
            }
            td.priceHoverPrice {
              width: 150px;
              &:after {
                content: ' p/st';
                vertical-align: top;
              }
            }
          }
        }
      }
    }

  /* tijdelijke oplossing */
  div.env {
    display: none;
  }
  .icon-favorite-heart {
    display: none;
  }
  a.save_user_design {
    float: none !important;
    display: block;
    margin-left: 0;
    letter-spacing: 0.5px;
    text-transform: uppercase !important;
    font-size: 13px;
    color: #6b2d52;
    margin-top: 5px;
    &:before {
      content: '\f08a';
      font-size: 16px;
      padding-right: 7px;
      vertical-align: top;
      font-family: 'FontAwesome';
      color: #951b64;
    }

    &.save_user_design_added {
      margin-left: 0;
      letter-spacing: 0.5px;
      &:before {
        color: #951b64;
        content: '\f004';
        font-size: 16px;
        padding-right: 7px;
        vertical-align: top;
        font-family: 'FontAwesome';
      }
    }
  }

  #knav {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    background: url(/img/prevLine.png) no-repeat top center;
    padding-top: 35px;
    margin-top: 25px;
    white-space: nowrap;

    #card_previews_horizontal {
      width: auto;
      height: 250px;
      overflow: hidden;
      position: relative;
      -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
      mask: url(design_mask.svg#mask);
      padding-top: 30px;
    }

    #inner {
      display: block;
      a {
        width: 140px;
        display: inline-block;
        vertical-align: top;
        margin-right: 45px;
      }
    }

    #prev_page {
      position: absolute;
      top: 100px;
      cursor: pointer;
      left: 15px;
      font-size: 28px;
      color: #fff;

      &:before {
        font-family: @iconFont;
        content: 'i';
      }
    }

    #next_page {
      position: absolute;
      top: 100px;
      cursor: pointer;
      font-size: 28px;
      right: 15px;
      color: #2c8590;
      &:before {
        font-family: @iconFont;
        content: 'j';
      }
    }
  }
  .accordion-body {
    .proefPrijs {
      color: #96989B;
      display: none;
      width: 80px;
      font-size: 14px;
      line-height: 20px;
      margin-right: 15px;
      margin-top: 20px;
    }

    .tags {
      margin-bottom: 20px;
    }

    .tags, .designer, .collectie, .prijsTab {
      font-size: 14px;
      color: #96989B;
      span {
        text-transform: uppercase;
      }
    }

    div.tags {
      padding-left: 150px;
      position: relative;

      span {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    div span {
      display: inline-block;
      width: 150px;
      float: left;
    }
  }
  #card_previews_horizontal {
    margin-top: 0;
    width: auto;
    height: 230px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    mask: url(design_mask.svg#mask);
    padding-top: 30px;
    img {
      width: 180px !important;
      height: 200px !important;
    }
  }

  #inner {
    display: block;
    a {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
    }
  }

  #prev_page {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    left: 15px;
    font-size: 28px;
    color: #fff;
    background-color: #5eceb4;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    &:hover {
      background-color: #43bfa2;
    }
    &:before {
      font-family: "FontAwesome";
      content: '\f177';
      font-weight: normal;
      padding-left: 3px;
    }
  }

  #next_page {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 28px;
    right: 15px;
    color: #fff;
    background-color: #5eceb4;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    margin-top: -25px;
    line-height: 46px;
    text-align: center;
    &:hover {
      background-color: #43bfa2;
    }
    &:before {
      padding-left: 6px;
      font-family: "FontAwesome";
      content: '\f178';
      font-weight: normal;
    }
  }
  .cardrail {
    border-top: 1px solid #f0e6e6;
    margin-top: 30px;
  }
}

body#body_design.trouwkaarten-page {
  a.save_user_design_added,a.save_user_design {
    &:before {
      color: #e1a09a;
    }
  }
  #choose_preview {
    background-color: #f3b0a4;
    border-color: #e1a09a;
    color: #fff !important;
    &:hover {
      background-color: #e1a09a;
    }
  }
  .accordion {
    border-color: #f0e6e6;
  }

  .box-primary .box-footer .desUsp a,.box-primary .box-body a{
    color: #e1a09a;
  }

  #prev_page,#next_page {
    background-color: #f3b0a4 !important;
    &:hover {
      background-color: #e1a09a !important;
    }
  }
  .box .box-body {
    padding: 31px 25px 26px;
  }
}

body#body_design.kerstkaarten-page {
  .box .box-body {
    padding: 31px 25px 26px;
  }
}

.carousel-scroller {
  position: relative;
  width: 100%;
  background-size: 100%;
  background-color: @thumbnail-scroller-bg-color;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  padding: 20px 45px 0;
  .thumbnail-scroller-left {
    left: 0;
  }
  .thumbnail-scroller-right {
    right: 0;
  }
  .thumbnail-scroller-left, .thumbnail-scroller-right {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 20;
    > a {
      display: table;
      height: 100%;
      padding: 0 10px;
      i {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  a {
    display: inline-block;
    vertical-align: middle;
  }
}

#mid {
  &.full {
    width: 100%;
  }
}

.jubileumkaarten {
  color: #000;

  .ups-block {
    background-color: #7bccb5;
    color: #fff;
    padding-top: 30px;
    .cols:not(:last-child) {
      margin-bottom: 45px;
    }
    h2 {
      color: #fff;
    }
    .ups-item {
      background-color: #fff;
      color: #6b2d52;
    }
  }

  .team-block h2 {
    color: #ffa600;
  }
}

.album-block {
  padding-top: 50px;
  padding-bottom: 50px;

  .thumbnail {
    margin-bottom: 0;
    border-radius: 0;
  }

  .thumbnail-people-img {
    margin-bottom: 15px;
  }

  h2 {
    font-family: 'Lobster';
  }

  h3 {
    font: 30px 'BebasNeueRegular';
    margin-bottom: 0;
    a {
      color: #3e54a5;
    }
  }

}

.top-block-ani {
  .wrap {
    border-radius: 8px;
    padding: 20px;
  }
  .right {
    padding-top: 30px;
  }
  h2 {
    font-family: 'Lobster';
  }
  h3 {
    font: 27px 'BebasNeueRegular';
    color: #3e54a5;
  }
  .btn-default {
    width: auto;
  }
  .btn-blue {
    padding-left: 30px;
    color: #0077cc;
  }
  ul {
    li {
      padding-left: 25px;
      background: url("/img/icon-check.png") left center no-repeat;
    }
  }
}

.sponsor {
  padding: 30px;
  text-align: center;
  color: #784562;
  border-bottom: 1px solid #f1f1f1;

  strong {
    font-size: 18px;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
  }
}

#pagecontent {
  &.full {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .jubileumkaarten .cols .sm-6:nth-child(2n+3) {
    clear: none;
  }

  .top-block-ani {
    .wrap {
      border: 2px solid #ececec;
    }
    h2 {
      font-size: 41px;
    }
  }

  .album-block {
    h2 {
      font-size: 41px;
    }
  }
}


@media only screen and (max-width: @lg) {
  #body_design #envelope {
    left: 55% !important;
  }
}

@media only screen and (max-width: @md) {
  #body_design #envelope {
    left: 30% !important;
  }
}

@media only screen and (max-width: @sm) {
  #body_design #envelope {
    left: inherit !important;
    position: static !important;
    margin: 0 auto 20px;
    > span:first-child {
      position: static;
    }
  }

  .jubileumkaarten .ups-block {
    margin-bottom: 10px;
  }

  .album-block {
    padding-top: 10px;

    .team-inner {
      padding: 0;
    }

    .cols > div {
      padding: 0;
    }

    .thumbnail {
      padding: 2px;
    }

    .thumbnail-people-img {
      margin-bottom: 0;
    }

    .thumbnail-people-label {
      border: 1px solid #d6d6d6;
      box-shadow: 0px 3px 0 0 #d6d6d6;
    }
  }

  .top-block-ani {
    .right {
      padding-top: 0;
    }
    h2 {
      text-align: center;
      font-size: 28px;
    }
  }

  .button-group {
    display: block!important;
    text-align: center;
    a {
      display: block;
      margin: 0 auto;
      width: 100%!important;
      max-width: 300px;
      &.btn-blue {
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        padding: 10px 15px;
        margin-top: 10px;
      }
    }
  }

  .team-block {
    padding-top: 20px;
  }

}

@media @mid {
  #body_design {
    div.leftCol {
      width: 100%;
    }

    a.mobLogo {
      display: none;
    }

    div.rightCol {
      width: 100%;
      margin-top: 35px;
      float: none;
    }

    span.proefPrijs {
      width: auto !important;
      margin-top: 3px !important;
    }
    div.description {
      padding-top: 25px;
    }

    div.prijsTab > span {
      display: block !important;
      float: none !important;
    }

    table.prijsOf {
      width: 100%;
    }

    .envgroot {
      display: inline-block;
      width: 100px !important;
      position: absolute;
      top: 25px;
      right: 25px !important;
      height: 100px !important;
      background: url(/img/envtransklein.png) no-repeat;
      background-size: 100px 100px !important;
      background-color: #eeeded;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      transform: rotate(14deg);
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      -o-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
    }
  }
}

@media only screen and (max-width: @xsm) {
  #body_design #choose_preview {
    font-size: 14px;
    height: 42px;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
  }
  .album-block h3 {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: @xsm) {
  .thumbnail-wrapper {
    display: inline-block;
    float: none !important;
    margin-left: -2px;
    margin-right: -2px;
    vertical-align: bottom;
  }
}
