@media only screen and (max-width : @md) {

    #visual-content {
        margin-top: 90px;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 50px;
        z-index: 9999;
        background-color: @navbar-bg-color;
        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            position: relative;
            display: block;
            cursor: pointer;
            float: left;
            height: 45px;
            padding: 0;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-color: transparent;
            z-index: 5;
            &:focus {
                outline: 0;
            }
        }
        .navbar-hamburger .icon-bar {
            display: block;
            margin-top: 4px;
            width: 28px;
            height: 5px;
            border-radius: 1px;
            background-color: #64686D;
        }
        .collapse {
            position: fixed;
            display: none;
            background: #f1f5f4;
            width: 100%;
            overflow-y: scroll;
            top: 50px;
            left: 0;
            bottom: 0;
        }
        .topbar {
            background-color: @topbar-bg-color;
            .topbar-menu-left {
                display: none;
                li {
                    padding: 0 5px;
                    margin: 10px 0;
                }
            }
            .topbar-menu-right {
                position: absolute;
                padding-right: 10px;
                height: 100%;
                top: 0;
                right: 0;
                > ul {
                    > li {
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid transparent;
                        a {
                            display: block;
                            height: 100%;
                            color: @topbar-right-link-color;
                            padding: 7px 8px;
                            height: 25px;
                            font-size: 12px;
                            height: 100%;
                            border: none;
                            margin: 0;
                            &:hover {
                                color: @topbar-right-link-hover-color;
                            }
                            &:active {
                                color: @topbar-right-link-active-color;
                            }
                            &:focus {
                                color: @topbar-right-link-focus-color;
                            }
                            > span {
                                display: none;
                            }
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                            }
                        }
                    }
                }

            }
            .dropdown {
                position: relative;

                &:hover {
                    border-left: 1px solid #E0E0E0;
                    border-right: 1px solid #E0E0E0;
                    background-color: #fff;
                    z-index: 999;
                    > ul {
                        visibility:visible;
                        opacity:1;
                    }
                    > a {
                        background-color: #fff;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    background-color: transparent;
                    z-index: 33;
                }
                > ul {
                    position: fixed;
                    visibility:hidden;
                    width: 100%;
                    opacity:1;
                    right: 0;
                    left: 0;
                    margin-top: -1px;
                    background-color: #fff;
                    border-bottom: 1px solid #E0E0E0;
                    border-top: 1px solid #E0E0E0;
                    > li {
                        display: block;
                        position: relative;
                        &:hover {
                            background-color: #6e7277;
                            a {
                                color: #fff;
                            }
                        }
                        > a {
                            display: block;
                            padding: 5px 10px;
                            text-align: left;
                            color: #6e7277;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .middlebar {
            background-color: transparent;
            height: 50px;
            ul.middlebar-menu-right{
                border-bottom: 1px solid #fff;
            }
            .middlebar-menu-left, ul.middlebar-menu-right {
                a {
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #fff;
                    font-size: 14px!important;
                    font-weight: 600;
                    &:hover {
                        background-color: @navbar-bg-color;
                    }
                }
            }

            .navbar-search {
                display: none;
            }
            .navbar-search-field {
                position: fixed;
                display: block!important;
                background-color: @navbar-search-bg-color;
                top: 50px;
                border: 0px solid black;
                width: 100%;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    border: none;
                    height: 30px;
                    width: auto;
                    padding: 0 10px 0 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                    }
                }
            }
        }
        .logo {
            position: relative;
            padding: 5px;
        }
        ul.middlebar-menu-right {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
    a.logo {
        display: block;
        color: @logo-link-color;
        line-height: 70px;
        font-size: 45px;
        z-index: 9999999;
        width: 150px;
        img {
            position: relative;
        }
        &:hover {
            color:@logo-link-hover-color;
        }
        &:active {
            color: @logo-link-active-color;
        }
        &:focus {
            color: @logo-link-focus-color;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : @md) {

    #visual-content {
        margin-top: 125px;
    }
    /* margin top visualcon */

    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #fff;
        height: 125px;
        .topbar {
            height: 50px;
        }
        .middlebar {
            height: 75px;
        }
        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            display: none;
        }
        .collapse {
            left: auto!important;
            display: block!important;
        }
        .topbar {
            position: relative;
            z-index: 9999;
            padding: 0;
            background-color: @topbar-bg-color;
            .topbar-menu-left {
                position: absolute;
                margin-left: 160px;
                a {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 5px;
                    margin: 5px 0;
                    height: 100%;
                    font-size: 13px;
                    height: 100%;
                    color: @topbar-left-link-color;
                    &:hover {
                        color: @topbar-left-link-hover-color;
                    }
                    &:active {
                        color: @topbar-left-link-active-color;
                    }
                    &:focus {
                        color: @topbar-left-link-focus-color;
                    }
                }

            }
            .topbar-menu-right {
                position: absolute;
                padding-right: 10px;
                height: 100%;
                right: 0;
                > ul {
                    > li {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid transparent;
                        margin-right: -4px;
                        &:first-child {
                            > a {
                                padding-left: 0;
                            }
                        }
                        > a {

                            display: block;
                            font-size: 13px;
                            padding: 7px 8px;
                            margin: 0;
                            height: 100%;
                            border: none;
                            color: @topbar-right-link-color;
                            border: 1px solid transparent;
                            position: relative;
                            &:hover {

                                color: @topbar-right-link-hover-color;
                            }
                            &:active {
                                color: @topbar-right-link-active-color;
                            }
                            &:focus {
                                color: @topbar-right-link-focus-color;
                            }
                            &:after{
                                content: "|";
                                position: absolute;
                                right: -3px;
                                top:7px;
                                color: #c7c7c7 !important;
                            }
                            &.hbasket:after,&.hcontact:after{display: none;}
                        }
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 5px;
                        }
                        .icon-chevron-down {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }

                }

            }
            .dropdown {
                &:hover {
                    border-left: 1px solid #c7c7c7;
                    border-right: 1px solid #c7c7c7;
                    z-index: 999;
                    > a {
                        background-color: #fff;
                    }
                    > ul {
                        visibility:visible;
                        opacity:1;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    z-index: 33;
                }
                > ul {
                    position: absolute;
                    visibility:hidden;
                    width: 250px;
                    opacity:1;
                    right: -1px;
                    margin-top: -1px;
                    background-color: #fff;
                    border: 1px solid #c7c7c7;
                    > li {
                        display: block;
                        position: relative;

                        &:hover {
                            background-color: #6e7277;
                            a {
                                color: #fff;
                            }
                        }
                        > a {
                            display: block;
                            padding: 5px 10px;
                            text-align: left;
                            color: #6e7277;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .middlebar {
            background-color: @middlebar-bg-color;
            .dropdown {
                position:relative;
                &:hover {
                    ul {
                        visibility:visible;
                        opacity:1;
                        background-color: @navbar-dropdown-hover-bg-color;
                    }
                }
                ul {
                    position: absolute;
                    visibility:hidden;
                    opacity:0;
                    right: 0px;

                    li {
                        padding: 0;
                        margin: 0;
                        min-width: 250px;
                        width: 100%;
                        a {
                            display: block;
                            width: 100%;
                            padding: 10px;
                            &:hover {
                                background-color: @navbar-bg-color;
                            }
                        }
                    }

                }
            }
            .middlebar-menu {
                font-size: 12px;
            }
            ul.middlebar-menu-left {
                position: absolute;
                height: 100%;
                padding-left: 10px;
                min-width: 200px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    height: 75px;
                    font-size: 12px;
                    border: none;
                    a {
                        display: block;
                        height: 100%;
                        color: @topbar-right-link-color;
                        &:hover {
                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                    }
                }

            }
            ul.middlebar-menu-right {
                position: absolute;
                top: 0;
                right: 0;
                margin-left: 150px;
                height: 100%;
                padding-right: 0;
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: -4px;
                    border-right: 1px solid @middlebar-list-border-color;
                    height: 100%;
                    &:first-child {
                        border-left: 1px solid @middlebar-list-border-color;
                    }
                    &:hover {
                        background-color: @middlebar-list-hover-bg-color;
                    }
                    > a {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                        color: @middlebar-link-color;
                        background-color: @middlebar-link-bg-color;
                        overflow: hidden;
                        padding: 25px 8px;
                        font-size: 14px;
                        font-weight: 600;
                        &:hover {
                            color: @middlebar-link-hover-color;
                        }
                        &:active {
                            color: @middlebar-link-active-color;
                        }
                        &:focus {
                            color: @middlebar-link-focus-color;
                        }
                        &.active{
                            font-weight: 700;
                        }
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                    }
                }
            }
            .navbar-search-field {
                position: absolute;
                background-color: @navbar-search-bg-color;
                top: 0;
                right: 8px;
                width: 300px;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    height: 65px;
                    border: none;
                    width: auto;
                    padding: 0 10px 0 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 65px;
                        padding: 0 10px;
                    }
                }
            }
        }
        a.logo {
            position: absolute;
            display: block;
            color: @logo-link-color;
            line-height: 70px;
            font-size: 45px;
            z-index: 9999999;
            top: -45px;
            width: 150px;
            img {
                position: relative;
            }
            &:hover {
                color:@logo-link-hover-color;
            }
            &:active {
                color: @logo-link-active-color;
            }
            &:focus {
                color: @logo-link-focus-color;
            }
        }
    }
}

.navbar-fixed {
    position: fixed;
}
