.thumbnail {
    position: relative;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    background-color: @thumbnail-bg-color;
    border: 0px solid @thumbnail-border-color;
    margin-bottom: 28px;
    text-align: left;
    cursor: pointer;
    overflow:hidden;
    &:hover {
        img {
            opacity: 0.5;
        }
        .thumbnail-footer {
            opacity: 1;
        }
    }      
    img {
        width: 100%;
    }
    .thumbnail-footer {
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        background-color: @thumbnail-footer-bg-color;
        opacity: 0.8;
        h3 {
            font-family: @titFont;
            font-size: 21px;
            margin: 0 auto;
            color: @thumbnail-footer-h3-color;
        }
        p {
            font-size: 14px;
            color: @thumbnail-footer-p-color;
        }
    }
}

.thumbnail-transparent {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
    .thumbnail-footer {
        padding: 0 !important;
        background-color: transparent!important;
    }
}

.thumbnail-fluid {
    padding: 0!important;
    box-shadow: 0px 3px 0px 0px #d6e2df;
    .thumbnail-footer {
        margin-top: 0;
        background-color: @thumbnail-fluid-footer-bg-color;
        padding: 15px;
        h3 {
            color: @thumbnail-fluid-footer-h3-color;
        }
        p {
            color: @thumbnail-fluid-footer-p-color;
            margin: 0;
        }
    }
    .thumbnail-img {
        background-color: @thumbnail-fluid-img-bg-color;
        border: none;
    }
}

.thumbnail-button {
    padding: 0!important;
    border-radius: 0px;
    border: 0px solid @thumbnail-button-border-color;
    .thumbnail-button-button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        background-image: url('http://hipdesign.nl/img/bg-button/01.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        color: #fff;
        padding: 15px 20px 0 20px;
        height: 45px;
    }
}