.thumbnail-people {
    position: relative;
    background-color: @thumbnail-people-bg-color;
    border: 1px solid @thumbnail-people-border-color;
    margin-bottom: 35px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
    &:hover {
        .thumbnail-people-img {
            opacity: 1;
        }
        .thumbnail-people-label {
            opacity: 1;
            h3{
                a {
                    color: #e49329;
                }
            }
        }
    }
    a {
        display: block;
    }
    .thumbnail-people-img {
        img {
            width: 100%;

        }
    }
    .thumbnail-people-label {
        width: 100%;
        margin-top: 5px;
        padding: 5px 0;
        background-color: transparent;
        opacity: 1;
        h3 {
            font-family: @titFont;
            margin-top: 0;
            margin-bottom: 0;
            color:#6b2d52;
            font-size: 21px;
            a{
                color:#6b2d52;
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 0px;
            color: inherit;
            font-size: 14px;
        }
    }
}